[2015-06-24 01:08] tbosch opened #1 "Document the reasoning for the name in the readme"
See https://medium.com/@mjackson/universal-javascript-4761051b7ae9

[2015-06-24 01:13] tbosch opened #2 "Merge content of preboot as a single commit"

[2015-06-24 01:14] tbosch opened #3 "Merge content for serverside rendering as a single commit"

[2015-06-24 01:17] tbosch opened #4 "Create initial e2e test for a todo app"
Using `protractor` npm module. Should test:

- Render a page on server
- Click on a button that that would change the ui (e.g. remove an item from a list)
- Assert that the change was done correctly

To make the test more robust, we might want to defer the client bootstrap until we click a special extra button, so we are sure we can do asserts on the server rendered version and then on the version

[2015-06-26 13:55] jeffwhelpley commented on #4
We are going to have several modules in this repo that may potentially be separated out into their own repos once things have stabilized. So although each module should have their own test directory, it seems like we should create a root level test directory for the full e2e tests that cover everything working together.

[2015-06-27 01:01] tbosch commented on #4
These e2e tests could be part of the examples...

On Fri, Jun 26, 2015 at 6:55 AM jeffwhelpley <notifications@github.com>
wrote:

[2015-07-01 21:44] #3 closed

[2015-07-01 23:33] gdi2290 commented on #1
I created a brief note on the readme and a link to the article via https://github.com/angular/universal/commit/e5b088ef4a59e59461fee31a21c2a81b742a7df5

[2015-07-01 23:33] #1 closed

[2015-07-06 04:43] gdi2290 commented on #2
closed via https://github.com/angular/universal/pull/7

[2015-07-06 04:43] #2 closed

[2015-07-14 09:52] gdi2290 opened #10 "decouple Document Token"
### scope
change in angular

### problem(s)
 * Renderer still coupled to `document`
   * styleHost coupled to DocumentToken
   * appElement coupled to DocumentToken
   * hostElement from createRootHostView coupled to Document token
 * Trouble bootstrapping more than one app instance (of the same app) on the document

### goal
* decouple appElement, hostElement, and styleHost from `document`
* poss

[2015-07-14 12:48] gdi2290 opened #11 "allow the developer to maintain app instance via ApplicationRef"
### scope
optional change(s) in angular (We could implement ourselves).

### problem(s)
we currently don't allow the developer to buildCache, clearCache, remove Injector, rebuildBindings, or any sort of way to change the state of the Application Instance

### goal
* give the developer an api for them to manage AppInject, AppHost, AppElement, CompilerCache, ChangeDetection.
* allow any part of the

[2015-07-15 19:46] gdi2290 opened #12 "include build system for server"
webpack is a good idea since we want to convert preboot to use it. currently the build system is `tsc` cli itself

[2015-07-15 19:47] gdi2290 opened #13 "Refactor preboot build system to use webpack"
currently uses browserify but we should switch to webpack

[2015-07-15 19:48] gdi2290 opened #14 "Travis"
What's an open-source project without travis

[2015-07-15 19:50] gdi2290 opened #15 "move client/bootstrap-defer into experimental/ folder"
we should have an experimental/ folder for unstable experiments

[2015-07-15 19:50] gdi2290 opened #16 "badges"
What's an open-source project without them. Blocked since we need travis

 - [x] Issue Stats
 - [ ] NPM
 - [x] Travis
 - [x] Gitter

[2015-07-15 20:03] gdi2290 opened #17 "remove typings from repo and include it in .gitignore"
we should keep custom typings in `custom_typings/` folder and reinstall tsd typings in `tsd_typings/`

[2015-07-15 20:12] gdi2290 opened #18 "move examples/ to root level"
Examples should be isolated and shouldn't be in modules since it's not a module. This also requires the webpack build system to simplify configuration. We also need an index page that would link to each example and this would also help with protractor e2e

[2015-07-15 20:30] #17 closed

[2015-07-15 20:52] gdi2290 commented on #15
closed via https://github.com/angular/universal/commit/45ab18360a3ba19e75d26594c8e539c12b2a4e28

[2015-07-15 20:52] #15 closed

[2015-07-15 23:26] gdi2290 opened #20 "create queryparam server app state management for e2e"
We need a way to test different states of the application and to configure it globally via url which is shared between both environments

[2015-07-16 02:13] gdi2290 commented on #20
this is done but 3 files are tightly coupled for now

ng2Engine/helper/build_scripts

[2015-07-16 02:13] #20 closed

[2015-07-16 02:22] gdi2290 opened #21 "feat ApplicationRef"
attach `toString` to `ApplicationRef` that serializes the App

#### Methods
 - [ ] `toString(): string`
 - [ ] `disposeToString(): string`

[2015-07-16 02:35] gdi2290 opened #22 "decouple ng2Engine/render into 3 stages"
decouple the current `toString` rendering process

prior art:
[yahoo/fluxible](https://github.com/yahoo/fluxible)

### Server Life Cycle
init:
 * stateless app (create injector)

request:
 * create stateful app (create RootElement)
 * inject cache data
 * detect changes
 * serialize (toString)
 * dispose stateful app
 * inject serialized app into html
 * send html app to client

### 3 Stages
 - [

[2015-07-16 04:13] gdi2290 opened #24 "build(travis): separate other dependencies from npm install"
figure out a better way to manage installing in travis

[2015-07-16 22:06] gdi2290 commented on #24
I got travis working with angular git submodule by using public url rather than git
$ref http://docs.travis-ci.com/user/customizing-the-build/#Git-Submodules

[2015-07-16 22:06] #24 closed

[2015-07-16 23:46] gdi2290 commented on #14
build takes about 3 minutes since we need to download and install angular from submodule

[2015-07-16 23:46] #14 closed

[2015-07-17 05:05] gdi2290 commented on #12
this is unneeded since I was able to correctly use git submodules by using the public endpoint

[2015-07-17 05:05] #12 closed

[2015-07-17 16:00] gdi2290 opened #25 "Better ways to test Universal apps"
Consider different ways to construct e2e tests such as [Page Object Pattern](https://code.google.com/p/selenium/wiki/PageObjects) or [Bot Pattern](https://code.google.com/p/selenium/wiki/BotStyleTests) (conventions for protractor e2e)

[2015-07-17 16:48] gdi2290 opened #26 "ServerDomRenderer"
Create a subclass of angular's `DomRenderer` that has special handling for `setElementProperty` and `invokeElementMethod`, so that the state of the UI is completely contained within attributes of elements. With that, serializing the DOM at the end of processing it via angular is just a matter of serializing the DOM nodes. I.e. we can reuse the existing DOM adapters of Angular.

E.g.

`setElementPr

[2015-07-17 17:23] gdi2290 commented on #11
There will be a separate function to bootstrap the server version of an angular application. At the moment just wrap the current implementation

[2015-07-17 17:23] #11 closed

[2015-07-17 17:25] gdi2290 commented on #10
Possibly solved with JsonRenderer. Will open again if we detect a problem

[2015-07-17 17:25] #10 closed

[2015-07-17 17:25] gdi2290 commented on #21
at the moment just wrap ApplicationRef

[2015-07-17 17:25] #21 closed

[2015-07-20 02:53] gdi2290 commented on #4
closed via https://github.com/angular/universal/commit/114bd88d8d63146b27ffa9d3b3ed7d99aa4408a7

current tests for client/server+client:
 * complete todo
 * create new todo
 * remove todo
 * complete all and clear completed

current tests for server:
 * check title
 * check if todo app is in body
 * check if todo was rendered

[2015-07-20 02:53] #4 closed

[2015-07-25 02:43] gdi2290 opened #28 "Include Karma"
It will be a good idea to have a Test Runner like Karma for testing Server. Include Karma with a unit test in the test folder

[2015-07-25 02:44] gdi2290 opened #29 "Refactor Preboot.js tests to Karma"
After we have Karma working we need to move the preboot.js tests to run in it

[2015-07-25 02:47] gdi2290 commented on #25
Consider a decoupling the view using other methods such as the one described in this post
https://medium.com/how-we-build-fedora/protractorjs-a-better-way-to-implement-page-objects-bc927cdb3f69

[2015-07-25 02:49] gdi2290 opened #30 "Upgrade build system so Protractor will use TypeScript"
It would be great if we had everything in TypeScript

[2015-07-25 02:51] gdi2290 commented on #28
yo @ashsidhu, can you take this one? You can include a one test for https://github.com/angular/universal/blob/master/modules/server/src/helper.ts#L25

[2015-07-25 02:55] gdi2290 opened #31 "use Webpack for building"
Working with gulp it would be great to use Webpack when building our TypeScript files to commonjs

[2015-07-25 02:56] gdi2290 commented on #13
webpack needs to be introduced first before switching preboot to it

[2015-07-25 02:57] gdi2290 commented on #31
yo @ashsidhu, after Karma you can do this one. You can take inspiration from https://github.com/angular-class/angular2-webpack-starter/blob/master/webpack.config.js and  https://github.com/rackt/react-router/blob/master/webpack.config.js

[2015-07-25 02:58] gdi2290 commented on #30
We need a better build system first

[2015-07-27 07:19] gdi2290 commented on #28
closed via https://github.com/angular/universal/pull/32

[2015-07-27 07:19] #28 closed

[2015-07-27 07:28] gdi2290 opened #33 "include conventional-changelog"
it would be great to start generating a changelog via [conventional-changelog](https://github.com/ajoslin/conventional-changelog)

[2015-07-27 07:52] ashsidhu commented on #29
@gdi2290 I can take care of this issue.

[2015-07-27 07:53] ashsidhu commented on #31
@gdi2290 I can take care of this issue.

[2015-07-29 08:01] #29 closed

[2015-07-29 08:02] gdi2290 commented on #26
Blocked pending new Renderer that will simplify the API

[2015-07-30 22:34] tbosch commented on #26
Updated the comment on what should be done.

[2015-07-30 23:03] gdi2290 opened #36 "update server-bootstrap"

[2015-07-31 02:25] gdi2290 commented on #36
done via https://github.com/angular/universal/commit/17bf16a072a6d4c774bb2b59234db0e0ff84eefc

[2015-07-31 02:25] #36 closed

[2015-07-31 02:27] gdi2290 commented on #31
@ashsidhu any updates?

[2015-08-03 21:57] manekinekko opened #38 "Git submodule update failed!"
Hi,

I have some free time and decided to contribute ^^
However, when trying to npm install, I had some issues with git not able to clone the angular submodule (see screenshot below).

![ng2-universal-git-submodule-issue](https://cloud.githubusercontent.com/assets/1699357/9048592/97a3871e-3a3a-11e5-8731-d42fb7cfcffc.png)

My git version is **2.3.5**

But good news is I fixed this issue by adding `

[2015-08-03 23:11] gdi2290 commented on #38
fixed via #39

[2015-08-03 23:11] #38 closed

[2015-08-03 23:14] gdi2290 commented on #31
this needs to be thought out a bit more to figure out which environments to build for. The idea behind using webpack for building is being able create multiple built scripts for preboot.js as well as client bundles.

[2015-08-03 23:15] gdi2290 commented on #33
also consider using github releases as a better way of managing the changelog

[2015-08-04 00:08] gdi2290 opened #40 "Render Angular 2 in backends with languages other than JavaScript"
I'm choosing only the most popular framework for each language for now

## Backends
 - [ ] Scala (Play Framework)
 - [ ] Ruby (Rails Framework)
 - [ ] Python (Django Framework)
 - [ ] Go (Gin Framework)
 - [ ] Nginx/Apache (via cli)
 - [ ] ASP.NET (via Edge.js)

## Work in Progress
@gdi2290: Scala (Play Framework) [gdi2290/play-angular2](https://github.com/gdi2290/play-angular2)

I'm currently wor

[2015-08-04 00:18] gdi2290 commented on #22
there needs to be a way to package angular2/zones.js/reflect (with commonjs) and universal for other backends. see https://github.com/angular/universal/issues/40

current strategy and lifecycle of a NodeEnvironment in another language:

require angular2/universal

require universal app

get data/state from process args

render to string data/state, universal app

log the string that will then be s

[2015-08-04 00:36] manekinekko opened #41 "The build process is broken."
There are few issues with the build process. I just npm install and ... BOOOUM!

see screenshot below...
![image](https://cloud.githubusercontent.com/assets/1699357/9050716/725f1164-3a51-11e5-9ec7-e99c0dd05b6f.png)

[2015-08-04 00:49] gdi2290 commented on #41
the first error has to do with typescript.
https://github.com/angular/universal/blob/master/package.json#L75

the second one is a problem trying to copy the built files from angular submodule build.
https://github.com/angular/universal/blob/master/scripts/update-ng-bundle.sh

the third is a problem with protractor including webdriver which I have to look into `webdriver-manager update --standalone

[2015-08-04 00:58] gdi2290 commented on #41
I think I'll update `update-ng-bundle.sh` to copy the angular dist over which seems like a better aprouch than manually updating the script inside package.json

[2015-08-04 01:00] manekinekko commented on #41
Issue 1 and 3 were related to my installation which was broken (the last npm install wasn't ok).
However, issue 2 is related to a missing folder  `/angular/dist/bundle/` which was moved to `/angular/dist/js/bundle/`

[2015-08-04 01:02] manekinekko commented on #41
after updating `update-ng-bundle.sh` (https://github.com/angular/universal/blob/master/scripts/update-ng-bundle.sh#L7) everything is OK.

[2015-08-04 01:08] gdi2290 commented on #41
this wasn't the first time `update-ng-bundle.sh` broke due to the file paths being hard coded. The gulpfile configuration isn't being exported in the angular repo so I can't grab the files. At the moment I'll just rely on the `dist/` folder being created

[2015-08-04 01:11] manekinekko commented on #41
I see. May be you could just symlink the angular2/dist folder to web_modules? Or use angular2/dist directly?!
What is the need of web_modules?

[2015-08-04 01:12] gdi2290 opened #42 "upgrade npm scripts to a task manager"
npm scripts can only go so far and we should also handle different environments (windows/osx). Being able to clean the repo on a failed install would be handy to prevent unintended errors. Expanding the current gulpfile.js with tasks from package.json would be ideal. For example `rm -rf` doesn't work in Windows which is why we have the `gulp-rimraf` plugin

[2015-08-04 01:22] manekinekko commented on #33
I will take this one.

[2015-08-04 01:24] gdi2290 commented on #41
`web_modules/` was reserved for static file usually meant for the client. Previously this included `reflect-metadata`, `traceur-runtime`, `system.js` and at first the files were git committed into the repo. There was a problem with initial load times using the `system.js` 0.16.x that lead to having to download the latest updates for each one. Then the installation time slowed down due to downloadi

[2015-08-04 01:25] gdi2290 commented on #41
symlink doesn't work on windows or something but that would be solved by expanding gulp tasks https://github.com/angular/universal/issues/42

[2015-08-04 01:26] gdi2290 commented on #30
same for https://github.com/angular/universal/issues/42 you're able to use a typescript version of gulpfile by naming the file `gulpfile.ts` and installing `typescript-node`

[2015-08-04 01:27] gdi2290 commented on #33
thanks :+1:

[2015-08-04 01:28] gdi2290 commented on #18
I think @ashsidhu is working on this until we figure out the best way to organize the webpack built folder

[2015-08-04 01:29] manekinekko commented on #33
Could you tell me more about your comment above? What do you mean by using GH release to manage the changelog?

[2015-08-04 01:34] gdi2290 commented on #33
we can look into GH releases later but essentially it's the releases page for a github repo

page https://github.com/angular/universal/releases

rather than maintaining a changelog file it does make more sense to take advantage of more features github provides such as releases.

releases example https://github.com/blakeembrey/typescript-simple-loader/releases

To keep the repo relatively the same

[2015-08-04 01:55] manekinekko commented on #33
Sure. We will discuss the release page sooner or later ^^

About the changelog, it is ready! I am creating the PR right now, but it is taking into account all the latest commits . Is it possible to select which commit to include in the PR?

[2015-08-04 02:23] manekinekko commented on #41
Yeah! I think moving to gulp would solve many issues. I will check if I have some time tomorrow to take care of #42

Now I need to go take a nap, it is 4am here in Paris, and I have work at 9am :smile:

[2015-08-04 03:14] gdi2290 commented on #41
kool, yeah no rush. Thanks for your help

[2015-08-04 03:35] gdi2290 opened #44 "Environment or Server service for client/server"
A service for server concerns such as but not limited to SEO.
related interface proposals https://github.com/angular/angular/issues/3144#issuecomment-122698339
Either `Environment` that's bound by di to `Server` or `Client`. There is also an optimization step per environment that will be solved via Webpack build
prior art https://github.com/DerMambo/ms-seo

[code]
[code]

the idea here is replacin

[2015-08-04 03:38] gdi2290 commented on #25
similar to https://github.com/angular/universal/issues/44 where there is a test environment with helper syntax in html or js that should be removed in other envs

[2015-08-04 03:40] gdi2290 commented on #22
also related https://github.com/angular/universal/issues/22
There needs to be a stage that's available for fullstack angular which is Angular as a server framework

[2015-08-04 04:31] gdi2290 opened #45 "ideas to leverage server environment to provide a better "developer experience""
Angular 2 now is able to run on the server so what's the next step?
We can now take advantage of the benefits of having this control over the client's environment. We can create a small server layer that uses any of the underlying Node Frameworks such as ExpressJS, Hapi.js, or Koa.js. Doing so would be a great way for, normally client only developers, to be introduced to the backend.

Having full

[2015-08-04 04:43] gdi2290 opened #46 "Stream serialized server rendered app to client"
support stream rendering on the server to client

~~There are a few best practices for web mobile development and one of them is streaming the HTML down to the client. Also consider movements such as [`JSON.stringifyAsync`](https://github.com/mohsen1/async-json#asynchronous-json-methods-for-ecmascript-proposal) which brings up the same point of sending the results. We could stream down the seriali

[2015-08-04 22:05] manekinekko commented on #42
I will take this one.

[2015-08-05 00:31] manekinekko commented on #42
For cleaning purposes, I'd suggest the [del](https://github.com/sindresorhus/del) gulp pugin as it supports globbing patterns. Plus, the `gulp-rimraf` seems to be deprecated.
What do you think?

[2015-08-05 01:32] gdi2290 commented on #42
sounds good

[2015-08-05 06:22] gdi2290 commented on #33
fixed via https://github.com/angular/universal/pull/48

[2015-08-05 06:22] #33 closed

[2015-08-05 06:37] gdi2290 opened #49 "Render Angular 2 in more backend JavaScript frameworks"
## Frameworks
 - [x] Express.js (PatrickJS)
 - [ ] ~~Meteor.js~~
 - [ ] ~~Sails.js~~
 - [ ] ~~Koa.js~~
 - [x] Hapi.js
 - [ ] ~~Total.js?~~
 - [ ] ~~ActionHero.js~~
 - [ ] ~~Loopback~~

[2015-08-05 06:40] gdi2290 commented on #49
@robwormald yo, do you think you can do sails.js?

[2015-08-05 06:44] robwormald commented on #49
somebody would have to essplain to me how it works, but yeah, in theory. a universal socket.io observabley angularSails would be the bees knees. cc @mikermcneil

[2015-08-05 06:47] gdi2290 commented on #49
I have the express version here atm (you can ignore the `./build_scripts` technical debt)
https://github.com/angular/universal/blob/master/modules/server/src/express_ng2engine.ts
so it would be great to figure out ways to ensure server rendering especially resolving subset of resources to be rendered vs pushed to the client

[2015-08-05 06:57] robwormald commented on #49
Okay cool, looks pretty straightforward.

Let's imagine I had a ng2 service / "model" that exposed a Users.find() method, and client side I would inject it into my component and make an Http request to populate a ng-for list.

It appears server side id just use the injector to replace that User service with a server side Model, hand it a component and boom goes the dynamite? More or less?

[2015-08-05 07:11] ashsidhu commented on #49
@gdi2290 I can start working on Koa.js first and then Hapi.js.

[2015-08-05 07:19] robwormald commented on #49
Sails is definitely more batteries included than the others, so it might need a bit more thinking.

Good news is that Sails models all return promises, and I'll be doing a client side lib as well to mirror the Model APIs (Foo.create/update/etc).

Does/should ngUniversal work with pipes? Specifically the async pipe, as that would nicely work with both server side promise methods and client side obs

[2015-08-05 07:20] gdi2290 commented on #49
For Universal (isomorphic) the best approach is having a `source` and a `cache`. For example let's say we have a simple model

[code]

Having these two separated allows us to change the dependencies per environment. An example of a Server `cache` could be Redis while on the Client it's `localStorage`. The `source` would allow you to choose the socket.io/xhr on the client or socket.io/http.get on t

[2015-08-05 07:23] robwormald commented on #49
Also cc @Urigo as I spent some time preaching the Observables gospel with him today

[2015-08-05 07:23] gdi2290 commented on #49
async pipe will be supported with a whenStable angular feature that waits until all microtasks are finished. The problem here is determining which how many times you run change detection for the desired outcome.

[2015-08-05 07:23] gdi2290 commented on #49
yeah I should add Meteor to the list

[2015-08-05 07:29] gdi2290 opened #50 "Create NodeBackend for Http"
This is really easy to do since you could just include a Node version of XMLHttpRequest (called NodeXhr) that replaces BrowserXhr for an MVP

in this file [modules/server/src/http_server.ts](https://github.com/angular/universal/blob/master/modules/server/src/http_server.ts)

replace [XMLHttpRequest ](https://github.com/angular/angular/blob/master/modules/angular2/src/http/backends/browser_xhr.ts#L

[2015-08-05 08:06] gdi2290 commented on #45
related https://github.com/angular/universal/issues/44

[2015-08-05 21:17] gdi2290 commented on #18
done via https://github.com/angular/universal/commit/74c56ec85a82b0c693f601c6df0fa4bdf398a23b

[2015-08-05 21:17] #18 closed

[2015-08-06 19:22] gdi2290 opened #54 "NoJS, allow forms to work with JavaScript turned off"
The app needs to be able to work with JavaScript turned off. This is to allow older browsers (legacy) to function or large enterprise companies with crazy restrictions. Currently the links should be able to work with no problem. formDirectives(server)

this is done via `action` attribute in the `<form>` tag which makes a post request
- [x] Decorate for `<form>` tags with `action` and `method` attr

[2015-08-07 19:42] gdi2290 commented on #41
fixed via https://github.com/angular/universal/pull/58

[2015-08-07 19:42] #41 closed

[2015-08-07 19:42] gdi2290 commented on #42
fixed via https://github.com/angular/universal/pull/58

[2015-08-07 19:42] #42 closed

[2015-08-07 19:52] gdi2290 commented on #49
yo @ashsidhu any updates on the Koa.js version?

[2015-08-07 20:06] gdi2290 opened #59 "Fix travis tests"
At the moment travis us running gulp test rather than `npm test`

[2015-08-07 20:11] gdi2290 opened #60 "Create Node version for Router"
The router needs to be able to run on the server. History and other services needs to be replaced with Server versions. First let's create a version that works using the Mock version before converting it.
Similar to https://github.com/angular/universal/issues/50

[2015-08-07 20:15] manekinekko commented on #50
I'll take care of this one.

[2015-08-07 20:17] gdi2290 opened #61 "Create Node support for WebWorkers"
We should be able to run the App in more than one thread similar to the client WebWorker strategy. Currently needs more research
similar to https://github.com/angular/universal/issues/50 and https://github.com/angular/universal/issues/60

[2015-08-07 20:18] gdi2290 commented on #50
Here's the code currently for it.
https://github.com/angular/universal/blob/master/modules/server/src/http_server.ts
at the moment it's stubbed out to use the Mock version.

[2015-08-07 20:21] gdi2290 commented on #13
Jeff mentioned he can take this one

[2015-08-07 20:46] manekinekko commented on #50
@gdi2290  Can you give more details about what you expect from this? The issue description lacks some details for new contributors (like me).

[2015-08-07 21:11] gdi2290 opened #62 "Contributing guide"
Copy over from angular/angular

[2015-08-07 21:13] gdi2290 commented on #59
I decided to stub out preboot until @jeffwhelpley finishes moving the tests back to `modules/preboot` folder pending green from [angular/universal/builds/74634584](https://travis-ci.org/angular/universal/builds/74634584)

[2015-08-07 21:16] gdi2290 opened #63 "Move preboot tests back to modules/preboot/test"
e2e tests are global and remain in root while module tests should remain within the module

[2015-08-07 21:31] gdi2290 opened #64 "refactor batter out and use gulp in gulpfile"
configuration is not clear. We have configuration living in task file and gulpfile. Having configurations in place place would allow for simpler reasoning on each moving part. Having a task per file limits the ability to compose multiple tasks. The repo doesn't need this level of abstraction just yet and would benefit more by having one gulpfile either requiring the configuration or keeping it inl

[2015-08-07 22:06] gdi2290 commented on #59
"fixed"  via https://github.com/angular/universal/commit/5ce4bab1d8c0c2fec41b9fb52e8ae3d44d8180a7

[2015-08-07 22:06] #59 closed

[2015-08-07 22:08] gdi2290 opened #65 "fix server rendering from latest changes"
currently server rendering is broken after pulling latest

[2015-08-07 22:16] gdi2290 commented on #65
fixed via https://github.com/angular/universal/commit/5d340697b5355702fbc3e8d47bb5e4c9b5643c89

[2015-08-07 22:16] #65 closed

[2015-08-08 21:49] #26 closed

[2015-08-08 22:12] gdi2290 opened #68 "focus on <input> cursor position differs between server rendered and client rendered"
given an html element
[code]
the cursor position is at the beginning `[|testing]` for server rendered view. Then preboot.js transfers the focus back `[testing|]` the cursor position is now the latest position and value. Also note that angular doesn't save the cursor position when a user types in a new value. This probably due to setting the `[value]` on keyup

[2015-08-08 22:26] manekinekko commented on #64
@gdi2290 do you need me to move all gulp tasks into one single gulpfile ?

[2015-08-08 23:32] manekinekko commented on #64
I am on it.

[2015-08-09 01:18] gdi2290 commented on #64
@manekinekko yeah all in one gulpfile

[2015-08-09 01:32] manekinekko commented on #64
PR sent (https://github.com/angular/universal/pull/69)

[2015-08-09 04:14] gdi2290 commented on #64
fixed via https://github.com/angular/universal/pull/69

[2015-08-09 04:14] #64 closed

[2015-08-09 04:30] gdi2290 commented on #50
@manekinekko I updated the original post. Ping me again if you need more details/help

[2015-08-09 06:48] gdi2290 commented on #22
We need to update the ApplicationRef to manage the lifecycle of the application or split up application from rendering. For example, replace/update injector, recompile, defer compile (after splitting up renderer)

[2015-08-09 07:41] gdi2290 opened #71 "ngPreboot"
built on top of preboot.js, pre-compile a mini angular for server view to recreate actions where the code path doesn't hit a call to the server or 3rd party module. The goal is to allow features such as two-way data binding and simple functionality such as NgIf

stages (may need more research and/or exploratory programming)

* parse a class
* figure out it's methods
* figure out  which methods wit

[2015-08-09 07:41] gdi2290 commented on #71
@incrediblesound is working on prototyping this atm

[2015-08-09 07:47] gdi2290 opened #72 "ngScripts"
this replaces `build_scripts.ts`

prior art:
[riot/compiler](https://github.com/riot/riot/blob/master/compiler.js)

create directives that emulates `<module import="angular2/angular2"><module>`  and also allow inline scripts such as
[code]
and also inject dep angular with `type="angular"`
[code]
we can also inject systemjs and es6 module loader.

We should also allow for app state management from

[2015-08-09 11:56] manekinekko commented on #50
thanks @gdi2290. I will let you know. I need to take some time and wrap my head around how preboot works under the hood.

[2015-08-09 12:43] manekinekko commented on #50
@gdi2290 do you really want to go with [node-XMLHttpRequest](https://github.com/driverdan/node-XMLHttpRequest), it seems to have some [limitations](https://github.com/driverdan/node-XMLHttpRequest#known-issues--missing-features). I dont know what level of support we want here.

I've found other [alternatives](https://www.npmjs.com/search?q=xmlhttprequest) such as [node-xhr2](https://github.com/pwn

[2015-08-09 16:35] gdi2290 commented on #50
@manekinekko `node-xhr2` looks great! I only picked `node-XMLHttpRequest` as a suggestion (first one, no research)

[2015-08-09 16:38] gdi2290 commented on #50
you can uncomment this [./index.js#L24..L46](https://github.com/angular/universal/blob/master/index.js#L24..L46) and [./examples/app/universal/App.ts#L92..L110](https://github.com/angular/universal/blob/master/examples/app/universal/app/App.ts#L92..L110) and only confirm that the request is being made on the server via console log

[2015-08-09 16:47] manekinekko commented on #50
sure. I am on it right now :smiley:

[2015-08-09 19:10] gdi2290 opened #74 "NodeXhr requires absolute url not relative"
NodeXhr only works with the full url not relative

[2015-08-09 22:51] gdi2290 commented on #44
needs more research. What level of configuration should be needed?

* server level
* request level
* app level
* component level

[2015-08-09 23:46] incrediblesound commented on #71
Currently working on a prototype that parses the JS into esprima and transforms the esprima tree into a more compact, easily traversable tree. This stage is almost done. After that the idea is to extract events from the templates and find their code paths in the syntax tree. Once we have the branches responsible for handling the events it's just a matter of turning them back into vanilla JS.

[2015-08-10 05:50] incrediblesound commented on #71
I threw together a template parser to use in the interim while we don't have ngCompiler for parsing templates, I'm using this single element as input:
[code]
And it produces this output node:
[code]

[2015-08-10 06:45] manekinekko commented on #50
Here is a cleaner PR https://github.com/angular/universal/pull/76

[2015-08-10 06:54] gdi2290 commented on #50
thanks, fixed via https://github.com/angular/universal/pull/76

[2015-08-10 06:54] #50 closed

[2015-08-10 10:57] #63 closed

[2015-08-10 19:56] manekinekko commented on #68
I did some tests about the second point you mentioned (angular not saving the cursor position).
Removing the biding of **[value]** (I know this is not a solution), but doing so seems to fix this specific issue. However, the initial value of **value** is obviously not bound...

[code]

I will continue digging...

[2015-08-10 20:44] gdi2290 commented on #68
this might be a browser thing

[2015-08-10 22:32] tbosch commented on #68
We should change `preboot.js` to also store the caret position using `input.selectionStart = input.selectionEnd = <caretPosition>`.

[2015-08-10 22:35] gdi2290 commented on #68
@jeffwhelpley what do you think?

[2015-08-10 22:52] manekinekko commented on #68
I was thinking of suggesting something like this:

[code]

[code]

May the `state.eventListeners` array is not the place where to store the caret information, but I thought that when replaying events of a certain Node, we could replay the selection record as well.

[2015-08-11 02:00] jeffwhelpley commented on #68
Thanks, @manekinekko for the tip. I am trying out some changes now to preboot that will use a version of this code. I am putting the code for getting caret position and setting caret position in the dom wrapper since there is some browser specific hackery going on there. As a general rule, FYI, the dom wrapper should be used to abstract out any and all browser hackery (sort of like a mini-jQuery).

[2015-08-11 08:40] manekinekko commented on #68
Awesome! thanks @jeffwhelpley

[2015-08-11 19:46] manekinekko commented on #68
hi @jeffwhelpley I grabbed your PR and tested it locally. Here what I experienced...

**My tests were:**
- TEST1: I do a select all before preboot completes.
- TEST2: I move the cursor to a specific position.
- TEST3: I insert few letters at an arbitrary position.

**FYI, I reloaded the page between each test and my network is set at 3G (in devtools) **

![preboot-caret-bug-jeff-patch](https://clo

[2015-08-11 20:45] jeffwhelpley commented on #68
@manekinekko what browser are you using?

one thing I know has to change is that I am not changing the stored cursor position based on mouse movements. I can fix that, but I want to make sure I cover everything else. If you don't change the cursor with your mouse is there still an issue in whatever browser you are using?

[2015-08-11 21:06] manekinekko commented on #68
For the GIF about, I am using Chrome 44.0.2403.130.
Yes, I can tell you that when I move the cursor using the arrow keys, preboot remembers as expected the cursor position, in Chrome!

Safari and Firefox (nightly) have different behaviours...

### Safari 8.0.8 (10600.8.7)

On page load, and before preboot completes, Safari selects all input content. Perhaps because of the focus event!

![preboot-c

[2015-08-12 01:32] jeffwhelpley commented on #68
Interesting. OK, I will figure out what is going on with FireFox and Safari as well as the mouse events. We can worry about IE after that.

[2015-08-12 03:04] jeffwhelpley commented on #68
I just updated my PR with changes that include selection of text. I have validated this works on modern Chrome, Safari and FireFox browsers. I wasn't quite sure how to test this on IE so I am hoping someone here has a Windows machine and can try this out.

[2015-08-12 03:11] #68 closed

[2015-08-12 03:26] gdi2290 opened #82 "e2e test for ServerDomRenderer and with preboot.js"
We need e2e tests for

Server:
* default values for input value and checkbox
* focus an input element during Server rendering that adds autofocus

Server+Client:
* default values for input value and checkbox
* focus an input element during Server rendering that adds autofocus

Server+Client+Preboot.js
* default values for input value and checkbox
* focus an input element during Server rendering th

[2015-08-12 03:58] gdi2290 commented on #60
@manekinekko do you want to try this one out? you should only have to replace `LocationStrategy `

[2015-08-12 09:03] manekinekko commented on #60
sure. I'll look at it tonight.

[2015-08-12 10:51] PascalPrecht commented on #40
@gdi2290 Can we add nickel.rs to the list? http://nickel.rs /cc @cburgdorf

[2015-08-12 11:15] cburgdorf commented on #40
I'm happy to help with an implementation for nickel but I'm not sure how feasible it is. I guess this relies on offloading some of the work to a serverside JS renderer (https://github.com/gdi2290/play-angular2/blob/master/app/controllers/Application.scala#L66)

[2015-08-12 15:43] gdi2290 commented on #40
I know someone in the Rust community so I can see if he can work with you guys on it

[2015-08-12 15:46] gdi2290 commented on #40
The idea here is to have a baseline way of rendering on the server with the quick and dirty way being the cli. The preferred method would be compiling Angular 2 into the language you're working on which means creating you're own facades

[2015-08-12 22:18] gdi2290 commented on #60
from gitter:
<img width="485" alt="screen shot 2015-08-12 at 3 16 04 pm" src="https://cloud.githubusercontent.com/assets/1016365/9238156/15c27fbc-4105-11e5-9126-998eb4ab3b97.png">

I like your proposal and we can mock it out for now so the router service won't error out on the server. Location on the server is questionable since history it’s fundamentally stateful. We can experiment with something

[2015-08-13 19:37] manekinekko commented on #60
@gdi2290  I'll write some basic tests and push a PR.

[2015-08-13 19:42] gdi2290 commented on #60
@manekinekko  thanks :+1:

[2015-08-13 22:42] gdi2290 commented on #82
I'm working on this now

[2015-08-13 22:51] manekinekko commented on #62
is this as simple as copying the [CONTRIBUTING.md](https://github.com/angular/angular/blob/master/CONTRIBUTING.md) from the angular repo to this repo (plus some adjustments of course)?

[2015-08-13 22:54] gdi2290 commented on #60
I'm going to rename the file to `router_server.ts`

[2015-08-13 22:57] gdi2290 opened #85 "Create client WebWorker app example"
An Angular app on the Client that's in a WebWorker should also be able to start off server rendered and preboot.js

[2015-08-13 22:59] gdi2290 commented on #62
yeah I want to save this for a new contributor or someone who is new to github

[2015-08-13 23:03] manekinekko commented on #62
Sure! no worries :wink:

[2015-08-13 23:03] manekinekko commented on #85
I'm on this one.

[2015-08-13 23:10] gdi2290 opened #86 "Create Falcor/Data app example"
There should be a simple solution for working with "complex" models when dealing with server rendered views

[2015-08-13 23:17] gdi2290 opened #87 "Make PreloadCache for server/client"
There needs to be a way for developers to preload their json data on the server to be sent to the client for to grab out of the preloaded cache.

[code]

It's important that the PreloadCache can happen after bootstrap as the serialized data could be a large data set that is being streamed down to the client with the html

 - [x] PreloadCache https://github.com/angular/universal/issues/93
 - [x] Ng

[2015-08-14 00:18] tbosch commented on #87
The way React does it seems pretty smart and is independent of the data layer used: cache the responses for http requests made on the server and serialize the cache to the client.

[2015-08-14 00:19] tbosch commented on #87
See https://github.com/facebook/relay/issues/36#issuecomment-130402024

[2015-08-14 03:03] gdi2290 opened #88 "transfer input [checked] prop from server view to client view with preboot.js"
when the view is rendered the checkbox keeps the checked state in the prop so if the user clicks on the checkbox before the client bootstraps then the state is not transferred. Same for unchecked

[2015-08-14 03:16] gdi2290 opened #89 "Fix encapsulated styles for server rendered view"
currently they're not showing up with the current encapsulation

[2015-08-14 03:25] gdi2290 opened #90 "Workaround encapsulation NATIVE (doesn't work on server)"
We need to either run EMULATED whenever we see NATIVE encapsulation setting or find another way to do this. Previously we would set EMULATED in the bindings but that never really solved the problem for components other than the root

we can probably overwrite the DomRenderer with ServerDomRenderer

[2015-08-14 03:26] gdi2290 commented on #89
`DomSharedStylesHost` relies on `DOCUMENT` that has a `.head` prop. For now I'll transfer over the contents of `.head` above the `<app>` component

[2015-08-14 04:02] gdi2290 commented on #89
current workaround https://github.com/angular/universal/pull/91
render styles above component

[2015-08-14 04:02] #89 closed

[2015-08-14 04:10] gdi2290 commented on #74
current repo only workaround https://github.com/angular/universal/commit/37a76589151f90b6a6264b7da2d3f4a45947f17c#diff-a32e7c1cc70e4c6d2e3bf0a934df4e39R59

[code]
we could provide a baseUrl token and request it for NodeXhr

[2015-08-14 04:58] gdi2290 commented on #82
I'm not sure how to get element props with protractor to test client rendered elements and selection

[2015-08-14 04:59] gdi2290 commented on #60
close via https://github.com/angular/universal/commit/c07a18a1cd086657536827980e95bea1a6a9bfa6

[2015-08-14 04:59] #60 closed

[2015-08-14 21:09] gdi2290 opened #92 "feat(selectorRegExpFactory): allow for elements with attributes"
we need to make sure that we can grab the element even if it has attrs. Right now we're able to grab the element even with content. Please use https://regex101.com/#javascript

[code]
[code]

[2015-08-15 06:00] gdi2290 opened #93 "move preload_cache.js module into repo"
prototype version of preload_cache currently on npm as [[preload_cache.js](https://www.npmjs.com/package/preload_cache.js), [preload_cache](https://www.npmjs.com/package/preload_cache)] and code at [gdi2290/preload_cache.js](https://github.com/gdi2290/preload_cache.js)

preload_cache defers cache until after the app bootstraps by providing defered refs

[2015-08-15 18:48] manekinekko commented on #85
I encountered an issue, here are some details... https://github.com/angular/angular/issues/3658

[2015-08-15 19:31] gdi2290 commented on #85
you can make the example in the `examples/` folder since we're building from source

[2015-08-15 23:05] manekinekko commented on #85
Yeah! That what's I ended up doing. I am able to load the index in the browser but I have some issues with the Pipe class which is undefined. I am working on it.

![image](https://cloud.githubusercontent.com/assets/1699357/9291196/c8c352a8-43b2-11e5-8ba0-aa42a452ec4f.png)

[2015-08-15 23:18] gdi2290 commented on #85
can you open a PR so I can check it out?

[2015-08-16 00:23] manekinekko commented on #85
sure! Here is the PR https://github.com/angular/universal/pull/95

[2015-08-18 20:08] manekinekko commented on #82
Hi @gdi2290 have you started this?

[2015-08-18 20:20] gdi2290 commented on #82
@manekinekko I push up the wip. the problem is getting the props rather than the attrs
https://github.com/angular/universal/blob/master/test/test_page.e2e.js
you would need to inject js to grab elements and expose them to protractor I think

[2015-08-18 21:26] manekinekko commented on #82
@gdi2290 which props do you wanna test? I managed to get pros from DOM element.

[2015-08-18 21:36] gdi2290 commented on #82
@manekinekko the input to ensure selection is correct and the value of the input

[2015-08-18 22:11] manekinekko commented on #82
@gdi2290 using `executeScript` you can run arbitrary js code. So for example, this gives you the `value` property:
[code]

[2015-08-18 22:16] gdi2290 commented on #82
oh that's a good find and solves a lot of problems :+1:

[2015-08-18 22:52] manekinekko commented on #82
should I emphasis on the difference between the prop "value" and the attribute "value" in the test suites?

[2015-08-18 22:59] gdi2290 commented on #82
yup, although for server only it's attrs while everything else it's props it's important to note that

[2015-08-18 23:39] manekinekko commented on #82
@gdi2290 here is what I was able to test so far. As you can see from the screenshot below, there is one test that fails and 3 pending test that I don't know how to test (the preboot ones).
I let you check that if you dont mind ;)

If you're OK. I'll send the PR right away.

![image](https://cloud.githubusercontent.com/assets/1699357/9345570/b468350a-4612-11e5-8c42-58429b79039b.png)

[2015-08-18 23:57] gdi2290 commented on #82
LGTM

[2015-08-19 00:42] gdi2290 commented on #25
This is for a future refactor:

Thinking about it more each test should be isolated for each `it` block. So each `it` block is testing a certain feature which means you can include a test for each state of the app.

something like
[code]
Where you can noop or just not include a function for the env you're not testing for. Otherwise the code you're writing, for example, to check the `checked` value

[2015-08-19 01:56] gdi2290 commented on #82
selection isn't really working with preboot or at least not with the e2e tests

[2015-08-19 01:57] gdi2290 commented on #82
@jeffwhelpley can you take a look at the e2e tests to see why it's failing
https://github.com/angular/universal/blob/master/test/test_page.e2e.js#L86...L103

[2015-08-20 01:27] #88 closed

[2015-08-25 01:26] gdi2290 opened #98 "Use npm version of angular"
use angular version on npm

[2015-08-25 01:27] gdi2290 opened #99 "Publish secret package name for dogfooding"
Publish secret package on npm for dogfooding

[2015-08-25 01:28] gdi2290 opened #100 "Get feedback"
Ask people to try it out and get feedback

[2015-08-25 01:29] gdi2290 commented on #98
closed via https://github.com/angular/universal/commit/05d373f9604482e5e5e1443c3a00b33f58961c88

[2015-08-25 01:29] #98 closed

[2015-08-25 01:32] gdi2290 opened #101 "Change bootstrapping for testing"
change bootstrap to use function rather than clicking a button to maintain focus

[2015-08-26 20:32] gdi2290 commented on #82
done via https://github.com/angular/universal/commit/ae31bd2406157edb1107d1e770e87d3410def72f

[2015-08-26 20:32] #82 closed

[2015-08-26 20:32] gdi2290 commented on #101
done via https://github.com/angular/universal/commit/ae31bd2406157edb1107d1e770e87d3410def72f

[2015-08-26 20:32] #101 closed

[2015-08-26 20:38] gdi2290 commented on #93
done via https://github.com/angular/universal/commit/92f2781e3085c915e1723d9f7fa2227a9a1986fa

[2015-08-26 20:38] #93 closed

[2015-08-29 23:50] gdi2290 commented on #74
done via https://github.com/angular/universal/commit/37a76589151f90b6a6264b7da2d3f4a45947f17c#diff-a32e7c1cc70e4c6d2e3bf0a934df4e39R59

[2015-08-29 23:50] #74 closed

[2015-08-29 23:51] gdi2290 opened #102 "allow developer to provide baseUrl"
provide a better way to set the base rather than current workaround
https://github.com/angular/universal/blob/73f7611b60f4931626085fe22e27b3bf3bb5ce63/modules/server/src/helper.ts#L60

[2015-08-29 23:54] gdi2290 opened #103 "log errors on rendering fail"
when the rendering fails on the server we send down the html to be rendered on the client. We should log the error and allow the developer to configure how they want to handle the error

[2015-08-30 04:07] gdi2290 opened #105 "remove gulp dependencies from preboot/server"
I want to be able to `require('universal/preboot/server')` without gulp

[2015-08-30 04:10] gdi2290 commented on #105
I need to generate the preboot code as a string

[code]

[2015-08-30 17:22] #103 closed

[2015-08-31 04:06] gdi2290 commented on #99
done but the repo needs a bit more work

[2015-08-31 04:06] #99 closed

[2015-08-31 08:16] danicomas opened #106 "info angular2-universal@0.0.1 Failed to exec preinstall script"
I receive the npm log after run npm install.

[code]

[2015-08-31 08:22] danicomas commented on #40
@gdi2290 add IIS too.

[2015-08-31 17:11] gdi2290 commented on #106
@danicomas  yeah sorry I haven't tested the reoo in windows yet. can you delete everything after `# &&` in this line https://github.com/angular/universal/blob/master/package.json#L42 and I can give you the npm package we're using for the preview

[2015-08-31 17:21] gdi2290 commented on #40
@danicomas  Microsoft IIS might take more work unless we have someone who knows how to run JavaScript in that environment

[2015-09-03 17:57] gdi2290 commented on #102
done via https://github.com/angular/universal/commit/e983153629320a9ef3ff85346e9da947872680e4

[2015-09-03 17:57] #102 closed

[2015-09-04 21:09] manekinekko commented on #100
I made this [form](https://docs.google.com/forms/d/1mx3CQnOsuhW-VgWXeGzii0NR1nZrlsVlqg759X35Iy8/viewform) and sent this [tweet](https://twitter.com/manekinekko/status/639822726060974080) to ask for feedback...wait and see.

[2015-09-04 21:14] gdi2290 commented on #100
awesome thanks! :+1:

[2015-09-11 02:09] jeffwhelpley commented on #13
Changed this to medium effort because I haven't used webpack before and the preboot setup is non-trival. I do not plan on working on this until after Angular Connect, so if anyone else has time before then, feel free to take this over.

[2015-09-11 02:19] jeffwhelpley commented on #105
Let's talk about this more. We may not need this. `preboot.getClientCode()` already returns a string. We can probably move Gulp to a dev dependency because it is not referenced anywhere in the server code (only gulp plugins are referenced).

Taking a step back here, though, what is the goal? It shouldn't really matter what dependencies there are on the server side. But, I may be missing something.

[2015-09-11 16:33] gdi2290 commented on #13
yeah don't worry about this

[2015-09-11 16:33] gdi2290 commented on #13
I'll close this for now

[2015-09-11 16:33] #13 closed

[2015-09-13 17:44] valorkin opened #108 "upgrade to ng2 0.37 (in progress...)"
goal: to avoid duplication of work

Issue is a "statement of intention", I am currently updating universal to ng2 version 0.37
with type ref fixes and all what will be required
any way, latest master was not working >.<

[2015-09-13 17:44] valorkin commented on #108
@gdi2290 @jeffbcross if you would not mind of course

[2015-09-13 19:02] gdi2290 commented on #108
you're looking for the other Jeff @jeffwhelpley I'll update the repo in a couple of hours

[2015-09-13 19:08] valorkin commented on #108
:( almost done too

[2015-09-13 20:27] gdi2290 commented on #108
@valorkin I'll let you update it then so feel free to ping me on gitter/twitter if you need an immediate response. You might have to sync up some of the changes to bootstrap-server and the bootstrap-common in the angular2 repo. Also keep note of the modified bootstrap process and some of the bindings (such as Docmuent) that were moved

[2015-09-14 21:31] gdi2290 commented on #108
fixed via https://github.com/angular/universal/commit/ff4fdbce4a8c96752715469196e581a149023302

[2015-09-14 21:31] #108 closed

[2015-10-02 07:17] gdi2290 commented on #87
done

[2015-10-02 07:17] #87 closed

[2015-10-02 07:22] gdi2290 opened #110 "update angular2-universal-preview to latest"

[2015-10-02 07:23] gdi2290 opened #111 "fix angular2-universal-preview dependencies"

[2015-10-09 18:23] gdi2290 opened #113 "[alpha.40] update boootstrap"
- [x] delete old method of bootstrapping
- [x] recreate bootstrap using new APis

[2015-10-09 18:24] gdi2290 opened #114 "[alpha.40] update render"
- [x] fix any path changes from update
- [x] update method of grabbing styles

[2015-10-16 13:17] gdi2290 commented on #114
done via https://github.com/angular/universal/commit/a2abdbaa39906f24f28d161cc7b40a0e8d28dca8

[2015-10-16 13:17] #114 closed

[2015-10-16 13:18] gdi2290 commented on #113
done via https://github.com/angular/universal/commit/ad652047ff1cbcee0f8dcb30c98287cb818395bf https://github.com/angular/universal/commit/2dd05575c75290637b07cd0ee129aa87ebdc7b55 https://github.com/angular/universal/commit/e2e5105ee79a1b1ddf5768bf0b9a1ba70821ec88

[2015-10-16 13:18] #113 closed

[2015-10-16 13:20] gdi2290 commented on #71
we're going to push this back for when we have more time to work on it. closing for now

[2015-10-16 13:20] #71 closed

[2015-10-19 12:30] gdi2290 opened #115 "move server/client into universal folder"
we're planning on publishing modules with package.json in each folder `modules/` folder

[code]

[2015-10-19 16:45] gdi2290 opened #118 "remove requirement of input[type="text"] for preboot"

[2015-10-19 17:58] gdi2290 commented on #115
done via https://github.com/angular/universal/pull/116

[2015-10-19 17:58] gdi2290 commented on #111
done via https://github.com/angular/universal/pull/116

[2015-10-19 17:58] gdi2290 commented on #110
done via https://github.com/angular/universal/pull/116

[2015-10-19 17:58] gdi2290 commented on #105
done via https://github.com/angular/universal/pull/117

[2015-10-20 00:06] #115 closed

[2015-10-20 00:10] gdi2290 commented on #105
merged via https://github.com/angular/universal/commit/710dca739a28a179313d0db0697f6488c267326f

[2015-10-20 00:10] #105 closed

[2015-10-20 00:10] gdi2290 commented on #111
merged via https://github.com/angular/universal/pull/116

[2015-10-20 00:10] #111 closed

[2015-10-20 00:11] gdi2290 commented on #110
merged via #116

[2015-10-20 00:11] #110 closed

[2015-10-21 04:38] gdi2290 opened #119 "include lodash dependency for preboot"

[2015-10-22 18:26] jlmagee opened #122 "build error"
I'm sure I ought t be able to figure this out but cannot. Please advise.

[jlmagee@mnetjlm4 universal]$ gulp build
[14:22:09] Using gulpfile ~/webdev/universal/gulpfile.js
[14:22:09] Starting 'build.typescript.all'...
[14:22:09] Starting 'build.typescript.project'...

events.js:72
        throw er; // Unhandled 'error' event
              ^
Error: File not found with singular glob
    at Glob.<ano

[2015-10-30 18:37] jeffbcross commented on #118
What is the problem? I removed `type=text` from this line in universal starter example and it seems to work fine: https://github.com/angular/universal-starter/blob/9f15960f67e49f2151416cd7d18a9a05a7b3f019/src/app.ts#L8

[2015-10-30 18:46] gdi2290 commented on #118
this is for preboot to transfer over state in the `value` prop

[2015-10-30 18:47] gdi2290 commented on #118
preboot using `input[type="text"] ` to query the DOM and transfer over the state from the elements. @jeffwhelpley knows more about preboot than I do

[2015-10-30 19:37] jeffwhelpley commented on #118
Yeah, sorry, this is a small issue I will try to fix this weekend. It is just that the preboot selector for text boxes assumes it will be type="text". I need to add the use case where there is an input element without any type attribute (and thus uses the default which is text). This is needed to make sure data typed into `<input name="blah"></input>` is correctly replayed once the Angular client

[2015-10-30 20:29] gdi2290 commented on #100
some feedback
* AngularConnect:
  * “looks phenomenal” - [jvandemo](https://twitter.com/jvandemo/status/657496628232851456)
* Universal Survey
  * [Willing to use Universal in production](https://medium.com/@wassimchegham/angular-universal-aka-angular-server-rendering-survey-results-1038498c51e9#.7h44nbirc)
    * 30.7% yes
    * 4.7% no
    * 64.7% maybe

[2015-10-30 20:31] gdi2290 opened #123 "follow up with ASP.NET and merge fixes"
We need to merge the fixes for router-outlet

[2015-10-30 20:33] gdi2290 opened #124 "docs: Include component building guide"
There needs to be a list of best practices for universal component aka component that may run on the browser, server, or webworker.

[2015-10-30 20:39] gdi2290 opened #125 "Better development experience for the starter repo"
We need a great workflow for people developing universal components in our [universal-starter](https://github.com/angular/universal-starter) repo.

- [ ] livereload server
- [ ] livereload client

Currently the developer would have to maintain two processes one to build the client files and the other for the server (assuming they use typescript). For the server we're currently using [`ts-node`](ht

[2015-10-30 20:43] gdi2290 opened #126 "docs: show how to convert a widget to a universal component"
We need to show a developer how to convert a widget (any jQuery widget) into a Universal Component.

[2015-10-30 20:47] gdi2290 opened #127 "fix: problems with cjs sourcemaps in npm dist"
There seems to be a problem with the sourcemaps which can cause confusing when using the node-inspector. When an error shows up in the terminal the files referenced for js built files and in the console when using node-inspector they throw an error when not correctly filing the ts files

related https://github.com/angular/angular/issues/4701

[2015-10-30 20:55] gdi2290 opened #128 "docs: add guides for node profiling and debugging"
This is more of a problem with Node.js than it is an Angular problem. We need to either direct people places where they can learn about profiling their node app or create a guide for it. I'm assuming this may also be a problem with WebWorkers

[2015-10-30 21:04] gdi2290 opened #129 "consider pure di option"
it would be great if the developer could mark services/components/etc as stateless so that the di doesn't have to recreate the instance on each request/response cycle.
[code]

at the same time it might be interesting to specify the default configuration for the service rather than the angular compiler setting the default to `useClass` (too bad classes don't hoist)

[code]

[2015-10-30 21:26] jeffbcross opened #130 "perf(bootstrap): create application prior to req/res lifecycle on server"
To reduce the work that needs to be done in the context of each request, a design should be considered where an application may be partially bootstrapped. Only platform injectors should be bootstrapped.

[2015-10-30 21:29] jeffbcross opened #131 "refactor(middleware): create generic middleware without using Express views"
This would allow developers to use the middleware with other backend frameworks without being tied to Express.

[2015-10-30 21:31] #22 closed

[2015-10-30 21:31] jeffbcross commented on #22
Opened new issues #131 and #130 to capture some of the remaining enhancements.

[2015-10-30 22:15] gdi2290 opened #132 "refactor(ServerDomRenderer): convert [src] property changes to attributes src="""
we need to reflect src correct when changing properties where the dom would normally keep the two (prop/attr) synced

[2015-10-30 22:26] jeffbcross opened #133 "perf(benchmarks): set up basic benchmarks to test response time"
It would be sufficient for now to write simple scripts that measure response time from different sample apps.

Other benchmarks should be written to test the end-to-end performance of loading and rendering pages with different configurations.

[2015-10-30 22:30] gdi2290 commented on #133
:+1:
Tobias has been requesting this since the beginning lol

[2015-10-30 22:51] jeffbcross commented on #129
Closing so @gdi2290 can open this on angular/angular

[2015-10-30 22:51] #129 closed

[2015-10-30 22:54] jeffbcross commented on #123
@gdi2290 or @jeffwhelpley could one of you provide more context here? Has this been fixed upsteam?

[2015-10-30 22:56] jeffbcross commented on #122
I can also reproduce this when running gulp build.

[2015-10-30 23:37] jeffbcross commented on #122
Found the issue, a source in the tsconfig.json didn't exist. Sending a PR

[2015-10-30 23:50] #122 closed

[2015-10-31 22:45] jeffbcross opened #135 "perf(benchmarks): create benchmark comparing rendering on server and client"
The goal is to determine differences in user-perceived render time, which can be referenced against common device and network capabilities to determine how the two approaches (pre-or-post-render) compare under different conditions.

There should be benchmarks of applications with different UI and data characteristics, comparing rendering just in the UI, and pre-rendering from the server. Over time

[2015-10-31 23:07] gdi2290 commented on #123
cc @SteveSanderson

[2015-11-01 21:36] jeffwhelpley commented on #123
Context is that Steve fixes some issues with the use of the Router on the server. I don't remember the specific issue.

[2015-11-01 23:35] mikeallisonJS commented on #100
So, my feedback so far.....

I'd definitely use it in production where I see a fit.
The difficulty of using other webpack modules along-side it is a problem for me long-term. I'm guessing the browserify dependency is the culprit there.

Overall, it's an amazing, working implementation that I hope gets the support to take off.
There's a 99% change my personal site will go live with it once angular2

[2015-11-02 01:57] gdi2290 commented on #100
@mikeallisonJS do you mind expanding more on your comment about webpack modules alongside it?

[2015-11-02 14:55] mikeallisonJS commented on #100
Specifically, using css-loaders, sass-loaders, raw-loaders, etc. to import into the bundle. It breaks the typescript app, which I'm not able to create as a bundle.

[2015-11-02 17:23] SteveSandersonMS commented on #123
I applied my changes in a fork here: https://github.com/SteveSandersonMS/universal/commits/master - do you want to have a look and see which of them are applicable to recreate in the original repo? These changes are based on a pretty recent version of angular-universal.

Details:
 * `efca97` is a rough sketch of integrating with Angular's current `http` APIs and is sufficient to make my current pr

[2015-11-04 22:32] gdi2290 commented on #119
done via https://github.com/angular/universal/commit/331626b3bc9cd37296f08c4d08c7c59c2d63ac60

[2015-11-04 22:32] #119 closed

[2015-11-05 17:41] #132 closed

[2015-11-06 15:04] jeffwhelpley commented on #123
@gdi2290 if you can take a look at Steve's changes before our meeting today so we can figure out which can be pulled over here.

[2015-11-06 15:07] gdi2290 commented on #123
I merged all of them except the first one https://github.com/SteveSandersonMS/universal/commit/efca974046f9010c6d12efb9010e5fe5af1a14ee that I need to look into more

[2015-11-09 22:17] flyingmutant commented on #40
For Go, may I suggest going with raw `net/http` — which would be a solution that every Go project can use.

[2015-11-09 22:26] flyingmutant opened #139 "When exactly is application serialized on server?"
Let's say my page component does some HTTP API calls in constructor, and renders the responses after some light processing (so, the most common non-static page setup).

Will the API calls happen on client, on server, or on both? Do I have any control on when the server-side app is considered to be ready to be sent to the client?

[2015-11-10 01:01] gdi2290 commented on #139
we solved this, but it's not documented

[2015-11-10 08:42] flyingmutant commented on #139
Can you please link to the source code?

[2015-11-19 22:16] gdi2290 opened #142 "fix templateUrl using node http"
templateUrl uses XHR service

[2015-11-23 03:04] jeffwhelpley commented on #139
@flyingmutant You do not currently have control over this, but it is something that will be configurable in the future. For now, the server side runs through one tick:

https://github.com/angular/universal/blob/master/modules/universal/server/src/core/application_ref.ts#L253

This will cover the use case you mention where you are doing an HTTP call in the constructor of a component.

[2015-11-23 03:07] jeffwhelpley commented on #135
Should we merge #133 and #135?

[2015-11-23 09:46] flyingmutant commented on #139
Thanks! Will the call be repeated from the client? Or will constructors not run on the client?

[2015-11-23 11:04] jeffwhelpley commented on #139
By default out of the box, the exact same code is run twice. Of course, while the client is bootstrapping and making the second round of http calls, the user is already looking at the server rendered view.

Part of the configurations I mentioned we are in the process of adding, however, would allow you to optimize this process in different ways including caching database calls so they don't have t

[2015-11-23 11:20] flyingmutant commented on #139
Thanks again.

[2015-11-23 11:20] #139 closed

[2015-11-23 16:29] daslicht opened #143 "Starting a new Project"
Hi,
is it possible to start an Angular 2 App as client side only and later transform it as Universal App?
What do I need to be aware of ?
Or is it better to start as Universal App?

[2015-11-24 01:00] episodeyang commented on #143
I'm in the same boat. This is really badly needed on our part.

[2015-11-30 14:03] mcpDESIGNS commented on #143
If I'm not mistake I believe you could do that.
You would later set up your ng2engine view rendering in Node later on.

Everything still being in beta, I don't know how serious of a project I would make using Angular 2 just yet though since everything could change in the next few months, just be careful!

[2015-11-30 14:04] daslicht commented on #143
Yeah it's on hold here

[2015-11-30 14:04] #143 closed

[2015-11-30 14:04] daslicht commented on #143
jsblocks look more interesting to us atm

[2015-11-30 14:08] mcpDESIGNS commented on #142
@gdi2290 @jeffwhelpley Love what you guys are doing, great project/idea. I wasn't sure how to get in touch with you guys, but how could I join the team to start helping in contributing?

[2015-11-30 14:12] mcpDESIGNS commented on #143
Never seen that, looks pretty nice too! When are they releasing a production ready version, any idea?

[2015-11-30 14:15] daslicht commented on #143
no idea, the interesting part of this project is that it comes with serverside rendering out of the box.
Feel free to join the gitter chat :)

[2015-11-30 15:06] jeffwhelpley commented on #142
@mcpDESIGNS We would love some help! @gdi2290 and I are cleaning up the open issues this week, so we will have some specific stuff you can work on by the end of the week and will let you know. Thanks for reaching out!

[2015-11-30 16:31] mcpDESIGNS commented on #142
Great! Glad to help
I think making Angular 2 isomorphic is crucial, I'll contribute as much as I can !

Is there any documentation someplace I can read about how everything works & fits together so far?

[2015-11-30 16:57] jeffwhelpley commented on #142
The best intro right now is to watch the two talks we gave recently:

https://www.youtube.com/watch?v=0wvZ7gakqV4
https://www.youtube.com/watch?v=MtoHFDfi8FM

You can also read our origin design doc (though it is not 100% up to date):

https://docs.google.com/document/d/1q6g9UlmEZDXgrkY88AJZ6MUrUxcnwhBGS0EXbVlYicY/edit

[2015-11-30 18:03] mcpDESIGNS commented on #142
I was just reading through the docs, found you guys through the videos, great work!
Looks like I have plenty of reading to do then. Thanks and keep me in the loop!

[2015-12-02 14:53] tamascsaba commented on #125
Hy,

I use [ereqt](https://github.com/jsen-/ereqt/ ) or [tpyescript-require](https://github.com/theblacksmith/typescript-require) instead of ts-node.
* typescript-require is much quicker, but oldest and not maintain
* ereqt create cached modules with you can debug with VS or Webstrom (which editor has source map support debug)

[2015-12-03 01:52] #118 closed

[2015-12-03 01:57] jeffwhelpley commented on #100
We have created several other issues in the repo to address specific things we want to address. Closing this and if you have any other problems, just post a new issue.

[2015-12-03 01:57] #100 closed

[2015-12-03 02:05] jeffwhelpley commented on #72
See how this can be implemented using AST transformations.

[2015-12-03 02:19] #16 closed

[2015-12-03 13:53] jeffbcross commented on #127
There's been some recent work to fix sourcemaps in angular in the alpha 47 release, but I'm not sure if it fixed this particular issue. Can you see if you can still reproduce?

[2015-12-03 14:03] jeffbcross commented on #90
@gdi2290 I'm curious what happens now when `Native` is used.

[2015-12-03 14:08] jeffbcross commented on #133
Closing in favor of #135

[2015-12-03 14:08] #133 closed

[2015-12-03 15:50] jeffwhelpley opened #146 "Universal model"
We need an approach for model objects (i.e. schema + validation) that can be used in any environment (i.e. client, server, mobile, web worker, etc.) and with non-JS tech like .NET, Java, etc. This may not require any code, but just best practices for creating simple JSON like objects that can be easily serialized.

The one trick with this will be that since it must be easily serializable, we can't

[2015-12-03 15:54] jeffwhelpley opened #147 "VS.NET and VS Code IDE support"
This issue is to document and address changes that are needed to better support VS.NET and VS Code IDEs. Details to follow.

[2015-12-04 11:41] napsio commented on #146
Whats about https://github.com/json-schema/json-schema?

[2015-12-04 12:41] jeffwhelpley commented on #146
@napsio I have seen that project before but it seems like it is not active anymore. No updates since May 8th, no responses to issues posted, a bunch of pending PRs, etc. @fge @kriszyp what is the status of the json-schema project?

[2015-12-05 06:52] pokakhoaitay opened #149 "Is Angular Universal support MySQL?"
Hi team, Is Angular Universal support MySQL? If yes, where i shoud to learn about how to implement  it?
Thank you !

[2015-12-06 14:39] jeffwhelpley commented on #149
Angular Universal is back end agnostic. For example, let's say you use a particular node.js library to connect to your MySql database like [this one](https://github.com/felixge/node-mysql). You obviously would not use that on the front end. I would suggest you only use this library in your API on the back end and have both your web client and web server use http to call out to that same API. In th

[2015-12-06 14:39] #149 closed

[2015-12-08 08:16] pokakhoaitay commented on #149
Thank you so much for your useful information.

[2015-12-08 11:03] manekinekko opened #150 "chore(build): error TS2300: Duplicate identifier 'XXXXX'"
tsc is throwing so much TS2300 errors when running the build command (```build.typescript.all```).

here is a sample :
[code]

After some investigation, it seems it has something to do with this issue from typescript https://github.com/Microsoft/TypeScript/issues/1039. I am trying to find a fix.

[2015-12-08 15:46] tamascsaba commented on #54
Nice features :+1:

[2015-12-08 15:58] mcpDESIGNS commented on #54
Good call Pat :+1:

[2015-12-17 06:01] gdi2290 commented on #127
sourcemaps are fixed

[2015-12-17 06:01] #127 closed

[2015-12-20 13:03] wesleycho commented on #150
There is only one type of error throw left - the culprit is https://github.com/angular/angular/blob/3dca9d522a79d037b3c2deba537ed547fc3f65b8/modules/angular2/manual_typings/globals-es6.d.ts#L14

[2015-12-22 03:34] gdi2290 commented on #150
there are two node typings installed
https://github.com/angular/universal/blob/master/tsd.json#L8...L10

[2015-12-27 09:00] dbabaioff commented on #106
The preinstall script was removed here: https://github.com/angular/universal/commit/10f0c9059be507e4e30ec271455c4806285f4b6c

[2015-12-29 08:14] sandyjoshi opened #156 "update npm related package"
There is not related package on npm, using angular beta https://www.npmjs.com/package/angular2-universal-preview. if i am wrong then please give link of that package.

[2016-01-03 22:02] gdi2290 commented on #156
thanks, updating it now

[2016-01-03 22:20] gdi2290 opened #157 "update examples"
The scripts being loaded on the client for the examples aren't working. We're also moving away from bower to npm

* [x] remove bower
* [x] update examples with node_modules

[2016-01-04 06:31] gdi2290 commented on #156
the package has been updated [angular2-universal-preview](https://www.npmjs.com/package/angular2-universal-preview)but we need to remove the `preview`

[2016-01-04 06:31] #156 closed

[2016-01-04 06:32] gdi2290 commented on #150
this will be fixed with webpack and ts-loader

[2016-01-04 21:58] gdi2290 opened #158 "fix code path"
the code path for `angular2/src/platform/browser_common` includes `angular2/src/platform/browser/tools/common_tools` which imports global from `angular2/src/facade/browser`. This won't work

[2016-01-04 22:03] gdi2290 commented on #158
fixed via https://github.com/angular/universal/commit/bd73999804c1a164db8a16ffd3fdc6cdba35e31a

[2016-01-04 22:03] #158 closed

[2016-01-05 01:04] gdi2290 opened #159 "inline style casing problem"
the casing is wrong for styles rendered from the server that need to be reflected correctly via attribute

![screen shot 2016-01-04 at 5 01 11 pm](https://cloud.githubusercontent.com/assets/1016365/12104945/03613e68-b305-11e5-8653-6082e5180d8a.jpg)

client rendered
![screen shot 2016-01-04 at 5 00 53 pm](https://cloud.githubusercontent.com/assets/1016365/12104941/f98b3772-b304-11e5-9757-0bed010d03

[2016-01-05 01:10] gdi2290 opened #160 "enableProdMode on the server?"
On the server we're getting console logs for production and development so we need a way to expose `enableProdMode` as a flag for express render

[2016-01-05 01:19] gdi2290 commented on #159
it turns out the DOM can work with anything while parse5 needs to normalize the name styleName

[2016-01-05 01:58] gdi2290 commented on #159
fixed via https://github.com/angular/universal/commit/198b96b35b92042b85b5d0ed2cd4bd8c4a9ab3f6

[2016-01-05 01:58] #159 closed

[2016-01-05 18:29] gdi2290 commented on #92
done via https://github.com/angular/universal/commit/787d98c90dfdb713c1e80a97764c51424ade967b

[2016-01-05 18:29] #92 closed

[2016-01-06 20:39] gilamran opened #164 "clear build process"
Hi,
I'm trying to build your project and I'm getting too many errors... few examples:
* node.d.ts Duplicate identifier with the node.d.ts that comes with angular2 and the node.d.ts that you get from tsd.
* I'm always getting "modules/universal/server/src/render.ts(19,29): error TS2307: Cannot find module 'preboot'."

Can you gather the minimal information on how to build your project from 0? or ma

[2016-01-06 21:45] gdi2290 commented on #160
done via https://github.com/angular/universal/pull/162

[2016-01-06 21:45] #160 closed

[2016-01-07 00:19] gdi2290 commented on #164
The warnings are normal since it's a problem with Angular2 bundling node.js typings as well as node.js typings needed for the repo itself. The preboot module error is a problem with preboot not having a type definition which we need to write

[2016-01-07 00:19] gdi2290 commented on #164
@jeffwhelpley can you provide type info for `preboot`

[2016-01-07 00:24] gdi2290 commented on #142
@mcpDESIGNS are you still interested in adding this feature? what you need to do is replace `XHRImpl`
[modules/universal/server/src/platform/node.ts#L103...L104](https://github.com/angular/universal/blob/e7bdf86f04afd172bf4d9cb71db3764c13acacc3/modules/universal/server/src/platform/node.ts#L103...L104) with your own version `NodeImpl` that has the same interface as [modules/angular2/src/platform/b

[2016-01-07 09:51] jeffwhelpley commented on #164
Yeah, I can fix this. Also, I think I had a solution for the node dupe ts files, but I can't remember off the top of my head. I will look into both these things tonight and get back to you.

[2016-01-07 17:15] dbabaioff commented on #142
Fixed: https://github.com/angular/universal/pull/167

[2016-01-07 17:48] gdi2290 commented on #142
<img width="62" alt="merged" src="https://cloud.githubusercontent.com/assets/1016365/12177951/c1b0628e-b523-11e5-8dfa-d1e19e6f19a8.png">
via https://github.com/angular/universal/commit/8e3b2fae97f6fb3ab97c5e26ceb27f08902c8f4b

[2016-01-07 17:48] #142 closed

[2016-01-08 01:03] gdi2290 opened #168 "enableProdMode once"
we need to ensure enableProdMode happens only once

[2016-01-08 01:39] jeffwhelpley commented on #147
@SteveSanderson I opened this high level issue to track any changes that you think are needed in Angular Universal specifically for VS Code integration. I wasn't sure exactly what this would entail, though. If you get a chance, please let us know your thoughts.

[2016-01-08 03:13] mcpDESIGNS commented on #142
Oh shoot sorry just seeing this would of loved to of helped!
I'll talk with you guys tomorrow during the meetup, would be great to get caught up on the project @gdi2290

[2016-01-08 19:38] gdi2290 opened #169 "Universal 5 Min QuickStart"
It would be great to have a 5 minute quickstart writeup for Ng2Universal

[2016-01-08 20:23] gdi2290 opened #170 "add performance benchmarking"
We should make an Angular 2 example for an initial benchmark comparison from the community
1mb json and 1000 items
react:                  1250 ms
react prod opt:  650 ms
hogan:                450 ms
mustache:          30 ms
https://github.com/ndreckshage/react-boston-ssr

[2016-01-08 20:34] gdi2290 opened #171 "Make Slack room for Universal"
It would be great to switch to Universal rather than gitter

[2016-01-08 20:35] gdi2290 commented on #31
I'll work on switching the build system to webpack

[2016-01-08 20:38] wesleycho commented on #168
I could take a look at this

[2016-01-08 20:45] gdi2290 opened #172 "refactor NodeImpl into a separate file"
NodeImpl should live inside platform/

[2016-01-08 20:45] gdi2290 opened #173 "update to beta.1"

[2016-01-08 21:05] gdi2290 opened #174 "refactor ServerDomRenderer inside platform"
move into `modules/universal/server/platform/dom`

[2016-01-09 01:27] gdi2290 opened #176 "document server router and http"
document how to include router and http for the server

[2016-01-09 16:42] imthehell opened #177 "Jade Template Engine"
Hi guys,

is it possible to use Jade template engine with Angular Universal? If not, do you foreseen to include Jade template engine on future version of Angular Universal?

I have a big application developed with Nodejs + Express + Jade + Angularjs and I would like to upgrade to Angular 2  in order to take advantages of Server Side Rendering.

[2016-01-09 18:29] wesleycho commented on #171
This looks finished, probably could be closed now.

[2016-01-09 18:49] manekinekko commented on #171
@jeffwhelpley did you send the invitations ?

[2016-01-09 20:56] manekinekko commented on #150
any news about this issue? Do you need help?

[2016-01-09 21:52] jeffwhelpley commented on #171
OK, I have the slack room set up and I think I sent out the invites to everyone. I am going to close this issue, but if someone else wants to get invited you can either ping me here, on gitter or twitter.

[2016-01-09 21:52] #171 closed

[2016-01-09 22:02] jeffwhelpley commented on #177
Is your app open sourced  so I can see the code or can you let me somehow see it privately? I would be interested in seeing exactly how you are using your Jade templates today. The reason I am asking this is that my answer to you will largely depend on the way in which you use Jade today. In the simplest case, if you just have it generating your primer page for a single page app then there is some

[2016-01-09 22:44] imthehell commented on #177
Hi Jeff, thank you for your answer. Unfortunately I cannot show you the source code, since the app is a commercial app of the Company that I'm working for.

Anyway, I'm afraid that our case is the most complex one. Let me try to better explain the architecture.

We are using angular ui-router in order to load pages from the server. When a route is requested by the user, the server load data from t

[2016-01-10 06:06] gdi2290 commented on #150
when we switch to webpack we can ignore the warnings until the angular repo fixes it's typings

[2016-01-11 00:04] jeffbcross opened #180 "router-outlet causes error on server, does not render content"
Using `router-outlet` causes [this error](https://gist.github.com/jeffbcross/17b22435de4324d923ec) on the server with a simple component:

[code]
(See [full stacktrace](https://gist.github.com/jeffbcross/17b22435de4324d923ec))

The client routes correctly.

See [this branch](https://github.com/jeffbcross/universal-starter/tree/router-outlet) of universal-starter to reproduce.

FWIW I tried applyin

[2016-01-11 02:23] jeffwhelpley commented on #177
Ah, OK, I think I understand. So, first, realize that the Angular UI Router doesn't yet work with Angular 2. Nate Abele and crew are working on it, but I don't believe it is ready yet. You have to use the Angular 2 Component Router for now until they are ready.

That said, you can likely do something similar to what you are doing right now. The trick, however, is that you would need to use 2 diffe

[2016-01-11 08:22] imthehell commented on #177
Jeff, thank you for the advices, I will try as suggested and let you know.

Get rid of Jade was our first idea, but unfortunately it is not possible right now. There are too many Jade templates with logics inside it. Change all of them requires too much effort.

it would be beautiful if the universal.ng2engine could render also Jade templates.
Do you think could be possible to implement in the nea

[2016-01-11 08:31] gdi2290 commented on #177
adding jade support is easy mode ;)
[code]
[code]

[2016-01-11 16:41] dbabaioff opened #181 "(126,14): error TS4023: Exported variable 'NG_PRELOAD_CACHE_PROVIDERS' has or is using name 'Provider'"
I'm getting this error when trying to run:

[code]

[code]

[2016-01-11 20:20] imthehell commented on #177
Thank you! I will try asap your solution!

[2016-01-11 20:49] gdi2290 opened #182 "Prerender"
We need to be able to prerender snapshots of our Angular 2 app
* [x] gulp render as [`angular2-gulp-prerender`](https://www.npmjs.com/package/angular2-gulp-prerender) (@gdi2290)
* [x] grunt render https://github.com/angular/universal/pull/236 @manekinekko
* [x] webpack plugin https://github.com/angular/universal/pull/237 @manekinekko

[2016-01-11 20:52] gdi2290 opened #183 "Move ng2engine into modules/"
ng2engine should live in `modules/` now since the implementation shouldn't need to change after a refactor to remove ng2scripts

[2016-01-11 22:42] mcpDESIGNS commented on #164
Having the same issue as well (now that I finally got it to install everything)
Lots of duplicate identifier node.d.ts & the preboot.

Just a fyi :)

[2016-01-11 23:47] gdi2290 commented on #164
the duplicate identifier problem is with `angular2` requiring `node.js` and `browserify` requiring `node.js`

[2016-01-12 09:36] dbabaioff commented on #172
I can take this one.. @gdi2290 Can you clarify the issue?

[2016-01-12 14:47] jeffwhelpley opened #184 "Make sure Universal works with new UI Router"
Test out Angular Universal with the new UI Router and fix any bugs that come up:

https://github.com/angular-ui/ui-router/tree/feature-1.0

[2016-01-12 15:25] wallaceferreira opened #185 "Cannot run project"
Hi

I've been trying to run the universal project but I'm unable to make it work. I'm not sure if it's some missing configuration or other issue.

That's what I've done:

1) Cloning the repo:  **git clone https://github.com/angular/universal.git**
2) Installing via npm: **npm install**
3) Running: **npm run serve**

Steps 1) and 2) work just fine. However,  the process fails at step 3 with this er

[2016-01-12 15:49] christopherthielen commented on #184
`feature-1.0` branch is not ng2... I've got a plunker with the current ng2 prototype though: http://plnkr.co/edit/PF69BVa1WnUYZKkURgMm

[2016-01-12 16:01] jeffwhelpley commented on #184
Gotcha. Thanks for the info, @christopherthielen. I am going to leave this open and it would be cool if you let us know when the ng2 adapter is ready. We can make sure it works with Angular Universal.

[2016-01-12 17:30] gdi2290 commented on #172
@dbabaioff  can you move NodeImpl into a separate file next to node.ts as xhr_node_impl.ts and rename it as XhrNodeImpl

[2016-01-12 18:47] mcpDESIGNS commented on #185
Duplicate of #164

[2016-01-13 00:00] alexpods commented on #168
We can't set [`_modeLocked`](https://github.com/angular/angular/blob/2.0.0-beta.1/modules/angular2/src/facade/lang.ts#L50) flag to `false` after it was set to `true` (at least now).
Also `enableProdMode` doesn't have any sense for render engine. It's dynamic option. What should we do if user passes `true` for one request and `false` for another?

I think we should just revert [this commit](https:/

[2016-01-13 00:06] gdi2290 commented on #168
@alexpods has a good point, there is no reason for us to configure it. If someone can make a pull-request to revert it then that would be awesome.

[2016-01-13 00:23] alexpods commented on #168
@gdi2290 Done #186

[2016-01-13 00:30] gdi2290 commented on #168
@wesleycho if you're working on this we decided not to include prod mode as an option

[2016-01-13 00:32] #168 closed

[2016-01-13 00:35] wesleycho commented on #168
Didn't get a chance to look into it yet, so sounds good to me :)

[2016-01-14 10:40] jeffwhelpley opened #188 "Update universal type definition"
Right now the type definition file only contains three values:

https://github.com/angular/universal/blob/master/modules/universal/universal.d.ts

Add more of what is actually exposed from the library:

https://github.com/angular/universal/blob/master/modules/universal/server/server.ts

For example, the server-side version of HTTP_PROVIDERS.

[2016-01-14 10:41] jeffwhelpley opened #189 "Update universal and starter to Angular 2 Beta 1"
And, obviously update dependencies like rxjs, etc.

[2016-01-14 14:20] gilamran commented on #164
The TypeScript node.d.ts issues are not showstoppers, but the preboot missing module is something that I can't even run the project without... it's not definitions missing, I can't run the project. when I run `gulp serve` I get:

`
Error: Cannot find module 'preboot'
    at Function.Module._resolveFilename (module.js:326:15)
    at Function.Module._load (module.js:277:25)
    at Module.require (mo

[2016-01-14 14:52] wesleycho commented on #164
FWIW, there is https://github.com/angular/universal-starter for a starter pack - the preboot issue does need to be fixed though.

[2016-01-14 18:55] gilamran commented on #164
@wesleycho thanks that will help, but I'm asking this because I wanted to become a contributor... Without the ability to compile/understand what's going on. no one can...

[2016-01-14 18:57] mcpDESIGNS commented on #164
@gilamran I believe @jeffwhelpley is working on creating something to fix the `Cannot find module 'preboot'.` issues.

I'm sure soon enough we'll be able to contribute!

[2016-01-14 19:13] jeffwhelpley commented on #164
yes, that is literally the next thing on my list that I am trying to get to today. will provide update later tonight.

[2016-01-14 23:17] gdi2290 opened #190 "switch preboot from browserify to rollup.js"
Refactor client code bunding (used for preboot code generation) as a module under `modules/` we need this for pre-rendering. We can also rethink how it's done via webpack after the initial refactor

[2016-01-14 23:26] gdi2290 opened #191 "Refactor universal folder structure"
currently
[code]
which should be
[code]

[2016-01-14 23:28] gdi2290 commented on #185
The second issue is a problem with our refactor to move package.json into each sub-project (including universal/) rather than merging all build systems. The first issue is a dup of #164 so I'll close this for the other one and update our build system

[2016-01-14 23:28] #185 closed

[2016-01-14 23:29] gdi2290 commented on #177
@imthehell I'm going to close this issue. Currently, we have a problem with router-outlet but otherwise that solution should work for jade

[2016-01-14 23:29] #177 closed

[2016-01-14 23:31] gdi2290 commented on #125
I removed ts-node in favor for webpack for both client/server. The only other problem is live reloading both client/server.

[2016-01-14 23:31] #125 closed

[2016-01-14 23:38] gdi2290 opened #192 "document how to swap files per environment at build-time"
during a build for something like webpack you're able to swap files per environment (browser/server)

spec: https://github.com/defunctzombie/package-browser-field-spec

webpack: support diffrent packages https://github.com/webpack/webpack/issues/151
systemjs: only supports browser https://github.com/systemjs/systemjs/issues/860
browserify: only supports browser (they created the field)

[2016-01-14 23:52] gdi2290 commented on #188
a couple of types were added
[code]

[2016-01-14 23:52] #188 closed

[2016-01-14 23:55] gdi2290 opened #193 "remove server-patch. Create polyfills module"
we should create our own context and patch that environment or allow the developer to include their own polyfills

[2016-01-15 00:52] gdi2290 opened #194 "Refactor repo folder structure"
Every module (within `modules/`) should own their own build tools etc. The `examples/` should also live at the top level and we require the other modules either by alias from build tool or npm file map. Shared build tool should also live in `modules/` or `build/`.

[2016-01-15 02:42] #189 closed

[2016-01-15 02:42] jeffwhelpley commented on #189
Dupe of #173

[2016-01-15 04:03] gdi2290 commented on #191
the file paths need to be consistent for browser field metadata spec https://github.com/defunctzombie/package-browser-field-spec and `examples/` folder

[2016-01-15 04:09] gdi2290 commented on #25
we can just close this for now since it's experimental

[2016-01-15 04:09] #25 closed

[2016-01-15 04:17] gdi2290 commented on #128
We might be able to leverage n|sold from NodeSource (cc @dshaw) for better profiling of node/debugging applications. They also have a node installer we may also want to consider directing people to their installer for most users who are just starting out with node.js for universal

[2016-01-15 05:45] gdi2290 commented on #157
done via https://github.com/angular/universal/commit/26f313358865c41c11421ba6097b0f975e2a8f58

[2016-01-15 05:45] #157 closed

[2016-01-15 05:58] gdi2290 commented on #174
done via https://github.com/angular/universal/commit/2b67cb8713052a0978bd6f74f4b6333a6d952d10

[2016-01-15 05:58] #174 closed

[2016-01-15 06:03] gdi2290 commented on #172
done via https://github.com/angular/universal/commit/287b293dbdab13553cbbbcf2e76220d32f75795f

[2016-01-15 06:03] #172 closed

[2016-01-15 06:07] gdi2290 commented on #61
closing for now since it's experimental and needs more research

[2016-01-15 06:07] #61 closed

[2016-01-16 15:56] 0xR opened #196 "Issues trying out the examples"
I really like this project and I want to try it out. However, I'm running into a couple of issues doing that.

1. there is no documentation on how to run the examples
2. `grulp serve` results in the error `Error: Cannot find module 'preboot'`. After  `npm i preboot` I get this error: `ReferenceError: window is not defined` at `somedir/angular-universal/node_modules/angular2/src/facade/browser.js:4

[2016-01-16 17:58] manekinekko commented on #173
When upgrading Angular to beta1, NPM complains about some version mismatches raised by `angular2-universal-preview` (EPEERINVALID).

[code]

[2016-01-16 22:57] manekinekko commented on #196
Hi @0xR, fixing point [2] is on my list right now.

We are also aware of point [3], see this issue https://github.com/angular/universal/issues/150.
We are also working on a 5 min quick start documentation https://github.com/angular/universal/issues/169. We are also working hard to improve the developer experience, so please stay tuned.

[2016-01-16 23:55] alexpods commented on #180
@jeffbcross @jeffwhelpley @gdi2290

The cause of the error is:
1. An injector creates `RootRouter`
2. `RouterRouter` calls `navigateToUrl` [here](https://github.com/angular/angular/blob/master/modules/angular2/src/router/router.ts#L462)
3. `appRef.dispose()` is called in `renderToString` [here](https://github.com/angular/universal/blob/master/modules/universal/server/src/render.ts#L76).  (the `htm

[2016-01-18 04:08] jeffwhelpley commented on #164
These issues should be fixed with my latest PR.

[2016-01-18 04:08] #164 closed

[2016-01-18 07:32] gdi2290 commented on #180
@alexpods that makes a lot more sense now :+1: The problem is that there's async code we're not keeping track of since it's triggered during the construction of the RootRouter. It might be a good idea for the Router to provide a token for us to resolve on the initial route otherwise we have to resort to `zone.js`. It might also be a good idea for us to provide a token that other integrations can h

[2016-01-18 07:32] #180 closed

[2016-01-18 21:40] jeffwhelpley commented on #190
I get the request to move from browserify to webpack, but what exactly are you suggestion should be a separate module? What is the issue that is prompting this?

[2016-01-18 21:41] jeffwhelpley commented on #147
Unclear what is needed here. Closing for now. We can re-open if we identify exactly what is needed for better VS.NET support.

[2016-01-18 21:41] #147 closed

[2016-01-18 21:42] jeffwhelpley commented on #123
@gdi2290 can we close this out with the router-outlet fix you put in yesterday?

[2016-01-18 22:13] manekinekko commented on #196
Hi @0xR can you update your project and test again? @gdi2290 has fixed many issues. If you get TypeScript error `error TS2300: Duplicate identifier` just ignore them.

[2016-01-18 22:20] manekinekko commented on #181
Hi @dbabaioff is there any reason you're using this command?

--> `tsc -p ./node_modules/angular2-universal-preview`

Are you trying to build the project? or are you seeking something else?

[2016-01-18 22:27] manekinekko commented on #128
We can also suggest using VCode, which has a straightforward debugger for node.
![image](https://cloud.githubusercontent.com/assets/1699357/12404310/9f865fa4-be3a-11e5-96f7-4464d13b2697.png)

[2016-01-18 22:53] gdi2290 commented on #196
There are still type errors/warnings because we just have too many overlapping type definitions. If you want to get started with Universal Angular 2 you can check out the starter repo https://github.com/angular/universal-starter or contribute in the universal folder https://github.com/angular/universal/tree/master/modules/universal
I will close this issue but feel free to open another one or comme

[2016-01-18 22:53] #196 closed

[2016-01-18 22:54] gdi2290 commented on #123
yup

[2016-01-18 22:54] #123 closed

[2016-01-18 22:55] gdi2290 commented on #128
VCode is a good idea and it also has great typescript support

[2016-01-19 05:06] mohammedzamakhan opened #201 "Delay some content load for client side"
Sometimes the developer would want things like ads, or comments section to load progressively on the browser so that the page load faster. So if this has to be done with server renderering, how could this be achieved with angular universal?

[2016-01-19 05:17] #62 closed

[2016-01-19 08:41] alexpods opened #202 "feat(router): support for different urls"
Current implementation of `ServerLocationStrategy` doesn't support different urls. So the server renders default home page even if user requests page with `/some/other/url`. To solve this problem in my project I've implemented `ServerPathLocation`. Look at it [here](https://github.com/alexpods/angular2-universal-starter/blob/master/src/server/.universal/router.ts#L8) and if you like it I can creat

[2016-01-19 09:02] alexpods commented on #180
@gdi2290 I can't promise, but I'll try my best to attend it. Friday at noon PST right?

[2016-01-19 10:02] jeffwhelpley commented on #180
Yep, will send out invite tomorrow.

[2016-01-19 14:20] manekinekko commented on #202
Hi @alexpods I think you should definitely create a PR.

[2016-01-19 15:53] dbabaioff commented on #181
I was trying to build the universal module inside my [universal seed project](https://github.com/dbabaioff/ng2-universal-seed).

[2016-01-19 17:42] wesleycho commented on #183
Where is this located currently?

[2016-01-19 18:33] wesleycho commented on #54
For the submit event on the server, what would be necessary for that option? Would it be desired to plug in routing the action URI, or the user configuring the URI used for the action attribute?

Also what are the thoughts on how to determine if markup only is to be sent down? That seems like a problem perhaps separate from this in particular, and may be a larger issue than just involving forms.

[2016-01-19 18:43] gdi2290 commented on #183
https://github.com/angular/universal/blob/master/modules/universal/server/src/express/engine.ts

[2016-01-19 18:54] wesleycho commented on #183
Should the ng2scripts refactor happen first? Currently the engine depends on it.

[2016-01-19 21:00] manekinekko commented on #181
In order to build universal, you just need to npm install and then gulp build.

[2016-01-19 21:33] gdi2290 commented on #202
:+1: @alexpods it would be awesome if you could make a PR

[2016-01-19 21:41] valorkin opened #203 "docs(readme): DOM vs DomAdapters vs Renderer"
Would be good to have in Style Guide note about interacting with DOM or any other native elements
Trying to avoid using BrowserDomAdapter and use Renderer instead

//cc @gdi2290

[2016-01-19 22:59] wesleycho commented on #72
What is meant by supporting TypeScript/Babel/CoffeeScript script tags?

[2016-01-19 23:02] wesleycho commented on #201
I would think that one would do this by rendering that particular component purely on the client.

[2016-01-20 00:25] gdi2290 opened #205 "Manually delete Angular2 typings"
rather than dealing with the typings within Angular 2 I rather delete them and manage the types so we don't have to ignore all the duplication warnings

[2016-01-20 02:19] gdi2290 opened #206 "switch to `typings`. `tsd` is deprecated"
`tsd` is deprecated and we should switch to `typings`

[2016-01-20 07:49] gdi2290 commented on #90
fixed via https://github.com/angular/universal/commit/5d272bab1738d90326f2675a2847e1045c440d62#diff-219141a380d37405732141ba0a4c10c3R47

[2016-01-20 07:49] #90 closed

[2016-01-20 09:01] gdi2290 commented on #173
done via https://github.com/angular/universal/commit/5d272bab1738d90326f2675a2847e1045c440d62

[2016-01-20 09:01] #173 closed

[2016-01-20 13:15] manekinekko commented on #173
great. thx :)

[2016-01-20 14:11] manekinekko commented on #106
@gdi2290 `npm install` works fine on Windows.

However when trying to `tsc`, things blow up but this is not related to the OS. I have the same on Mac. It has to do again with some missing modules. I thought Jeff had fixed this issue? is this a regression?

![image](https://cloud.githubusercontent.com/assets/1699357/12451149/f4da91ac-bf87-11e5-9b04-a9ad7eec4bf3.png)

[2016-01-20 15:59] gdi2290 commented on #106
The problem might be ` || true` for windows

[2016-01-21 05:13] thomasjosephgreco commented on #169
@gdi2290 I can definitely put something together for this and would love to help out. I just got up and running with universal so i'm going to be poking around a bit taking note of different things.

Do you think it would be solid if I provided a basic tutorial on using gulp and explained a little bit about the file structure and addition technologies being used?

[2016-01-21 18:15] jeffbcross opened #208 "Remove angular2 dependency from modules/universal/package.json"
It is in both `peerDependencies` and `dependencies`, should just be `peerDependencies`.

https://github.com/angular/universal/blob/master/modules/universal/package.json#L30...L47

[2016-01-22 19:49] manekinekko commented on #193
@gdi2290 please assign this one to me ;)

[2016-01-22 20:11] gdi2290 opened #209 "include readthesource video about Universal"
include this video https://youtu.be/qOjtFjXoebY in the readme just as the other ones are

[2016-01-22 20:14] gdi2290 commented on #209
@QuinntyneBrown will take this one

[2016-01-22 20:21] gdi2290 commented on #202
@alexpods what's the status on this PR?

[2016-01-22 20:46] alexpods commented on #202
@gdi2290 I'm sorry, I was kinda busy these days. I'll do PR tomorrow morning (now midnight in Moscow, so in 12 hours PR will be done).

[2016-01-22 21:12] gdi2290 commented on #202
thanks!

[2016-01-23 06:08] gdi2290 opened #213 "remove `angular2-` prefix in modules/"
folders in `modules/` should not have the `angular2-` prefix folder name

[2016-01-23 06:45] gdi2290 opened #214 "rename server to node"
to match the platform pattern everything namespaced server should be called node

[2016-01-23 06:48] gdi2290 commented on #209
done via https://github.com/angular/universal/commit/744dbe75a91b41a2fec23affadd349283616498d

[2016-01-23 06:48] #209 closed

[2016-01-23 07:03] NathanWalker commented on #206
If this is still open by Sunday, I'll help get this out of the way using your guide...
https://github.com/angular/answers-app/pull/27/files
:)

[2016-01-23 07:05] NathanWalker commented on #205
Could help here if you don't get to it in next 2 days; are you thinking gulp task?

[2016-01-23 07:20] gdi2290 commented on #183
done via https://github.com/angular/universal/pull/204 and merged via https://github.com/angular/universal/commit/bdbe32a5ac402ef60a11a9a81f7255cbafb2f216

[2016-01-23 07:20] #183 closed

[2016-01-23 07:21] #208 closed

[2016-01-23 07:53] gdi2290 opened #216 "rename client to browser for universal"
client should be called browser

[2016-01-23 07:55] gdi2290 opened #217 "rename client to browser for preboot"
client should be named browser

[2016-01-23 22:23] manekinekko commented on #203
We could link to these two docs:
- Best Practices in the Universal readme: https://github.com/angular/universal#best-practices)
- The Web Worker documentation:  https://github.com/angular/angular/blob/eda6a5d52aa352825308f3345c41474c07f41b44/modules/angular2/docs/web_workers/web_workers.md#writing-webworker-compatible-components

[2016-01-25 01:01] NathanWalker commented on #206
@gdi2290  Ok I got through the `typings` upgrade on the angular2-seed repo (thx for all your help) and if you haven't started on this yet, I can start into upgrading here?

[2016-01-25 01:23] gdi2290 commented on #206
this repo might be more advanced since we're dealing with many modules

[2016-01-25 01:31] NathanWalker commented on #206
I was looking at that. Since you're more familiar, you will be better at this for sure. I'll look for other issues this week I can assist on.

[2016-01-25 17:33] gdi2290 commented on #217
done via https://github.com/angular/universal/pull/221

[2016-01-25 17:33] #217 closed

[2016-01-26 21:02] jeffwhelpley opened #226 "docs: getting started guide"
This should be the very first thing anyone reads and it should be crazy simple. If it isn't, we have work to do to refine the API. This guide should include the following:

1. First a quickstart for building a simple hello, world universal app from scratch
1. Take existing client only Angular 2 app and make it universal
1. Best practices/guidelines in general when you are writing code to make it u

[2016-01-26 21:26] jeffwhelpley commented on #201
Wesley is correct. The solution is to only have a particular component render on the client and not the server. We will eventually have a decorator that you can use on the component to specify client-only, but for now you can use the "browser" field in your package.json to give webpack (or whatever bundler you use) hints for how to replace one component with another.

https://github.com/defunctzom

[2016-01-26 21:26] #201 closed

[2016-01-27 19:50] sumpton commented on #226
We would love any help. We also appreciate all the work that has gone into Universal and Angular.

We have a lot of Angular 1 in a large project nearing beta. We are wondering what we should be doing. We now see our existing code needs to be replaced and are, of course, considering React, in addition to Angular 2. We are a bit fearful of committing to Angular 2 at this time.

Universal is a big dr

[2016-01-29 11:08] malfborger commented on #31
what's the status here @gdi2290 ?

[2016-01-29 20:43] gdi2290 opened #231 "refactor preboot build and karma tasks"
at the moment I removed them from our build system until we include typings or update the build process

[2016-01-29 22:29] gdi2290 commented on #150
fixed with refactored build system. I'm also deleting the angular2 typings during install. We will also switch to typings to ensure the warnings we see are correct ones

[2016-01-29 22:29] #150 closed

[2016-01-29 22:30] gdi2290 commented on #205
done via https://github.com/angular/universal/commit/63761877be1dd479e64b772ff0e389b6df9a11f7

[2016-01-29 22:30] #205 closed

[2016-01-29 22:39] gdi2290 commented on #181
the repo shouldn't be built as a dependacy since it's more than one module within the repo. `NG_PRELOAD_CACHE_PROVIDERS` shouldn't be used since it's not working at the moment but I'll refactor it to make it so

[2016-01-29 22:39] #181 closed

[2016-01-29 22:44] gdi2290 commented on #106
fixed via https://github.com/angular/universal/commit/b5b8d95b224691ed1f10869c8d4f4d0bb2296d8d

[2016-01-29 22:44] #106 closed

[2016-01-29 22:46] gdi2290 commented on #31
@malfborger I've been avoiding it until we have a better build system and our type definitions are fixed. At the moment we're still using typescript to compile the modules

[2016-01-30 00:15] gdi2290 commented on #231
fixed via https://github.com/angular/universal/commit/5a28c935d8eeabac8ceb6d27f6ac3a97d58d48f6

[2016-01-30 00:15] #231 closed

[2016-01-30 05:07] gdi2290 commented on #182
gulp is done

[2016-01-30 05:18] gdi2290 opened #232 "update angular2-gulp-prerender to typescript"
angular2-gulp-prerender is written us js but it really should be in typescript

[2016-01-31 07:41] alexpods opened #238 "DOCUMENT provider refactoring"
Currently provider for `DOCUMENT` requires `appComponentType` (see it [here](https://github.com/angular/universal/blob/master/modules/universal/server/src/platform/node.ts#L73)). It looks very strange to me, because we provide `appComponentType` only on bootstrapping phase, not when we're creating an application. Also this provider creates **mock** document which makes it very difficult to impleme

[2016-01-31 08:10] gdi2290 commented on #238
We probably should add you to the repo since you understand what's going on. We need to support both ways of creating the document but your implementation is solid. We should probably megre your changes. There are a couple of things we need to sync up on

[2016-02-01 03:13] jeffwhelpley commented on #238
+1 on adding @alexpods with full access to repo. The only thing I wonder about with this particular issue is whether there will be any perf hit for using the parse 5 HTML object as opposed to our own implementation. I do think we should go with Alex's suggestion regardless to see what happens.

Btw, this touches on the meta tag service that is in another issue. We should all brainstorm on how we w

[2016-02-01 07:13] gdi2290 commented on #49
@manekinekko do you think you can do the ` Hapi.js` version?

[2016-02-01 21:17] gdi2290 opened #239 "getBrowserCodeStream eats up errors"
wrapping `getBrowserCodeStream` with a try catch I was able to detect that an error was being thrown when I provided an invalid preset

`Invalid preset: keydown`

[2016-02-01 22:02] manekinekko commented on #49
@gdi2290 yep, I can try this one ;)

[2016-02-01 22:05] gdi2290 commented on #49
@manekinekko hold off on `koa.js` since generators in typescript isn't fun (only compiles to es6) but if you can do `Hapi.js` that would be awesome

[2016-02-01 23:10] gdi2290 opened #240 "allow server to render hash links for RouterLink"

[2016-02-01 23:11] #240 closed

[2016-02-02 00:51] gdi2290 opened #241 "preboot without buffer"
Currently the code paths for preboot assumes there is a buffer app on the page. We need preboot to replay events on a prerendered view without the buffer

[2016-02-02 07:37] #241 closed

[2016-02-02 07:42] gdi2290 commented on #238
@alexpods can you open a pull-request?

[2016-02-02 08:26] alexpods commented on #238
@gdi2290 Yes, sure. Right now I'm busy, but later today PR will be done (right now 11:30 AM in Moscow).

@jeffwhelpley My benchmark shows that there's no performance regression (at least with a small app). But we definitely should optimize performance  as much as we can. And we should start with reusing the same services for different requests. For example reusing already created ProtoView's can g

[2016-02-02 08:56] alexpods commented on #202
@gdi2290 I think we can close this issue since #218 was merged.

[2016-02-02 15:15] jeffwhelpley commented on #226
So, regarding Dust.js or any other server side template system, you basically have two choices:

1. Only use Angular templates everywhere. With Universal there is no need for additional server side template engines, so you can just get rid of Dust.js altogether.
1. If you need/want to re-use your existing templates, you can still use another server template engine, but you basically will then be h

[2016-02-02 15:45] #202 closed

[2016-02-02 16:10] sumpton commented on #226
Thank you for the clear response. We reached the same conclusion and have made the jump to Angular exclusively. Yesterday, we started refactoring a lot of Dust and Angular 1, and appreciate your validation.

It took us a lot future guessing to not switch to React now, as it seems a safer bet. But we are drawn to the richness 2, and also the smaller, simpler, faster to develop and easier to maintai

[2016-02-02 23:33] gdi2290 commented on #135
@alexpods can you also get benchpress setup for the repo

[2016-02-03 07:20] gdi2290 opened #245 "replay 'input' and 'change' events during preboot"
when binding to the `(input)` event the events being played back are. I think the change event probably needs to be replayed too

[2016-02-03 20:39] gdi2290 opened #246 "update Angular 2 beta.3"

[2016-02-03 22:11] gdi2290 opened #247 "Angular 2 Universal production ready"
- [ ] allow templateUrl or styleUrls to work https://github.com/angular/universal/issues/294
- [ ] allow better SystemJS support by tracking `System.import` https://github.com/angular/universal/issues/283
- [ ] create Universal localStorage module https://github.com/angular/universal/issues/272
- [ ] create Universal cookies module https://github.com/angular/universal/issues/273
- [ ] create Unive

[2016-02-03 23:07] gdi2290 commented on #246
done via https://github.com/angular/universal/pull/248

[2016-02-03 23:07] #246 closed

[2016-02-04 00:47] gdi2290 opened #249 "rethink angular2-webpack-prerender"
We probably should rethink the API for this. cc @manekinekko

[2016-02-04 05:04] vishalmanchanda opened #250 "Restful"
I want to use server side rendering over a restful interface -Is there a sample for that or if you can let us know how to approach this? Looking for angular HTML and json to be sent to server over restful and get the plain html after server rendering.

[2016-02-05 00:41] Munhoziii opened #251 "Beautify markup please"
Beautify pre-rendered application. Currently markup is questionable.

<img width="476" alt="screen shot 2016-02-04 at 4 41 21 pm" src="https://cloud.githubusercontent.com/assets/6660156/12834679/2c23bc7e-cb5e-11e5-842a-41f76ae8ef70.png">

[2016-02-05 18:22] simb commented on #146
Perhaps the specification for JSON API could be helpful in determining a format. Not sure about validations though. http://jsonapi.org/

[2016-02-05 18:25] simb commented on #176
Did anything ever happen with this? I am trying to sort out how to get http wired in. My XMLHttpRequest is not available.  Not sure what the right path for getting http included in the universal is.  Or if that is even the right path.

[2016-02-05 21:20] gdi2290 commented on #232
done via https://github.com/angular/universal/issues/234

[2016-02-05 21:20] #232 closed

[2016-02-05 22:40] robwormald commented on #247
worth considering starting to use npm scoped packages here:
`@angular2/universal`

[2016-02-05 22:54] simb commented on #182
It looks like all three of the chores for this task are completed.

[2016-02-05 23:58] gdi2290 commented on #182
@simb you're right thanks! done via https://github.com/angular/universal/pull/236 https://github.com/angular/universal/pull/237 https://github.com/angular/universal/pull/234

[2016-02-05 23:58] #182 closed

[2016-02-05 23:58] gdi2290 commented on #247
yup that would be legit

[2016-02-06 00:01] gdi2290 commented on #85
will be done via [answers-app](https://github.com/angular/answers-app)

[2016-02-06 00:01] #85 closed

[2016-02-06 00:03] gdi2290 commented on #170
@alexpods you asked about this during the meeting. It would be great if you can take this on with your starter

[2016-02-06 07:20] gdi2290 opened #252 "document the difference between tasks, microtasks, queues and schedulers"
It turns out this is pretty important for developers who debugging universal apps on the server. We don't have to go deep only a brief guideline

[2016-02-06 08:39] alexpods commented on #170
@gdi2290 Yeah, I take this one.

[2016-02-06 08:49] alexpods commented on #252
@gdi2290 Maybe we should just give a link on [this article](https://jakearchibald.com/2015/tasks-microtasks-queues-and-schedules/)?

[2016-02-06 08:54] alexpods commented on #252
For more advanced developers: [part from ES6/2015 specification](http://www.ecma-international.org/ecma-262/6.0/#sec-jobs-and-job-queues)

[2016-02-06 11:43] manekinekko commented on #249
@gdi2290 could we spec out the new API?

[2016-02-07 02:37] jeffwhelpley opened #254 "build angular.io on ng2 + universal"
Using this to track building angular.io with ng2 + universal

[2016-02-07 02:38] jeffwhelpley opened #255 "build angularair.com on ng2 + universal"
This issue is used to track the building of angularair.com on ng2 + universal

[2016-02-07 02:41] jeffwhelpley opened #256 "comparison react server rendering to angular 2 universal rendering"
Create a semi-complicated app in both React and Angular 2. Then track performance metrics for server rendering with each solution. Metrics should include rendering time with a single user and under heavy load.

[2016-02-07 03:01] jeffwhelpley commented on #255
We want to have some open source showcase apps and this will be one of them. While Patrick will take the pre-rendering approach with angular.io, we will use the runtime server rendering approach with angularair.com.

[2016-02-07 03:08] gdi2290 commented on #255
for angularair.com we probably should stick with pre-rendering too

[2016-02-07 03:11] jeffwhelpley commented on #252
I am going to start to consolidate all documentation here for now:

https://docs.google.com/document/d/1Qem6PJ1EO5tYpGxfpj5w-4kuykW072GCrC3FmWI3_yY/edit?usp=sharing

I am working with Ward Bell to get everything to angular.io. Closing this for now, but this will be included in our official docs.

[2016-02-07 03:11] #252 closed

[2016-02-07 03:16] jeffwhelpley commented on #251
@gdi2290 I am not familiar with this. What specifically needs to be changed here?

[2016-02-07 03:17] jeffwhelpley commented on #250
This is a good example:

https://github.com/angular/universal-starter

Try it out and let us know if you have any questions.

[2016-02-07 03:17] #250 closed

[2016-02-07 03:19] jeffwhelpley opened #257 "make preboot smaller"
Currently preboot is ~10k (depending on which options are chosen). We should be able to get this down to ~2K with some effort.

[2016-02-07 03:20] jeffwhelpley commented on #257
btw, I can work with whoever wants to take this one. There are some clear quick wins, but some stuff that will be tricky.

[2016-02-07 03:21] jeffwhelpley commented on #249
@gdi2290 it would be good if you can explicitly list out what is wrong with the current API and what we want to achieve.

[2016-02-07 03:28] gdi2290 commented on #250
I think he was talking about [restful](https://www.npmjs.com/package/restful)

[2016-02-07 03:30] gdi2290 commented on #251
`<div></div>` and  `<section>` are on the same line so maybe we should use something like https://github.com/beautify-web/js-beautify

[2016-02-07 03:40] jeffwhelpley opened #258 "get documentation up on angular.io"
Work with Ward Bell to get the Universal documentation up on angular.io. I am going to consolidate existing doc tasks to this one. After we get initial iteration of docs up on angular.io, then we can start opening other issues for anything missing.

[2016-02-07 03:42] jeffwhelpley commented on #258
To be clear, this task scope is just creating the initial documentation which includes stuff we have already discussed plus an outline for everything else. So it will not be comprehensive. The goal is to get to the point where we know exactly what else needs to be filled in.

[2016-02-07 03:43] jeffwhelpley commented on #226
closing for now until we get further along with the angular.io doc efforts and we will know exactly what is missing.

[2016-02-07 03:43] #226 closed

[2016-02-07 03:47] jeffwhelpley commented on #216
Only remaining thing I see is client_code_generator in preboot. So, I think this is just changing the name of one file at this point.

[2016-02-07 03:49] jeffwhelpley commented on #214
Only a couple files left to change so this should be really easy. Just change the names and then test.

[2016-02-07 11:07] jeffwhelpley commented on #255
No question that from a requirements standpoint it makes sense to make angularair a pre-rendered site, BUT I was thinking that we want to showcase different ways of doing things anyways, so why not take some more risks with angularair.com (since we want to go conservative with angular.io) and instead show off all sorts of stuff. This goes well beyond the scope of the Universal project, but I was t

[2016-02-07 11:08] jeffwhelpley commented on #251
Ahhh..ok, got it. I thought it was the comments that were the problem (which I didn't recognize). Just having stuff on the right new lines and tabbing makes sense and is doable.

[2016-02-07 11:14] jeffwhelpley commented on #203
Added this to our brain dump doc that will be rolled into #258

https://docs.google.com/document/d/1Qem6PJ1EO5tYpGxfpj5w-4kuykW072GCrC3FmWI3_yY/edit?usp=sharing

[2016-02-07 11:14] #203 closed

[2016-02-07 11:16] jeffwhelpley commented on #194
Are you thinking we would not have any build tools at the root?

[2016-02-07 11:23] jeffwhelpley commented on #193
I am a little confused by this one. @manekinekko it looks like you submitted a PR for this one but was it abandoned? Is this still something you are looking at?

[2016-02-07 11:26] jeffwhelpley commented on #192
Added this to the brain dump doc:

https://docs.google.com/document/d/1Qem6PJ1EO5tYpGxfpj5w-4kuykW072GCrC3FmWI3_yY/edit?usp=sharing

Will be tracking with #258.

[2016-02-07 11:26] #192 closed

[2016-02-07 11:28] jeffwhelpley commented on #194
Merging notes from #191

the file paths need to be consistent for browser field metadata spec https://github.com/defunctzombie/package-browser-field-spec and examples/ folder

currently

universal/
  client/
  dist/
    client/
    server/
  server/
which should be

universal/
  src/
    client/
    server/
  dist/
    client/
    server/

[2016-02-07 11:29] jeffwhelpley commented on #191
Duplicate of #194

[2016-02-07 11:29] #191 closed

[2016-02-07 11:36] jeffwhelpley commented on #190
OK, so I am switching gears for this issue. The thing is that we need the output of preboot to be as small as possible. The output of rollup.js is a lot less than webpack, so I suggest we try that out. Note that this task should just be switching the bundling tool. There is a separate task for optimizing the size of our custom code (i.e. #257). If for whatever reason rollup.js doesn't work, we can

[2016-02-07 11:42] jeffwhelpley commented on #184
@christopherthielen what is the latest on this. I heard a rumor that the UI Router may be ready in a month or so to work with Angular 2. On a side note, in addition to getting the new UI Router to work with Universal, I am also interested in having you on Angular Air once it is ready to talk about it.

[2016-02-07 11:48] jeffwhelpley commented on #176
@simb check out this:

https://github.com/angular/universal/blob/master/modules/universal/server/src/platform/node.ts#L102

If you use the angular2-express-engine or angular2-hapi-engine, this part will be done for you, but if you are manually bootstrapping on the server, you will need to set the NodeXHRImpl yourself.

We are going to include this in the documentation for #258 so closing this issu

[2016-02-07 12:12] jeffwhelpley opened #259 "make preboot work with multiple apps"
If a server rendered page has multiple root elements (i.e. multiple apps), then preboot won't work. It just works with one app. This is for particular use that mostly involves pre-rendering. To accomplish this, most of the logic will be on the server side preboot library to generate client side preboot code for each root element.

[2016-02-07 15:24] manekinekko commented on #193
@jeffwhelpley check this PR https://github.com/angular/universal/pull/230

[2016-02-07 15:42] christopherthielen commented on #184
I think "about a month" is still a reasonable estimate.  It will probably only support hash bang urls at that time, but otherwise be relatively functional

[2016-02-07 17:41] jeffwhelpley commented on #250
Ah, OK, Sorry, I am unfamiliar with restful. OK, so @vishalmanchanda check out the information in this issue as the use of pretty much any node.js server side template engine alongside Angular 2 Universal works pretty much the same way:

https://github.com/angular/universal/issues/177

Let me know if you have any questions.

[2016-02-07 17:43] jeffwhelpley commented on #184
ok, just let us know. thanks!

[2016-02-07 17:46] jeffwhelpley commented on #193
Ah, got it.

[2016-02-07 17:51] jeffwhelpley commented on #169
@thomasjosephgreco I am in the process of folding all documentation efforts into our one combined effort to get everything up on angular.io. This will be tracked as part of #258. I will ping you once we have the outline up and we just need people to help fill out the details. Until that point, everything we have so far is going to get dumped into this temporary doc:

https://docs.google.com/docume

[2016-02-07 17:51] #169 closed

[2016-02-07 17:54] jeffwhelpley commented on #146
This issue is putting the cart before the horse. We first need to greatly expand on the low level capabilities for data sharing between server and client. Agreed that we can eventually follow something like the JSON API spec, but I am going to close this for now since I don't expect us to do anything on this for awhile and it may not even be needed once data caching is in place.

[2016-02-07 17:54] #146 closed

[2016-02-07 17:56] jeffwhelpley commented on #256
Dupe of #170

[2016-02-07 17:56] #256 closed

[2016-02-07 17:57] jeffwhelpley commented on #170
hey, so what are we going to use to record the benchmarks? if we are trying to use benchpress, we should probably merge this with #135.

[2016-02-07 18:04] jeffwhelpley commented on #131
Closing as we have now separated out Express dependency to a angular2-express-engine. The core library (soon to be renamed from universal to angular2-unversal) does import angular2-express-engine as well as angular2-hapi-engine but that is just for convenience for users so they can access the different engines from one import. The core lib works without any server framework dep.

[2016-02-07 18:04] #131 closed

[2016-02-07 18:05] jeffwhelpley commented on #130
@gdi2290 I forget. Did you already implement this or is there still room for improvement with the platform bootstrap?

[2016-02-07 18:08] jeffwhelpley commented on #128
Folding this into #258

[2016-02-07 18:08] #128 closed

[2016-02-07 18:09] jeffwhelpley commented on #126
Folding this into #258

[2016-02-07 18:09] #126 closed

[2016-02-07 18:10] jeffwhelpley commented on #124
Folding into #258

[2016-02-07 18:10] #124 closed

[2016-02-07 18:12] jeffwhelpley commented on #86
@wesleycho completely this issue with 36f2dca

[2016-02-07 18:12] #86 closed

[2016-02-07 18:15] jeffwhelpley commented on #72
I am wondering how relevant we think this is. @gdi2290 do we really need this? I suggest that if no one is asking for this yet, let's close and wait until it actually becomes an issue. I don't really see a need.

[2016-02-07 18:20] jeffwhelpley commented on #49
So, after we have angular2-hapi-engine merged, let's close this issue. I would rather open separate issues for each implementation when we need/want them. No need to open them all at once. Just when they are needed. It should take long for each engine as the need comes up.

[2016-02-07 18:25] jeffwhelpley commented on #45
@gdi2290 This is not an actionable item in any way. Perhaps we should consider having a separate place (wiki or wherever) that has "thoughts for the future". Let's talk about this more and move it to the appropriate place.

[2016-02-07 18:28] jeffwhelpley commented on #44
This is being covered by #238

[2016-02-07 18:28] #44 closed

[2016-02-07 18:47] alexpods commented on #170
@jeffwhelpley I've never used benchpress before and I'm not quite sure that we need to use kind of "e2e benchmark" tool. So I need to make some experiments with several different tools.

1. **ab**, which is used in the `react-boston-ssr`. I'm going to make a fork of this repo and add angular2 universal example there.
2. Make some experiments with **benchpress**. As a result maybe integrate it into

[2016-02-07 19:47] gdi2290 commented on #45
let's just close it

[2016-02-07 19:47] #45 closed

[2016-02-07 20:36] jeffwhelpley commented on #170
Yeah, that is cool. Let's leave the benchpress metrics to #135 since that involves a lot more. Let's first get some timings with benchmark.js and compare to react. We will do benchpress afterwards.

[2016-02-07 20:46] jeffwhelpley commented on #245
Should be just adding "input" to "keyPress" preset in presets.ts for preboot.

[2016-02-07 20:49] jeffwhelpley commented on #239
@JohnGorter mentioned he wanted to work on this one.

[2016-02-07 20:52] gdi2290 commented on #245
we also need `change` event

[2016-02-07 20:54] gdi2290 commented on #130
yeah this was done in a core refactor for bootstrap

[2016-02-07 20:54] #130 closed

[2016-02-07 22:14] jeffwhelpley opened #260 "spec out universal plugin to angular CLI"
At a high level we want to smooth over creating a new Universal app and modifying an existing app to become universal through the CLI. The actual requirements for this, though, are a bit ambiguous, though, so this task is for someone to think about and spec out what we would actually be doing here.

[2016-02-07 22:16] jeffwhelpley commented on #260
@wesleycho was thinking about taking an initial shot at this.

[2016-02-07 23:01] wesleycho commented on #260
Yep, in progress, but been busy the past week - this will definitely take some dedicated time to get an initial document ready.

[2016-02-08 00:42] svallory commented on #176
@jeffwhelpley damn! Shame I didn't see your message before. Anyways... I am using angular2-express-engine and it wasn't working for me. So I created this: [angular2-http-node_backend](https://www.npmjs.com/package/angular2-http-node_backend)

[2016-02-08 03:20] jeffwhelpley commented on #176
@svallory if you are using Universal, you are going to want to use the default http with the Universal NodeXHRImpl provider. The reason is that in Universal we count the number of times http is called during a given server side request. We need to do this because it is the only want to know how long to wait before sending back the response (i.e. if there are 4 http calls during a given server side

[2016-02-08 23:27] gdi2290 commented on #258
understanding creating context and ensuring the same module references should also be on the list to document

[2016-02-09 06:53] jongood01 commented on #238
+1 - Yes please do this.

[2016-02-09 08:29] thedark1337 opened #261 "preboot browserify dependency"
Hi, I noticed as I was installing universal that in the preboot package browserify is being installed as a dependency. Is that needed or should that be a devDependency?

[2016-02-09 16:46] gdi2290 commented on #261
browserify is used for preboot

[2016-02-09 17:04] svallory commented on #176
@jeffwhelpley Just checked the code on Universal. I see you guys are using xhr2 package so you get a `XmlHttpRequest` object on node. THAT is what I replaced by implementing `NodeBackend` and `NodeConnection` using native node APIs to perform the request. It's a lighter impl and, if you want, we could bring it inside universal and remove the dependancy.

I also see other problems:

1. Current impl

[2016-02-09 17:24] gdi2290 commented on #176
@svallory can you make a PR to replace xhr2. `NodeXhrImpl ` is used for templateUrl etc here https://github.com/angular/universal/blob/10443e968c3afcff7610ef98f71c2abeb0a29473/modules/universal/server/src/platform/node.ts#L102

[2016-02-09 17:47] JohnGorter opened #262 "Configure preboot to use the passed in App root component selector"
Preboot assumes and defaults to 'App' as selector for the root component. Would be nice to grab the selector from the passed in AppComponent at serverside rendering so the config just works.

[2016-02-09 20:42] svallory commented on #176
@gdi2290 I can. I'll work on it next weekend (it's carnival in Brazil :)). All I see in that file is `NodeXhrImpl` being imported and then exported inside a constant. I don't see it being used.

Since you mentioned templateUrl, currently relative URL's don't work. Is there a reason not to load it from FS when it's a relative URL?

[2016-02-09 21:13] gdi2290 opened #264 "recreate NodeConnection without BrowserXhr"
Replace NodeConnection with a Node version that uses `'http'` module
https://github.com/angular/universal/blob/10443e968c3afcff7610ef98f71c2abeb0a29473/modules/universal/server/src/platform/node.ts#L102
and module [angular2-http-node_backend](https://www.npmjs.com/package/angular2-http-node_backend)

see previous see comments here.
https://github.com/angular/universal/issues/176#issuecomment-18114

[2016-02-09 21:13] gdi2290 commented on #264
@svallory wil be taking this one

[2016-02-09 21:14] gdi2290 commented on #176
comment in the other issue https://github.com/angular/universal/issues/264 as op issue is unrelated.

[2016-02-09 21:14] #176 closed

[2016-02-09 21:15] svallory commented on #264
Should we use the package I created or incorporate the package source directly on Universal?

[2016-02-09 21:16] gdi2290 commented on #264
incorporate the package source directly on Universal would be better

[2016-02-09 21:58] jeffwhelpley commented on #261
Well, we can switch browserify to webpack or rollup, but it is a normal dependency, not a devDependency. The function of the server side implementation of preboot is to generate code and it needs one of those tools to help generate that code. If you split out the code generation to a separate library, it doesn't really buy you anything because it would still need to be a normal dependency.

[2016-02-10 23:47] gdi2290 commented on #216
this is done already

[2016-02-10 23:47] #216 closed

[2016-02-10 23:49] gdi2290 commented on #214
this is done via https://github.com/angular/universal/commit/694e58f505155729b74e13ef52c4e0b8070bf078

[2016-02-10 23:49] #214 closed

[2016-02-10 23:50] gdi2290 commented on #254
Closing for now. Out of scope will circle back after initial prototype done with angularair then material2

[2016-02-10 23:50] #254 closed

[2016-02-10 23:50] gdi2290 commented on #255
this issue should really live in https://github.com/angularair/site rather than the universal repo

[2016-02-11 00:18] gdi2290 opened #266 "update to beta.6"
update angular2 to beta.6

[2016-02-11 01:20] jeffwhelpley commented on #255
Yep, closing this.

[2016-02-11 01:20] #255 closed

[2016-02-11 09:49] alexpods commented on #170
Today morning I had some free time. So I've spend it to add `angular2` example to `react-boston-ssr` (see it [here](https://github.com/alexpods/ssr-comparison/tree/master/6-angular2-ssr)). Here is the result for my computer:

[code]

[2016-02-11 11:00] JohnGorter commented on #259
Something 4 me to work on?

[2016-02-11 12:05] jeffwhelpley commented on #259
That would be awesome. The key is that you can't increase the size of the generated client side preboot.

[2016-02-11 13:25] JohnGorter commented on #259
The key is that you can't increase the size of the generated client side
preboot?
You mean that we do not want to generate the same reboot code for all the
toplevel components?

John.

On Thu, Feb 11, 2016 at 1:05 PM, Jeff Whelpley <notifications@github.com>
wrote:

[2016-02-11 14:17] jeffwhelpley commented on #259
So, the client side preboot code is generated by the server side preboot library based on the input options. Most of the time the defaults are used. These options determine the size of the resulting client side preboot code since we use browserify (currently) to remove code that we know won't be used. So, my point is that the ability to deal with multiple root elements is a minority use case. We s

[2016-02-11 14:33] qdouble opened #267 "Server crashes from evaluating functions executed after setTimeout"
Currently Universal will crash when parsing an unsupported function executed after setTimeOut, even though the function is not executed until after the page is fully loaded...for example...

[code]

The above will cause "EXCEPTION: Error: not implemented". Methods called in setTimeout should either be ignored or better handled.

[2016-02-11 20:41] zanettin opened #268 "adapter for cookie handling during pre-render"
I just tried to test a working angular2 app using cookies with angular universal. It seams that cookies (using ng2-cookies) crashes on the pre-rendering because window is undefined. It would be great, if you could provide a adapter to get cookies from request header till pre-rendering the page. thanks for all your excellent work on this!

detailed error:
[code]

[2016-02-11 22:34] gdi2290 commented on #268
there needs to be a better cookies module that supports universal

[2016-02-11 23:30] gdi2290 commented on #267
`'focus'` was not implemented for the server version of the DOM adaptor

[2016-02-11 23:41] qdouble commented on #267
@gdi2290 yes, I understand that... the issue that was brought up in slack chat is more so that the server would not be executing that function anyway since it won't execute the setTimeout block until after the page has fully rendered, therefore the setTimeout block should be ignored or better handled.

[2016-02-12 16:25] byavv commented on #268
As far as I understand, if you need window or any DOM element, you need create kinda service and init it outside of server rendering process (in bootstrap for instance). May be it's not the best design, but works for me:
[code]
@gdi2290, [Here](https://github.com/mozilla/localForage/issues/522) I hinted at exactly what you'd said about support of universal. That is why I got out with the design li

[2016-02-12 22:28] gdi2290 commented on #262
done via https://github.com/angular/universal/commit/a44d2abbf2fe4adfc0dff142b8883937ee63a9c1 thanks for the PR

[2016-02-12 22:28] #262 closed

[2016-02-12 22:45] gdi2290 commented on #170
I have angular2, react-prod, and mustache generated from Alex's work https://gist.github.com/gdi2290/c460b7c72f8c4586eac0

[2016-02-15 02:34] gdi2290 commented on #266
done via https://github.com/angular/universal/commit/8c9416b15a73e2bc3953f6472af7fed11f3676df

[2016-02-15 02:34] #266 closed

[2016-02-15 03:35] gdi2290 commented on #40
closing for now until we have more time or if there is more interest in the community to help out

[2016-02-15 03:35] #40 closed

[2016-02-15 03:41] gdi2290 commented on #72
this is needed to combat "javascript fatigue" and/or to provide a better developer experience when progressively scaling the application complexity from a `toy/example app` -> `small app` it's a bit out of scope for now and we can circle back later. Closing for now

[2016-02-15 03:41] #72 closed

[2016-02-15 03:42] gdi2290 commented on #49
closing now as Hapi is in a PR via https://github.com/angular/universal/pull/253

[2016-02-15 03:42] #49 closed

[2016-02-15 03:44] gdi2290 commented on #31
closing now as we need webpack more so for the examples than the modules. After the new module workflow refactor done a couple of weeks ago, we can simply stay with regular typescript compile

[2016-02-15 03:44] #31 closed

[2016-02-15 03:47] gdi2290 commented on #54
This feature was placed on the shelf soon after I started it. A client needs this feature so I'll be working on this again in March (moving to P2 from P3). With the compiler refactors done since the initial version it may be easier to get it working

[2016-02-15 04:47] gdi2290 opened #271 "Prototype NgCache"
Until we get core support we can create the initial prototype that allows us to maintain serializable cache
see https://github.com/angular/angular/issues/4389 mostly needed for transferring requests and state from server to client. After we get the prototype working well we can move it into a module

[2016-02-15 04:49] gdi2290 opened #272 "Create Universal Storage module"
we should allow users to use localStorage both in server/client

[2016-02-15 04:51] gdi2290 opened #273 "Create Universal cookies module"
we should allow users to use cookies both in server/client

[2016-02-15 04:53] gdi2290 commented on #268
Closing for issue https://github.com/angular/universal/issues/273 this is more of a documentation issue explaining how to create universal services. Either way, we should provide a simple solution if only as an example.

[2016-02-15 04:53] #268 closed

[2016-02-15 04:57] gdi2290 opened #274 "Allow async requests from Http to work with precache"
Reimplementing this feature again (I removed it during beta release) with zone.js it's important for anyone starting off with server rendering to have it work

[2016-02-15 06:10] zanettin opened #275 "Optional route params with pre-rendered views"
Related to this issue => https://github.com/angular/router/issues/397 I'm not sure if this an issue or a missconfig from my side. Do I need to specify the route on the node side specialy or is it a bug from the router itself?

issue assigned to: @alexpods

[2016-02-15 07:02] gdi2290 commented on #275
We created our own version of Location Platform so this could really be our fault with the way we're managing the location

[2016-02-15 07:03] zanettin commented on #275
Thanks for your fast reply. I'll close the other issue on angular/router.

[2016-02-17 17:15] Settler commented on #238
+1 for headService.
Head tags is very important in SEO and links sharing via messengers. For SEO it is Title tag. For links sharing it is open-graph protocol tags (http://ogp.me/) that supported by Skype, Telegram, etc. Title is important on both sides - server and client. Other tags is important only for server side. It would be nice, if universal will have at least abstract server side headServi

[2016-02-23 09:14] Bhushan001 opened #279 "Child components are not getting rendered"
I was trying to generate static HTML using this project,initially everything worked fine.
It renders root component in static HTML correctly,But when I am using child components in my root component then they are getting loaded only in browser, but they are not getting rendered in generated static HTML.
for eg.
when I use data in template as:
[code]
this generates static HTML correctly. But if I a

[2016-02-23 16:28] samvloeberghs commented on #238
+1 - yes please

[2016-02-23 21:43] jeffwhelpley commented on #279
Are you using the angular2-gulp-prerenderer? Do you see any errors when you run the prerenderer? @gdi2290 did you by chance test whether errors bubble up correctly? I am worried that in this case gulp is swallowing the error.

[2016-02-23 21:53] jeffwhelpley commented on #267
@gdi2290 this is interesting because some people want the body of setTimeout to be executed on the server. I think that we should likely make a hard, clear stance on async on the server. What do you think about making sure we wait on the server for both http and some new modules we create to wrap setTimeout (i.e. universalTimeout or whatever), but then all other setTimeouts are monkey patched on t

[2016-02-23 21:54] jeffwhelpley commented on #261
Closing this since we have #190 open to move off browserify.

[2016-02-23 21:54] #261 closed

[2016-02-24 01:57] jeffwhelpley opened #280 "Enable Angular Universal with a Java backend"
There are a couple potential ways to do this through Nashorn. Opening this issue to start the discussion and plan out how we can achieve this goal.

[2016-02-24 01:58] jeffwhelpley opened #281 "Enable Angular Universal with a PHP backend"
This should be possible, but a lot more time needed to experiment and create a proof of concept.

[2016-02-24 06:46] Bhushan001 commented on #279
@jeffwhelpley I am not sure about angular2-gulp-prerenderer but no errors are displayed on console or browser.

[2016-02-24 11:46] jeffwhelpley commented on #279
You said you were generating static html I thought meant you were using the prerenderer but I guess not. I was not able to recreate this, so it would help if you could either send us a link to your entire app (if it is public ally available) or create a plunkr. Alternatively, post your package.json deps and the code where you are hooking into universal.

[2016-02-24 13:10] jeffwhelpley opened #282 "Mock important window/browser objects"
Although we are encouraging users to not directly use the window DOM objects, we can't stop anyone from using them. We just need mocks for all window objects so that when an Angular 2 app runs on the server, in a web worker, on a mobile device, etc. the app doesn't break.

JSDOM is way to heavyweight and we are not talking about actually implementing functionality. We just want to see if we can ad

[2016-02-24 13:12] jeffwhelpley opened #283 "SystemJS support"
Right now Universal does not work with SystemJS. Need to do some research here to find the root cause.

[2016-02-24 13:15] jeffwhelpley opened #284 "DI error when app creates security context"
Likely this will involve change in DI core, but creating for now here for tracking purposes.

[2016-02-25 00:34] tbosch commented on #281
I have a design for this already.
See
https://docs.google.com/document/d/1a3LDFEi6xV9vNNZxjoRwIw-Z3pgj_HAZXCJe8-gkAeA/edit

On Tue, Feb 23, 2016 at 5:58 PM Jeff Whelpley <notifications@github.com>
wrote:

[2016-02-25 14:56] jeffwhelpley commented on #281
Sweet! Thanks for the link.

[2016-02-25 15:19] cheungtitus commented on #280
@jeffwhelpley thanks for starting this and your referral to the doc at [https://docs.google.com/document/d/1a3LDFEi6xV9vNNZxjoRwIw-Z3pgj_HAZXCJe8-gkAeA/edit#](url).  This is awesome.  Given Spring has already gone GA supporting [Script Based Templating](http://docs.spring.io/spring/docs/current/spring-framework-reference/html/view.html#view-script-integrate) on Nashorn, just wondering if compatibi

[2016-02-25 15:41] jeffwhelpley commented on #280
@tbosch what do you think?

[2016-02-25 16:27] sdeleuze commented on #280
Hey, indeed we would like to experiment with Spring support for Angular 2 server-side rendering as part of our Spring Framework 5 roadmap, and that would be awesome to be able to discuss that with you. You can find some information about our current support for isomorphic/universal applications [here](https://speakerdeck.com/sdeleuze/isomorphic-templating-with-spring-boot-nashorn-and-react).

Scri

[2016-02-25 19:25] gdi2290 opened #285 "update beta.7"

[2016-02-26 04:55] jeffwhelpley commented on #284
@gdi2290 I entered 4 new issues in core, but I don't know enough about this one to enter an issue there. Can you create a new issue in core that explains the problem and what needs to change in core?

[2016-02-26 06:30] Bhushan001 commented on #279
@jeffwhelpley  @gdi2290  I have hosted my code @ https://github.com/Bhushan001/angular2-universal-starter. tell me if this works on your side or not..
I have changed only src folder contents. so if any other issues are there you can only add my src folder content to your project.
tell me if this works on your side
Thanks in advance

[2016-02-26 17:38] gdi2290 commented on #275
@alexpods will take this issue

[2016-02-26 18:01] gdi2290 commented on #264
@svallory any updates?

[2016-02-26 18:29] wesleycho commented on #283
I'll take a look at this

[2016-02-27 11:31] jeffwhelpley opened #290 "Prerenderer daemon"
This is lower priority, but it may be beneficial to create a new module for a daemon process that takes in as configuration a set of rules (which includes URLs and frequencies for when to hit those URLs as well as where the resulting HTML gets distributed) and then just runs indefinitely. The reason for this would be that there are huge benefits to keeping certain things in memory. Also, this woul

[2016-02-27 12:42] b-strauss commented on #281
Hi, I would like to take a look at this. My idea is to write a PHP extension, that uses [PHP-CPP](http://www.php-cpp.com/) to embed [JXcore](http://jxcore.com/). JXcore is a node.js fork, unfortunately from an older branch (v0.10.40), but it claims to be easily embeddable. Is angular using any features that are incompatible with this node version? I'm no c++ expert, and I have no idea when I will

[2016-02-27 13:03] manekinekko commented on #245
see PR https://github.com/angular/universal/pull/288

[2016-02-27 13:06] manekinekko commented on #193
@gdi2290 could we close this one?

(cc @jeffwhelpley)

[2016-02-27 13:14] #193 closed

[2016-02-28 02:29] #245 closed

[2016-02-28 02:35] jeffwhelpley commented on #281
@manekinekko I thought I remembered you saying there is another approach for PHP integration than the one @b-strauss is suggesting, right?

[2016-02-28 02:36] jeffwhelpley commented on #281
But, FYI, @b-strauss it is not that ideal being on that old a version of node. v0.10.x is pretty stable so it may work, but we should check to see if there are other options if possible.

[2016-02-28 03:08] jeffwhelpley commented on #273
@gdi2290 I just realized something. So, this (and potentially other) services are not global but are request specific. That means on the server side we need a way to get the "context" of the current request. I do this in my current product app with the node.js CLS library, but I think we should be able to do this somehow with zones. Basically, the universal engine for a particular framework will n

[2016-02-28 07:15] bigbassroller opened #291 "EXCEPTION: Token must be defined!"
My app is a simple clone of [Ng2Play](https://github.com/pkozlowski-opensource/ng2-play) and following along the video on the homepage of this repo, [Full Stack Angular 2 - AngularConnect, Oct 2015](https://www.youtube.com/watch?v=MtoHFDfi8FM)

When running ```ts-node server.ts```, I get this error:
[code]
Here are my files:

[code]

[code]

[code]

[code]
[code]

[code]
[code]

[code]

[code]

[c

[2016-02-28 10:24] bigbassroller commented on #291
Renaming ```hello.ts``` to ```app.ts``` solved the problem:)

[2016-02-28 10:24] #291 closed

[2016-02-28 13:15] manekinekko commented on #283
@jeffwhelpley @wesleycho this is related...

Last week, I started a side POC getting universal run on Java 8 Nashorn. And I discovered that SystemJS is not supported on Nashorn. I opened an issue for that.
See it here: https://github.com/systemjs/systemjs/issues/1113#issuecomment-187675772

[2016-02-28 13:25] manekinekko commented on #281
@jeffwhelpley I was referring to https://github.com/phpv8/v8js

[2016-02-28 13:32] manekinekko commented on #281
@jeffwhelpley I was referring to https://github.com/phpv8/v8js

@b-strauss I am afraid v0.10.x is not compatible with the build system of Angular2 but I may be wrong. I just run the Universal starter with node v0.10.42 I everything just blew up. See screenshots.

![image](https://cloud.githubusercontent.com/assets/1699357/13379522/d287dbbe-de27-11e5-847b-92e677b137ae.png)

Beside the version of NP

[2016-02-28 13:47] manekinekko commented on #280
@jeffwhelpley last week I started POC'ing Universal on Spring. I basically wanted to write a renderer for Spring.
My work is based on the work of @sdeleuze and other resources I found on the Internet. However, I was quickly blocked, because SystemJS (and even Webpack) are not supported by Nashorn.

Here is my repo for this POC: https://github.com/manekinekko/angular2-springboot-engine (BTW, I am n

[2016-02-28 14:05] manekinekko commented on #279
@Bhushan001 I am looking at your issue right now...
From the screenshot below, is it what you're expecting ? I see comp2 is rendered OK.

![image](https://cloud.githubusercontent.com/assets/1699357/13379685/b199f504-de2c-11e5-94fe-77fa0fd389c4.png)

[2016-02-28 14:45] gdi2290 commented on #285
done via https://github.com/angular/universal/commit/58f464a8ddaf7174571b1229074354c111d9fc99 and https://github.com/angular/universal/commit/c4bbb1b6c9a2efa77ddba15dc9ab37e14754e05b

[2016-02-28 14:45] #285 closed

[2016-02-28 14:50] sdeleuze commented on #280
@manekinekko Thanks for your feedback and experiment. I will have a look shortly.
@bclozel reached me about you but we just had not the time to plan a meeting before our vacations.

[2016-02-28 16:00] b-strauss commented on #281
@manekinekko It looks like they are working on Node v4 integration. https://github.com/jxcore/jxcore/issues/535

Maybe node.js can directly be compiled into a library? Seems like [atom ](https://github.com/atom/atom) does this. See:
https://github.com/nodejs/node/issues/2953

[2016-02-28 16:32] manekinekko commented on #280
@sdeleuze I suspected Brian was on vacation ^^
You can ping me if you need more info, we are on the same time zone

[2016-02-28 17:19] manekinekko opened #292 "Http is broken"
@joaogarin has reported this issue. See https://github.com/angular/universal-starter/issues/38#issuecomment-189893480

[2016-02-28 17:22] manekinekko commented on #292
zone is throwing this:

[code]

[2016-02-28 17:42] mlent opened #293 "Using this with non-typescript Angular components?"
I am basically trying to write something equivalent to the [universal-starter](https://github.com/angular/universal-starter) repo, but without the typescript dependency. I know that I can write this `.d.ts` files for my non-typescript modules, but I prefer not to.

Here is a repo to reproduce the issue -- it is basically a copy of the `angular-connect` branch of `universal-starter`. I'm running No

[2016-02-28 19:07] b-strauss commented on #281
I just realized the PHP-CPP people have also written a PHP-JS bridge.  :)

http://www.php-javascript.com/

[2016-02-28 19:52] manekinekko commented on #281
@b-strauss thanks for your feedbacks and researches.
Good find for php-js, it looks like Nashorn for Java 8. Funny ^^

IMHO, I think we shouldn't be focusing on writing a nodejs/v8 wrapper for PHP. We should use whatever the industry is using. We could however provide an extension for PHP that acts like a bridge for Angular2 Universal (that's the big picture). So, to me, we would explore the follo

[2016-02-28 20:26] manekinekko commented on #293
Hi @mlent and thank you for using universal ;)

From what I see here is that the injector is `undefined` because of this error (see message from your console):

[code]

So may be this has something to do with `babel-plugin-angular2-annotations` or the other `babel-plugin-transform-*` transformers.

I'll investigate this and I let you know...

[2016-02-28 20:44] manekinekko commented on #293
After a quick investigation, it seems that this issue is caused by the `reflect-metadata` polyfill.
To verify this, you can comment this line https://github.com/mlent/vanilla-universal-starter/blob/master/client/universal-app.js#L1.

@gdi2290 any idea?

[2016-02-28 21:38] manekinekko opened #294 "Prerender does not work with templateUrl or styleUrls"
@jongood01 has reported this issue in the [universal-starter](https://github.com/angular/universal-starter)

@Component({

[code]

[2016-02-29 01:04] gdi2290 commented on #238
closing this as everything has been merged other than head service

[2016-02-29 01:04] #238 closed

[2016-02-29 01:28] #213 closed

[2016-02-29 04:00] jeffwhelpley commented on #281
I have no strong opinions on this as long as the implementation fits into the common standards we put in place. I don't have a ton of experience with PHP so likely we need someone to take the lead on this.

[2016-02-29 04:03] Bhushan001 commented on #279
@manekinekko its getting rendered in browser correctly.. but i want to generate static HTML out of it. I am getting same output.but I am not able to print my static HTML on console.thats the issue I am facing

[2016-02-29 22:07] gdi2290 commented on #291
ya we used a lot of defaults for the sugar so
[code]
in es6 is really
[code]

[2016-02-29 22:11] bigbassroller commented on #291
Oh that makes perfect sense, especially with regards to what you said in the video.

Thanks for your response and all the hard work you've put into Universal:)

[2016-02-29 22:21] b-strauss commented on #281
I was just able to render a simple "hello world" from a js file to the php output with v8js and its pre-built binaries for windows.

The server response time was between 90 and 140 milliseconds on my windows dell laptop. A simple php "hello world" takes about 5 to 15 milliseconds on my machine. I don't think this would be a problem if one caches the generated output on the php side.

I will take s

[2016-03-01 05:42] Bhushan001 commented on #279
@jeffwhelpley  any solutions on this?

[2016-03-01 09:18] mlent commented on #293
Ah, so the error message was accurate. Meaning...annotation/metadata support isn't being properly polyfilled, causing the annotations within Angular itself to fail -- but only if you're trying to run it without typescript and on the server (perhaps ts-node handles the annotations properly while `reflect-metadata` does not do so sufficiently for regular node).

Does it sound right to conclude that

[2016-03-01 11:50] jeffwhelpley commented on #279
@Bhushan001 ok, so I got your example working. There were several issues, but the biggest one was that you are on a much older version of the universal starter compare your dependencies:

https://github.com/Bhushan001/angular2-universal-starter/blob/master/package.json

With the most recent one from the starter:

https://github.com/Bhushan001/angular2-universal-starter/blob/master/package.json

In

[2016-03-01 11:50] #279 closed

[2016-03-01 11:57] jeffwhelpley commented on #293
@mlent, I don't have a ton of experience with Babel, but if it works in the browser, it should work in node since it is translating the same thing. @jeffbcross have you heard of anyone trying to do this in the team that we can ping?

[2016-03-01 11:59] Bhushan001 commented on #279
@jeffwhelpley Thanks jeff.will let you know once I implement it.Kudos

[2016-03-01 18:52] alexpods commented on #275
@zanettin @gdi2290 The bug is in core router library. More precisely it's [here](https://github.com/angular/angular/blob/master/modules/angular2/src/router/instruction.ts#L162). As you see `urlParams` are used only in `_stringifyMatrixParams()` which is called only if we have `auxInstructions` (see [here](https://github.com/angular/angular/blob/master/modules/angular2/src/router/instruction.ts#L19

[2016-03-01 19:40] zanettin commented on #275
thanks for your time @alexpods! i've re-opened the issue on the core router repo.

[2016-03-01 19:40] #275 closed

[2016-03-01 19:48] zanettin commented on #273
@jeffwhelpley & @gdi2290 sounds great! with cookies it shouldn't be a problem at all when you catch them from the request headers. do you have a idea how to solve the local storage gap?
and do you have a roadmap about angular universal? we plan to bring out our latest CMS frontend totaly built on ng2. but we do need the server side rendering as well. deadline for us is april 2016. is there a chanc

[2016-03-02 03:39] alexpods commented on #275
@zanettin I've also opened the issue in the core repository https://github.com/angular/angular/issues/7367. I think the core team will be more active to close the issue there (at least I hope so).

[2016-03-02 07:07] ganeshkbhat commented on #275
Raised similar issue https://github.com/angular/router/issues/397 >> http://stackoverflow.com/questions/35691663/child-url-query-params-shown-with-instead-of/35698213

[2016-03-02 07:43] alexpods commented on #275
@ganeshkbhat It's matrix URL https://www.w3.org/DesignIssues/MatrixURIs.html

[2016-03-02 07:53] ganeshkbhat commented on #275
Thank you... my bad.

[2016-03-02 16:29] bigbassroller opened #298 "Error: expected expression, got '<'"
Err, does anybody know how to fix this or if its a bug? When rendering from server.ts, I get ```Error: expected expression, got '<' Evaluating http://localhost:4000/node_modules/angular2-universal-preview/dist/client/index.js Evaluating http://localhost:4000/dist/bootstrap.js Error loading http://localhost:4000/dist/bootstrap.js```. My ```server.ts``` looks like this:
[code]
 My folder structure l

[2016-03-03 00:17] rlavoie opened #299 "Changing the main component name to anything other that app causes an error"
Changing the main component name to anything other that app causes an error. Would be nice if there was an option to change this.

Uncaught TypeError: Cannot read property 'cloneNode' of null

[2016-03-03 02:34] gdi2290 commented on #298
what version of: angular2, angular2-universal, node.js, npm, systemjs, typescript, and express?

[2016-03-03 02:34] gdi2290 commented on #299
app is the default `res.render('index', { App: App })` you can change it `res.render('index', { App: WebSite })`

[2016-03-03 05:16] bigbassroller commented on #298
Here is my package.json:
[code]
You can checkout my repo here https://github.com/bigbassroller/ng2-play-universal
I think the issue is with relative directories...

[2016-03-03 14:22] jeffwhelpley commented on #299
@gdi2290 even if it is simply a matter of doing this, we should have a better, more informative error. @rlavoie were you able to get this working?

[2016-03-03 14:24] jeffwhelpley commented on #239
@JohnGorter tested this out and it works now. May have been fixed with one of the other preboot changes.

[2016-03-03 14:24] #239 closed

[2016-03-03 16:42] SynerG commented on #170
I'm not familiar with Angular Universal, just doing some research to consider it for upcoming projects. It seems that 1 req/sec is rather low for server-side performance.

Is it due to the complexity of the test used?
Otherwise, are there expected significant performance gains in the following months?

This is an awesome project, but I still have no idea which performance can we expect from it.

[2016-03-03 17:45] jeffwhelpley commented on #170
@SynerG a couple things. The 1 req/second is just a setting for the test and not a limitation. In general, though, don't take any metrics yet to mean anything. We are still trying to set up the appropriate controls to do a proper recording for the universal example code. Also, there are a series of upcoming changes that will have a dramatic effect on server side performance.

In short, I can't giv

[2016-03-03 19:02] rlavoie commented on #299
@jeffwhelpley Yes it did. Thank you. I had to also make sure my main app file exported the same name. So you can't export class App and choose a different name as the selector.

[2016-03-03 19:05] SynerG commented on #170
@jeffwhelpley thank you very much for the comments, it looks very promising then.

One question: Is Angular Universal expected to include a cache and change detection algorithms? For instance, the first request of a url would be fully rendered and stored in the cache. For later requests, Angular Universal would check if bound data has changed and reuse the response from the cache (the complete pre

[2016-03-03 20:25] jeffwhelpley commented on #170
So, we do have a couple levels of caching on our roadmap including the something very similar to the one you are describing. The other major area for optimization will be in sharing data between the server and client via initial payload. In either case, though, it will be something configurable that you can adjust to suit your needs.

[2016-03-03 20:26] #299 closed

[2016-03-03 21:33] gdi2290 commented on #299
ya good idea, I can add an error

[2016-03-03 22:27] gdi2290 opened #300 "update to beta.8"

[2016-03-03 22:43] gdi2290 commented on #298
the problem is a gotcha with systemjs I submitted the fix here https://github.com/bigbassroller/ng2-play-universal/pull/2 with systemjs you have to manage your dependencies manually. In this case, systemjs was trying to get a file that doesn't exist so it was parsing your index.html file which starts with `<`

[2016-03-03 22:43] #298 closed

[2016-03-03 23:29] bigbassroller commented on #298
ahh thanks man. that was driving me crazy.

[2016-03-04 04:28] gdi2290 commented on #259
multiple ng2 server rendering works so ling as preboot can take an array for `appRoot`

[2016-03-04 04:29] gdi2290 commented on #259
closing for https://github.com/angular/universal/compare/9541a9bfa8bd39d9a68135805b496ed8f0526a90...d5e34c165eed243248d2acadac22b88ee901b3a9 open again if preboot doesn't support arrays for `appRoot`

[2016-03-04 04:29] #259 closed

[2016-03-04 06:53] gdi2290 opened #302 "create `bootloader`"
`bootloader` and `Bootloader` boots many Apps

[2016-03-04 15:58] gdi2290 opened #303 "preboot with multiple appRoot"
with more than one appRoot on the page we need to attach the `preboot.init()` after each `appRoot`

[code]

[code]
currently hardcoded to the first one

[2016-03-04 18:14] jeffwhelpley commented on #303
This is what will need to change for this:

1. Change preboot_options.ts PrebootOptions interface so that appRoot accepts either a string or an array of strings.
2. Change dom.ts:
  * Instead of appRoot, serverRoot, clientRoot, the state should have a `roots` value that is an object which maps the root selector to an object that contains app, server and client values
  * Change other dom functions

[2016-03-04 18:45] gdi2290 commented on #282
I'm assigning it to @manekinekko to do some research. Basiclly the goal is to provide developers with better errors when they use a module that doesn't follow best pratices for universal support.
for example,
[code]

[2016-03-04 18:57] gdi2290 opened #304 "fix(platform/node/document): encodeHtmlEntities"
encodeHtmlEntities is currently set to false rather than true. The serializer blows up if it's set to true for some reason.

see https://github.com/angular/universal/commit/d5e34c165eed243248d2acadac22b88ee901b3a9

[2016-03-04 18:59] #194 closed

[2016-03-04 19:39] gdi2290 commented on #282
![screen shot 2016-03-04 at 11 34 27 am](https://cloud.githubusercontent.com/assets/1016365/13538048/2abbe874-e1fd-11e5-8ad3-635e3e1bc941.jpg)
let's just focus on the important globals that developers usually use `XMLHttpRequest`, `document`, `window`, `title`, `document.cookie`, `btoa`, `atob`, `fetch`, `JSON`

[2016-03-04 20:24] gdi2290 opened #305 "preboot use/create DomAdapter for codegen"
it would be great if preboot used a DomAdapter that uses parse5 for codegen then we can insert css or loading elements during SSR rather than client side

[2016-03-05 00:00] manekinekko commented on #282
what about this list?

[code]

[2016-03-05 12:25] manekinekko commented on #282
@gdi2290 here is a gits with a complete code sample: https://gist.github.com/manekinekko/9d784b4c3b0f3283d70f

[2016-03-05 19:48] gdi2290 commented on #282
awesome work

[2016-03-05 20:12] jeffwhelpley commented on #282
Dude, this is way better than the solution I was thinking about originally. Awesome job, @manekinekko!

[2016-03-05 21:55] manekinekko commented on #282
thanks guys ;)

[2016-03-06 04:36] gdi2290 commented on #282
@manekinekko can you make a PR

[2016-03-06 13:47] manekinekko commented on #282
@gdi2290 where should the new file live?
may be here: `./modules/universal/server/mock-window.ts` ?

[2016-03-07 01:59] gdi2290 commented on #302
done via https://github.com/angular/universal/commit/aaf605a0caa7d8d8838a71032a4c4d05f77a60c0

[2016-03-07 01:59] #302 closed

[2016-03-07 02:00] gdi2290 commented on #300
done

[2016-03-07 02:00] #300 closed

[2016-03-07 02:02] gdi2290 opened #308 "create `NodeDomSharedStylesHost`"
create `NodeDomSharedStylesHost ` that extends from `DomSharedStylesHost` to be decoupled more from DOCUMENT

[2016-03-07 05:35] gdi2290 commented on #264
this was merged

[2016-03-07 05:35] #264 closed

[2016-03-07 06:49] gdi2290 opened #309 "create universal services"
**_blocked_** via https://github.com/angular/angular/pull/7455
- [x] NgStyleHost directive to use `NodeDomSharedStylesHost` added via https://github.com/angular/universal/commit/e8befd4d0843ffb51dc2b987fe56a37cd38c9d3e
renamed via https://github.com/angular/universal/commit/d804d7a15d7deb2d937e41b869cc656a0aa0856c
- [ ] NgTitle directive to use Title service
- [ ] NgMeta directive to use MetaTag S

[2016-03-07 08:24] gdi2290 opened #310 "provide new document during each request"
parse the initial document during each request

[2016-03-07 13:01] Bhushan001 commented on #294
@manekinekko has this issue been resolved?

[2016-03-07 15:42] guybedford commented on #283
Just let me know if I can help here at all as well. Conditional package loading in SystemJS may come in handy here too.

[2016-03-07 18:30] gdi2290 commented on #282
@manekinekko can you make the PR?
`./modules/universal/src/node/mock/window.ts`
`./modules/universal/mock.js`

[2016-03-07 18:41] gdi2290 commented on #294
it shouldn't be resolved. the issues is that on the server the url needs to be a full url

[2016-03-07 18:42] gdi2290 commented on #72
ngScripts will be done and tracked by https://github.com/angular/universal/issues/309 as the Script `<script>` and Module `<module>` directive

[2016-03-07 20:00] manekinekko commented on #282
@gdi2290  Yep. I already started the PR yesterday. It's coming :)

[2016-03-07 20:14] manekinekko commented on #310
@gdi2290 can you explain more? what is the expected result?

[2016-03-07 20:21] manekinekko commented on #282
Done!

[2016-03-07 21:04] manekinekko commented on #308
@gdi2290 could we just fake DOCUMENT? something like:
[code]

[2016-03-07 21:09] gdi2290 opened #312 "update gulp/grunt/webpack prerender"
update gulp/grunt/webpack prerender to reflect changes from express-engine

[2016-03-07 21:15] gdi2290 commented on #308
we already fake it but we need more control over the styles. For multiple applications the style host is shared since it's at the platform level. At the moment we are relying on mutating the fake document

[2016-03-07 21:24] gdi2290 commented on #310
the problem when you dispose an application (using AppRef). After serializing the document it is that the rootElement that is removed from the document. So during the next request/response cycle there is an error when the app can not find the document.

[2016-03-07 21:41] gdi2290 commented on #282
merged via https://github.com/angular/universal/pull/311 thanks!

[2016-03-07 21:41] #282 closed

[2016-03-07 21:54] gdi2290 commented on #303
`.complete()` should be called for each root so maybe `.complete('my-app')` we should also provide a way to check if the component even needs preboot (if they don't have any inputs because it's just static)

[2016-03-07 21:59] gdi2290 opened #313 "feat(preboot): opt out of codegen cache"
preboot options should have `cache: false` with the default option set to `true`
https://github.com/angular/universal/blob/master/modules/preboot/src/node/browser_code_generator.ts#L88

[2016-03-07 23:38] #312 closed

[2016-03-08 00:27] jeffwhelpley commented on #303
So, one thing at a time. Let's definitely not include the check to see if component needs preboot thing. This change is already complex enough.

As for the `.complete('my-app')`, the way that would be implemented is that we will need to group the events in the event_manager by the different app roots.

@JohnGorter let me know if you have any questions on this.

[2016-03-08 02:02] gdi2290 commented on #273
I'm planning on working on the abstract clases (cookie, localStorage,Title, etc) during this week

[2016-03-08 11:37] JohnGorter commented on #303
Instead of appRoot, serverRoot, clientRoot, the state should have a roots value that is an object which maps the root selector to an object that contains app, server and client values
Change other dom functions so it works with the new roots object??

do you mean someting like this:

 state.roots = state.roots || {
      rootselector: string = "app",
      appRoot = state.body,
      serverRoot =

[2016-03-08 15:00] jeffwhelpley commented on #303
There are two approaches. We change preboot to be class-based and focus on one app and then create an instance of it for each app OR we change the internal structure to manage multiple roots. We are going with the latter since we can almost certainly create some efficiencies in terms of code size and performance. So, the starting point with this is how we store the roots themselves (as you have li

[2016-03-09 03:32] gdi2290 commented on #260
@wesleycho any updates?

[2016-03-09 03:35] gdi2290 commented on #292
including these providers and ensuring the url for all request are full urls will work
[code]
for tracking each http request before rendering that's for the precache issue. closing for now

[2016-03-09 03:35] #292 closed

[2016-03-09 03:37] gdi2290 commented on #309
we're waiting for the next release

[2016-03-09 03:41] wesleycho commented on #260
Not yet :( . Been a very busy past couple of weeks for me. If I don't have something by the end of next week, better for someone else to spec this out.

[2016-03-09 03:42] gdi2290 commented on #293
@mlent I removed the polyfills can you try again with the updated universal-starter

[2016-03-09 03:44] gdi2290 commented on #290
should we call it fastboot :stuck_out_tongue:

[2016-03-09 08:44] joaogarin commented on #292
Great it works. I now have an issue where its not actually rendering on the template altough I am getting the items in the service call.

I will create a separate issue as the http request is working nicely.

Thank you!

[2016-03-09 08:50] joaogarin opened #316 "Render ngFor after http call"
Hello,

I have a component rendering a ngFor with data coming from an Http request. The http request works fine after the latest changes (beta8 and latest of universal-preview) and the data is received corectly.

However it does not copy it to the template. Very similar to what is done here https://angular.io/docs/ts/latest/guide/server-communication.html with the heroes example. Is there somethin

[2016-03-09 23:00] gdi2290 opened #317 "update to beta.9"

[2016-03-09 23:18] gdi2290 commented on #316
we're working on adding this back

[2016-03-09 23:22] gdi2290 commented on #316
closing for this issue you can track https://github.com/angular/universal/issues/274

[2016-03-09 23:33] gdi2290 commented on #317
published as 0.70.8

[2016-03-09 23:33] #317 closed

[2016-03-10 06:56] joaogarin commented on #316
Thanks;)

[2016-03-10 18:53] markdboyd commented on #274
Came to this issue from #316. So until this issue is resolved, it is not possible to use data from an Http request in a template?

[2016-03-11 11:03] mlent commented on #293
@gdi2290 Thanks! I'll look at it this weekend. But since my project isn't really _directly_ from the universal-starter, do I just need to use the latest universal code? Or is there a specific change in the universal-starter I should apply to my ES6 version?

[2016-03-11 11:57] jeffwhelpley commented on #293
@mlent you don't have to use the starter, but do your dependencies match up with the latest from the starter?

https://github.com/angular/universal-starter/blob/master/package.json

Btw, I would love to see ES6 code for this. Everything I have been working with has been TypeScript. Is your project public?

[2016-03-11 13:00] mlent commented on #293
@jeffwhelpley I will update all my dependencies to match the universal starter. I had a hard time getting all the dependencies and peer dependencies to work to even run the thing originally. Might be helpful to forego the `^` notation in the package.json until these dependencies are a bit more stable.

But yes, the code for kind of an ES6 starter is here:
https://github.com/mlent/vanilla-universal

[2016-03-13 19:48] gdi2290 opened #319 "add github templates"
update the repo to use github templates. (for context https://github.com/blog/2111-issue-and-pull-request-templates) examples are in the angular2 repo

[2016-03-13 20:10] gdi2290 commented on #206
done via https://github.com/angular/universal/commit/2ebfa7f6c413e41385747092dc1b7a407fc80495

[2016-03-13 20:10] #206 closed

[2016-03-13 20:23] manekinekko commented on #319
@gdi2290 are these templates OK?

### Issue

**Note: for support questions, please use one of these channels:** https://github.com/angular/universal/blob/master/CONTRIBUTING.md#question. This repository's issues are reserved for feature requests and bug reports.

* **I'm submitting a ...**
- [ ] bug report
- [ ] feature request
- [ ] support request => Please do not submit support request here, se

[2016-03-13 20:25] gdi2290 commented on #319
LGTM

[2016-03-13 20:27] manekinekko commented on #319
great. I'll send the PR

[2016-03-13 20:43] gdi2290 commented on #319
merged via https://github.com/angular/universal/commit/707580dc28b59a49fc7baee53b5c56673f76a65a

[2016-03-13 20:43] #319 closed

[2016-03-13 20:44] splintercode opened #321 "Href not known property"
Look like the rendering doesn't like setting link href properties. Both property syntax and interpolation fail. Not sure if I'm doing something wrong here. I'm still trying to debug this.

Can&#39;t bind to &#39;href&#39; since it isn&#39;t a known native property (&quot;_btns&quot;&gt;
                    &lt;span *ngFor=&quot;#source of candidate.sources&quot;&gt;
                        &lt;a [

[2016-03-13 20:52] gdi2290 commented on #321
this is a problem with angular2. you can use `[attr.href]="source"`

[2016-03-13 20:53] gdi2290 commented on #321
I'll update the renderer to default to an attribute when using href for the server

[2016-03-13 21:00] splintercode commented on #321
ah thanks! Totally forgot that href is an attribute and not a property.

[2016-03-13 21:03] #321 closed

[2016-03-16 12:27] jesussobrino commented on #294
I was getting crazy before I read this issue. I'm subscribing  waiting for news.
Thanks for a great work.

[2016-03-16 13:28] creaux commented on #294
Hah, exactly. Webpack seems to be the solution in the meantime.

[2016-03-17 03:29] sullivanpt commented on #293
@mlent I looked at your repo but it seems you've abandoned the TypeScript approach? I've gotten a little farther, the server side seems to render fine for me, but the client app crashes; which probably has nothing to do with universal. One of the provider Tokens is undefined during resolveProviders.

Code is here [https://github.com/sullivanpt/ng2-universal-seed](url)

[2016-03-17 08:29] mlent commented on #293
@sullivanpt Nope, I just tried to run my code under `ts-node` to see if something about this was handling the error, but running the same code on `ts-node` and plain `node` result in crashes as soon as the server tries to render. Was also thinking that this might just be a problem in Angular itself. So I guess you have the same problem as me, then?

[2016-03-18 01:12] gdi2290 opened #323 "update beta.10"

[2016-03-18 04:56] sullivanpt commented on #293
@mlent I got server and client side rendering working (yay!) using SystemJS. Check out the systemjs branch in my repo.  Caveat is I had to disable preboot; for reasons I haven't worked out yet client side angular never came to life when preboot was enabled.

@gdi2290 for SystemJS we're going to need some pre-bundling of angular2-universal/dist/.  I'm not sure if it is too early to start looking at

[2016-03-18 05:58] gdi2290 commented on #293
ya we can create a systemjs bundle

[2016-03-18 06:39] #274 closed

[2016-03-18 10:53] jeffwhelpley commented on #293
@gdi2290 That should just be at the angular-universal-preview level, right? I don't think I need to modify the preboot package for this, but let me know if you think differently.

[2016-03-18 17:10] gdi2290 commented on #323
done

[2016-03-18 17:10] #323 closed

[2016-03-18 17:11] gdi2290 commented on #310
at the moment I'm making sure to reference the same document for each new application within a prerender cycle

[2016-03-18 17:11] #310 closed

[2016-03-18 19:27] sullivanpt commented on #293
@mlent I have it all working now, I think you can close this ticket.  The master branch of my ng2-univeral-seed repo demonstrates vanilla JS using webpack/babel; whereas the systemjs branch demonstrates vanilla JS with no bundling or babel transpiling.

I collected some thoughts about the difficulties I encountered in the README.md and in TODO statements in the code. Briefly:
* angular2 seems too

[2016-03-20 07:55] gdi2290 opened #324 "fix(bootloader): revert breaking change for express-engine"
parse document for document prop

[2016-03-20 08:00] gdi2290 commented on #324
done via https://github.com/angular/universal/commit/5f288c3032aabf69eea6306ce9ccb80b0690ef60

[2016-03-20 08:00] #324 closed

[2016-03-20 08:00] gdi2290 opened #325 "include preboot deps"
preboot requires gulp deps and should be inside the module

[2016-03-20 08:11] gdi2290 commented on #325
done via https://github.com/angular/universal/commit/cf753119dc0734588a985f8b9b77900d0723302f

[2016-03-20 08:11] #325 closed

[2016-03-20 16:48] joaogarin commented on #316
Hello,

I am still getting this problem with latest version.

https://github.com/angular/universal/issues/274 seems to be resolve but in my app it looks like the client side is never really picked up.

My repo is https://github.com/joaogarin/myblog-angular2, the HTTP calls do seem okay as I can log and see that I receive a response but in the client nothing is really rendered.

[2016-03-21 02:51] wellingWilliam commented on #316
This is also the case for me. The server is able to make and receive a response from the http request, but does not template the observable with the async pipe before handing the html to the client.

https://github.com/wellingWilliam/Angular2DSpaceUIPrototype/tree/redesign

"dependencies": {
    "angular2": "2.0.0-beta.11",
    "angular2-universal-preview": "~0.82.0",
    "angular2-websocket": "^0

[2016-03-21 03:08] gdi2290 opened #326 "feat(universal): allow https for NodeConnection"
NodeConnection should be either `http` or `https`

[2016-03-21 03:10] gdi2290 commented on #316
@wellingWilliam I'll fix the https issue and look into |async you can track the http issue at https://github.com/angular/universal/issues/326

[2016-03-21 03:19] gdi2290 commented on #326
done via https://github.com/angular/universal/commit/5c8c7a59f959fa4d7e04bbbe6e0d6a1a290f26b0
cc @wellingWilliam released as `0.82.1`

[2016-03-21 03:19] #326 closed

[2016-03-21 03:25] gdi2290 opened #327 "allow `|async` AsyncPipe to work before rendering"
make sure `|async` works

[2016-03-21 03:34] wellingWilliam commented on #326
Awesome. Thanks.

[2016-03-21 05:34] wellingWilliam commented on #316
Found cause of client side error. preboot_browser start was conditioning true on an empty object created on dom init.

`dom.state.body ? load() : dom.onLoad(load);
`
maybe more like:

[code]

alternatively

dom init should default to null

[2016-03-21 05:35] wellingWilliam commented on #316
@gdi2290 any way to track progress on templating through async pipe on server?

[2016-03-21 06:00] wellingWilliam commented on #316
my bad. bootloader serializeApplication gives the undocumented property on ngApp

[code]

server-side rendering of async calls work great. thanks again

[2016-03-21 06:14] gdi2290 commented on #316
@wellingWilliam can you create an issue about the preboot error?

[2016-03-21 06:29] wellingWilliam opened #328 "fix(bootloader): test for initial start conditions"
* **I'm submitting a ...**
- [X ] bug report

* **What modules are related to this pull-request**
- [X ] preboot

* **Do you want to request a *feature* or report a *bug*?**

report a bug

* **What is the current behavior?**

cloneNode error, is null

* **If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem** by creating a github rep

[2016-03-21 08:00] joaogarin commented on #316
Using

`providers: [
            provide(APP_BASE_HREF, { useValue: baseUrl }),
            provide(REQUEST_URL, { useValue: url }),
            ROUTER_PROVIDERS,
            NODE_LOCATION_PROVIDERS,
            NODE_PRELOAD_CACHE_HTTP_PROVIDERS
        ],
        async: true,
        preboot: true,
        precache: true,`

I can get it to render on the template. But still my client side app does

[2016-03-21 08:12] gdi2290 commented on #316
I'm going to replace NODE_PRELOAD_CACHE_HTTP_PROVIDERS with NODE_HTTP_PROVIDERS soon so for now use NODE_PRELOAD_CACHE_HTTP_PROVIDERS.

@joaogarin on the client you need to tell preboot to complete and swap the views

[code]

[2016-03-21 08:17] joaogarin commented on #316
`import 'angular2-universal-preview/polyfills';
import {prebootComplete} from 'angular2-universal-preview';

import {bootstrap} from 'angular2/platform/browser';
import {ROUTER_PROVIDERS} from 'angular2/router';
import {HTTP_PROVIDERS} from 'angular2/http';

import {App} from './app/app';

bootstrap(App, [
    ...ROUTER_PROVIDERS,
    ...HTTP_PROVIDERS
])
.then(prebootComplete);
`

This is how my

[2016-03-21 11:07] jeffwhelpley commented on #328
@wellingWilliam OK, I am crazy busy today, but I should be able to work on this later tonight. I will let you know if I have any questions.

[2016-03-21 11:08] jeffwhelpley commented on #313
will be mucking with preboot tonight, so will try to get to this as well.

[2016-03-21 13:50] wellingWilliam commented on #328
Thanks. No hurry at all. I can patch for now to continue development. You will see the bug really quick.

Uncaught TypeError: Cannot read property 'cloneNode' of null

from buffer_manaeger serverRoot being null

caused by

preboot_browser calling dom.init, which defaults window and document to {}, causing the following line to evaluate wrong on the first pass

dom.state.body ? load() : dom.onLoad(

[2016-03-21 13:56] wellingWilliam commented on #316
This is how I finally had the server render async requests if client javascript disabled.

[code]

Specifivally having both async and precache true with NODE_PRELOAD_CACHE_HTTP_PROVIDERS. Even though a warning says to use async instead of precache.

[2016-03-21 14:05] joaogarin commented on #316
Yes I noticed the **async** and **precache** true both need to stay so that it works on the server (rendering to the template). However for some reason I think due to some problems on my app the client side does not kick in..but server http works fine like @wellingWilliam mentions.

[2016-03-21 15:48] lngr commented on #316
FWIW, I have a similar, possibly related problem where the src attribute is empty when rendered as `<img src="{{imgSrc}}">`, but works when I use `<img attr.src="{{imgSrc}}">`. On the client both methods work.

[2016-03-21 15:50] wellingWilliam commented on #316
I have a working example on this. There is a slight flicker after the client runs prebootComplete. I recall a webinar saying this transition would eventually be smoother so the client does not have to re-render the template the server already rendered. However,if JavaScript is disabled the server returns templated html.

https://github.com/wellingWilliam/AngularUniversalDSpaceUIPrototype

There is

[2016-03-21 15:50] joaogarin commented on #316
@lngr I think for these cases you should be using the rendered https://github.com/angular/universal#best-practices

[2016-03-21 15:55] lngr commented on #316
@joaogarin thanks, I thought that this only referred to manipulation via `element.nativeElement.style = "font-weight: bold". But `img src` is also mentioned. I'll take a closer look.

[2016-03-22 12:45] wellingWilliam commented on #316
I have another potential issue with rendering *ngFor templates. Not sure if related with this issue or should be separate. When using async child routes and creating routerLinks within an ngFor the link provided by the server side rendering is broken. It does not append the path variable to the child route. Such as:

[code]

The client side works as expected and the link navigates to the desired c

[2016-03-22 15:30] gdi2290 commented on #316
@wellingWilliam can you create a new issue about async child routes with routerLink

[2016-03-22 15:32] gdi2290 commented on #316
@lngr can you create another issue about `src="{{ url }}"`

[2016-03-22 23:03] wellingWilliam opened #330 "server side rendering of async child route parameters with routerLink from http response"
**Note: for support questions, please use one of these channels:** https://github.com/angular/universal/blob/master/CONTRIBUTING.md#question. This repository's issues are reserved for feature requests and bug reports.

* **I'm submitting a ...**
- [X] bug report

* **What modules are related to this pull-request**
- [X] universal

* **Do you want to request a *feature* or report a *bug*?**
bug

*

[2016-03-22 23:07] wellingWilliam commented on #316
@gdi2290 done. https://github.com/angular/universal/issues/330

[2016-03-23 13:01] lngr opened #331 "server side rendering of img src attribute within ngFor-collection coming from an http call"
* **I'm submitting a ...**
- [X] bug report
- [ ] feature request

* **Do you want to request a *feature* or report a *bug*?**

bug

* **What is the current behavior?**

the `src` attribute on the `<img>` tag is not rendered within a *ngFor if the *ngFor loops over a collection that is fetched via ajax.

If `attr.src` is used, it works just fine.

On client rendering, both methods work just fine.

[2016-03-23 13:04] lngr commented on #316
@gdi2290 done. #331

[2016-03-24 00:03] bjwyse commented on #304
I tested with encodeHtmlEntities set to true and it worked as expected, for ampersands at least.

Can you give an example of some HTML that caused an issue?

[2016-03-24 04:42] wellingWilliam commented on #330
I have investigated this issue and have found a JavaScript patch.

JavaScript patch:

angular2\src\router\instruction.js

[code]

I am aware this is not a fix. I do not have a typescript solution yet.

A SWAG would be to make the second argument non optional of the constructor for an UnresolvedInstruction.

constructor(_resolver: () => Promise<Instruction>, _urlPath?: string, _urlParams?: string[]

[2016-03-24 07:49] gdi2290 commented on #330
@wellingWilliam can you make a pull-request in the angular repo and provide a link to this one

[2016-03-24 13:16] wellingWilliam commented on #330
@gdi2290 I did a bit more analysis and realized that it is due to the UnresolvedInstruction component being null and does not return the urlPath to append.

https://github.com/angular/angular/issues/7752

[2016-03-24 13:51] wellingWilliam commented on #330
Had some trouble with the cla and which github account I made the commit for the pull request angainst angular repository.

[2016-03-24 17:30] Quramy opened #332 "Allow to embed custom <script> tag"
* **I'm submitting a ...**
feature request

* **What modules are related to this pull-request**
express-engine (or universal bootloader option)

* **Do you want to request a *feature* or report a *bug*?**
A feature

* **What is the expected behavior?**

I want to embed my `<script>....</scrpt>` to rendered HTML on server-side.

I understand that I can realize this using some Express middleware lib

[2016-03-25 15:24] taylorstine opened #333 "preboot cannot find client nodes to replay events"
* **I'm submitting a ...**
- [x ] bug report
- [ ] feature request
- [ ] support request => Please do not submit support request here, see note at the top of this template.

* **What modules are related to this pull-request**
- [ ] express-engine
- [ ] grunt-prerender
- [ ] gulp-prerender
- [ ] hapi-engine
- [ x] preboot
- [ ] universal-preview
- [ ] universal
- [ ] webpack-prerender

* **Do you w

[2016-03-25 16:24] taylorstine commented on #333
Note that setting `buffer: false`, fixes this problem, but I'm still curious about how to make this work with the buffer.

[2016-03-26 04:42] gdi2290 opened #334 "update beta.12"

[2016-03-26 10:36] jeffwhelpley commented on #333
@taylorstine I am in the process of making a number of fixes, so I will have something for this within a couple days.

[2016-03-27 00:20] #334 closed

[2016-03-27 04:50] gdi2290 opened #336 "create NodeTemplateParser"
the current TemplateParser removes `<style>` and `<script>` so we can not use the index.html as the template

[2016-03-27 05:15] #336 closed

[2016-03-27 07:00] gdi2290 opened #337 "create *ngRepeat or create NodeNgFor"
We need a ngFor without the template for simple repeats (initial renders)

[2016-03-27 09:06] #337 closed

[2016-03-28 02:33] gdi2290 opened #338 "reimplement prime cache feature"
add prime cache feature to reuse the response from the server for the client

related
https://github.com/angular/universal-starter/issues/61
https://github.com/angular/universal-starter/issues/62

[2016-03-28 04:52] Quramy commented on #332
What I want to do will be realized by cache transfer mechanism at #338 .

[2016-03-28 04:52] #332 closed

[2016-03-28 05:04] gdi2290 commented on #332
The prime cache feature in that issue us for http cache while this one is a general cache outside of http.

[2016-03-28 05:23] Quramy commented on #332
@gdi2290 . I got it.

Will you add feature of the "general cache outside of http"?

And I found #271, which you opened.  It seems `ngCache` is a general cache service.
It will me meet my goal?

[2016-03-28 07:49] tycho01 commented on #293
Heads-up: I got the same error after a code refactor.
It's notable I'm also using ng2 with ES6, though I'm not using Universal, so yeah, this does seem to relate more to ng2 injection than to Universal.
Will try to investigate more on my part as well; before injection all the injectables appear properly resolved though.

[2016-03-28 09:12] gdi2290 commented on #332
Yup, if there was NgCache then you would make a simple wrapper around the Falcor model

[2016-03-28 20:12] MarkPieszak opened #340 "Universal-previous error : Cannot read property 'length' of null - coming from bootloader.js"
* **I'm submitting a ...**
- [X] bug report

Pulled down from copy of universal-starter, OS X. On running `npm start` once the localhost:3000 is opened, it's throwing a webpage not found & node logs error on what looks to be bootloader?

Seems to related to angular-universal-previous.

Node 5.9.1

[code]

- Angular version: 2.0.0-beta.X
- Browser: [all ]
- Language: [all | TypeScript 1.9 ]
- OS:

[2016-03-29 17:42] gdi2290 commented on #340
can you change the universal version to `"angular2-universal-preview": "~0.84.1",`

[2016-03-31 02:57] gdi2290 opened #341 "update beta.13"

[2016-03-31 03:32] gdi2290 commented on #341
done via https://github.com/angular/universal/commit/8cea1b36a548cfafc37d287333bfa443794fb850

[2016-03-31 03:32] #341 closed

[2016-04-01 11:24] jesussobrino opened #342 "CSS doesn't apply when using server-only-apps"
**I'm submitting a ...**
- [x] bug report

I don't know if you already know this issue, but I'm trying to explain it as best as I can.

When I try to apply any CSS styles to "server-only-apps", that styles never appears. So the CSS classes don't apply.

**Github repo**

In order to make it easier to understand I forked universal-starter and I added "styles" attribute to "ServerOnlyApp" Component,

[2016-04-01 11:41] jesussobrino opened #343 "Failed to parse SourceMap: http://localhost:3000/dist/client/toSubscriber.js.map"
**I'm submitting a ...**
- [x] bug report

I'm running the https://github.com/angular/universal-starter app and I'm getting the following error in my console:

I think it's a bootStrapping client issue, because if I comment [client.ts][client-url]

**Github repo**

- https://github.com/angular/universal-starter
- And it also failing in my current project.

**Environment:**

- Angular version: 2.0.

[2016-04-01 18:45] MarkPieszak commented on #340
Genius. @gdi2290

That did the trick :)
Sorry for the delay!

[2016-04-01 18:45] #340 closed

[2016-04-01 19:02] gdi2290 commented on #340
thanks for the rely the module lives here https://github.com/angular/universal/tree/master/modules/universal

[2016-04-02 20:36] keatz55 commented on #273
+1

[2016-04-03 00:45] gdi2290 commented on #327
this was fixed after creating `checkStable` rather than `ngZone.onStable`

[2016-04-03 00:45] #327 closed

[2016-04-03 00:48] gdi2290 commented on #267
@qdouble we’re tracking `setTimeout`, `setInterval` (although no one should use this for SSR), and `setImmediate` now in zone.js with angular2-universal-polyfills `0.3.1` and our new way of checking when the app is stable via `checkStable`

[2016-04-03 00:48] #267 closed

[2016-04-03 10:14] jeffwhelpley commented on #333
@taylorstine OK, so I am in the process of submitting my PR today, but to clarify a couple things:

1. We make a shallow copy because we just need the root div where Angular will render to on the browser side. So, all the nodes will be there as soon as Angular is done rendering.
1. In your preboot config you forgot to include `listen: 'attributes'` which is needed if you are identifying preboot ev

[2016-04-03 12:13] taylorstine commented on #333
@jeffwhelpley :1: thank you very much.  I've implemented your suggestions, and everything is working like a charm :four_leaf_clover:

[2016-04-04 19:40] cdcooksey commented on #293
@tycho01  Agreed.  This thread fixed my problem, but it does not seem to be related to Universal or Babel.

This is my `package.json`

[code]

The app worked perfectly in the browser, but the test failed with:

[code]

The fix was to remove `import 'angular2/bundles/angular2-polyfills';` from the top of my component spec.

[code]

Instantiation of my `PersonForm` child component no longer throws t

[2016-04-05 04:24] gdi2290 commented on #333
fixed via https://github.com/angular/universal/commit/389238ba8c834a46b4d420696d142802783f6111

[2016-04-05 04:24] #333 closed

[2016-04-05 04:24] gdi2290 commented on #328
fixed via https://github.com/angular/universal/commit/389238ba8c834a46b4d420696d142802783f6111

[2016-04-05 04:24] #328 closed

[2016-04-05 05:59] Bhushan001 commented on #294
@gdi2290 i tried using full url as `templateUrl: 'http://localhost/app/app.component.html'` but no success.

[2016-04-05 06:04] helenitvn commented on #294
Try to use this instead @Bhushan001:
templateUrl: 'app/app.component.html'

[2016-04-05 06:17] Bhushan001 commented on #294
@helenitvn @gdi2290 I tried `templateUrl: 'app/app.component.html'`
after that I was getting this error:
`EXCEPTION: Failed to load app/app.component.html
ngOnInit Error: Failed to load app/app.component.html
Async Error: Failed to load app/app.component.html
ngOnStable Error: Failed to load app/app.component.html
preboot Error: Failed to load app/app.component.html
Rendering Document Error: Faile

[2016-04-05 06:43] helenitvn commented on #294
Could you show me your project structure?

It works in my case.

![templateUrl](http://i.imgur.com/jakR3jO.jpg?1)

[2016-04-05 08:10] Bhushan001 commented on #294
@helenitvn in case of normal angular2 app it works. I am trying to use it with universal-starter
![directory structrure](https://cloud.githubusercontent.com/assets/7402241/14275214/9d256da0-fb33-11e5-9447-4ac55868c017.png)

[2016-04-05 08:24] jesussobrino commented on #343
After updating to **Angular-universal version: 0.85.1** I got theses console error:

![Uploading angular-universal-0.85.1.jpg…]()

I hope it helps.

Thanks again.

**Environment:**

- Angular version: 2.0.0-beta.13
**- Angular-universal version: 0.85.1**
- Browser: [Chrome 49.0.2623.110 ]
- Language: [TypeScript 1.8.9]

[2016-04-05 08:25] jesussobrino commented on #343
After updating to **Angular-universal version: 0.85.1** I got theses console error:

![angular-universal-0 85 1](https://cloud.githubusercontent.com/assets/4729067/14275590/8bb05a8c-fb18-11e5-8298-072b93d37890.jpg)

I hope it helps.

Thanks again.

**Environment:**

- Angular version: 2.0.0-beta.13
**- Angular-universal version: 0.85.1**
- Browser: [Chrome 49.0.2623.110 ]
- Language: [TypeScript 1

[2016-04-05 08:28] helenitvn commented on #294
I also use [universal-starter](https://github.com/angular/universal-starter) as my seed, too.

In your case you need to use `templateUrl: '/src/app/app.component.html'` instead `templateUrl: '/app/app.component.html'`

[2016-04-05 09:14] Bhushan001 commented on #294
@helenitvn its still not working

[2016-04-05 19:22] SteveSandersonMS opened #347 "Support rendering just a single component rather than a complete HTML document"
As discussed, please add support for rendering just a single component element to an HTML string, instead of requiring the template to be an entire HTML document.

For example, instead of this:

[code]

... it should be possible to do this:

[code]

Currently, Angular Universal automatically wraps the output in `<html>` etc even if it wasn't requested in the template. This feature is particuarly r

[2016-04-05 19:24] SteveSandersonMS opened #348 "Support making HTTP requests with relative URLs"
As discussed on slack, currently you can't do this inside an Angular 2 component executing on the server:

    http.get('/api/my-json')

... because on the server, the URL isn't resolved against `BASE_URL`. Instead you have to give an absolute URL.

For consistency with client-side code, please resolve relative URLs against the base URL. Thanks!

[2016-04-06 05:41] jeremythuff commented on #294
For me `templateUrl: '/src/app/view/dashboard.component.html'` is not working. It throws "EXCEPTION: Error: Uncaught (in promise): Failed to load /src/app/view/dashboard.component.html"

`templateUrl: 'http://localhost:3000/src/app/view/dashboard.component.html'` is grabbing the template but not waiting on asynchronous content before rendering.

[2016-04-06 15:11] MarkPieszak commented on #347
I could try and take this one if it's not too difficult you think @gdi2290 ?

It sounds like we just need to be testing for the existence of `<!doctype>` or `<html>` etc and not applying it if need be?

[2016-04-06 15:15] MarkPieszak commented on #348
@SteveSandersonMS Are you trying to implement Universal within .NET Core with Kestrel or anything? Very curious to see how you're doing all of that. I've only been able to play around with Universal in a Node environment so far.

[2016-04-06 15:31] MarkPieszak opened #349 "Cannot find module 'body-parser'. - in server.ts"
When running the `npm start` task (I believe any task `npm run watch` task as well)

It's error'ing in the console for `Cannot find module 'body-parser'.` I'm assuming since webpack is grabbing that node server `.ts` file and Node isn't running in this instance. I'm looking into the fix now, pretty sure it just needs a basic *exclude* for that file. (At least for this demo)

* **I'm submitting a .

[2016-04-06 15:58] MarkPieszak opened #350 "BrowserDomAdapter: Uncaught UnsubscriptionError - Rx subscription issue"
Made sure to get latest just this morning for the *universal-starter*.

Same issue as #343

Once the project gets up and running with `npm start` there seems to be errors coming up for `BrowserDomAdapter`. Trying to figure out how this is related to Universal (or whether it's an Angular2 issue itself).

It seems to all be tied into:

[code]

As well as `app.component.ts` here: **Also: commenting o

[2016-04-06 16:36] MarkPieszak commented on #342
Tested it myself, it seems to be ignoring all `styles : []` located in the `server-only-app` Folder. (In our case, the `html.component.ts` file.

Looking into it more right now.

[2016-04-06 16:38] MarkPieszak commented on #343
Related to issue #350 . I put some additional debugging details and stacktrace info there.
Removing the `http.get.json()` line in **app.component.ts** seems to solve the problem. There seems to be a conflict with RxJS going on here.

[2016-04-07 06:58] Bhushan001 commented on #294
@gdi2290 @jeffwhelpley @jeremythuff @helenitvn previously
 `templateUrl: 'http://localhost:3000/src/app/app.component.html'` worked from me to use external html but its not working anymore.I mean its not giving any error but the template is not getting rendered in app.
please have a look at my repository for code.[Universal-Starter](https://github.com/Bhushan001/universal-starter-master)
Thanks in