[2016-09-22 15:53] MarkPieszak commented on #273
You know how it is, nothing is ever as easy as it seems :)

Plus there's been so many Core changes, think the priority has been to just try and keep up to date & evolve with it. Guessing now we'll be able to focus on improving every aspect of Universal... performance, docs, APIs, new things, etc.

[2016-09-22 16:14] tinchou commented on #273
Awesome!

And I'm glad your answer is not "because there's this quirk that will make
you pull your hair out" :)

On Thu, Sep 22, 2016 at 12:53 PM Mark Pieszak <notifications@github.com>
wrote:

[2016-09-22 18:47] kuldeepkeshwar commented on #273
@tinchou
example for implementing cookie

https://github.com/kuldeepkeshwar/universal-starter/blob/master/src/main.node.ts
https://github.com/kuldeepkeshwar/universal-starter/blob/master/src/main.browser.ts
https://github.com/kuldeepkeshwar/universal-starter/tree/master/src/common/utils

[2016-09-23 07:39] cipriansorlea commented on #533
This prevents any website built with Universal to be SEO friendly and have custom titles and meta tags. Any clue when this would be available? In RC4 I was able to get Universal running and be SEO friendly, but with the GA version, that seems to no longer work.

[2016-09-23 09:10] eryi opened #553 "Binding ngModel to a number prevents component from rendering server side"
- **I'm submitting a ...**
- [X] bug report
- **What modules are related to this Issue?**
- [X] express-engine
- **If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem** by creating a github repo.
  1. git clone https://github.com/angular/universal-starter (49a9dc8)
  2. replace src/app/app.ts with the code inlined below (2 new lines

[2016-09-23 13:12] crebuh commented on #549
@bogomips  was mentioning the possibility to lazy laod modules within an ng2-application. Is this also possible within an universal application?

[2016-09-23 14:10] bogomips commented on #549
@crebuch For what I've understud It is indipendent, so I guess yes

[2016-09-24 17:37] jaumard commented on #260
@devCrossNet is there an issue or something where we can follow the status of this ? :D thanks for your great work !

[2016-09-24 18:06] devCrossNet commented on #260
@jaumard here is the PR: https://github.com/angular/angular-cli/pull/2318

[2016-09-25 16:42] MarkPieszak commented on #553
@gdi2290 shouldn't this part we added a while back due to the trick here?
https://github.com/angular/universal/blob/master/modules/platform-node/node-renderer.ts#L463

Not sure if ngModels are handled differently somehow...

[2016-09-25 22:45] MarkPieszak commented on #547
You could store it in a Root level Service like normal, and have all your http calls default to passing the Authorization Token to headers. Did you get some type of error when you tried that?
@FahadMullaji

[2016-09-26 02:48] mwaaas commented on #418
How will angular universal work with nginx

[2016-09-26 02:52] mwaaas opened #554 "Quick question on server rendering"
Am a bit new in server rendering idea in angular. I have two questions:
1. Where will server rendering be running on the browser or at the server
2. If it is at the server does it integrate well with nginx

[2016-09-26 07:10] lihxhit opened #555 "Could i use it in a spring MVC based java web project"

[2016-09-26 13:11] andresantos123 commented on #540
@gdi2290 I have the same problem trying to use the ngc with universal: "Error: Unexpected value 'UniversalModule' imported by the module 'AppModule'"

[2016-09-26 16:30] scott-wyatt commented on #554
The nignx part is kind of irrelevant here if that's how you are serving your node application.  The `server` is a node.js application that render's the application as if the client browser had rendered it and then servers the compiled html to the client where Angular then boots and continues where the server left off so to speak.
1) The rendering happens on the server, and then the client re-rende

[2016-09-26 17:07] MarkPieszak commented on #554
@scott-wyatt is spot on here.

You could integrate with whatever you chose, you just need to to serialize the application with Universal so that it pre-renders it as a String to the client.

[2016-09-26 18:20] drejohnson commented on #436
I still get duplicated styles with `ViewEncapsulation.None`

[2016-09-27 02:06] mwaaas commented on #554
@scott-wyatt @MarkPieszak  Thanks its a bit more clearer now

[2016-09-27 02:06] #554 closed

[2016-09-27 08:42] rjokelai opened #558 "[innerHTML] broken"
**Note: for support questions, please use one of these channels:** https://github.com/angular/universal/blob/master/CONTRIBUTING.md#question. This repository's issues are reserved for feature requests and bug reports. Also, **Preboot has moved** to https://github.com/angular/preboot - please make preboot-related issues there.

* **I'm submitting a ...**
- [x] bug report

* **What modules are relat

[2016-09-27 11:52] MarkPieszak commented on #558
We were all just talking about this one, this was fixed in the past, but Jeff&Pat were with the Core team last night, and it looks like it *may* be an Angular Core issue that's causing it. Jeff was saying unfortunately most of the Core team is also @ the Connect conference so it may not be resolved until next week.

[2016-09-27 11:56] MarkPieszak commented on #555
I don't believe Java->Universal integration has been done by anyone just yet. You can see the issue here (https://github.com/angular/universal/issues/280).

[2016-09-28 07:25] crebuh commented on #529
@thebarada

I expierenced the same issue, but then I was wondering why to import the Ng2BootstrapModule on the server side?

[2016-09-28 08:49] thrallala commented on #511
Hi @gdi2290, i see you've checked aot compilation, but i can't get it to work. From what i can gather, all libraries that i use in my project should have an index.metadata.json which is generated by the compiler-cli(ngc compiler). I've tried aot-compiling the universal project myself, but there are a bunch of "Error encountered resolving symbol values statically. Function calls are not supported.

[2016-09-28 12:48] Koslun commented on #534
3rd party:

- angular2-google-maps

 Seems to currently be the most popular angular 2 google maps wrapper library, can specifically see [issue 668 angular-universal support](https://github.com/SebastianM/angular2-google-maps/issues/668)

[2016-09-28 14:49] gdi2290 commented on #511
we're missing our metadata.json file

[2016-09-28 17:56] steve8708 commented on #540
did some looking into this and found for AOT support universal needs to be transpiled with `ngc` instead of `tsc` to generate `*.metadata.json` files for the `NodeModule` and `UniversalModule` and their dependencies

created this WIP [PR](https://github.com/angular/universal/pull/560) that I verified AOT does compile the `UniversalModule` with those updates

needs some cleanup and small updates st

[2016-09-28 18:03] steve8708 commented on #540
@qdouble I've been linking to my local universal from your starter to verify things are working. The error you report above is gone with the updates in my PR, but now ngc doesn't like that AppComponent is loaded into two modules (doesn't seem to account for transipiling multiple modules for multiple platforms at once), but that should be workaroundable by running two ngc processes (one on each pla

[2016-09-28 19:44] qdouble commented on #540
@steve8708 okay cool... probably have to use two tsconfigs with one ignoring the server config and the other ignoring the client?

[2016-09-28 20:17] steve8708 commented on #540
yeah exactly, or @qdouble what are your thoughts on generating the tsconfig files in a gitignored folder like `dist` and then running ngc against the generated files? that would avoid excess duplication at least

I'll test with hard coding two tsconfigs for not but may be nice to generate the file variations in the future if so many are needed

[2016-09-28 20:58] steve8708 commented on #540
actually, it looks like there is a better solution now

aot support for webpack exists via a loader and a plugin published under the `@ngtools` namespace from the angular-cli repo

usage by the CLI is [here](https://github.com/angular/angular-cli/blob/d29677815b039710041c107a29019a530703602f/packages/angular-cli/models/webpack-build-typescript.ts)

I'll take a look at this and see how it compares

[2016-09-28 21:11] qdouble commented on #540
@steve8708 yeah, I tried to play with it a bit earlier. The developer Rob says that it will still be a couple of days before it's ready for public use, just an fyi if you can't get it to work right now.

[2016-09-28 21:12] steve8708 commented on #540
ah, good to know, thanks @qdouble!

[2016-09-29 11:38] kuldeepkeshwar opened #561 "(feat):streaming universal with express"
expose a synchronous function to get rendered component , so that It can be streamed to the client

Example :

<img width="560" alt="screen shot 2016-09-29 at 5 03 16 pm" src="https://cloud.githubusercontent.com/assets/10448534/18952342/dd31a148-8666-11e6-90cb-f95fe26531e9.png">

[2016-09-29 15:18] esakkikrishnan opened #562 "What is the best way to implement Google Ads (DFP) and GA"
**Note: for support questions, please use one of these channels:** https://github.com/angular/universal/blob/master/CONTRIBUTING.md#question. This repository's issues are reserved for feature requests and bug reports. Also, **Preboot has moved** to https://github.com/angular/preboot - please make preboot-related issues there.

* **I'm submitting a ...**
- [ ] bug report
- [ ] feature request
- [X]

[2016-09-29 15:27] rahulsgit opened #563 "How to add Title & meta tags dynamically on server side for SEO"
**Note: for support questions, please use one of these channels:** https://github.com/angular/universal/blob/master/CONTRIBUTING.md#question. This repository's issues are reserved for feature requests and bug reports. Also, **Preboot has moved** to https://github.com/angular/preboot - please make preboot-related issues there.

* **I'm submitting a ...**
- [ ] bug report
- [ ] feature request
- [X]

[2016-09-29 16:25] scott-wyatt commented on #562
For Ads:
If you set the script tag as a variable and then use the `[innerHTML]` and bypass the security with a sanitizer, it should work, but use this with extreme caution because you are trusting a 3rdparty source.
[code]
For Analytics:
We personally use https://github.com/angulartics/angulartics2

[2016-09-29 20:35] alexeagle commented on #280
Has there been any discussion of Universal for Java without Spring?

While Spring is a great framework choice for the server, it's not the only one. Some teams may already have an established server design, and just want to incrementally improve their app with pre-rendering. Taking a dependency on Spring adds complexity and is not strictly necessary.

[2016-09-30 09:52] jeffwhelpley commented on #280
Yeah, here is a prototype using j2v8:

https://github.com/bennylut/hello-angular2-universal-j2v8

Note, though, that this prototype is using an older version of Universal and Angular itself. We wanted to hold off on the Java integration efforts until after Universal stabilized. Now that we have Universal working with the final release of Angular 2, we can revisit this effort. @alexeagle Brad gave

[2016-09-30 11:19] crebuh commented on #563
@rahulsgit

maybe this [post](https://builtvisible.com/universal-angular-2-server-side-rendering-seo-crawl-friendliness/) is something you are searching for?

[2016-09-30 12:45] crebuh opened #564 "Require css on server side not working"
* **I'm submitting a ...**
- [ x] support request

* **What modules are related to this Issue?**
- [x ] express-engine
- [x ] universal

* **What is the current behavior?**

In my main.browser.ts I'm requiring an external css file with:

     require('!style!css!../../libs/wp-frontend-libs/start-ui/build/css/separate/partials/base.css');

It works fine in the styles are inlined. When I want to inc

[2016-09-30 14:57] alexeagle commented on #280
I found that yesterday and got it partway fixed with 2.0 final in my fork: https://github.com/alexeagle/hello-angular2-universal-j2v8

Yes, let's have the launch meeting and get it started again. I need to confirm when everyone is back from London if this will be my 80% work for the next few weeks.

BTW there is a related issue: users who define their data model in Java objects, then serialize to

[2016-09-30 20:56] tinchou commented on #273
I made it work, but not without a lot of work. @SteveSandersonMS you may want to read since you opened https://github.com/aspnet/JavaScriptServices/issues/130.

@kuldeepkeshwar your solution was really helpful, and I managed to make it work with ASP.NET Core :). I had to remove all calls to Angular internal APIs (e.g. `isBlank`, `isPresent`) since that broke my client code, but it was pretty strai

[2016-09-30 21:21] pxwise commented on #558
Since upgrading from RC4, I also see the innerHTML / SafeHtml issue. SafeResourceUrl in a <link> attr.href is not working for me either. May need to check all DomSanitizer functions.

[2016-09-30 22:14] pxwise opened #565 "Persist element(s) for client view construction"
* **I'm submitting a ...**
- [ ] bug report
- [x] feature request
- [ ] support request => Please do not submit support request here, see note at the top of this template.

* **What modules are related to this Issue?**
- [ ] express-engine
- [ ] grunt-prerender
- [ ] gulp-prerender
- [ ] hapi-engine
- [ ] universal-next
- [x] universal
- [ ] webpack-prerender

* **Do you want to request a *feature

[2016-09-30 22:21] gdi2290 commented on #561
Thanks for the issue and looking into server rendering perf. So it turns out you actually don't want a synchronous function since it blocks the event loop like React's rendering current does. You can do the same with Angular 2 the only problem is dealing with DOM mutations that might happen within your application such as Angular itself is doing for styles. Right now the current solution is good e

[2016-09-30 22:21] pxwise opened #566 "Get AoT working"
* **I'm submitting a ...**
- [ ] bug report
- [x] feature request
- [ ] support request => Please do not submit support request here, see note at the top of this template.

* **What modules are related to this Issue?**
- [ ] express-engine
- [ ] grunt-prerender
- [ ] gulp-prerender
- [ ] hapi-engine
- [ ] universal-next
- [x] universal
- [ ] webpack-prerender

* **Do you want to request a *feature

[2016-10-01 00:01] scott-wyatt commented on #529
@crebuh because it wouldn't really be isomorphic if you couldn't... However, the dirty work around is in the docs.  You can load any module and have browser side pick one side and node pick the other, however that leaves you with having to shim up module by module which also really defeats the point.  There is some promise in the new `createGlobalProxy` but it still pretty far off from shimming al

[2016-10-01 03:13] kuldeepkeshwar commented on #561
@gdi2290 I do see a use-case for SEO here where it requires having `<html>` as root component to set meta tags according to content on the page ,but this can be solved by booting `<head>` and `<app>` separately and having a centralize service (providing pre-determined meta tags) for SEO.

  instead of having a synchronous function(which will definitely block everything) we can use callback/promise

[2016-10-01 03:24] kuldeepkeshwar commented on #558
@MarkPieszak I am also facing the same problem with `innerHTML`
I am using 2.0.0 version .

[2016-10-01 07:25] percinor opened #568 "httpservice call did not display in view-source ."
when i use httpservice grab data from localhost ,the web page success and  display well in tag ul list table.use ngfor,
![1](https://cloud.githubusercontent.com/assets/16224957/19012524/1a9937be-87eb-11e6-904b-ac7f25fd8ec4.JPG)
but these content data  did not display  in html view-source , did universal rendering table in html work error?
![3](https://cloud.githubusercontent.com/assets/16224957/19

[2016-10-01 12:25] drejohnson commented on #563
@crebuh That's solution seems outdated. You can't use EventEmitter in a service.

[2016-10-01 13:57] MarkPieszak commented on #568
Try upgrading Zone.js dependency in your package json to 0.6.23 instead of 21.
That should do the trick for now.

[2016-10-01 14:00] MarkPieszak commented on #568
This is something on the Zone side that needs to be fixed, because 23 can potentially cause other issues, but let us know if anything else comes up!

[2016-10-01 14:58] FrozenPandaz commented on #563
@drejohnson You can use an Observable instead.

[2016-10-01 18:15] thebarada commented on #529
@crebuh do you mean that I should not import bootstrap on server?
but how I will use bootstrap components on server side?
in this case, when rendering will be errors about unknown components

[2016-10-02 05:32] gdi2290 commented on #568
can you try zone version 0.6.25 which should be tracking http now

[2016-10-02 14:12] MarkPieszak commented on #529
Use ng2bootstrap @thebarada, it doesn't use jQuery or anything and should work.

[2016-10-02 16:19] percinor commented on #568
i update zonejs to 23 or 25, if  httpservice call web json  file ,it work very well .but if  i  modify src/server.ts to connect  localhost mysql on express , in zonejs 23 ,25   condition ,  could not start / but  in zonejs21 condition ,web page could display  ok  but viewsource  have no data,

in zonejs23,25 error message

[nodemon] starting `node dist/server/index.js`
D:\mediflip\an2un\universal-

[2016-10-02 19:28] jeffwhelpley commented on #273
Cool. Just note that we will make this easier. We have a couple high priority bugs we are working on now, but do have a ToDo for making it easier to pass server request values to Angular (i.e. so you can use DI instead of Zone to get the value).

[2016-10-02 20:22] mindruptive opened #569 "Universal Version going along with CLI 1.0.0-beta.16?"
Im using the CLI 1.0.0-beta.16 and would like to know if there is a universal sample that goes along with the CLI 1.0.0-beta.16. The samples are great but I ran into some problems (script paths in package.json, had to pin typecript version to 2.0.0 because of "https://github.com/angular/angular-cli/issues/1917" etc.)
The information under https://universal.angular.io/quickstart/ seems to be a bit

[2016-10-03 13:03] rahulsgit commented on #563
@FrozenPandaz Can you provide a working example for same

[2016-10-03 15:15] FahadMullaji commented on #547
I fixed this problem by using [angular2-cookies](https://www.npmjs.com/package/angular2-cookie) package.
So it was more of a work around than fixing this problem. I was trying store user information so I guess cookies was anyway a better approach.

[2016-10-03 16:01] gdi2290 commented on #568
@percinor can you create an issue in the angular/zone.js repo

[2016-10-03 16:01] #568 closed

[2016-10-03 18:05] Reuvenc commented on #568
@percinor [There's already a PR](https://github.com/angular/zone.js/pull/475) which solves the issue you encountered.

[2016-10-03 18:24] tinchou commented on #516
I'm seeing this error on:

Safari on iOS 9
Firefox 49 on Android Nougat

Not on:
Edge 38 on Windows 10
Safari on iOS 10
Any Chrome browser I tested, mobile or desktop

I came to this repo for a solution because I'm using `angular2-universal-polyfills`, and so I ditched `core-js` polyfills. Should I be adding this polyfill myself? Should this be polyfilled out of the box on your package?

I haven't

[2016-10-03 19:46] jeffbcross commented on #569
Not really sure, here is the PR to watch: https://github.com/angular/angular-cli/pull/2318

[2016-10-03 19:46] #569 closed

[2016-10-03 19:57] jeffbcross commented on #565
The `@angular/app-shell` library does exactly this: https://github.com/angular/mobile-toolkit/tree/master/app-shell

I just noticed the docs are out of date, the library now ships with a module:

[code]

And then when including the module server side, include the module as `AppShellModule.prerender()`, and client-side is `AppShellModule.runtime()`.

Then you can use the directives `*shellRender` t

[2016-10-03 19:57] #565 closed

[2016-10-03 20:13] jeffbcross commented on #564
I'm no Webpack expert, but it seems like Universal is getting files before they've been Webpacked. @gdi2290 can probably give pointers, but for the sake of issue cleanup I'm going to close this issue as out-of-scope.

[2016-10-03 20:13] #564 closed

[2016-10-03 20:14] joshmattvander commented on #272
@gdi2290 where does UNIVERSAL_CACHE come from? I am running `^2.0.11`

[2016-10-03 20:14] jeffbcross commented on #563
Please see https://github.com/angular/universal/blob/master/CONTRIBUTING.md#question

[2016-10-03 20:14] #563 closed

[2016-10-03 20:15] jeffbcross commented on #562
https://github.com/angular/universal/blob/master/CONTRIBUTING.md#question

[2016-10-03 20:15] #562 closed

[2016-10-03 20:16] #561 closed

[2016-10-03 20:20] gdi2290 commented on #555
Hi, thanks for creating an issue and your interest in Angular Universal. As @MarkPieszak said you can follow the https://github.com/angular/universal/issues/280 issue for Java backend support with Angular Universal. Thanks!

[2016-10-03 20:20] #555 closed

[2016-10-03 20:22] andresantos123 commented on #540
@steve8708 I tried to use your solution, but it still ask for UniversalModule. There is something that I'm missing?

[2016-10-03 20:23] gdi2290 commented on #503
@amitport can you create an issue about consolidate.js support

[2016-10-03 20:28] felipedrumond commented on #514
I'm back with a new simular issue :-(
After migrating angular RC4 to final release and creating loads of modules for my application, my application now has a strange behaviour: it blinks only the content of router-outlet.

My app.component.html has the following html structure:
`<header></header>
<router-outlet></router-outlet>
<footer></footer>`

This way, my app constructs header (which has some

[2016-10-03 20:38] steve8708 commented on #540
@andresantos123 what exactly did you try?

My PR is still currently open so the only way to try it out currently would be to checkout my branch locally, do a build, link your local universal modules to the project that depends on universal using `npm link`, and replace `import { /* ... */ } from 'angular2-universal'` to `import { /* ... */ } from 'angular2-universal/browser'` and `import { /* ...

[2016-10-03 20:43] andresantos123 commented on #540
@steve8708 Great, thanks! I pointed to your commit from npm but didnt replace the imports. I will try that.

[2016-10-03 21:04] Quixomatic opened #572 "Feature Request: Universalize the title element in the header so that document.title isn't being used"
**Note: for support questions, please use one of these channels:** https://github.com/angular/universal/blob/master/CONTRIBUTING.md#question. This repository's issues are reserved for feature requests and bug reports. Also, **Preboot has moved** to https://github.com/angular/preboot - please make preboot-related issues there.

* **I'm submitting a ...**
- [ ] bug report
- [x] feature request
- [ ]

[2016-10-03 21:32] jeffwhelpley commented on #347
@gdi2290 what is the status here? we currently don't have the ability to do the html component, right?

[2016-10-03 21:36] jeffwhelpley commented on #382
So, there is a way to support this in the future. Closing this in favor of #512

[2016-10-03 21:36] #382 closed

[2016-10-03 21:39] jeffwhelpley commented on #392
@tbosch this is just a reminder per our discussion at AngularConnect to keep this in the back of your mind while you are tinkering around. Is there a way to hydrate the client on top of a server view? After a couple more fixes and the implementation of NgCache, we will have the current preboot buffer driven approach working well, but hydration could offer even more benefits. Just something to thin

[2016-10-03 21:42] jeffwhelpley commented on #394
@manekinekko I am away this week, but just a heads up that we are going to kick off this effort again next week and would love to get your help. We will chat on slack.

[2016-10-03 21:43] jeffwhelpley commented on #412
@rifmj is this still an issue with all the latest updates? I am closing for now, but if you identify it is still a problem, I will re-open this and start investigating it again.

[2016-10-03 21:43] #412 closed

[2016-10-03 21:44] jeffwhelpley commented on #432
@gdi2290 what is the status here?

[2016-10-03 21:47] jeffwhelpley commented on #444
As discussed with @jeffbcross we will move the package to @angular once we get the new build process and appropriate testing in place. This move will also include using the same version cadence as other angular core modules.

[2016-10-03 21:50] jeffwhelpley commented on #450
@vinodbhargava it depends on how you are generating a chart. Currently, Universal on the server side doesn't work with any jQuery or browser-specific libraries. If you can generate the charts in a headless fashion via a normal node.js library then it could work, BUT just be aware that this type of resource intensive job would cause issues with scalability on your web server. For the near term, I s

[2016-10-03 21:50] #450 closed

[2016-10-03 21:52] jeffwhelpley commented on #454
I am going to consolidate this issue with #309 where we are discussing creating universal services that will make it easy to change the meta tags.

[2016-10-03 21:52] #454 closed

[2016-10-03 21:55] jeffwhelpley commented on #457
Animations will not work on the server because there is no browser and thus nothing to "animate". However, once #512 is done then you will be able to prerender static screenshots of your animations (as Patrick sort of alluded to above). Please follow #512 for more.

[2016-10-03 21:55] #457 closed

[2016-10-03 21:58] andresantos123 commented on #540
@steve8708 Just tried change the imports, but now it give this error:
Error: Unexpected value 'NodeModule' exported by the module 'UniversalModule'

[2016-10-03 21:59] jeffwhelpley commented on #476
This is an issue with node.js. The solution on the node side is something like this:

http://stackoverflow.com/posts/24376813/revisions

When you make your http call, if you need to you can always split your logic using DI swapping so the node version uses a solution like this with http.

[2016-10-03 21:59] #476 closed

[2016-10-03 22:01] jeffwhelpley commented on #481
With all the latest versions of Angular and Universal, I can't recreate this issue any longer. Please test this out again and if you find anything, post your results here and we will re-open the investigation.

[2016-10-03 22:01] #481 closed

[2016-10-03 22:06] jeffwhelpley commented on #572
This is a dupe of #309 where we are in the process of working on this feature.

[2016-10-03 22:06] #572 closed

[2016-10-03 22:10] jeffwhelpley commented on #558
@jeffbcross can you take a look into this? It was working before and something in core may have changed.

[2016-10-03 22:16] jeffwhelpley commented on #549
Hey, so I am totally sympathetic to this issue. We have a large amount of documentation that will address this in the near future. Follow #394 for the progress on this. I want to focus our efforts on making it easy to push out docs through this change and then you will start seeing a lot more helpful info. In the meantime, if you have any specific issue or question feel free to post an issue in Gi

[2016-10-03 22:16] #549 closed

[2016-10-03 22:18] jeffwhelpley commented on #547
If you want to store info on a request basis, use service at root module. If you want to store something across multiple requests for a particular user, store ID in cookie for auth and then have the data in redis or somewhere similar on the server side (or just everything in the cookie if it is a small amount of data).

[2016-10-03 22:18] #547 closed

[2016-10-03 22:21] jeffwhelpley commented on #544
We will get to this, but FYI, for most of my server side testing I just use Jasmine or Mocha/Chai without Karma. I will work on getting examples up with docs in the future.

[2016-10-03 22:23] jeffwhelpley commented on #566
Consolidating this with #540

[2016-10-03 22:23] #566 closed

[2016-10-03 22:26] jeffwhelpley commented on #533
@jeffbcross this is a super high priority issue that we need to talk about this week

[2016-10-03 22:27] #529 closed

[2016-10-03 22:29] jeffwhelpley commented on #525
Please follow #273 for this

[2016-10-03 22:29] #525 closed

[2016-10-03 23:05] FrozenPandaz opened #573 "Component IDs are Misaligned between Client and Server"
**Note: for support questions, please use one of these channels:** https://github.com/angular/universal/blob/master/CONTRIBUTING.md#question. This repository's issues are reserved for feature requests and bug reports. Also, **Preboot has moved** to https://github.com/angular/preboot - please make preboot-related issues there.
- **I'm submitting a ...**
- [ ] bug report
- [ ] feature request
- [ ]

[2016-10-03 23:21] tbosch commented on #392
Will do!

On Mon, Oct 3, 2016 at 2:39 PM Jeff Whelpley <notifications@github.com>
wrote:

[2016-10-04 00:36] Quixomatic commented on #572
Ah gotcha, sorry for duplicating a known issue.

[2016-10-04 03:11] gdi2290 commented on #558
see PR https://github.com/angular/universal/pull/570 the change was parse5 2.x.x

[2016-10-04 03:16] gdi2290 commented on #432
use webpack and angular2-template-loader

[2016-10-04 03:16] #432 closed

[2016-10-04 08:51] amitport opened #574 "feat: support consolidate.js"
- **I'm submitting a ...**
- [ ] bug report
- [x] feature request
- [ ] support request => Please do not submit support request here, see note at the top of this template.
- **What modules are related to this Issue?**
- [x] express-engine
- [ ] grunt-prerender
- [ ] gulp-prerender
- [ ] hapi-engine
- [x] universal-next
- [x] universal
- [ ] webpack-prerender
- **Do you want to request a _feature_

[2016-10-04 14:04] percinor commented on #568
@Reuvenc   i already modified util.ts and events.ts  like #475, but how to build it to dist package ,it didn't  like angular2 just run  npm start  or run tsc to build.  tks .

[2016-10-04 14:09] MarkPieszak commented on #347
Originally it worked when I just looked to see if there was doc type, an html tag etc (then proceed like normal), otherwise do parseFragment on the <app> or whatever was passed in and it did seem to work. @jeffwhelpley think the codes still there, just commented out.

[2016-10-04 15:08] jeffwhelpley commented on #347
OK, so in that case, this issue is dependent on #533 which is a top priority right now. Let's focus on that and then we can come back to this.

[2016-10-04 16:36] alexeagle opened #575 "Proposal: use a formatter for style rather than tslint"
universal currently has style rules in tslint.json which must be manually adhered to.
I suggest we do the same as angular/angular, and just hook up `clang-format` to let the computer do the formatting.
It requires letting go of some personal style preferences, but I think this is worth it in exchange for never thinking about it again.

See my long rant on this: https://medium.com/@Jakeherringbone/

[2016-10-04 17:55] steve8708 commented on #540
@andresantos123 perhaps, if it's not an issue, just wait for the PR to be merged and published first

to get the npm linking right to get around that issue is a bit complicated because it involves linking multiple modules to multiple others, but should be easy once this PR gets in which hopefully will be today!

[2016-10-04 17:57] andresantos123 commented on #540
@steve8708 Great! Thanks and I will be waiting for that. After publish I test and reply to you if everything worked fine 👍

[2016-10-04 18:34] gdi2290 commented on #573
The problem here is when you include UniversalModule in more places other than just the root module. The real issue is APP_ID which is cached when creating a module factory which needs a core change. In UniversalModule we're creating a new APP_ID for each time UniversalModule is included which is causing this problem

see repo for repo
https://github.com/FrozenPandaz/universal-starter

[2016-10-04 20:32] MarkPieszak commented on #347
Sounds good to me, yea there's definitely higher priority stuff right now.

[2016-10-04 20:49] alexeagle opened #576 "ngconfig.json is a bad pattern"
I created the `ngc` configuration in such a way that it can live in the `tsconfig.json` file along with typescript settings.
Ultimately the plan is for `tsc` to replace `ngc` once the extensibility-model branch is worked out.

Users should not need a separate copy of their `tsconfig.json` just to run ngc on it. This antipattern exists in the universal examples which makes me concerned that lots of

[2016-10-04 20:52] MarkPieszak commented on #576
Good idea!

Another thing is maybe we should re-label the "examples" to "testing-playground" or some other name. It's used just so that we can test changes made to Universal/etc modules, and run through some live pseudo scenarios. Ideally we don't want people to follow what's going on in those since the setup is crazy!

[2016-10-04 21:32] MarkPieszak commented on #516
Looking into and fixing cross-browser/device issues is on the priority list so hopefully soon we'll be able to fix whatever is happening here!

[2016-10-04 21:50] tinchou commented on #516
Just realized my issue was I was using the percent pipe which requires Intl
polyfill

https://angular.io/docs/ts/latest/guide/pipes.html
https://github.com/angular/angular/blob/master/modules/%40angular/common/src/pipes/number_pipe.ts

On Tue, Oct 4, 2016, 18:32 Mark Pieszak <notifications@github.com> wrote:

[2016-10-05 04:25] Quixomatic commented on #572
As posted in the general slack channel, this is a seo solution inspired by andresantos123

[code]

[2016-10-05 15:59] jeffwhelpley commented on #309
As posted by @Quixomatic, the workaround for now is:

[code]

It will still be good to create these universal services, but this workaround is pretty simple and should cover setting the title.

[2016-10-05 17:36] gdi2290 commented on #576
good point. `/examples` should be renamed to `/playground`. the examples folder was also confusing other developers

[2016-10-05 18:39] gdi2290 commented on #382
this problem is more of the renderer invoking a method on our js dom where the method doesn't exist. The solution is to provide the renderer with a map of methods to use the DomAdaptor on the element so long as this should work on the browser

[2016-10-05 20:34] gdi2290 commented on #272
it's created by universal on the server and sent to the client

[2016-10-06 00:50] CL0SeY commented on #272
@joshmattvander @gdi2290
I had to use this (with typescript):
[code]
Is there a nicer way to access the cache?

[2016-10-06 02:47] gdi2290 commented on #272
there needs to be a `universalDoRehydrate` lifecycle method that is not there yet so for now using `UNIVERSAL_CACHE` in the way you describe works for now until I get more time to prioritize it

[2016-10-06 03:05] gdi2290 commented on #576
As mentioned in ngTeam slack, ngc has problems with multiple entry files. For example, if I have `app.browser.module.ts` and `app.node.module.ts` ngc will say that the `App` component is used in two MainModules which is true but they are separate entry files. Also in those files I also need to import a direct path to the platform so `angular2-universal/node` and `angular2-universal/browser` rather

[2016-10-06 13:00] threesquared commented on #309
Is there currently a way to create a new DOM element?

[2016-10-06 13:31] jeffwhelpley commented on #309
@threesquared you would do this through normal Angular components. Are you thinking about trying to use the lower level DOM api? If so, that won't work. What is the specific use case where you can't just use a normal component?

[2016-10-06 13:41] threesquared commented on #309
The use case is the same as the above but to also create any other meta tags which are required like opengraph data so they can be rendered on the server side. At the moment I am rather hackily accessing `getDOM()` via `__platform_browser_private__` in `@angular/platform-browser`...

[2016-10-06 13:54] pitAlex commented on #371
This issue is back, the following code does not render on server-side:
[code]

[2016-10-06 14:42] scott-wyatt commented on #371
@pitAlex see https://github.com/angular/universal/pull/570

[2016-10-06 14:43] jeffwhelpley commented on #309
Yeah, so meta tags will be part of the service yet to be created. We will update this thread when it is available through the universal api.

[2016-10-06 18:59] Hendrixer commented on #309
Awesome @jeffwhelpley , turns out me and @gdi2290 need this right now 💯 , so we might just hop on it...

[2016-10-06 20:00] jeffwhelpley commented on #309
Nice, that would be awesome. HtmlComponent is part of this as well. We have a Universal mtg tomorrow so can talk about it then on the hangout.

[2016-10-07 12:17] pitAlex opened #579 "No ResourceLoader implementation has been provided"
Hi,
I'm using the latest version of angular 2 and angular universal and whenever I try to use templateUrl or styleUrls in components I get something like this:

No ResourceLoader implementation has been provided. "file:///Users/.../css/home.css"
No ResourceLoader implementation has been provided. Can't read the url "file:///Users/.../views/home.html"

[2016-10-07 12:36] MarkPieszak commented on #579
@pitAlex This is a common problem, and I'm making sure it's documented somewhere how to properly use those.

You have 2 options though:
Either use **template** instead of *templateUrl*:

    template : require('')`

Or better yet, add **angular2-template-loader** to your webpack configuration, that way you can use both.

More info on it here: https://github.com/TheLarkInn/angular2-template-loader

[2016-10-07 13:23] FrozenPandaz commented on #573
As we discussed, this is not the issue and is actually an issue in core right?

[2016-10-07 15:02] pitAlex commented on #579
Using template like you mentioned, works. Thats how I am doing it now. But I wanted a way to load the css file also into page, and without webpack.

[2016-10-08 04:12] damianobarbati commented on #503
@lightningtgc how come you're building something so edge here, on top of an edge fw like Angular2, on top of an edge TypeScript aiming to bring es6 and es7 features in a world still mostly es5, but you're still caring about the old (yeah I said old, LTS but jurassic) Node 4 which is not even by far es6 compliant?
Sticking to Express is a no-go: I totally understand the "nodejs-version-market-share

[2016-10-10 05:40] rjokelai opened #580 "Allow express-engine to pass errors to the callback"
* **I'm submitting a ...**
- [x] feature request

* **What modules are related to this Issue?**
- [x] express-engine

* **Do you want to request a *feature* or report a *bug*?**

Feature: change to the current behavior with, e.g., a configuration flag.

* **What is the current behavior?**

The `express-engine` swallows the exception providing no means of handling it in the application code. The li

[2016-10-10 12:04] MarkPieszak commented on #580
PR https://github.com/angular/universal/pull/551 should fix this, at the moment things aren't bubbling up inner errors during the serializing process. This will help point out template errors / anything that causes the serializer not to finish properly, and in the case of express-engine (which calls it), it'll be able to capture those errors.

[2016-10-10 19:32] gdi2290 opened #581 "provide a better way to test with isBrowser/isNode"
A developer needs a way to set these values to true for testing. We can also provide these values via DI so the developer can control their values manually. We can also consider using Zone.js again for context

[2016-10-11 18:07] paullryan commented on #503
@amitport  and @gdi2290 I'm open to wherever we want the renderer to live, I've created a really basic version of one that I broke when 2.0 came out but as I said I'm happy to try and help with this as I'd love to see a community version Koa2 support (be in universal or as a separate module).

I personally believe koa2 + universal with esnext is a very clean solution for building fast scalable web

[2016-10-11 18:21] MarkPieszak commented on #503
@paullryan @damianobarbati
Really what you'd need to do is mirror what's happening in the `express-engine` module, but have it be callable & work with however koa handles things. I'm unfamiliar with Koa myself, otherwise I'd take a stab at it. But basically if you use that as a baseline, see if you can get it working.

The alternative is calling the Universal serializer manually for all/some end-p

[2016-10-11 18:57] ZiyedBenAhmed opened #586 "style.innerText undefined for older version of Mozilla Firefox."
**Note: for support questions, please use one of these channels:** https://github.com/angular/universal/blob/master/CONTRIBUTING.md#question. This repository's issues are reserved for feature requests and bug reports. Also, **Preboot has moved** to https://github.com/angular/preboot - please make preboot-related issues there.

* **I'm submitting a ...**
- [x] bug report
- [ ] feature request
- [ ]

[2016-10-12 03:03] esakkikrishnan opened #588 "SyntaxError: Unexpected token import; import { ChangeDetectionStrategy } ; ^^^^^^"
**Note: for support questions, please use one of these channels:** https://github.com/angular/universal/blob/master/CONTRIBUTING.md#question. This repository's issues are reserved for feature requests and bug reports. Also, **Preboot has moved** to https://github.com/angular/preboot - please make preboot-related issues there.

* **I'm submitting a ...**
- [X] bug report
- [ ] feature request
- [ ]

[2016-10-12 06:16] esakkikrishnan commented on #588
The issue was that I import a wrong module.
I apologize for the mistake

[2016-10-12 06:16] #588 closed

[2016-10-12 11:46] AlexYankee opened #589 "NodeConnection always set User-Agent to Angular 2 Universal"
**Note: for support questions, please use one of these channels:** https://github.com/angular/universal/blob/master/CONTRIBUTING.md#question. This repository's issues are reserved for feature requests and bug reports. Also, **Preboot has moved** to https://github.com/angular/preboot - please make preboot-related issues there.

* **I'm submitting a ...**
- [x] bug report
- [ ] feature request
- [ ]

[2016-10-12 12:02] kuldeepkeshwar commented on #589
@AlexYankee you can check #525

[2016-10-12 16:17] johnnysainz commented on #309
Using the @Quixomatic workaround provided by @jeffwhelpley, I'm updating my meta descriptions with the following:
[code]
Unfortunately this only works for the server, not the browser. Surely there is a better solution out there that works in both?

[2016-10-12 16:34] jeffwhelpley commented on #309
@johnnysainz usually meta tags only matter on the server side. Can you give me some more details about your use case where you think that it is needed on the client side?

[2016-10-12 16:42] johnnysainz commented on #309
@jeffwhelpley i'm not very experienced with SEO. My understanding is (was) that meta descriptions need to be updated while navigating--same as title.  If this is not the case, then thank you for saving me some time! And thanks for Universal!!

[2016-10-12 16:46] FahadMullaji commented on #547
Ok. so I tried my workaround and it worked and it solved my problem but now there is another problem.
Whenever I use cookies to pull data then system throws exception saying "Document is not defined". And then system does not do server side rendering. Which is a huge deal breaker.

So now I need a cookies module for universal which works with serverside rendering.

[2016-10-12 17:00] jeffwhelpley commented on #309
@johnnysainz typically the meta tags are either used by Google when crawling your site (in which case they make separate server side requests for each URL) or site preview within Twitter/Facebook/LinkedIn/etc. In all of those cases, the only thing that matters is the server side.

Just trying to brainstorm a bit here, I think the only reason I can think the meta tags would be useful on the client

[2016-10-12 17:48] scott-wyatt commented on #547
@FahadMullaji there are a lot of open issues for cookies #404 #268 to name a few.

[2016-10-12 19:00] threesquared commented on #309
As a pretty hacky solution I mentioned above you can access `getDOM()` as I have done [here](https://github.com/threesquared/3sq.re/blob/master/src/app/helpers/seo.helper.ts) which works at the moment...

[2016-10-12 22:00] bdunn44 opened #592 "Polyfills Break Mongoose"
* **I'm submitting a ...**
- [x] bug report

* **What modules are related to this Issue?**
- [x] universal

* **What is the current behavior?**
Importing `angular2-universal-polyfills` breaks MongoDB connection via Mongoose. Stack trace:

[code]

* **If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem by creating a github repo.**

C

[2016-10-12 23:53] gdi2290 commented on #592
hi, thanks for creating an issue. Can you change the zone.js version to zone.js 0.6.21 and track this Issue/PR in the zone.js repo
https://github.com/angular/zone.js/issues/448

[2016-10-12 23:53] #592 closed

[2016-10-12 23:53] #586 closed

[2016-10-12 23:56] bdunn44 commented on #592
Can't believe I missed that. Will do, thanks.

[2016-10-12 23:56] gdi2290 commented on #589
thanks, fix is in a PR here https://github.com/angular/universal/pull/594

[2016-10-13 00:37] #589 closed

[2016-10-13 01:53] gdi2290 commented on #586
can you try `angular2-universal` 2.1.0-rc.1 where this is merged

[2016-10-13 01:54] gdi2290 commented on #580
can you try `angular2-universal` 2.1.0-rc.1 where this is merged. thanks!

[2016-10-13 01:54] #580 closed

[2016-10-13 01:54] gdi2290 commented on #558
can you try `angular2-universal` 2.1.0-rc.1 where this is merged. thanks!

[2016-10-13 01:54] #558 closed

[2016-10-13 01:55] gdi2290 commented on #576
closing this since we need to create a tsconfig for each platform

[2016-10-13 01:55] #576 closed

[2016-10-13 01:55] gdi2290 commented on #550
can you try `angular2-universal` 2.1.0-rc.1 where this is merged. thanks!

[2016-10-13 01:55] #550 closed

[2016-10-13 01:56] gdi2290 commented on #540
can you try `angular2-universal` 2.1.0-rc.1 where this is merged. thanks!

[2016-10-13 01:56] #540 closed

[2016-10-13 01:57] gdi2290 commented on #283
I'm going to close this until someone from the community creates a PR to support it

[2016-10-13 01:57] #283 closed

[2016-10-13 04:11] rjokelai commented on #558
Thanks, we'll try it!

[2016-10-13 11:19] ireade commented on #534
Hi @gdi2290 , you mention that there is a best practice for dealing with 3rd party services, what is it?

[2016-10-13 17:05] paullryan commented on #503
@MarkPieszak yep I effectively have a version like your demo code now, but it feels a little clunky when developing, the express engine version is much cleaner feeling when developing a universal app. I think that's definitely the route to go and I'll see where I might have time to do a PR for that.

[2016-10-13 17:51] FrozenPandaz commented on #533
UNIVERSAL_CACHE doesn't make it onto the page when using a HTML Component after 2.1.0-rc.1

[2016-10-13 17:52] MarkPieszak commented on #533
I believe that's commented out for the time being, think Pat wanted to tweak it @FrozenPandaz

[2016-10-13 17:56] gdi2290 commented on #533
the problem here is that we have a DOM created from index.html and a new one created via the `<html>` component. When attaching our script to the dom we were previously adding it to the document itself which places it after the `<html>` tag. Now we're adding it in the body tag but we're referencing the old body tag rather than the one created by the `<html>` component

[2016-10-13 19:14] ZiyedBenAhmed commented on #586
Yes, it's fixed. Thanks 👍

[2016-10-14 01:01] jkuri commented on #579
also trying to use that without webpack, any workarounds? thanks.

[2016-10-14 01:33] FrozenPandaz commented on #533
I feel like we should generate the document with a HTML Component of sorts.

The document should start off with the implementer's index.html but then be compiled by hooking into services provided to the implementer.

It should work off of a variety of services:

* Title Service (Angular already has one, we just need to make it universal?)
* Meta Service should add custom metas
* Assets Service sho

[2016-10-14 10:42] MarkPieszak commented on #579
Do you mean just a regular import "something.css"; ?
What error is that throwing, haven't tried that yet!

[2016-10-14 10:45] jkuri commented on #579
Yes, I am using `templateUrl` with `moduleId: module.id` to get relative paths, but there's still message `No ResourceLoader implementation has been provided`.
I manage to get solved with custom build https://github.com/jkuri/ng2-platform-node/blob/master/node-platform.ts#L776-L786 but not so familiar with that project so not sure if that's the right way.

[2016-10-14 11:05] MarkPieszak commented on #579
Might have to ask Pat @gdi2290 for guidance on what is missing for SystemJS support, maybe you'd be interested in trying to tackle it? Currently it's webpack only. #283 old system issue

[2016-10-14 11:07] jkuri commented on #579
Cool, thanks! Actually I am using this in rollup.

[2016-10-14 18:45] gdi2290 commented on #579
@jkuri can you make a PR with a simple test?

[2016-10-17 14:31] LendsMan opened #597 "Not all styles are rendered on the server in the app with several routes"
- **I'm submitting a ...**
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support request here, see note at the top of this template.
- **What modules are related to this Issue?**
- [ ] express-engine
- [ ] grunt-prerender
- [ ] gulp-prerender
- [ ] hapi-engine
- [ ] universal-next
- [x] universal
- [ ] webpack-prerender
- **Do you want to request a _feature_

[2016-10-17 21:46] aiboy commented on #597
I can confirm that this issue dose exits.

[2016-10-17 21:48] LendsMan commented on #597
Pull request #598 will fix this issue only partially but there still will be an error if you have some components with the same class names. Some classes will override classes for another component, since they will have same ids.

Pull request in Angular Universal shall fix it all. Every component will have its own id and thus classes will not override each other and _isBlank_ method will work cor

[2016-10-17 21:55] teleaziz commented on #597
I also see host attributes applied to the wrong component

[2016-10-18 09:42] dottodot commented on #558
I was having an issue with `[innerHTML]` not rendering on the server and can confirm it's fixed in 2.1.0-rc.1

[2016-10-18 14:34] thebarada commented on #588
@esakkikrishnan so how you fix it? what module you imported?
because I have same error

[2016-10-18 15:45] esakkikrishnan commented on #588
In my case I imported a wrong module for input I used webstrom so it automatically imported a wrong module, I rectified by importing input module from angular core. If possible provide the import statements

[2016-10-18 18:45] gdi2290 opened #600 "bind lifecycle hooks"
correctly bind lifecycle hooks.
current workaround

[code]

[2016-10-19 08:43] phoenix3008 commented on #588
@esakkikrishnan - thanks, I had the same problem, now it's ok)

[2016-10-19 09:09] thebarada commented on #588
@esakkikrishnan oooh! thnx a lot!

[2016-10-19 20:13] mindruptive opened #601 "angular2-gulp-prerender contains local dependencies in package.json"
Seems like an error dev-dependencies (?)

node 6.5
npm 3.10.8
windows 10
universal-starter 2.0.0

`npm install angular2-gulp-prerender@latest`

package.json of this module contains

[code]

My goal is to prerender all routes to static html files in order to deploy them to a regular http-server without having to use express. So it does not have to be the gulp pre-renderer. I'd appreciate hints on a

[2016-10-19 21:29] MarkPieszak commented on #601
I don't believe Gulp prerender has been re-worked since we had some major API changes within Universal itself, so that would explain it :)

I'll take a look and get back to you.

[2016-10-19 21:31] mindruptive commented on #601
Thanks a lot!
As mentioned, any hint how to set up pre-rendering of static html artifacts would be highly appreciated. :-)
Best

[2016-10-20 04:25] waterfoul commented on #579
I've found a way to work around this error for now. It's a but of a hack so I would recommend that this isn't the long term solution but it will get people up and running. To make this work you need to add this file

(it's src/app/resource-loader below)
[code]

add these imports

[code]

and add this property to the object which is passed to createEngine

[code]

Basically this is intercepting the

[2016-10-20 07:27] u12206050 commented on #523
@amitgaikwad712 How did you manage to set the meta data using universal. I have been trying now for the past three days without success.

I have a metaService through which I am trying to get a hold of the head element, and append meta elements, change attributes and set text with.

[2016-10-20 07:36] u12206050 commented on #533
Any updates on this "high important priority"? We have a production site ready for launch and the only thing we are missing is SEO, (being able to render meta tags server side).

We have a working meta service that does it correctly on the browser side, (obviously useless though) and I have experimented with all the various renders and getDom methods I could find in angular, but like @gdi2290 ment

[2016-10-20 12:23] jeffwhelpley commented on #533
@u12206050 Sorry about the delay in updates on this. We are meeting to discuss status of all high priority items tomorrow and I will provide some info on this and all other issues after that.

[2016-10-20 20:19] alxhub opened #602 "Bootstrapping an AOT app requires platformUniversalDynamic() which still ships RuntimeCompiler"
**Note: for support questions, please use one of these channels:** https://github.com/angular/universal/blob/master/CONTRIBUTING.md#question. This repository's issues are reserved for feature requests and bug reports. Also, **Preboot has moved** to https://github.com/angular/preboot - please make preboot-related issues there.
- **I'm submitting a ...**
- [x] bug report
- [ ] feature request
- [ ]

[2016-10-21 07:55] qdouble opened #603 "Updating to Angular 2.1.1 crashes Universal"
- **I'm submitting a ...**
- [x] bug report
- **What modules are related to this Issue?**
- [x] universal
- **What is the current behavior?**
  If you update angular packages to 2.1.1 and start universal server, you will get the following error:

[code]
- **Please tell us about your environment:**
- Angular version: 2.1.1
- OS:  [Mac OS X ]
- Platform: [NodeJs]

[2016-10-21 16:06] scott-wyatt commented on #523
@amitgaikwad712 I'm going to guess that you are experiencing a server error, if there is any error at all the server render fails causing some text and maybe a few elements to appear.

[2016-10-22 21:36] zcoon commented on #533
Hi @jeffwhelpley do you have any updated info for us after your meeting yesterday?

[2016-10-23 01:16] jeffwhelpley commented on #533
The solution for this issue is going to be a new SeoService similar to setTitle that will allow you to make any of the modifications you want to the head section of the document. @gdi2290 will likely get an additional prototype into the universal starter to get everyone started and then we will get something into universal and/or core (TBD) later on. So, watch the starter repo.

[2016-10-23 14:44] kuldeepkeshwar commented on #533
@gdi2290 @jeffwhelpley can you share any gist which we can use as temparory solution as most of us are very close to the production release.

[2016-10-23 17:59] waterfoul opened #604 "reflect-metadata should be a peer dependency"
- **I'm submitting a ...**
- [X] bug reporttemplate.
- **What modules are related to this Issue?**
- [X] angular2-universal-polyfills
- **Do you want to request a _feature_ or report a _bug_?**
  Bug
- **What is the current behavior?**
  angular2-universal-polyfills has reflect-metadata as a dependency instead of a peer dependency. This causes things to get detached within reflect-metadata if any

[2016-10-23 19:16] kuldeepkeshwar opened #605 "minify rendered HTML"
rendered HTML should be in minified form ,current behavior increases the response size mainly because of generated style tags and preboot script

[2016-10-23 19:29] kuldeepkeshwar commented on #533
as of now I'm using below solution

[code]

[2016-10-23 22:12] MarkPieszak opened #606 "Fix 2.1.1 _private_ import issues"
- **I'm submitting a ...**
- [X] bug report
- **What modules are related to this Issue?**
- [x] platform-node

---

In the latest Core/Compiler upgrades to **2.1.1**, compiler-private & core-private have changed a few things Universal uses.

**`__compiler_private__`** looks to of been removed from `@angular/compiler`.

SelectorMatcher & CssSelector (needed for Universal), seem to be public now.

A

[2016-10-24 08:36] u12206050 commented on #533
For any one else wanting a full service to set meta tags incl social:

Include the following in the head of index.html

[code]

and here is the entire service, you can call updateMetaTags with an object of key (meta name), value (meta content) pairs:

[code]

[2016-10-24 13:24] MarkPieszak opened #608 "'ngc' is not recognized as an internal or external command,"
- **I'm submitting a ...**
- [X] bug report
- OS:  **Windows** (Note: works fine on MAC etc)

On Windows, the `gulp` command can't properly run and breaks on Build during the spawn childprocess exec of **`ngc`**.

Looking into alternatives to get it working cross-platform.

Worth looking into alternative ways of running _ngc_ such as the way @mgechev does it [here](https://github.com/mgechev/angul

[2016-10-24 17:14] steve8708 commented on #608
@MarkPieszak unfortunately I'm not able to test with windows, but I'm sure the culprit is the path notation in line 62 of `gulpfile.ts`

[code]

you could try changing that to

[code]

or if for some reason that doesn't work, add to `package.json`

[code]

and use

[code]

it would be good to update the `_test` gulp task too as if `ngc` doesn't work on windows `_test` won't either as they both use

[2016-10-24 17:15] chimon2000 opened #609 "Cannot use polyfills with formidable"
**I'm submitting a ...**
- [x] bug report

**What modules are related to this Issue?**
- [x] universal

**What is the current behavior?**
Attempting a file upload with the [formidable](https://github.com/felixge/node-formidable) library results in the following error:
`Cannot read property 'on' of undefined`

**Steps to reproduce**

A simple example:

app.js
[code]

index.html
[code]

**What is th

[2016-10-24 17:41] MarkPieszak commented on #609
Same result if you put formidable above the universal polyfills?

[2016-10-24 18:15] chimon2000 commented on #609
Yes @MarkPieszak

[2016-10-24 21:17] gdi2290 commented on #609
can you update zone.js to 0.6.26

[2016-10-24 21:33] jeffbcross commented on #533
After some discussion, we decided not to support the HTML Component feature as it was previously implemented. We'll be working on making sure the `Title` service works in Universal, and will add a similar Meta service to manage meta tags. There's already a good start on the Meta service for platform-browser, which would be ported to Universal: https://github.com/angular/angular/pull/12322 Please a

[2016-10-25 00:40] zcoon commented on #533
@u12206050 using that SeoService, are you successfully rendering the meta-tags server side so that sites like FB can pick up on proper og tags to load the content richly within Facebook?

I also have a web app blocked from production due to this issue and the lack of access to window properties documented here : https://github.com/angular/universal/issues/534) . Consequently I am trying to find th

[2016-10-25 01:14] chimon2000 commented on #609
@gdi2290 I am currently using that version.

[2016-10-25 01:42] gdi2290 commented on #609
@chimon2000 the problem is zone.js
you can look at the code here https://github.com/felixge/node-formidable/blob/master/lib/incoming_form.js#L118 where it's expecting `this` to return from `this.on` after extending EventEmitter. Can you create a node.js file in a repo with latest zone.js and create an issue in zone.js

`server.js`
[code]

[2016-10-25 01:42] #609 closed

[2016-10-25 15:47] gdi2290 commented on #533
closing as it's not supported.
For Seo concerns comments on [Meta Service](https://github.com/angular/angular/pull/12322)
For everything else use [EJS](http://www.embeddedjs.com/) or [Jade as known as Pug](https://pugjs.org).
For Ads see [UniversalAd (client side only) ](https://gist.github.com/gdi2290/a5bc5b3d3dd64f88e5c660f6a2df75d6) prototype if it works for you

[2016-10-25 15:47] #533 closed

[2016-10-25 19:27] alukach commented on #40
I'd be interested to hear what the steps for moving these types of things forward would be. Is there a common pattern to apply to most of these languages?

[2016-10-25 22:07] MarkPieszak commented on #608
Thank you @steve8708 that's what I figured as well, works like a charm! PR #610

[2016-10-26 11:22] kuldeepkeshwar commented on #602
@gdi2290 @jeffwhelpley
any way or workaround to avoid this ?

[2016-10-26 17:43] pxwise commented on #533
If an &lt;html&gt; component is out of scope for core and universal is there happy path to making this feature a community contributed universal module? Our peers on another team are using [react-helmet](https://github.com/nfl/react-helmet) to interface with dynamic CMS generated head data including &lt;title&gt;, &lt;meta&gt;, &lt;link&gt; styles, &lt;link&gt; dns-prefetch, &lt;link&gt; apple-tou

[2016-10-26 17:57] jeffwhelpley commented on #533
To be really clear here, you most definitely will be able to have control over tags in the head section. The change in strategy is that before we were trying to treat the entire html document as a component. This would be cool in theory and allow you to define your entire document in the same way as you do other components, but it is just not feasible to implement that at this time. Instead, we ar

[2016-10-26 18:19] pskhodad commented on #601
i think you can follow webpack example in repo.
https://github.com/angular/universal/blob/master/examples/webpack/webpack.config.ts
it should generate index.html having pre-rendered content

[2016-10-26 18:46] pxwise commented on #533
I see, so in order to have feature parity with react-helmet we would need services for `<script>` `<link>` and `<html>` attributes in addition to the `<title>` and `<meta>` services.

I agree it would be cool to declaratively build the document as a component. Easy to visualize, all markup generated through the same template engine. Maybe we can lobby to reopen this feature request for a future ma

[2016-10-26 19:01] pxwise commented on #565
Another approach referenced in https://github.com/angular/universal/issues/533#issuecomment-256075287 with a gist demoing how to transfer server rendered DOM into client app: https://gist.github.com/gdi2290/a5bc5b3d3dd64f88e5c660f6a2df75d6

[2016-10-26 21:03] jeffwhelpley commented on #533
@pxwise so, for the html element, do you foresee needing to change anything other than the lang for i18n sites?

What would be the use case for the link and script tags? I would think those would be static from one request to another, no?

[2016-10-26 22:56] pxwise commented on #533
@jeffwhelpley for `<html>` We will only need lang and ⚡

Yes many link and script tags would be static but some use cases for dynamic would be:

`<link>`
- rel="canonical"
- rel="dns-prefetch", based on underlying api, 3rd party site dependencies, per page
- css, needed as stopgap while we migrate legacy design to 100% angular embedded styles

`<script>`
- 3rd party ad scripts, per page
- internal

[2016-10-26 23:52] jeffwhelpley commented on #533
Got it. OK, we are talking about the MetaService with @jeffbcross and I will be sure to include all of these in the discussion.

[2016-10-27 04:41] gdi2290 commented on #309
closing as `<html>` component isn't supported by angular anymore

[2016-10-27 04:41] #309 closed

[2016-10-27 06:09] esakkikrishnan commented on #603
I am also having the same problem after **updating to Angular 2.1.1** for doing AOT.

[2016-10-27 07:51] Koslun commented on #603
@esakkikrishnan It appears that @gdi2290 might have found a workaround for now or a WIP at least, published in open PR [Angular Universal Starter PR 219](https://github.com/angular/universal-starter/pull/219).

[2016-10-27 09:16] threesquared commented on #309
@gdi2290  @jeffwhelpley mentioned [above](https://github.com/angular/universal/issues/309#issuecomment-251984187) that this thread would be updated with details of a meta tag service?

[2016-10-27 12:31] MarkPieszak commented on #603
@esakkikrishnan @Koslun 2.1.1 had some internal things from Core moved around.
If you need to use 2.1.1 now, either use the workaround or wait until we can update the official patch. (https://github.com/angular/universal/pull/607)

[2016-10-27 22:51] thebarada opened #611 "Wrong behaviour when extends from Http"
- **I'm submitting a ...**
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support request here, see note at the top of this template.
- **What modules are related to this Issue?**
- [ ] express-engine
- [ ] grunt-prerender
- [ ] gulp-prerender
- [ ] hapi-engine
- [ ] universal-next
- [x] universal
- [ ] webpack-prerender
- **Do you want to request a _feature_

[2016-10-28 08:46] berndartmueller opened #612 "[hidden]="true" not added to dom node when rendered on server"
**Note: for support questions, please use one of these channels:** https://github.com/angular/universal/blob/master/CONTRIBUTING.md#question. This repository's issues are reserved for feature requests and bug reports. Also, **Preboot has moved** to https://github.com/angular/preboot - please make preboot-related issues there.
- **I'm submitting a ...**
- [x] bug report
- [ ] feature request
- [ ]

[2016-10-28 13:13] MarkPieszak commented on #612
Thanks for logging this! I'll take a look and see what I can find, this was at least working previously! Does using the 2.1.0-rc1 version of Universal help it by any chance?

[2016-10-28 16:46] cfadvanced opened #613 "No NgModule metadata found for 'MainModule'."
Hi men,
I'm submitting a bug report, I download master and do npm install and then npm start and this is the message (widows 10):

C:\Users------\myproject\node_modules\@angular\compiler\bundles\compiler.umd.js:13726
                  throw new Error("No NgModule metadata found for '" + stringify(type) + "'.");
                  ^

Error: No NgModule metadata found for 'MainModule'.

My operating

[2016-10-28 17:09] gdi2290 commented on #612
can you try `[attr.hidden]="true"`

[2016-10-28 17:13] berndartmueller commented on #612
@gdi2290 that is working! Thanks! But shouldn't it also work with just `[hidden]`?

[2016-10-28 17:17] gdi2290 commented on #612
it's not meant to work that way but we do try to convert some properties over to attributes.

[2016-10-28 17:44] MarkPieszak commented on #612
strange, yeah hidden is in our attrToPro array, maybe something else changed that's stopping it from working. @gdi2290

[2016-10-28 18:15] jeffbcross commented on #533
Hey @pxwise thanks for more use cases. I'd like to determine how these cases depend on dynamic _data_ within Angular, to understand better if there should be support within Angular. In other words, why must Angular solve this problem instead of a template engine or third-party library? I'd assume a lot of those use cases just need to know the URL of the page in order to know what values to populat

[2016-10-28 18:17] jeffbcross commented on #533
Sorry, my last comment ignored some of the intermediary comments, I thought we were still talking about the context of the HTML Component.

[2016-10-28 19:19] pxwise commented on #533
Howdy @jeffbcross. Some cases above that could use data from angular components would be:

- `<link>` dns-prefetch to automatically prefetch domains used by components making api requests.
- `<script>` JSON-LD schema.org definitions for a recipe site on a dynamically fetched route /recipe/node/123
- `<script>` include / exclude ad script based on user authorization

The other tags could be populat

[2016-10-31 05:25] gdi2290 commented on #613
@cfadvanced assuming you downloaded universal-starter there was a commit that reverted this error from happening
https://github.com/angular/universal-starter/commit/6a28e100f800bd679ed5a01c05bd6f90257d1f85
closing this for now but please reopen if you still have it

[2016-10-31 05:25] #613 closed

[2016-10-31 05:37] gdi2290 commented on #533
@pxwise any feedback from trying out UniversalAd?

[2016-10-31 10:33] bohacc commented on #525
@kuldeepkeshwar Please somewhere you still have the http wrapper of service? https://github.com/kuldeepkeshwar/universal-starter/blob/master/src/main.node.ts
https://github.com/kuldeepkeshwar/universal-starter/blob/master/src/main.browser.ts
https://github.com/kuldeepkeshwar/universal-starter/tree/master/src/common/utils,
url is not found.

[2016-10-31 10:35] thebarada commented on #573
+1

[2016-10-31 11:47] SteveSandersonMS commented on #347
It looks to me like this is now fixed. At least, there's no longer any error when prerendering just a template containing `<app></app>`, rather than an entire `<html>...</html>` doc.

Could you confirm whether this is now officially supported? It's not going to break anything subtle in angular-universal if people start just passing `<app></app>` as the template?

[2016-10-31 12:47] MarkPieszak commented on #347
Hey @SteveSandersonMS we updated to parse5 2.* a while back, which now returns a ASTNode.**Document**, so that might be why it isn't erroring out anymore. The problem is now the page will have 2 `<html><head><body>` tags since it's going to return those back for you. When you view source you'll be able to see them inside your original `<app>` tag you passed.

I just tested it out, and it *does* wo

[2016-10-31 17:19] gdi2290 commented on #347
this will still be an issue without replacing all of the platform services being created in core such as Meta Service (in PR), Title Service (already in), ignore Base element, and replace Style Host to not use an element

[2016-10-31 17:59] pxwise commented on #533
@gdi2290 yes I got it working, thanks for the gist. I'll ping you later today to review what I have, made some changes.

[2016-11-01 14:35] gdi2290 commented on #573
here's the workaround
https://github.com/angular/universal-starter/blob/d33e7353f9404779291d66c7acfc480f5880b3db/src/server.ts#L6...L11

[2016-11-01 15:37] u12206050 commented on #533
@zcoon sorry for the late reply, but yes it seems to work great. We have some extra checks happening somewhere else making sure we attach the correct image to use on social websites though.

[2016-11-01 16:24] thebarada commented on #573
@gdi2290 sounds good, but unfortunately not working
I import UniversalModule only on browser and node module
but still have problems with styles

[2016-11-01 19:04] #608 closed

[2016-11-01 19:14] gdi2290 commented on #573
@thebarada are you using html component or are you only bootstrapping one app in the document?

[2016-11-01 20:33] thebarada commented on #573
@gdi2290 what do you mean?
I'm bootstrapping only one app in this way:
[code]

[2016-11-02 13:40] thebarada commented on #573
@gdi2290 I've tried bootstrap app immediately (without DOMContentLoaded listener) and problem with styles was gone
but there was new problem - with universal cache
`universal-script` added to and of body, and when application is bootstrapping there no universal cache yet

[2016-11-02 14:28] gdi2290 commented on #573
@thebarada universal-script was purposely set at the bottom of the page which forces the developer to bootstrap only on document ready. Do any dom manipulation before the document ready cause a lot of perf problems during initial render. I can provide you with a snippet to move universal-scripts higher or anywhere in the document. For this issue is a problem with core and how it's managing style a

[2016-11-03 11:47] KirilNN commented on #436
The issue can easily be reproduced with the latest version as well, when encapsulation is set to `ViewEncapsulation.None`. Are there any plans for fixing it?

[2016-11-03 12:27] gdi2290 commented on #436
for `ViewEncapsulation.None` the style host would have to be reworked for both server/client in order to determine which styles were generated on the server etc.

[2016-11-03 13:35] KirilNN commented on #436
So should we reopen the issue and keep track on the progress? It also concerns the AoT compilation.

[2016-11-03 16:34] webia1 opened #615 "Does angular-universal support NgModule now?"
After a while I wanted test angular-cli again and saw that the mobile flag was deactivated:

Would you please inform:  Does angular-universal support NgModule now?

[2016-11-03 16:55] yazeedb commented on #533
@u12206050 This solution looks great! Is there a way to dynamically create the meta and inject it into the document head server-side? I've tried the following:
[code]

But it seems to break my client-side render if I tamper with the document. Any ideas why?

[2016-11-03 16:57] FrozenPandaz commented on #534
Custom Elements would be interesting.

[2016-11-03 17:49] gdi2290 commented on #615
yeah, for awhile now. you can download 2.1.0-rc.1 unless you're trying to use the cli which it's not merged in

[2016-11-03 17:49] #615 closed

[2016-11-03 23:36] nicowernli commented on #605
That could be done with an express middleware. I think (just personal opinion) that there is no need to add it to the platform

[2016-11-04 03:06] kuldeepkeshwar commented on #605
@nicowernli although we minify the html during build process but during runtime angular/universal create style/script tags which are not minified

[2016-11-05 05:38] mwaaas commented on #615
@gdi2290  whats the eta when the feature will be merged to angularcli

[2016-11-05 15:55] MarkPieszak commented on #615
@mwaaas Johannes @devCrossNet might be able to answer that one. It's in a branch of the CLI but I don't think it's been merged yet.

[2016-11-05 17:21] devCrossNet commented on #615
@MarkPieszak as I know, Jeff Cross is working on a reimplementation of the `--mobile` flag. For the `--universal` flag we have to talk about publishing a separate npm package @jeffwhelpley, @gdi2290. Maybe we create an issue or talk in the slack channel. Unfortunately, I am not able to participate to hangouts during the next weeks.

[2016-11-07 00:24] gdi2290 commented on #605
that's out of scope and should be requested in universal-starter. closing for now although it's a good idea to do

[2016-11-07 00:24] #605 closed

[2016-11-07 17:04] canda commented on #273
@kuldeepkeshwar would you please point out which commit was that code present in?
since those files were deleted
so we can still take a look

[2016-11-07 17:09] kuldeepkeshwar commented on #273
@canda you can check `lazy-route` branch

[2016-11-08 00:06] yazeedb commented on #259
@gdi2290 Could you point me to any resources indicating how to set up a Universal project with multiple app roots?

[2016-11-08 15:35] bhargav-sae commented on #512
Is there any example out there which will explain how to use `jQuery`.
For me it is working but getting `ReferenceError: $ is not defined` error

[2016-11-10 11:16] HonnKing opened #617 "Prerender only includes component/inline styles for the first route loaded"
I've just added universal to my project and have encountered a very strange error that I can't make heads or tails of.

It's hard to explain so I'll just do it step by step. Note that all components have some styles defined in their "styles" setting, and I'm using webpack and require to load them, as in `styles: [require('./some.component.sass')]`. Also note that I have set universal on all routes

[2016-11-10 12:57] HonnKing commented on #617
Some more testing done.

The css does not get included in the pre-rendered html at all. Have tested with a bunch of components and it's just not there. Whatever happens during the first request to the server doesn't seem to happen in the same way next time.

I also have a second weird problem. Two of my components (a specific pair, always the same) get the same viewencapsulation id, e.g. `_nghost-

[2016-11-10 13:20] thebarada opened #618 "404 Exception that crash server"
* **I'm submitting a ...**
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support request here, see note at the top of this template.

* **What modules are related to this Issue?**
- [x] express-engine
- [ ] grunt-prerender
- [ ] gulp-prerender
- [ ] hapi-engine
- [ ] universal-next
- [ ] universal
- [ ] webpack-prerender

* **Do you want to request a *feature

[2016-11-10 13:26] HonnKing commented on #617
**Smashes face into keyboard**

I should know by now to always go directly to the source. I was using the universal setup from a fork of angular-cli. That had a slightly different setup compared to universal-starter and a slightly older version of universal. After switching over to the newest version everything worked fine.

A well spend afternoon :)

[2016-11-10 13:26] #617 closed

[2016-11-10 14:07] MarkPieszak commented on #618
Have you changed the Starter's main functionality in any way, webpack or main files by any chance?

Also do you have the port already in use? Notice this issue here:
https://github.com/angular/universal-starter/issues/94

Just tried, and everything works fine here on my end

       this.http.get('/doesnotexist.aspx').subscribe(result => {});
       //

[2016-11-10 14:18] thebarada commented on #618
@MarkPieszak I tried it on [angular/universal-starter](https://github.com/angular/universal-starter) and getting crash
could you check please
just change 22 line on src/app/home/home.component.ts from
[code]
to
[code]
and, likely, you'll get error such [this](http://take.ms/KXS2m)

[2016-11-10 14:59] MarkPieszak commented on #618
So this is because the `server` (express) in our case is throwing that 404 error, which ends up breaking everything. If you comment out these lines:

[code]

https://github.com/angular/universal-starter/blob/master/src/server.ts#L80-L85

@gdi2290 I suppose we don't want/need the server to be handling 404's like this, since it does end up breaking down express-server. At least on the .NET side I do

[2016-11-14 21:26] diestrin opened #622 "Optional global timeout for http/jsonp calls on server"
* **I'm submitting a ...**
- [ ] bug report
- [x] feature request
- [ ] support request => Please do not submit support request here, see note at the top of this template.

* **What modules are related to this Issue?**
- [ ] express-engine
- [ ] grunt-prerender
- [ ] gulp-prerender
- [ ] hapi-engine
- [ ] universal-next
- [x] universal
- [ ] webpack-prerender

* **Do you want to request a *feature

[2016-11-15 07:50] nvs2394 opened #623 "Update from git branch [fixed 2.1.1] to npm"
Can you update new fixed to npm [2.1.1 fixed] 22 days ago but npm release a month ago.

[2016-11-15 11:05] manuelmazzuola commented on #564
Any updates? @gdi2290 @jeffbcross I'm not able to use style-loader and css-loader

[2016-11-15 13:27] MarkPieszak commented on #564
So on the server, you only want the `raw` css.
For this reason you don't need to use, `style-loader` anymore.

            // CSS files
            { test: /\.css/, loader: 'raw-loader' },

Now a simple require() will work without any problems.

     styles: [require('./app.component.css')],

@manuelmazzuola @crebuh

[2016-11-15 13:36] MarkPieszak commented on #623
I'm not positive, but we might be waiting on Core to fix the underlying issue? @jeffbcross Any ideas?
For now @nvs2394 you can take the __2.1.1.workaround.ts file here: https://github.com/MarkPieszak/aspnetcore-angular2-universal/tree/master/Client

And import it at the top of both client & server bootstrap files, and you'll be safe to use Core 2.1.1 (and higher) for now.

[2016-11-15 16:00] gdi2290 commented on #622
this is a feature for http but you can also implement it yourself using rxjs. in rxjs you can use `.timeout` and even use `.retryWhen` for this feature. Right now there's a bug in rxjs where it's not canceling the setTimeout used in `.timeout.` so the server is waiting for all the setTimeouts to resolve. You can also create a `.race` right now that will work

Observable.race(
  this.http.get(url),

[2016-11-15 16:00] #622 closed

[2016-11-15 16:02] gdi2290 commented on #581
isBrowser/isNode should be included in the root module by the developer. for example

[code]
but also creating a service for UniversalModule is a good idea

[2016-11-15 16:05] gdi2290 commented on #489
right now this is in universal-starter as CacheService with sync methods and everything wired up
https://github.com/angular/universal-starter

[2016-11-15 16:16] diestrin commented on #622
I know I can do this with RxJS, in fact, I'm actually writing a workaround to fix this (overriding NodeBackend and NodeJsonpBackend to add the timeout).

The feature request is because when you have a code base with 30+ services and 50+ components, you can't go and add a `.timeout()` to all of the calls, and even if you have all the calls centralized in a couple of services, you don't really want

[2016-11-15 16:19] diestrin commented on #622
I just wrote this module as a workaround for this issue, in case anyone else finds it useful https://gist.github.com/diestrin/d9320064bf016cfd25210bb0452bb42a

[2016-11-15 21:31] samvloeberghs commented on #309
@threesquared do you mind if I use your implementation for now? Works like a charm :)

[2016-11-15 22:42] gdi2290 commented on #622
also you can track this issue for .timeout
https://github.com/ReactiveX/rxjs/issues/2134

[2016-11-15 23:45] jonathan-casarrubias commented on #579
@waterfoul your patch works just great, thanks!

[2016-11-16 01:14] gdi2290 commented on #309
@threesquared please see PR https://github.com/angular/angular/pull/12322 for more details on the Meta Service

[2016-11-16 08:55] threesquared commented on #309
@gdi2290 thanks!
@samvloeberghs of course.

[2016-11-17 00:32] gdi2290 commented on #602
@kuldeepkeshwar  there's a workaround in [universal-starter](https://github.com/angular/universal-starter)
in webpack include these plugins for the client build

  new webpack.IgnorePlugin(/@angular(\\|\/)compiler/),
  new webpack.IgnorePlugin(/dom(\\|\/)debug(\\|\/)ng_probe/),
  new webpack.IgnorePlugin(/dom(\\|\/)debug(\\|\/)by/),

and replace

import { platformUniversalDynamic } from 'angular2-

[2016-11-17 00:33] gdi2290 commented on #602
in webpack you can manually remove modules. in this case we're also removing some debug modules included in angular

[2016-11-17 02:36] Nicholas-Westby commented on #40
Just a heads up that I'm now researching how to accomplish server side rendering using Edge.js in ASP.NET MVC: https://github.com/Nicholas-Westby/angular-2-lab

I also have a Stack Overflow question in relation to this: http://stackoverflow.com/questions/40625354/server-side-rendering-angular-2-in-asp-net-with-edge-js

If anybody has any sort of guidance, that would be useful.

[2016-11-17 03:07] MarkPieszak commented on #40
I'm actually not familiar with Edge, but basically how it's done from the .NET Core side of things is:

.NET aware Tag, in this case an attribute (asp-prerender)
This can be passed a few things, webpack config, data, and the bootstrap server file location.

It in turn invokes a Node process that simultaneously handles webpack dev server
& also
serializes the app with Universal passing the needed s

[2016-11-17 05:18] Nicholas-Westby commented on #40
Thanks for the quick reply, @MarkPieszak! I was actually poking around in your repo trying to figure things out. Could you point me to where the tag helpers are defined (asp-prerender-module, asp-prerender-webpack-config, asp-prerender-data)? That might help me understand things a bit better.

By the way, I'm essentially trying to use Edge.js to invoke Node from C# (sounds like you do something si

[2016-11-17 10:10] pratts opened #624 "Invalid server rendered page on https"
**Note: for support questions, please use one of these channels:** https://github.com/angular/universal/blob/master/CONTRIBUTING.md#question. This repository's issues are reserved for feature requests and bug reports. Also, **Preboot has moved** to https://github.com/angular/preboot - please make preboot-related issues there.

* **I'm submitting a ...**
- [x] bug report
- [ ] feature request
- [ ]

[2016-11-17 11:37] marklonquist opened #625 "Flickering (rerender) when using a resolve in router"
**Note: for support questions, please use one of these channels:** https://github.com/angular/universal/blob/master/CONTRIBUTING.md#question. This repository's issues are reserved for feature requests and bug reports. Also, **Preboot has moved** to https://github.com/angular/preboot - please make preboot-related issues there.

* **I'm submitting a ...**
- [X] bug report
- [ ] feature request
- [ ]

[2016-11-17 12:45] MarkPieszak commented on #625
@marklonquist Hey Mark, can you post a little sample of the resolve you're doing just so I can make sure it's not something specific there? I'll test this out today and see if I can reproduce it!

[2016-11-17 13:41] HonnKing opened #626 "Universal does not properly handle ViewEncapsulation (caching problem perhaps?)"
Create a similar issue before but closed it because most of the problems went away when I upgraded. But, it's back and this time in a different format. This error appears in 2.1.0-rc.1

As it says in the title it appears that Universal and ViewEncapsulation does not play nice together. I am getting a ton of errors where some components will receive the styles from another component, some styles ar

[2016-11-17 13:46] MarkPieszak commented on #626
@HonnKing Do you have a fork or anything of the universal-starter so that we can take a look and see what changes you've made, the ViewEncapsulation you're using, how you added styles, etc ?

Thanks for creating the issue!

[2016-11-17 14:02] HonnKing commented on #573
@gdi2290 What does "can't support html component" mean? I've hit a similar problem to this (ViewEncapsulation gone awry, sounds likely that it's the same thing) and I don't quite get what you mean in this case.

Is there some specific way you need to boostrap you app?

[2016-11-17 14:03] HonnKing commented on #626
I'll see if I can set up something public.

Just saw https://github.com/angular/universal/issues/573, sounds familiar.

[2016-11-17 14:18] marklonquist commented on #625
@MarkPieszak I fixed the issue.. I had missed a spot with "Http". Changed it to "HttpCacheService" and did some minor tweaks to my own code, then it worked. :-)

Keep up the good work!

[2016-11-17 14:18] #625 closed

[2016-11-17 15:37] u12206050 opened #627 "Rendering different apps on same node server instance"
* **I'm submitting a ...**
- [x] bug report
- [x] feature request

* **What modules are related to this Issue?**
- [x] express-engine
- [ ] grunt-prerender
- [ ] gulp-prerender
- [ ] hapi-engine
- [ ] universal-next
- [x] universal
- [ ] webpack-prerender

* **Do you want to request a *feature* or report a *bug*?**

Ability to render a page for any given number of dynamic loaded modules(each belon

[2016-11-17 15:56] HonnKing commented on #626
Not able to reproduce it if I start from scratch with universal-starter. Previously I ported over an existing project with a lot of components and css already in place.

I've tried reproducing the setup with components, child components, routes and encapsulation that caused it before but no luck. I guess I'm accidentally transferring some config somewhere that causes an issue, or the cause is very

[2016-11-17 15:58] MarkPieszak commented on #626
Ok let us know when you find it!

[2016-11-18 22:32] julienR2 opened #628 "question: Understanding how to use IsBrowser"
Hi !

I'm using a 3rd party library ng2-ui-auth to handle the authentication by providers. However since the library create a popup, it use a lot of window element which doesn't exist on server side.

Luckily I actually don't need it at all on server side since the library is used only on the client. So declared the module Ng2UiAuthModule in app.browser.module and wanted to use isBrowser in my com

[2016-11-19 03:18] gdi2290 commented on #628
hey, you're looking for https://github.com/Microsoft/TypeScript/issues/7753 3rd party modules can take advantage of this to split code. isBrowser is only meant to be used in application code

[2016-11-19 03:18] #628 closed

[2016-11-20 09:13] ishitatsuyuki commented on #391
Instead for do such a secret meeting, I will propose my solution here: simply use a JS interpreter inside go. Angular itself is JS, and we don't want to mess twice.
There's one using this solution for React: see [here](https://github.com/olebedev/go-starter-kit).
I believe Angular universe is capable for this as well. We currently have Otto as a Go, sandboxable interpreter or V8 bindings as the ra

[2016-11-20 16:40] aiboy commented on #606
Can we merge this? Or is there any issues with this PR?

[2016-11-20 23:15] Nicholas-Westby commented on #40
FYI, I'm going to abandon my efforts to get Angular rendering on the server side in ASP.NET. I've spent about 3 days on this so far and have been running into too many issues. If anybody else wants to resume where I left off, my latest attempt is in the "part-deux" branch of my "angular-2-lab": https://github.com/Nicholas-Westby/angular-2-lab/tree/part-deux

[2016-11-20 23:48] MarkPieszak commented on #40
What issues were you running into? I can see if it's possible to get .NET 4.6 to call Node the way we need to.

[2016-11-21 05:18] Nicholas-Westby commented on #40
I solved a bunch of them today. This commit offers a little guidance on what next steps might be: https://github.com/Nicholas-Westby/angular-2-lab/commit/5e9c14e7f020537ff8c672b977998d94ab3d7d7d

In short, I got the code to browserify some JavaScript (that was itself using Node.js modules), compile some TypeScript to JavaScript, coordinate between the browserified JavaScript and the compiled TypeS

[2016-11-21 16:27] Nicholas-Westby commented on #40
Oops, looks like I missed a TypeScript file in that commit from above. Here's the commit that fixes that: https://github.com/Nicholas-Westby/angular-2-lab/commit/0f9f830cea4f9a2ed2b8c96409ec66bd807fb541

[2016-11-21 18:38] Nicholas-Westby commented on #40
Here's a new issue in my latest commit: https://github.com/Nicholas-Westby/angular-2-lab/commit/9fab3659483e20b00b02de44b6d88ede1593f567

Browserify seems to be choking (I'm trying to run browserify on compile TypeScript):

![browserify-error](https://cloud.githubusercontent.com/assets/5933222/20495527/51a29b3e-afd6-11e6-88ed-306f59e2e626.png)

I was seeming to make progress by avoiding the paths

[2016-11-21 18:52] MarkPieszak commented on #40
Is platform-browser-dynamic in your node_modules?

[2016-11-21 19:00] Nicholas-Westby commented on #40
Looks like it wasn't. Attempting to adjust my package.json now to more closely match the package.json here: https://github.com/MarkPieszak/aspnetcore-angular2-universal/blob/master/package.json

[2016-11-21 19:23] Nicholas-Westby commented on #40
Now that I updated the package.json, I get a new error (`node_modules/rxjs/observable/PairsObservable.d.ts(1,1): error TS2688: Cannot find type definition file for 'chai'`):

![rxjs-error](https://cloud.githubusercontent.com/assets/5933222/20497085/aefd930a-afdc-11e6-9212-5d13aa788dfe.png)

[2016-11-21 21:01] MarkPieszak commented on #40
Add it in your devDepdencies, or (I believe) the newest version of RxJs fixes it. I have the `@types/chai` in there for now.

    "@types/chai": "^3.4.34",

[2016-11-21 22:13] julienR2 commented on #628
Thanks for the help ! Although I couldn't manage to apply it to my current code.

However I managed it this way.
    - Importing normally the 3rd party module in the service
    - use the Injector service to get the instance of the 3rd party controlling it with isBrowser
[code]

I though importing the non universal 3rd party library would be in my service would be a trouble but it doesn't matter.

[2016-11-21 23:31] MarkPieszak commented on #628
Nicely done @julienR2 !
Might be nice to add this concept to the docs since this use-case comes up a lot.

[2016-11-21 23:54] MarkPieszak commented on #624
I'm not positive, but I can't really see anything wrong with what you have here, not sure if fs.readFileSync might be the culprit? @gdi2290 any ideas?

@pratts Can you post a repo, link to the rest of your server file just incase.
Are you certs ok as well?

[2016-11-22 00:05] Nicholas-Westby commented on #40
Thanks, that seems to have fixed that error. Here's the new error I'm seeing:

![zone-error](https://cloud.githubusercontent.com/assets/5933222/20505785/2504c718-b004-11e6-905a-7793fcbef544.png)

Strange that it's using underscores. I'd expect that to say `require('http-client')`.

[2016-11-22 00:06] MarkPieszak commented on #627
I'm not sure if this is an issue within Universal or potentially the [angular2-universal-render repo](https://github.com/AKIRA-MIYAKE/angular2-universal-render/blob/master/src/lib/create-render.ts#L47-L71).
Do you have a repo or anything we can see if there's something else obvious that might be causing this?

I'm not sure if it's the [Zone issue](https://github.com/AKIRA-MIYAKE/angular2-universal

[2016-11-22 00:40] MarkPieszak commented on #611
I couldn't get your repo working for some reason, but tested it in a different one.

So the problem is that we're already extending `Http` inside Universal, but if you want to extend *that* even further... Just extend our class even further.

[code]

That should do the trick! Let me know if you run into any problems.

[2016-11-22 01:02] julienR2 commented on #628
Thanks :) Indeed this workaround could be useful for a lot of 3rd party library.

I could make a PR updating the doc with this use-case if you judge it necessary !

[2016-11-22 01:14] MarkPieszak commented on #611
@gdi2290 Is there another way you'd prefer that people do this?

[2016-11-22 05:28] pratts commented on #624
Hello @MarkPieszak,
Below mentioned is the code I am using for server file. Certificates were ok. I also used a self signed certificate to test on my system, I had to use the line: `process.env.NODE_TLS_REJECT_UNAUTHORIZED = "0";`

`// the polyfills must be the first thing imported in node.js
import 'angular2-universal-polyfills';

import * as path from 'path';
import * as express from 'express';

[2016-11-22 14:45] FrozenPandaz commented on #624
Last time I checked the https node module wasn't the best option for serving a https server. I opted to use spdy, it works well for me. It's also h2.

[2016-11-23 04:55] pratts commented on #624
Hello @FrozenPandaz , I looked for using https and express and found the above mentioned solution.
Regarding spdy, last time I checked I saw that it is deprecated and instead node-http2 should be used. But when I try to use node-http2, I face the error mentioned [here](https://github.com/molnarg/node-http2/issues/100). It is regarding node-http2 compatibility issues with express.

[2016-11-23 04:57] FrozenPandaz commented on #624
The spdy node module was updated to be true http2, give it a shot. It works flawlessly in my experience with express and therefore universal.

[2016-11-23 17:10] Reuvenc commented on #618
I'm having the same issue here, while trying to call external api's. Currently, when an endpoint is not found, the server fails for 300+ status errors.

Regarding the same topic, the server crashes for each synchronous error. Is there any method to wrap universal's engine in order to prevent such failures?

Tried to run the forked zone with `zone.runGuarded` instead of `zonr.run` in order to catch

[2016-11-24 14:17] alanpurple opened #630 "support for Zone.js 0.7.2?"
I think Zone.js version dependency should be updated to 0.7.2, no?

[2016-11-25 12:55] u12206050 commented on #627
Sorry for the delay in response.
Unfortunately we do not and cannot have our project as a public repo, however I do believe this will work for any two angular apps that you try and run with the same node server.

This is the latest error I get:

`Unhandled Promise rejection: Cannot enable prod mode after platform setup. ; Zone: <root> ; Task: Promise.then ; Value: [Error: Cannot enable prod mode a

[2016-11-25 15:04] MarkPieszak commented on #627
Are you running enableProdMode before you are setting up those apps by any chance?

[2016-11-25 17:30] nvs2394 commented on #623
@MarkPieszak thank you !

[2016-11-26 08:54] u12206050 commented on #627
Yes, as you can see in my code snippet above I had:

`const angular2 = require("@angular/core");
const renderer = require('angular2-universal-render');
//Here is the enableProdMode which I wrapped now with try-catch blocks
angular2.enableProdMode();
//This is where the app gets loaded
const modules = require('./server');`

[2016-11-28 10:01] leon opened #631 "Enable Angular Universal with a Spring Boot backend"
Hi!
I'm submitting a feature request to get angular universal working with spring boot

I've been playing with Spring Boot and Nashorn to render javascript views which works great.
Now I would like to get NG2 working with Nashorn.

I've could help out with implementing it but I need some guidance.

To render .ejs files with nashorn you create a spring bean as follows

[code]

// polyfill.js
[code]

[2016-11-28 12:08] stanbe commented on #606
Any news on this issue?

[2016-11-28 13:41] MarkPieszak commented on #606
I'll talk to Pat about it today and let you guys know @stanbe @aiboy.
We have a nice workaround file for now you can use (and import at the top of your browser/node modules) for the time being as well. (https://github.com/angular/universal-starter/tree/master/src - you can see the workaround files in here)

[2016-11-28 23:01] #612 closed

[2016-11-30 14:31] marklonquist commented on #309
The suggestion in in https://github.com/angular/universal/issues/309#issuecomment-251718156 did not work for me for setting the title serverside. I'm getting a 'data' is undefined error.

Works fine if I use it client-side.

[2016-11-30 18:28] filoxo commented on #631
Perhaps the discussion in #280 would be a better place to reach out for some guidance.

[2016-12-01 15:03] #604 closed

[2016-12-02 02:25] aarndt commented on #553
We were experiencing a similar issue with version ~2.0.10. We upgraded to 2.1.0-rc.1 and the issue seems to be resolved. In our case, it occurred when binding a numerical value to the [value] attribute on input and option elements.

@MarkPieszak The line that you linked to doesn't assign the value, as @gdi2290 indicated in a previous comment on the commit. I am curious as to how this was resolved.

[2016-12-03 01:54] aaltotsky commented on #534
- [ ] document.createEvent
- [ ] document.createEventObject

[2016-12-05 03:01] wellingWilliam commented on #272
Is there a way to transfer state from client to server?

[2016-12-05 09:57] PascalPrecht commented on #272
@wellingWilliam This is what @gdi2290 described in the comments above

[2016-12-05 12:31] wellingWilliam commented on #272
@PascalPrecht are you sure? I know universal cache can transfer state from server to client, but can it also be used to transfer state from client to server. Such as, client fetches a token and uses it to login to get a user payload. How can the server be aware of the token to prerender with the user payload?

[2016-12-05 16:27] gdi2290 commented on #272
to transfer state fro, client to server you can simply make an http call

[2016-12-05 17:05] wellingWilliam commented on #272
I was thinking that, but how to scope the http call to the node for the client making the request? I assume the server would need an endpoint for the request but what would it do?

[2016-12-06 13:04] crebuh commented on #618
I've the same issue within my application. As a workaround you could use the toPromise-Method, then everything is working fine e.g:

Instead of

``
return this.http.get(url, this.globalService.getRequestOptions()).map(response => response.json().data);
``

use

``
   return this.http.get(url, this.globalService.getRequestOptions())
        .toPromise().then(response => response.json().data)

[2016-12-08 15:42] dverbovyi opened #634 "[Documentation] Link to UniversalCache not found"
Hi,
I'm submitting a small minor bug report related to documentation README.md.

The current behaviour is missed link to UniversalCache mentioned here: [https://github.com/angular/universal#universal-gotchas]()

Please, take a look on it

[2016-12-08 16:13] MarkPieszak commented on #634
Updated the ReadMe: https://github.com/angular/universal/pull/635

Thanks for spotting that!

Updated to:

- Use a [UniversalCache](https://github.com/angular/universal-starter/blob/master/src/%2Bapp/shared/model/model.service.ts#L34-L50) instead of regular Http, to save certain requests so they aren't re-ran again on the Client. ([Example useage here](https://github.com/angular/universal-starter/

[2016-12-09 00:24] wellingWilliam commented on #272
If the client transfers state by a http request after preboot and the server stores the state, when the client refreshes the page how can the server know which stored state belongs to the new request to prerender with the state?

[2016-12-09 17:36] MarkPieszak commented on #272
It sounds like you need some initial logic the moment before the app gets serialized, or during, so that it can decide what route to instead render, or components to show,etc ?

What are you trying now?

[2016-12-09 17:50] wwelling commented on #272
I have trashed all attempts thus far.

Here is the project I would like to implement this is in:
[Prometheu Universal](https://github.com/wellingWilliam/prometheus-universal)

For the following use cases assume that a user navigates to the app and it bootstraps the universal app on the client side. The user then logs in, which receives a token and is placed in localStorage and Universal Cache. The

[2016-12-09 18:30] ishandutta2007 commented on #534
- [x] window.ace

ace editor comes with [brace](https://www.npmjs.com/package/brace) module
I was suggested to [hack](https://github.com/thlorenz/brace/issues/40#issuecomment-153394160) into brace and write
[code]
but it introduces [other errors](https://github.com/thlorenz/brace/issues/40) in code.
without supporting it I doubt if a production level work and doing something like [this](https://gi

[2016-12-10 17:08] John0x commented on #630
Updating to 0.7.2 would solve a bug with http on the server.

[2016-12-11 14:53] wwelling commented on #272
Is server client synchronization going to be a consideration for the Universal Storage module?

[2016-12-11 20:38] wellingWilliam commented on #272
I will setup a fresh clone of universal starter and modify to demonstrate the problem.

I have no idea on how to allow pre-rendering with state set on client side after bootstrapping without digging into angular universal code. Universal cache is one way, server to client. Universal storage sounds like the name of the feature that should support this functionality.

I also discovered another use c

[2016-12-12 11:03] vforv commented on #418
It would be great if you someone can create blog post or something that will show how to add universal to angular-cli projects... A lot of us use angular-cli.

[2016-12-12 11:21] vforv opened #636 "Angular cli + angular universal"
**Note: for support questions, please use one of these channels:** https://github.com/angular/universal/blob/master/CONTRIBUTING.md#question. This repository's issues are reserved for feature requests and bug reports. Also, **Preboot has moved** to https://github.com/angular/preboot - please make preboot-related issues there.

* **I'm submitting a ...**
- [x] feature request

* **Do you want to re

[2016-12-12 13:17] MarkPieszak commented on #636
Hey @vforv, the Universal CLI is actually here (currently in a fork of the CLI)
https://github.com/devCrossNet/angular-cli

There should be all the needed instructions there. You can have it and the regular CLI installed at the same time. 😃 @devcrossnet made it all happen!

[2016-12-12 13:17] #636 closed

[2016-12-12 13:40] devCrossNet commented on #636
@vforv there is a lot going on behind the scenes. Currently, the Universal-CLI is a little bit stuck in merging the Angular-CLI, it is also in Alpha. So please be patient.

[2016-12-12 13:43] vforv commented on #636
@devCrossNet great job. I have some projects that I started with angular-cli, what you suggest me how to include angular universal inside that projects?

[2016-12-12 14:30] devCrossNet commented on #636
@vforv if the universal-CLI works again it should be really easy to archive that. you run `ung init --universal` inside your project and put everything from your app.module into the two app-modules from universal.

But right know the universal-CLI is not stable.

[2016-12-12 15:02] vforv commented on #636
That would be great When will be stable release?

[2016-12-12 15:09] devCrossNet commented on #636
it is in the docs already. just read the first paragraph in the readme.md.

My goal is to have it stable again next week. But I have a surgery on Friday and I don't know if I am able to code on Saturday/Sunday.

But there is a PR that hopefully will solve most of the issues and we can get it to work soon.

[2016-12-12 17:16] vforv commented on #636
I see this: `It supports Angular Universal (with --universal flag after ung new or ung init)` But you told me that we should change also  two app-modules from universal...

Great, where can I find notification when it is stabile?

Good luck with surgery.

[2016-12-12 17:42] wwelling commented on #272
https://github.com/angular/universal-starter/pull/308

This demonstrates the issues from a lack of synchronization between client and server after bootstrapping. I will continue with trying to make a request to the server to store the token on the server in which a request can fetch it in order to pre-render with the user. I am thinking the request is going to have to have a cookie that identifies

[2016-12-12 18:07] devCrossNet commented on #636
https://github.com/devCrossNet/angular-cli#support-for-server-side-rendering

There is a section about universal.

Thanks 🙂 I can write here if it is stable again.

[2016-12-12 21:24] wwelling commented on #272
Ok, I have it to where the token is synchronized and state is pre-rendered correctly. However, the token is stored on the server without any unique identifier for retrieval upon new request. Now the true nature of the problem. How to map a given request from the client to retrieve a stored state on the server in order to pre-render the appropriate state. I am guessing a cookie.

[2016-12-12 22:41] wwelling commented on #272
A cookie worked well. Although it seems strange implementing Universal Storage using a cookie to identify the client state on the server. Anyhow, I am happy with the solution. I hope that there is a seamless solution in Angular Universal in the future that does not require a bunch of custom code to support this functionality.

[2016-12-13 08:41] haia212 opened #637 "Question: How to use querySelector ? Server says querySelector is not a function"
Hello !

I am trying to use `document.querySelector` in a service to automatically update all meta tags in a page (it is based on ng2-meta : https://github.com/vinaygopinath/ng2-meta).

`document` is injected in my service constructor as follow
[code]

The problem is that the server keeps displaying an exception
[code]
What I am doing wrong ? How to use querySelector properly ?

I am using univers

[2016-12-13 08:58] ScaryWolfMan commented on #606
Hi.  Is this issue fixed?  I am still getting this error, using angular2-universal version ~2.1.0-rc.1

[2016-12-13 09:57] vforv commented on #636
That would be great, thanks.

[2016-12-13 10:17] ScaryWolfMan commented on #606
@MarkPieszak I followed the link you posted and added those files to my project, and then imported the correct ones into my browser.module.ts and node.module.ts

Unfortunately I'm still getting the same error.  Here are my versions, if that is any help too:

[code]

[2016-12-13 12:16] MarkPieszak commented on #606
You have it setup similar to how the starters have it? Included at the top of each of those files? @ScaryWolfMan

[2016-12-13 13:30] wwelling commented on #272
This approach is insecure for handling authentication tokens. I am going to close the pull request to universal starter because it does not fall under the description of minimal Angular 2 starter. Here is the branch repo I've been working on with client to server state transition.

https://github.com/wwelling/universal-starter/tree/fake-token-login

[2016-12-13 13:53] MarkPieszak commented on #272
@wwelling Which file were you trying to do it, let me take a look so I can see what you need.

[2016-12-13 14:04] wwelling commented on #272
client to server transfer:
https://github.com/wwelling/universal-starter/blob/fake-token-login/src/%2Bapp/shared/storage.browser.ts

backend store:
https://github.com/wwelling/universal-starter/blob/fake-token-login/src/backend/store.ts

node.module.ts
```this.cache.set('APP_ID', universalCache.APP_ID);```

set token in store:
https://github.com/wwelling/universal-starter/blob/fake-token-login/src

[2016-12-13 14:27] wwelling commented on #272
I apologize for wasting your time on this.

[2016-12-13 15:07] MarkPieszak commented on #272
Is everything working or are you worried about security with this? No worries! Sorry if I'm slow to respond, I've been trying to tackle of a few things at once, it's hard to find time for everything :)

[2016-12-13 15:10] wwelling commented on #272
Thank you for the response. It works but is insecure and not practical. I was taking the wrong approach to provide a token to the server for pre-rendering. A cookie is the correct approach. Is easily acquired in the node module from the Zone request. Although, there will still be no synchronization between server and client local storage as of yet.

[2016-12-14 01:00] batusy opened #638 "Broken Link"
in the section : NodeJS & Express integration

Create your top level NgModule on the server side in the src/app.node.module.ts file (like this)  <----- 404

[2016-12-14 05:25] ScaryWolfMan commented on #606
@MarkPieszak Yep!  :(

[2016-12-14 05:33] tinchou commented on #606
It isn't working for me with 2.2.3 either. But there's a 90% chance I'm
just too tired to work on this now.

On Wed, Dec 14, 2016, 02:25 ScaryWolfMan <notifications@github.com> wrote:

[2016-12-14 06:26] ScaryWolfMan commented on #606
I'm a noob but it seems like a pretty daunting task trying to manage all the various angular projects and making sure everything works. :o

[2016-12-14 14:21] stanbe commented on #606
This error is rather annoying and the workaround is by definition just a workaround, not really satisfying. Is there still an issue with the pull request? @MarkPieszak @aiboy

[2016-12-14 14:27] aiboy commented on #606
@stanbe I'm not a maintainer :/ so I can't do anything about it.

And yes, we have Angular 2.3 already, but I still can't update Angular-Universal. This is sad.

[2016-12-14 14:54] MarkPieszak commented on #606
Let me make sure the workaround still works for the latest Angular release and I'll talk to @gdi2290 about it, see if it's possible to squeeze this in there!
Apologies guys!

[2016-12-15 06:07] ScaryWolfMan commented on #606
@MarkPieszak I've reverted to 2.10 and I'm able to run my project without any issues at the moment.

[2016-12-15 09:25] orgbx opened #639 "Server crashes on async runtime errors"
**Note: for support questions, please use one of these channels:** https://github.com/angular/universal/blob/master/CONTRIBUTING.md#question. This repository's issues are reserved for feature requests and bug reports. Also, **Preboot has moved** to https://github.com/angular/preboot - please make preboot-related issues there.

* **I'm submitting a ...**
- [X] bug report
- [ ] feature request
- [ ]

[2016-12-15 11:40] orgbx commented on #639
Hi,
I've [uploaded a possible solution to fix this](https://github.com/orgbx/universal-starter/commit/db22dc42e9c3b6c93953799a69dcaab7fb083b6e) , I only have a light knowledge of zone.js so I expect a better solution to be found to catch errors in zone and avoid having to catch & silence 'uncaughtException' events.

So as you can see, I'm just serving the "raw" index.html as a fallback for CSR.
Ch

[2016-12-15 11:56] dottodot opened #640 "SVG in template causes server side error"
**Note: for support questions, please use one of these channels:** https://github.com/angular/universal/blob/master/CONTRIBUTING.md#question. This repository's issues are reserved for feature requests and bug reports. Also, **Preboot has moved** to https://github.com/angular/preboot - please make preboot-related issues there.

* **I'm submitting a ...**
- [X] bug report
- [ ] feature request
- [ ]

[2016-12-15 18:31] Reuvenc commented on #640
Similar issue is mentioned in universal-starter repo angular/universal-starter#287

[2016-12-15 22:40] goriunov opened #641 "Does not load styles on Server."
**Note: for support questions, please use one of these channels:** https://github.com/angular/universal/blob/master/CONTRIBUTING.md#question. This repository's issues are reserved for feature requests and bug reports. Also, **Preboot has moved** to https://github.com/angular/preboot - please make preboot-related issues there.

* **I'm submitting a ...**
- [x] bug report
- [ ] feature request
- [ ]

[2016-12-16 04:18] MarkPieszak commented on #641
How are you trying to render them? StyleUrls need require() or a webpack loader (on the server at least) to load properly. Let me know so I can help out!

[2016-12-16 08:56] goriunov commented on #641
I am using universal cli. And as i can assume that it has template loader so it should work how ever it does not.

[2016-12-16 09:09] goriunov commented on #641
As well i tested it with styles inside of ts and it worked some times, like not always

[2016-12-16 09:13] goriunov commented on #641
The styles were added in router outlet component worked odd

[2016-12-17 18:26] nicky-lenaers commented on #579
@waterfoul this patch works great, thanks!

[2016-12-18 12:53] fdambrosio commented on #606
how can we build with universal? We're started using angular2-webpack-starter

[2016-12-18 15:14] Reuvenc opened #646 "Universal renders a blank page on synchronous runtime error in ngOnDestroy and without throwing any error."
**Note: for support questions, please use one of these channels:** https://github.com/angular/universal/blob/master/CONTRIBUTING.md#question. This repository's issues are reserved for feature requests and bug reports. Also, **Preboot has moved** to https://github.com/angular/preboot - please make preboot-related issues there.

* **I'm submitting a ...**
- [ X ] bug report
- [ ] feature request
- [

[2016-12-18 18:28] MarkPieszak commented on #606
Check out the universal node starter to see what you need to add to the webpack-starter, check out the documentation.md file here as well that talks about the necessary files. @fdambrosio

[2016-12-19 09:15] dottodot commented on #534
@gdi2290 Any idea when this might b available? If not can you provide the information on the best practice way of dealing with 3rd party services as at the moment it's a bit of a nightmare trying to integrate certain features.

[2016-12-19 14:29] MarkPieszak commented on #534
@dotoodot At the moment using `isBrowser` etc is probably the best option, unless you want to use DI and try and abstract some of the methods for the server.

What are you trying to use?

[2016-12-19 14:51] fdambrosio commented on #606
thanks @MarkPieszak we have "Call to Node module failed with error: TypeError: Cannot read property 'SelectorMatcher' of undefined" message error

[2016-12-19 15:06] MarkPieszak commented on #606
If you're using the workaround I think you can't use Angular `2.3` as some other things changed.
As we move some Core things from Universal into AngularCore itself, it'll help alleviate problems like this from happening!

[2016-12-19 16:35] dottodot commented on #534
@MarkPieszak One example is https://github.com/zefoy/angular2-perfect-scrollbar

I'm using DI for some things such as 3rd party scripts which I've kind of got my head round but when it come to things like the above i.e loading a module just for the client I get a bit lost.

[2016-12-19 19:09] MarkPieszak commented on #534
One thing you could try doing is creating a ghost/empty Component directive for it (that you inject in your server NgModule file. You might be able to pull something like that off, if it's real simple, just so that the server completely ignores it. Make sure you don't include the Module for that library in your server NgModule, only do that in the Client part.

[code]

You're right though, it woul

[2016-12-19 23:34] ScaryWolfMan commented on #606
@MarkPieszak I was having the same issue, but I'm now using angular 2.1.0 and angular-universal 2.0.11.  no longer getting any issues :(

[2016-12-19 23:45] ScaryWolfMan commented on #637
Correct me if I'm wrong, but don't you need to import isBrowser from ng2-universal, and create a conditional where if that's true, then do your querySelector.

[2016-12-20 09:14] haia212 commented on #637
Yes it is a solution, except that I am using universal for seo purpose. I would like to render the meta tags of my html on server side. That's why I am using querySelector and I need it on server side (not in a isBrowser if).
According to this issue (https://github.com/angular/universal/issues/534) querySelector is supposed to be supported, no ?

[2016-12-20 13:42] tjaartvanderWalt commented on #630
When trying to use angular2-universal with @angular/core@2.3.1 i get a peer dependency warning. **angular/core@2.3.1** needs zone.js@0.7.2 but **angular2-universal** needs zone.js@0.6.21

[2016-12-20 14:18] ScaryWolfMan commented on #637
Oh ok.  You can try using the meta service as is done here:  https://github.com/angular/universal-starter/blob/master/src/angular2-meta.ts

[2016-12-20 15:03] haia212 commented on #637
Thank you ! It works !

[2016-12-20 15:45] ScaryWolfMan commented on #637
No problem dude!  Good luck

[2016-12-20 18:00] StefanRein opened #647 "Recommended Static HTML File Pre-Rendering is not working"
* **I'm submitting a ...**
- [X] bug report
- [X] feature request

* **What modules are related to this Issue?**
- [ ] express-engine
- [X] grunt-prerender
- [x] gulp-prerender
- [ ] hapi-engine
- [ ] universal-next
- [ ] universal
- [ ] webpack-prerender

* **Do you want to request a *feature* or report a *bug*?**
I would think it is a bug, since everywhere I search I find: Go ahead and use stati

[2016-12-21 12:08] #637 closed

[2016-12-21 12:14] aecz opened #648 "WeakMap shim missing"
* **I'm submitting a ...**
- [x] bug report

* **What modules are related to this Issue?**
- [x] universal

* **What is the current behavior?**
es6-shim does not implement WeakMap so universal fails in IE10 for example.
Broken since #557

* **What is the expected behavior?**
Include a shim/polyfill for WeakMap.

- Angular version: 2.1.0
- Browser: [IE 10 | IE 9 | IE Mobile | Opera Mobile ]
- Langu

[2016-12-21 13:46] #634 closed

[2016-12-21 13:47] dverbovyi commented on #634
thank you

[2016-12-21 22:29] ethmelly commented on #648
Was searching for a solution for this also. Experiencing same issues.

[2016-12-21 23:39] gdi2290 commented on #648
good point. core-js should be used

[2016-12-22 03:00] DoubleExposure commented on #536
Why does UniversalModule have to be loaded last? It works this way but seems slower.
Can someone explain? Thanks

[2016-12-22 14:28] MarkPieszak commented on #536
Well it depends on what Modules you're using, usually it can be first, but depending on if other Modules are overriding Http as well, sometimes you need to re-position it.  I can't remember why Material is using Http, but in Universal we override it because we need to keep track of all requests, so we can determine when the App is stable, to then serialize it.

[2016-12-22 16:46] ethmelly commented on #648
I tried replacing es6-shim with core-js and now instead of WeakMap error i get:
Error: No provider for PlatformRef! which is also mentioned here [https://github.com/angular/universal-starter/issues/236](url)

[2016-12-23 17:16] Wefeedthetroll commented on #579
Might seem like a stupid post ( and it probably is ) but for those of you getting the " No ResourceLoader implementation has been provided " error while using the default starter kit with webpack and angular2-template-loader make sure that you **don't put any white space between templateUrl and colon**

[2016-12-23 17:25] neilhem commented on #640
Any news about new release which resolves this issue?

[2016-12-26 14:10] alonp99 commented on #646
Same for me @gdi2290

[2016-12-26 14:19] nitzanshinnies commented on #646
Ditto. @gdi2290 please advise.

[2016-12-26 16:40] MarkPieszak commented on #646
How are you handling errors from the serializer?
It should ideally just be sending the initial blank App at least.

[2016-12-26 17:56] marian2js commented on #618
I believe the issue is happening because you are not handling the error when you subscribe to the observable.

You can use:
[code]

If you do not define the error parameter, an exception is thrown by default.

[2016-12-27 12:59] Reuvenc commented on #646
@MarkPieszak Yes, I've added a catch on the promise returned from serializeModule(). Also, I'm handling zone errors by running in guard mode - `zone.runGuarded`. I've added onError and onHandleError methods to forked zone, but none of them are invoked).
What do you mean by saying blank App? currently I'm getting a blank page:

[code]

[2016-12-27 13:42] MarkPieszak commented on #646
I need to clean this code up, but when errors happen I return what was the original doc, in my case just "app", but at least that way the client bootstrap can take over in this case of failure: https://github.com/MarkPieszak/aspnetcore-angular2-universal/blob/master/Client/bootstrap-server.ts#L68

Would that help any?

[2016-12-27 15:27] gdi2290 commented on #646
this was meant to be by design as users wanted to return the index.html without pre-rendered content if there was an error. Everyone seems to be handling errors differently and probably should have added a config for silentErrors

[2016-12-27 15:59] dimonzav commented on #606
Workarounds from universal-starter repository is working well with Angular 2.4.1!

[2016-12-27 16:05] MarkPieszak commented on #606
Oh that's great news 👍 haven't been able to check on holiday this week. @dimonzav

[2017-01-01 09:56] szykov commented on #606
@dimonzav I just tried update to 2.4.1 version and adding files: __workaround.browser, __workaround.node.
Then adding appropriate import statements to server.ts and client.ts files and it didn't work. What did you do or what I did wrong?

[2017-01-01 12:59] Reuvenc commented on #646
@MarkPieszak Thanks for the reference, actually the promise doesn't reject in such case but resolves with an empty html.

@gdi2290 I'm also returning the index.html template in case of promise rejection. but when the promise resolved I assume that the pre-render process succeeded, and in the case I've mentioned the promise resolves with a blank html instead of the original index.html.

[2017-01-01 14:27] artaommahe commented on #534
window.matchMedia?

[2017-01-03 15:38] vitthalr opened #649 "Universal CLI (coming soon) - Any dates for this?"
Been waiting for Universal CLI version, any date, plan for this?

[2017-01-03 16:41] MarkPieszak commented on #649
Hey @vitthalr, it can be found here in a Fork of the CLI: https://github.com/devCrossNet/universal-cli
Note it is still in rather early stages like the CLI itself is.

Hope that helps!

[2017-01-03 16:41] #649 closed

[2017-01-03 18:16] owencooney commented on #534
@MarkPieszak I want to do something similar to @dottodot, exept with a window.localstorage service.. there's a nice post here: http://stackoverflow.com/questions/39085632/localstorage-is-not-defined-angular-universal/39098748#39098748 on an approach for using window.localstorage in angular-universal except that it produces an error on the server... details here   http://stackoverflow.com/questions

[2017-01-03 18:29] MarkPieszak commented on #534
@owencooney You'd basically want to do a similar thing, so for your main.client providers, make sure `LocalStorage` (shown above) uses a BrowserStorage class that uses `localStorage / sessionStorage`. So make getItem / setItem methods (etc) that end up doing `localStorage.getItem(key)` for example.

While in your main.node list of providers, for that `LocalStorage`, provide some MockStorage class,

[2017-01-03 19:54] vitthalr commented on #649
Great! But I tried installing it at it shows these issues: -

[2017-01-03 20:05] MarkPieszak commented on #649
I believe you should be ok! If you run into any others, check out the issues in that repo here: https://github.com/devCrossNet/universal-cli/issues

[2017-01-03 21:38] vitthalr commented on #649
ok, I got it working, I got the minified files in the dist folder using "ung build --prod"

Now how do I use these files on the production server? Do I map my domain directly to dist folder? How will the server-side rendering work on production?

[2017-01-04 06:46] vitthalr commented on #649
I figured it out, I used this: - ung serve --prod --env=prod and it seems to be working well.

Please tell me if its correct or wrong?

Thanks a lot!!

[2017-01-04 06:46] vitthalr commented on #649
I figured it out, I used this: - "ung serve --prod --env=prod" and it seems to be working well.

Please tell me if its correct or wrong?

Thanks a lot!!

[2017-01-04 11:34] MarkPieszak commented on #649
Sounds about right to me! The readme there is a slightly different one than the usual CLI since there's a few new changes Johannes made to make it universal. Glad you got it working!

[2017-01-04 18:17] rowantervelde commented on #640
Workaround is to set the attribute on the native element using a template reference. Handling the native element different on node and browser:

template:
`<use #useref xlink:href="assets/svg/sprite.svg#read-more" />`

component:
[code]

[2017-01-05 10:21] dottodot commented on #640
I can confirm that solution works.

[2017-01-05 11:47] owencooney commented on #534
@MarkPieszak awesome, I'll give that a go! Thanks a mil Mark!

[2017-01-07 10:25] ghego1 commented on #309
Not sure if still of interest, but putting together all suggestions found here and around, I've come up with a solution that is working well for me:

    import { Component, AfterViewInit, Renderer, Inject } from '@angular/core';
    import { DOCUMENT } from '@angular/platform-browser';

    @Component({
      selector: 'app-root',
      templateUrl: './app.component.html',
      styleUrls: ['./ap

[2017-01-08 03:32] gdi2290 commented on #630
will be supported in ng4
https://github.com/angular/angular/issues/13822

[2017-01-08 03:32] #630 closed

[2017-01-08 03:33] gdi2290 commented on #648
will be fixed in ng4
https://github.com/angular/angular/issues/13822

[2017-01-08 03:33] #648 closed

[2017-01-08 03:33] gdi2290 commented on #641
will be supported in ng4
https://github.com/angular/angular/issues/13822

[2017-01-08 03:33] #641 closed

[2017-01-08 03:35] gdi2290 commented on #623
will be fixed in ng4
https://github.com/angular/angular/issues/13822

[2017-01-08 03:35] #623 closed

[2017-01-08 03:37] gdi2290 commented on #512
won't be supported officially
https://github.com/angular/angular/issues/13822

[2017-01-08 03:37] #512 closed

[2017-01-08 03:37] gdi2290 commented on #618
might be fixed in ng4
https://github.com/angular/angular/issues/13822

[2017-01-08 03:37] #618 closed

[2017-01-08 03:42] gdi2290 commented on #647
will be supported officially ng4
https://github.com/angular/angular/issues/13822

[2017-01-08 03:42] #647 closed

[2017-01-08 03:43] #638 closed

[2017-01-08 03:47] gdi2290 commented on #640
might be fixed in ng4
https://github.com/angular/angular/issues/13822

[2017-01-08 03:47] #640 closed

[2017-01-08 03:47] gdi2290 commented on #606
will be fixed in ng4
https://github.com/angular/angular/issues/13822

[2017-01-08 03:47] #606 closed

[2017-01-08 03:48] gdi2290 commented on #603
will be fixed in ng4
https://github.com/angular/angular/issues/13822

[2017-01-08 03:48] #603 closed

[2017-01-08 03:48] gdi2290 commented on #579
will be fixed in ng4
https://github.com/angular/angular/issues/13822

[2017-01-08 03:48] #579 closed

[2017-01-08 03:49] gdi2290 commented on #600
won't be supported in ng4
https://github.com/angular/angular/issues/13822

[2017-01-08 03:49] #600 closed

[2017-01-08 03:49] gdi2290 commented on #611
won't be supported in ng4
https://github.com/angular/angular/issues/13822

[2017-01-08 03:49] #611 closed

[2017-01-08 03:50] gdi2290 commented on #523
will be fixed in ng4
https://github.com/angular/angular/issues/13822

[2017-01-08 03:50] #523 closed

[2017-01-08 03:50] gdi2290 commented on #601
won't be supported in ng4
https://github.com/angular/angular/issues/13822

[2017-01-08 03:50] #601 closed

[2017-01-08 03:51] gdi2290 commented on #597
will be fixed in ng4
https://github.com/angular/angular/issues/13822

[2017-01-08 03:51] #597 closed

[2017-01-08 03:51] gdi2290 commented on #553
will be fixed in ng4
https://github.com/angular/angular/issues/13822

[2017-01-08 03:51] #553 closed

[2017-01-08 03:52] gdi2290 commented on #503
won't be officially supported in ng4
https://github.com/angular/angular/issues/13822

[2017-01-08 03:52] #503 closed

[2017-01-08 03:52] gdi2290 commented on #539
will happen in ng4
https://github.com/angular/angular/issues/13822

[2017-01-08 03:52] #539 closed

[2017-01-08 03:53] gdi2290 commented on #394
will be supported in ng4
https://github.com/angular/angular/issues/13822

[2017-01-08 03:53] #394 closed

[2017-01-08 03:53] gdi2290 commented on #573
will be fixed in ng4
https://github.com/angular/angular/issues/13822

[2017-01-08 03:53] #573 closed

[2017-01-08 03:54] gdi2290 commented on #507
might be released as @angular/prerender

[2017-01-08 03:54] #507 closed

[2017-01-08 03:54] gdi2290 commented on #574
won't be supported officially
https://github.com/angular/angular/issues/13822

[2017-01-08 03:54] #574 closed

[2017-01-08 03:54] gdi2290 commented on #535
won't be supported officially
https://github.com/angular/angular/issues/13822

[2017-01-08 03:54] #535 closed

[2017-01-08 03:54] gdi2290 commented on #272
won't be supported officially
https://github.com/angular/angular/issues/13822

[2017-01-08 03:54] #272 closed

[2017-01-08 03:55] gdi2290 commented on #273
won't be supported officially
https://github.com/angular/angular/issues/13822

[2017-01-08 03:55] #273 closed

[2017-01-08 03:55] #444 closed

[2017-01-08 03:55] gdi2290 commented on #54
won't be supported officially
https://github.com/angular/angular/issues/13822

[2017-01-08 03:55] #54 closed

[2017-01-08 03:55] #135 closed

[2017-01-08 03:55] #581 closed

[2017-01-08 03:56] gdi2290 commented on #347
might be supported in ng4
https://github.com/angular/angular/issues/13822

[2017-01-08 03:56] #347 closed

[2017-01-08 03:57] gdi2290 commented on #646
will be fixed in ng4
https://github.com/angular/angular/issues/13822

[2017-01-08 03:57] #646 closed

[2017-01-08 03:57] gdi2290 commented on #624
will be fixed in ng4
https://github.com/angular/angular/issues/13822

[2017-01-08 03:57] #624 closed

[2017-01-08 03:57] gdi2290 commented on #544
will be fixed in ng4
https://github.com/angular/angular/issues/13822

[2017-01-08 03:57] #544 closed

[2017-01-08 03:57] gdi2290 commented on #627
will be fixed in ng4
https://github.com/angular/angular/issues/13822

[2017-01-08 03:57] #627 closed

[2017-01-08 03:58] gdi2290 commented on #602
will be fixed in ng4
https://github.com/angular/angular/issues/13822

[2017-01-08 03:58] #602 closed

[2017-01-08 03:58] gdi2290 commented on #575
will be fixed in ng4
https://github.com/angular/angular/issues/13822

[2017-01-08 03:58] #575 closed

[2017-01-08 03:58] gdi2290 commented on #534
won't be supported officially
https://github.com/angular/angular/issues/13822

[2017-01-08 03:58] #534 closed

[2017-01-08 04:00] gdi2290 commented on #392
closed for https://github.com/angular/angular/issues/13446

[2017-01-08 04:00] #392 closed

[2017-01-08 04:00] gdi2290 commented on #543
will be fixed in ng4
https://github.com/angular/angular/issues/13822

[2017-01-08 04:00] #543 closed

[2017-01-08 04:00] gdi2290 commented on #626
will be fixed in ng4
https://github.com/angular/angular/issues/13822

[2017-01-08 04:00] #626 closed

[2017-01-08 04:01] gdi2290 commented on #514
will be fixed in ng4
https://github.com/angular/angular/issues/13822

[2017-01-08 04:01] #514 closed

[2017-01-08 04:01] gdi2290 commented on #489
won't be supported officially
https://github.com/angular/angular/issues/13822

[2017-01-08 04:01] #489 closed

[2017-01-10 10:04] yaroslavOshyyko opened #652 "Configuration umd of library"
I created my custom libraries for easily creation of online store. I compiled TypeScript files to umd module format with d.ts files. All libraries have own index files that export components, services and modules to the world. Then I published them to `npm`.
When I want to import them into my project, like
[code]
and start the project, I have an error, like
[code]
But when I don't compile my files

[2017-01-11 11:51] jimmythesaint82 opened #653 "Polyfills break googleapis"
**Note: for support questions, please use one of these channels:** https://github.com/angular/universal/blob/master/CONTRIBUTING.md#question. This repository's issues are reserved for feature requests and bug reports. Also, **Preboot has moved** to https://github.com/angular/preboot - please make preboot-related issues there.

* **I'm submitting a ...**
- [X] bug report
- [ ] feature request
- [ ]

[2017-01-11 11:58] jimmythesaint82 commented on #653
it's the
require('./zone-node');
that breaks it

[2017-01-11 13:59] IvanProdaiko94 commented on #652
Face the same issue. + 1

[2017-01-12 15:20] john-landgrave commented on #281
I see this was last touched 7 months ago, is this being handled somewhere else (like its own repo)?

[2017-01-12 15:38] jeffwhelpley commented on #281
@john-landgrave the prototype was built in a private repo. Much of the universal code is moving to core now, so this effort has been put on hold until that is complete.

[2017-01-12 16:06] b-strauss commented on #281
@john-landgrave

I experimented with [v8js](https://github.com/phpv8/v8js), which is a PHP extension that includes the v8 engine. I was able to render a simple hello world string sent from js to php (90 to 140 ms response time). This basically works, although it was slower than a native php string (5 to 15 ms response time). v8js requires a custom module loader implemented via callbacks on the PHP

[2017-01-12 18:36] john-landgrave commented on #281
@jeffwhelpley  and @b-strauss

Thanks for the responses guys! We're very interested in starting some work on using Angular 2+ as the basis for some WordPress themes in order to step up our offerings, but obviously the SEO impact of Angular Universal is a pretty big necessity. I'll keep an eye on news around Angular Universal and PHP.

[2017-01-14 19:54] ravi1078 opened #654 "Enable Angular Universal with a Python/Django backend"
**Note: for support questions, please use one of these channels:** https://github.com/angular/universal/blob/master/CONTRIBUTING.md#question. This repository's issues are reserved for feature requests and bug reports. Also, **Preboot has moved** to https://github.com/angular/preboot - please make preboot-related issues there.

* **I'm submitting a ...**
- [ ] bug report
- [x] feature request
- [ ]

[2017-01-14 22:17] MarkPieszak commented on #654
Just leaving this as a reference (http://sweetme.at/2014/02/17/a-simple-approach-to-execute-a-node.js-script-from-python/) on executing a node script from Python.

[2017-01-16 07:59] A50 opened #655 "When will be supported angular ^2.3 and its dependent packages?"
Can't install angular-universal, since in my app installed packages are dependent on the angular 2.3.

`angular2-universal@2.1.0-rc.1 requires a peer of zone.js@~0.6.21 but none was installed.`

How to solve this problem?

[2017-01-16 22:22] Shiroh1ge commented on #655
https://github.com/angular/universal-starter/issues/329

[2017-01-16 23:26] MarkPieszak commented on #655
Thank you @Shiroh1ge yes, at the latest we'll have to wait until Universals engine is moved into Angular Core (https://github.com/angular/angular/issues/13822).

For now can you stick with 2.1.0 or up to 2.2.x (if you have the workarounds setup like in the starter) ?

There might be one last `angular2-universal` patch for 2.4 but I'm not positive right now.

[2017-01-18 19:43] bsamartins opened #656 "universal cache not rehydrating on 2.1.0.rc.1"
**Note: for support questions, please use one of these channels:** https://github.com/angular/universal/blob/master/CONTRIBUTING.md#question. This repository's issues are reserved for feature requests and bug reports. Also, **Preboot has moved** to https://github.com/angular/preboot - please make preboot-related issues there.

* **I'm submitting a ...**
- [x] bug report
- [ ] feature request
- [ ]

[2017-01-18 20:09] MarkPieszak commented on #656
Hey @bsamartins
Do you have the lifecycle hooks setup in both your main.client & main.server `NgModule`'s? Those are what get & set the Cache.

[2017-01-18 20:31] kodeine opened #657 "Angular latest version support?"
When it will be possible to use latest angular 2.4.2 with universal?

[2017-01-18 20:46] bsamartins commented on #656
Hi @MarkPieszak

I have followed your recipe https://github.com/MarkPieszak/aspnetcore-angular2-universal/tree/master/Client.

When I inspect the code I can see the injected ```universal-script``` tag and the data.

[code]
But when I effectively look at the console log I get the following error:
```Angular Universal: UNIVERSAL_CACHE is missing```

Could it be that `window.UNIVERSAL_CACHE` by the t

[2017-01-19 01:03] bsamartins commented on #656
@MarkPieszak, after digging around a bit more, noticed on the Universal Starter project that the client bundle script is loaded asynchronously and manually changing the generated index.html, does the trick.

Now I just have to figure how to get angular-cli to mark the script as ```async```.

[2017-01-19 01:03] #656 closed

[2017-01-19 01:21] MarkPieszak commented on #656
Oh wow wouldn't of thought of that, glad you got it!

[2017-01-19 01:40] Koslun commented on #657
@kodeine There might be an update to this repository by to make it work with `^2.4.2`. There is either way an ongoing effort to merge Universal into the core angular repo for the next major Angular version, i.e. `4.0.0` or a minor version higher depending on how it progresses. Seeing as I believe the release will happen regardless, while they'll probably fit all the breaking changes for the final

[2017-01-19 07:26] junjun16818 opened #658 "Get hostname for backend"
client
[code]
server
[code]
If my check isBrowser no problem ， can get hostname
[code]
How to render in the backend Get the hostname

[2017-01-20 15:59] Raixur commented on #652
Hello. Probably I have the same problem. I write custom component in Angular, but it fails on server rendering part. And it's in UMD format already. Probably there is another way to pack component for being universal angular compatible?

[2017-01-20 22:11] MarkPieszak commented on #658
In your app.server NgModule make sure you have req in your providers like this:
https://github.com/MarkPieszak/aspnetcore-angular2-universal/blob/master/Client/app/platform-modules/app.server.module.ts#L14-L44

[code]

Do the same in your app.browser but make sure those req and res functions are blank:
[code]

Usage, inject in your contructor (https://github.com/MarkPieszak/aspnetcore-angular2-uni

[2017-01-20 22:11] #658 closed

[2017-01-24 13:07] haia212 opened #659 "How to set LOCALE_ID in angular universal ?"
I am trying to set the LOCALE_ID according to an environment variable. I found this post to help me http://stackoverflow.com/questions/41099552/angular-2-universal-i18n-on-server-side

Exactly as described in this post, I added  `{provide: LOCALE_ID, useValue: 'fr'}` in `src/client.ts` and in `src/server.ts` but then when I print LOCALE_ID I always have `en-US`
[code]

How can I set LOCALE_ID in a

[2017-01-26 23:17] MarkPieszak commented on #653
Can you potentially only load these on the client/browser side? Or do you need them to be part of the server render.

[2017-01-28 18:36] chrisjmccrum commented on #655
Unfortunately, I'm getting the same issue as @A50 .  I'm working on the a project using KendoUI Angular components and in their round of updates with a ton of bug fixes they required a dependency on     `"zone.js": "^0.7.4" & "@angular/common": "2.4.0"` .  angular2-Universal and angular2-universal-polyfills is complaining about the zone.js version

[2017-01-31 12:59] hakonamatata opened #661 "Gulpfile to create a node.js app for azure works, but get a Error: Failed to lookup view "index" in views directory "src""
Hi

So I have developed a simple gulp script to create a nice node.js app to run angular universal on Azure, but it doesn't quite work.

My folder structure after running gulp looks like this:

[code]

It runs nicely, but when I connect to the page I get a

**Error: Failed to lookup view "index" in views directory "src"**

More details at the end of the post.

Here is my gulp file:

[code]

* **I'

[2017-01-31 14:01] MarkPieszak commented on #661
What version of Node is running in this Azure app service?

[2017-01-31 14:14] hakonamatata commented on #661
I have the same problem locally
node **v6.9.4**

Azure:
[code]

[2017-01-31 16:05] vforv commented on #636
Hello any news regarding this?

[2017-01-31 16:38] devCrossNet commented on #636
@vforv there is a stable version again. but we're stuck for now, universal moves to @angular/universal. My fork is here: https://github.com/devCrossNet/universal-cli. you can use it but you can not use AOT or newer versions of Angular. We have to wait until the core team releases a new version of universal and maybe the angular-cli team will implement it (but I have no information on this).

[2017-01-31 16:50] halben commented on #436
Any updates on this? I'm still seeing the issue.

[2017-02-01 13:54] ocombe commented on #648
@ethmelly you just need to import weakmap / map / set right before you load the universal polyfill:

[code]

This should fix the issue without disturbing anything else

[2017-02-01 15:37] DBuit commented on #309
@ghego1 i tried to use your for loop to set meta tags in the InterfaceServer

`import { Injectable, Inject, ElementRef, Renderer } from '@angular/core'
import { DOCUMENT } from '@angular/platform-browser'

@Injectable()
export class InterfaceService {
    //--------------------------------------------
    //! Set the variables to their default values
    //-----------------------------------------

[2017-02-01 15:45] MarkPieszak commented on #661
Is it because of this gulp line:

[code]

It's looking for index in the `src/` folder but it looks like it's in your Root directory.

Just closing out the issue as it's not Universal-related.

[2017-02-01 15:45] #661 closed

[2017-02-01 15:49] ghego1 commented on #309
@DBuit, I think the problem is that you are doing this in a Service. I implemented this in a component, and then passed to the service the rendered object.

I have not yet studied how Angular2 works behind the scenes so I'm unable to provide you a full description of why this can't be delegated entirely to a Service, but I can share with you the following working code :-)

Component:

    import {

[2017-02-01 16:06] MarkPieszak commented on #653
@jimmythesaint82 Can you try loading those polyfills **before** the `import 'angular2-universal-polyfills';` ?

[2017-02-03 00:54] kybarg opened #662 "Update dependencies"
**Note: for support questions, please use one of these channels:** https://github.com/angular/universal/blob/master/CONTRIBUTING.md#question. This repository's issues are reserved for feature requests and bug reports. Also, **Preboot has moved** to https://github.com/angular/preboot - please make preboot-related issues there.

* **I'm submitting a ...**
- [ ] bug report
- [ ] feature request
- [x]

[2017-02-06 21:29] gdi2290 commented on #662
closing for https://github.com/angular/angular/issues/13822

[2017-02-06 21:29] #662 closed

[2017-02-06 21:30] gdi2290 commented on #659
please comment in https://github.com/angular/angular/issues/13822

[2017-02-06 21:30] #659 closed

[2017-02-06 21:30] gdi2290 commented on #653
please comment in https://github.com/angular/angular/issues/13822

[2017-02-06 21:30] #653 closed

[2017-02-06 21:31] gdi2290 commented on #655
for updates see https://github.com/angular/angular/issues/13822

[2017-02-06 21:31] #655 closed

[2017-02-07 07:50] haia212 commented on #659
This is a universal question. In my other project (which doesn't use universal), I have no problem to set the LOCALE_ID...

[2017-02-09 10:04] manekinekko commented on #652
@yaroslavOshyyko I'm sorry to say that, but please read the [contributions guidelines](https://github.com/angular/universal/blob/master/CONTRIBUTING.md#question).
Also, please don't open duplicate issues on different repos, it's hard to maintain.

See [my response](https://github.com/angular/universal-starter/issues/319#issuecomment-278598009) in the starter repo.

[2017-02-09 10:04] manekinekko commented on #652
@jeffwhelpley can we close this issue.

[2017-02-09 12:44] #652 closed

[2017-02-10 09:49] teabagp commented on #525
@kuldeepkeshwar you still have these examples? Links are not found

[2017-02-10 14:34] kuldeepkeshwar commented on #525
@bohacc @teabagp you can check [lazy-route](https://github.com/kuldeepkeshwar/universal-starter/tree/lazy-route/src/common/utils) branch

[2017-02-13 15:27] jkuri commented on #534
I just find a workaround to avoid `if (typeof window === 'undefined') { return; }` in every case when dom is used directly. just use `jsdom-global` package as `require('jsdom-global')();` in in the main module or somewhere. no need to worry about workarounds anymore.

[2017-02-13 16:11] MarkPieszak commented on #534
I get error `Error: Cannot find module "."` when trying to add it to the main.node file, how are you implementing it?

[2017-02-13 16:13] jkuri commented on #534
I use it like so https://github.com/jkuri/angular-rollup-starter/blob/master/scripts/lib/prerender.ts#L39

[2017-02-13 16:41] jkuri commented on #534
@MarkPieszak make sure you have both `jsdom` and `jsdom-global` installed, maybe thats the issue.

[2017-02-13 18:03] MarkPieszak commented on #534
Interesting, yeah I tried both. Let me try with a fresh blank repo.

[2017-02-14 06:50] junjun16818 opened #664 "how use common/title ?"
how use common/title ?

[2017-02-17 03:43] KostyaEsmukov commented on #664
https://github.com/angular/universal/issues/309#issuecomment-251718156

[2017-02-17 03:44] ParkourKarthik commented on #606
I tried the workaround. I'm still facing the problem in `angular@2.4.7`; currently using the latest `2.1.0-rc.1` version of Universal. Anything more to do?

[2017-02-17 04:05] olegkon commented on #280
Guys,

So is there a solution to connecting Angular2 and/or Angular Universal to Java Spring?
I am very new to Angular Universal (but not to Java, Spring or Ang2).

(trying to rewrite front end of large web app from Flex to Angular2. It also has Spring4, Flex/BlazeDS/Spring bridge, connecting to heavy layer of SQL Server stored procs).
So far I have written prototype skipping Java & Spring, callin

[2017-02-17 08:49] u12206050 commented on #603
I am also getting this exact same error now, not using aot just trying to run my project with universal.
I am using Angular 2.4.0 and angular2-universal 2.1.0-rc.1

[2017-02-17 12:27] MarkPieszak commented on #603
Are you using the workarounds Found here (https://github.com/angular/universal-starter/tree/master/src) and importing them near the top of your client & node files? @u12206050

[2017-02-17 12:32] MarkPieszak commented on #664
Along with Kostya's reply, the universal starter also has a nice angular2-meta class/service that will let you update meta tags and everything as well. Hope that helps!

[2017-02-17 12:32] #664 closed

[2017-02-17 12:34] MarkPieszak commented on #606
Do you have it setup just like in the universal starter? @parkourkarthik

[2017-02-17 15:04] u12206050 commented on #603
@MarkPieszak  Yes I am, I actually start my project straight from the Universal Starter

[2017-02-20 23:15] nosovk commented on #652
Just in case - issue was resolved in starter repo - https://github.com/angular/universal-starter/issues/319
Problem was in hardcoded config values in universal-starter.

[2017-02-21 01:18] ParkourKarthik commented on #606
I'm a noob and I'm using the **Asp.net Core with Angular** template. I faced this when I upgraded all my packages to the latest version. But now I downgraded all packages to the same in the template (`2.0.10`); so working for now.
I'm scared of upgrading the packages again. It seems there are multiple dependencies of packages which raise these errors; any guidelines would be helpful.

[2017-02-21 02:20] MarkPieszak commented on #606
This template here has everything a little more up to date and is .net, take a look at the dependencies. https://github.com/MarkPieszak/aspnetcore-angular2-universal

Don't worry about warnings during install for now. @ParkourKarthik

[2017-02-26 23:02] ivancamilov commented on #656
@bsamartins did you figure out how to fix this using `angular-cli` (or rather, `universal-cli`)? I've been a little stuck on this very issue.

[2017-02-27 08:07] damirkusar opened #666 "Angular 4.0.0-rc.1 error with "angular2-universal": "~2.1.0-rc.1"
[x] bug report => search github for a similar issue or PR before submitting
[ ] feature request
[ ] support request => Please do not submit support request here, instead see https://github.com/angular/angular/blob/master/CONTRIBUTING.md#question
Current behavior
After updating Angular 4 beta 8 to RC1, i am getting an error in Angular-Universal

[code]

Expected behavior
Error should not occure

Mi

[2017-02-28 01:52] MarkPieszak commented on #280
@aherreraGH Was also interested in looking into the integration, he recently got a Node instance stood up in a Java environment so think he's already most of the way there. I can try to help show him the way it's being done in .NET.

Hopefully Universal in Java soon :taco: :taco:

[2017-02-28 20:21] MarkPieszak commented on #666
Thanks for posting the issue @damirkusar
Closing for https://github.com/angular/angular/issues/13822 since Universal moving to Core is still a work in progress.

[2017-02-28 20:21] #666 closed

[2017-03-02 19:44] dherges commented on #280
Hi guys,

In theory there two-and-half things needed for that:

1) J2V8 running a node env /w mode APIs on JVM
1b) some sort of Bridge from Spring MVC to a Renderer ... needs to
-- provide context (e.g. request URL/Path),
-- execute the main.js of an universal app,
-- capture the rendering result and
-- place the rendered contents in the app's index.html
2) Implementation of the universal app in T

[2017-03-03 05:34] ivancamilov opened #667 "Handle 404 and 500 errors"
**Note: for support questions, please use one of these channels:** https://github.com/angular/universal/blob/master/CONTRIBUTING.md#question. This repository's issues are reserved for feature requests and bug reports. Also, **Preboot has moved** to https://github.com/angular/preboot - please make preboot-related issues there.

* **I'm submitting a ...**
- [ ] bug report
- [x] feature request
- [ ]

[2017-03-03 17:36] SystemDisc opened #668 "Load cookies sent by browser for XHR from universal (server-side render)"
* **I'm submitting a ...**
- [ ] bug report
- [x] feature request
- [ ] support request => Please do not submit support request here, see note at the top of this template.

* **What modules are related to this Issue?**
- [ ] express-engine
- [ ] grunt-prerender
- [ ] gulp-prerender
- [ ] hapi-engine
- [ ] universal-next
- [x] universal
- [ ] webpack-prerender

* **Do you want to request a *feature

[2017-03-03 17:41] RPDeshaies opened #669 "Getting Started Page `server.js` is written in Typescript"
I think most people uses a pure JavaScript back end so this example should be written in Javascript

Or, if you really want it to be in TypeScript, you should rename the file in the example `server.ts` and explain a little how to have a typescript back end.

[2017-03-04 15:00] MarkPieszak commented on #668
So if you check out the starter lines here for node.module https://github.com/angular/universal-starter/blob/3e2c41a22694fac55b67023652753f85f8fda098/src/node.module.ts#L43

You can get those cookies by accessing this provider:

[code]

Hope that helps, let us know!

[2017-03-04 15:12] SystemDisc commented on #668
Should I only be using `req` if `!isBrowser`?

[2017-03-04 15:14] SystemDisc commented on #668
I really think that Angular Universal should load in cookies by default. It should emulate the browser which requested the page as closely as possible so that the initially rendered view matches what Angular shows after that initial view.

[2017-03-05 04:42] MarkPieszak commented on #668
It does in that it passes this data down (you can see it [here](https://github.com/angular/universal-starter/blob/master/src/server.ts#L86-L87) being passed to the expressEngine).

The browser.module gets the req and pulls out the `cookie` here: https://github.com/angular/universal-starter/blob/master/src/browser.module.ts#L22-L25

    { provide: 'req', useFactory: getRequest },

While the server

[2017-03-06 08:07] damirkusar opened #670 "sharedStylesHost._styles undefined when testing submodules"
* **I'm submitting a ...**
- [x ] bug report
- [ ] feature request
- [ ] support request => Please do not submit support request here, see note at the top of this template.

* **What modules are related to this Issue?**
- [ ] express-engine
- [ ] grunt-prerender
- [ ] gulp-prerender
- [ ] hapi-engine
- [ ] universal-next
- [x] universal
- [ ] webpack-prerender

* **What is the current behavior?**

[2017-03-06 18:41] martinop commented on #534
Doesnt work for me, this generate other errors

[2017-03-07 17:03] cheerun opened #671 "angular2-universal-polyfills breaks library 'mysql'"
**Note: for support questions, please use one of these channels:** https://github.com/angular/universal/blob/master/CONTRIBUTING.md#question. This repository's issues are reserved for feature requests and bug reports. Also, **Preboot has moved** to https://github.com/angular/preboot - please make preboot-related issues there.

* **I'm submitting a ...**

- [x] bug report
- [ ] feature request
- [

[2017-03-07 17:23] cheerun commented on #671
The cause is 'angular2-universal-polyfills/zone-node'
It breaks mysql.

[2017-03-07 17:40] cheerun commented on #671
I found causing line..

zone.js/dist/zone-node.js:904
[code]

When I commented that line, mysql worked well.
So.. I know It is monkey-patch of EventEmitter for zone context,
But Can I remove it?

[2017-03-08 02:39] jrmcdona opened #672 "ERROR in ./~/angular2-platform-node/node-document.js Module not found: Error: Can't resolve 'js-beautify' i"
**Please note;  The link to support requests in the notes sent me back to this repo?**  I didn't find anything in the repo, I searched issues.

* **I'm submitting a ...**
- [x ] support request => Please do not submit support request here, see note at the top of this template.

* **What modules are related to this Issue?**
- [x ] angular2-platform-node
[x] webpack 2.2.1
I added my packages list at

[2017-03-09 18:47] NiklasRaab commented on #283
Please provide support for systemjs!

[2017-03-09 18:50] NiklasRaab commented on #247
Whats about SystemJs support?

[2017-03-09 18:52] gdi2290 commented on #671
can you check the zone.js and see if it's there any make a pull-request

[2017-03-09 18:52] #671 closed

[2017-03-09 18:52] NiklasRaab commented on #283
Love you! Thats properbly the fastest answer i've ever get 👍

[2017-03-09 18:59] gdi2290 commented on #670
this is fixed in Angular 4 where universal was merged in to core

[2017-03-09 18:59] #670 closed

[2017-03-09 19:11] gdi2290 commented on #283
no problem 👍

[2017-03-10 15:55] pballester opened #673 "The QuickStart steps are impossible to follow"
I tried to follow the quickstart but I found some major problems:

### Step 1
- It would me much better if a "git clone" command is provided
### Step 2
- No information provided about typings client installation
- The node typing doesn't exist anymore
- The ambient flag is deprecated
### Step 3
- The file name is server.js but it's typescript code  (#669)
- No information provided about compiling

[2017-03-12 14:35] vforv opened #674 "Server side not render http requests [Angular Universal, universal-cli]"
* **I'm submitting a ...**
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support request here, see note at the top of this template.

* **What modules are related to this Issue?**
- [x] express-engine
- [ ] grunt-prerender
- [ ] gulp-prerender
- [ ] hapi-engine
- [ ] universal-next
- [x] universal
- [ ] webpack-prerender

* **Do you want to request a *feature

[2017-03-13 21:31] ScaryWolfMan opened #675 "Recommended way to handle redirects server side if angular service throws error due to 500s, etc?"
I am handling 404s static page redirects through express, but how can I redirect to my 500 internal error page if my REST API is down or something?

I have some complex components and if the REST API is down, I would like to redirect to my error page and on client side, I can do this using `window.location.href`, but how would I handle this in the angular component code on the server side?

Again,

[2017-03-15 19:55] feloy opened #676 "Using Title service on server side does not work when Meta service is working"
**Note: for support questions, please use one of these channels:** https://github.com/angular/universal/blob/master/CONTRIBUTING.md#question. This repository's issues are reserved for feature requests and bug reports. Also, **Preboot has moved** to https://github.com/angular/preboot - please make preboot-related issues there.

* **I'm submitting a ...**
- [x] bug report
- [ ] feature request
- [ ]

[2017-03-15 20:18] #676 closed

[2017-03-17 23:39] pxwise commented on #391
Has anyone prototyped this?

[2017-03-18 21:55] vforv opened #677 "Get http request on server side works but not display on client side [Angular Universal(universal cli)]"
* **I'm submitting a ...**
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support request here, see note at the top of this template.

Any help guys:

http://stackoverflow.com/questions/42880305/get-http-request-on-server-side-works-but-not-display-on-client-side-angular-un

[2017-03-19 17:38] larstbone opened #678 "Using Universal with JavascriptServices - what modal plays well?"
What solution do you suggest for implementing modals?  Any examples or pointers?

Universal's requirement to limit jQuery is difficult to overcome when I try many of the ng2-* solutions for modals.

[2017-03-19 19:27] MarkPieszak commented on #678
If you're using Bootstrap, these libraries below can offer modals and everything else from bootstrap, native to Angular2 (with directives/components), and zero jQuery 🥇

https://valor-software.com/ng2-bootstrap/#/
or
https://github.com/ng-bootstrap/ng-bootstrap

[2017-03-21 08:54] maximumver commented on #281
yeah, 26% of web is powered by wordpress, not even saying that PHP is realy popular too, we need Angular Universal on PHP very badly.

[2017-03-23 18:34] IamKritika commented on #597
@LendsMan  did u get a solution for this or some other way to get the styles right??

@gdi2290 can you suggest some workaround?? this is actually a major problem for us

[2017-03-25 20:39] diestrin commented on #675
You can have a route to the ngApp for 500 errors, register that same route on angular router. In your component then redirect to the 500 error page. I do something similar for 404 pages on routes like /article/:title when the title doesn't exists.

You can do the redirect without changing the url, so that's not a problem :)

[2017-03-28 10:54] Mjf94 commented on #678
@larstbone Hi I am working on modals in Angular Universal as well. I had tried some component libs but all failed with errors. Did you solve this? Thanks.

[2017-03-29 00:55] drarko commented on #281
Any updates on this? Can I help with something? I have experience with PHP and its modules.
I will glad to participate on this project :)

[2017-03-29 02:09] MarkPieszak commented on #678
Use one of the 2 above and you'll be all set @Mjf94

[2017-03-30 14:00] bonatoc commented on #281
... so do I. But we need a roadmap, and a short desc of what is available, what needs to be done. Who can provide this info? Where can we start?

[2017-03-30 14:03] killrazor commented on #281
"@jeffwhelpley
jeffwhelpley
commented 11 months ago

Alright, so the PHP integration to Universal has been a back burner item for a little while but let's work on making this legit. If you just want status updates on this effort, watch this issue. If you can be more heavily involved, email me at jeff at gethuman dot com. I am in the process of organizing a quick meeting among all interested partie

[2017-03-30 14:14] mrjmd commented on #281
This effort never really got off the ground. We had one Google hangout after ngconf last year but I think the key need was someone to champion this issue, and no one really stepped up to do that.

Here's my blog post about my initial attempts at a v8js hello world from last year:

http://mrjmd.com/angular-universal-and-php-first-adventures-v8js

I think part of what I've struggled with is the spec

[2017-03-30 18:52] jeffwhelpley commented on #281
Greetings! Sorry for the lack of updates. The effort did indeed get derailed because shortly after ng-conf we decided that a major refactoring was needed before we opened Universal up to non-JS back ends. That refactoring took much longer than expected for a variety of reasons, but is now complete with the release of Angular v4. As you can see from this:

https://github.com/angular/universal#roadm

[2017-03-31 03:20] vikerman commented on #281
We are focusing on getting the Java backend going for the next 3 months - but if someone in the community is willing to step up we can definitely work out a similar solution for PHP in parallel.

The easiest way to get this going at this point is to have a PHP<->Node.JS bridge. This is the model ASP.NET has been using. Difficulties with using just V8 - Even if we avoid some bundling solution to av

[2017-03-31 15:36] mrjmd commented on #281
@jeffwhelpley Thanks for the update! @vikerman I am interested in being involved, it would definitely help for me to follow along with the Java integration work as it happens so I have a better sense of what will be involved.

[2017-04-02 14:25] mattpepin commented on #654
This would be awesome. Also, please make it generic enough so that it's not tied to a specific framework (ie Django only). There are many other great platforms (Pyramid/Pylons, Flask, etc)!

[2017-04-03 16:00] gxolin commented on #667
I'm upvoting this one.
This is a serious issue for SEO, because soft-404 is not well handled by search engines.

[2017-04-05 11:06] kukjevov commented on #667
Hi :). I have solved this in angular 4 using so called `StatusCodeService`

Here you can see my solution. https://github.com/kukjevov/ng-universal-demo/blob/mine/app/pages/notFound/notFound.component.ts

Just before i render content to string i retrieve status code from service and then send it together with html and statusCode and process it in https://github.com/kukjevov/ng-universal-demo/blob/m

[2017-04-07 13:31] royboy789 commented on #281
@jeffwhelpley thanks! Would love to get involved in this and showcase it in some upcoming projects.

[2017-04-07 14:26] jeffwhelpley commented on #281
@royboy789 it was great meeting you at ng-conf. Here is info about a previous attempt:

http://mrjmd.com/angular-universal-and-php-first-adventures-v8js

I am no PHP expert but I believe you can once you have the PHP <-> Node.js communication working, then it is just a matter of establishing a protocol for interacting with Universal. IOW, you are still going to spin up a node.js server that uses t

[2017-04-07 15:00] killrazor commented on #281
If I'm reading this correctly you are saying a server would need node.js
and PHP running in production and have V8Js installed, correct?

On Apr 7, 2017 9:26 AM, "Jeff Whelpley" <notifications@github.com> wrote:

@royboy789 <https://github.com/royboy789> it was great meeting you at
ng-conf. Here is info about a previous attempt:

http://mrjmd.com/angular-universal-and-php-first-adventures-v8js

I

[2017-04-07 15:05] albandaft commented on #673
Is there any way to make this RUN? Is there any documentation ?!!! So what is this just a useless repo? I have been searching all day and cannot find a tutorial or any steps to make universal/server side rendering working... seems all smoke and no fish

[2017-04-07 15:35] b-strauss commented on #281
@jeffwhelpley @killrazor

v8js has no nodejs runtime, it only includes V8. If you want to do anything on the javascript side (loading modules, http-requests, etc), you have to do that on the php side and send it v8js.

[2017-04-07 15:35] mrjmd commented on #281
@killrazor I am wondering the same thing. My understanding was that one of the primary use cases for going this route was the ability to run Universal in scenarios where you would **not** have nodejs in production.

But from my read of @vikerman's comment above it sounds like the difficulties of going down the pure V8 road may not be worth the effort, even with the module loading example @TheLarkI

[2017-04-07 15:47] jeffwhelpley commented on #281
Sorry, I updated my comment. I made an incorrect assumption about how v8js works. It looks like it does actually work in the same process without spinning up a node server. My main point, though, was that the tricky part is coming up with the protocol. You can check out the .NET implementation to get a sense of the types of things that are needed:

https://github.com/aspnet/JavaScriptServices

[2017-04-08 03:31] wesleycho commented on #674
Can you clarify what is meant? Is the bug report that the http request is not executed inside Node but on the client?

[2017-04-08 14:38] joaogarin opened #691 "Access route with segments via the server."
* **I'm submitting a ...**
- [X ] bug report

* **What modules are related to this Issue?**
- [ X] express-engine

* **Do you want to request a *feature* or report a *bug*?**

Reporting a possible bug

* **What is the current behavior?**

Currently when accessing a route with the following setup :

[code]

Express actually fires multiple requests to some assets like

[code]

This is ofc not correc

[2017-04-09 17:11] joaogarin commented on #691
I fixed this by setting my base href in the index.html instead of in the .module file with
[code]

[2017-04-09 17:15] joaogarin commented on #691
Having a better look at this I could reproduce in the repository https://github.com/FrozenPandaz/ng-universal-demo just by doing the following :

Setting the base href in the app.module file by setting a provider :

[code]

Removing it from the index.html by removing the following line :

[code]

[2017-04-09 20:19] b-strauss commented on #281
I'm experimenting with socket connections (https://github.com/b-strauss/php-node-bridge). Unfortunately the response time is 2.33 seconds. 😐

[2017-04-10 09:13] fulls1z3 commented on #664
`angular2-meta` in the `universal-starter` repo is quite useful.

Actually, I can suggest you to have a look at ([@nglibs/meta](https://github.com/nglibs/meta)) - which could be helpful if you're planning to set the meta tag contents from the route definitions.

[2017-04-10 09:14] fulls1z3 commented on #309
As written on 7301, at the Angular repository:

[2017-04-10 09:55] fdambrosio commented on #673
We're unable to run Universal !

[2017-04-10 12:40] fulls1z3 commented on #673
I think the Angular team is currently developing/updating documentation for Universal. Meanwhile, better have a look at [ng-universal-demo](https://github.com/FrozenPandaz/ng-universal-demo).

I personally created a repo too, an example app showcasing both Universal and lean Angular on a single project [universal-example-app](https://github.com/nglibs/universal-example-app). But honestly I made it

[2017-04-11 00:42] jeffwhelpley commented on #281
That doesn't sound right. A basic node.js API server call should respond in like 10ms. Where is that time coming from?

[2017-04-11 09:00] b-strauss commented on #281
The problem doesn't seem to be the socket request. The problem is the `\ElephantIO\Client` initialization at https://github.com/b-strauss/php-node-bridge/blob/master/node-bridge/src/Client.php#L26. Unfortunately ElephantIO is not being developed any more, and I could not find any other library working with socket.io. Maybe someone could checkout the repo and test it on their machine?

[2017-04-11 16:17] vforv commented on #272
This solution not working for me @gdi2290  could you help:

http://stackoverflow.com/questions/43350949/how-to-store-token-on-server-side-angular-universal

[2017-04-14 17:59] fulls1z3 commented on #272
I made it :)

Have a look at [universal-example-app](https://github.com/nglibs/universal-example-app) for its usage.

Quoted from https://github.com/nglibs/universal-example-app/issues/5

[2017-04-15 00:38] MarkPieszak commented on #691
@joaogarin You're saying just providing the APP_BASE_HREF made an error happen?

@vikerman Haven't seen this one myself, wondering if you have?

[2017-04-15 06:55] vikerman commented on #691
If this is a bug in Angular pltaform-server please open the issue in angular/angular

[2017-04-15 13:00] uzumakinaruto123 commented on #279
@jeffwhelpley  Hii ! I am facing the same issue !  HTML for Default routes of any module are rendered correctly. But , on loading its child components , child components html is not rendered.

 I mean when I see source of the page in browser , the router outlet is blank for loaded child routes. If default route is loaded then router outlet shows correct html of the component.

**Dependencies :-**

[2017-04-16 00:46] jeffwhelpley commented on #279
Hi, @uzumakinaruto123. So, two things. First, ng2-webstorage doesn't work on the server side. It directly references `window.localstorage`. The standard practice for this type of thing is to create your own service on top of the LocalStorage service (called something like StorageService) and then you use DI to only include LocalStorageService for your browser app and not your server app. On the se

[2017-04-16 04:59] uzumakinaruto123 commented on #279
Yes I read about window in the docs before. So , I never added webstorage as common module.  I imported webstorage in browser app module only. But , I think issue is with the order of injection. can it be ?  Because , on changing order of providers , the same error pops up for another service.

Currently , It says no provider for `UserService` (my custom service).  But , this error appears only in

[2017-04-18 21:42] lautarobock opened #694 "As a user I need a way to build as a node module to run over existing ExpressJS server"
* **I'm submitting a ...**
- [ ] bug report
- [x ] feature request
- [ ] support request => Please do not submit support request here, see note at the top of this template.

* **What modules are related to this Issue?**
- [ x] express-engine
- [ ] aspnetcore-engine

* **Do you want to request a *feature* or report a *bug*?**
**Feature**

* **What is the current behavior?**
`npm run build:prod` cre

[2017-04-19 05:00] BattiniSantthosh opened #696 "inline, vendor, client bundle script tags are not getting in page source for universal CLI app"
### Versions.
[code]
### server.routes.ts
export const routes: string[] = [
	'*'
];
### app.routes.ts

export const appRoutes: Routes = [
  { path: 'contact', component: ContactComponent },
  { path: '',   component: HomeComponent },
  { path: '**', component: PageNotFoundComponent }
];

### contact.component.html

<p>
			&lt;form #f=&quot;ngForm&quot; (ngSubmit)=&quot;addTodo()&quot;&gt;<br />

[2017-04-19 14:45] niconavent commented on #280
Hi all! I am new in angular and am doing a research about how it can be integrated with java without a restful api.
Does someone know if there is an example project that use ng4 and java as a server-side rendering backend?
I tried with https://github.com/bennylut/hello-angular2-universal-j2v8 but I am suffering errors when I try to build it.
Thanks in advance.

[2017-04-19 14:51] swaechter commented on #280
Hi Nicolas. At the moment I am prototyping a solution that relies on Spring Boot and Angular 4 (Angular CLI + ngc with AOT) that uses J2V8 for rendering the page. I hope I am able to present a working prototype within the next week.

[2017-04-19 14:55] niconavent commented on #280
Hi @swaechter! Thanks for your answer and good news. I am really looking forward to your news and to see your solution. Do you have any repo to see the partial solution?

[2017-04-19 15:14] niconavent commented on #631
Hi @leon! How are you? Could you have a good solution/prototype for a ng+springboot project?
Thanks in advance.
Nico

[2017-04-19 16:16] diestrin opened #697 "Publish to npm (for 4.0)?"
* **I'm submitting a ...**
- [x] feature request

* **What modules are related to this Issue?**
- [x] ng-express-engine

* **Do you want to request a *feature* or report a *bug*?**
Feature

* **What is the current behavior?**
This package is not in npm yet (the new 4.0 compatible version)

* **What is the expected behavior?**
`@universal/ng-express-engine` to be available to install

* **Please te

[2017-04-19 16:18] diestrin commented on #697
Sorry, looks like the job is already done, I looked a couple of days ago and this wasn't on npm. Closing

[2017-04-19 16:22] MarkPieszak commented on #697
I'm not sure if the express-engine is published just yet to npm ?
I need to put in a PR to finish up the aspnetcore one as well and add it to the build / publish scripts.

@vikerman

[2017-04-19 16:24] diestrin commented on #697
A RC or beta would be enough for now. I'd actually install this from github directly, but since it's located in an inner folder, it's more complex.

Thank you btw, I created my own engine but this one looks much better than mine.

[2017-04-24 02:53] shijilesh opened #698 "Angular2universal and bootstrap dropdown"
import { BsDropdownModule } from 'ngx-bootstrap/dropdown';

@NgModule({
imports: [BsDropdownModule.forRoot(),...]
})

is not working for me, throws the following error . I created asp core angular application via Yeomen aspcorespa generator

Exception: Call to Node module failed with error: Error: DI Error
at NoProviderError.Error (native)
at NoProviderError.ZoneAwareError (E:\Project\myapp\Client

[2017-04-24 19:05] MarkPieszak commented on #698
I think you're going to have to stick with ng2-bootstrap as ngx- is meant more for later versions of Angular. I saw you logged the bug there though, it sounds like it's something on their end?

If you want .NET Core with the latest Angular [try this repo](https://github.com/MarkPieszak/aspnetcore-angular2-universal)

[2017-04-24 19:05] #698 closed

[2017-04-25 10:41] lautarobock commented on #694
Nobody? even a workarround?

[2017-04-25 12:03] MarkPieszak commented on #694
What are you trying to build as a node_module, are you trying to prerender your application and simply serve those (pre-built pre-rendered) files through Express?

[2017-04-25 12:07] lautarobock commented on #694
I need to add angular-universal to an existing node+express application. And I would like to create a node module with all configurations.

[2017-04-25 12:19] MarkPieszak commented on #694
If you're talking about angular2-universal, it's only for Angular 2.1 or lower.

It's since moved to `@angular/platform-server` within Angular Core, there's an express-engine you can use to utilize it within your existing app already, you can see it here: https://github.com/angular/universal/tree/master/modules/ng-express-engine

[2017-04-25 12:19] MarkPieszak commented on #697
It has been renamed a little bit, but it's been published!

You can find it here: `@nguniversal/express-engine` :gift:

[2017-04-25 12:19] #697 closed

[2017-04-25 12:22] MarkPieszak commented on #672
`angular2-universal` has since moved to `@angular/platform-server` within Angular Core, can you try upgrading your project and see if this issue has been fixed? Closing this out for now!

You can check out the upgrade guide we have here as well: https://github.com/angular/universal/blob/master/UPGRADE-GUIDE.md

[2017-04-25 12:22] #672 closed

[2017-04-25 12:24] MarkPieszak commented on #696
`angular2-universal` has since moved to `@angular/platform-server` within Angular Core, can you try upgrading your project and see if this issue has been fixed? Closing this out for now!

Also note the universal-cli has been deprecated, there are some efforts to create *some* support within the angular-cli but it will be a bit different.

You can check out the upgrade guide from angular2-universal

[2017-04-25 12:24] #696 closed

[2017-04-25 12:24] lautarobock commented on #694
I mean `@angular/platform-server`

I will see the example. Thanks!

[2017-04-25 12:24] #694 closed

[2017-04-25 12:24] #675 closed

[2017-04-25 12:25] MarkPieszak commented on #673
`angular2-universal` has since moved to `@angular/platform-server` within Angular Core.

You can check out the upgrade guide we have here as well: https://github.com/angular/universal/blob/master/UPGRADE-GUIDE.md

More complete documentation on Angular universal/platform-server/pre-rendering/patrickjs'ing coming soon!

[2017-04-25 12:25] #673 closed

[2017-04-25 12:27] MarkPieszak commented on #667
Thank you @kukjevov that's one of the best ways to handle it that I'm aware of!

[2017-04-25 12:27] #667 closed

[2017-04-25 14:24] MarkPieszak commented on #674
angular2-universal has since moved to @angular/platform-server within Angular Core, can you try upgrading your project and see if this issue has been fixed? Closing this out for now!

Also note the universal-cli has been deprecated, there are some efforts to create some support within the angular-cli but it will be a bit different.

You can check out the upgrade guide from angular2-universal -> pl

[2017-04-25 14:24] #674 closed

[2017-04-25 14:31] mariohmol commented on #674
Hi @MarkPieszak  i was just answergin this..

I looked in this link example and seems to be rendering the html inside the `</app-codetree>`. So i think for this case its ok to close.

Actually i'm facing similar problem. My app works pretty good using the univeral, but looking in the requests it shows me on the html somthing like `<body>  <demo-app></demo-app></body>`.
I suppose something is wrong

[2017-04-25 14:33] MarkPieszak commented on #677
angular2-universal has since moved to @angular/platform-server within Angular Core, can you try upgrading your project and see if this issue has been fixed? Closing this out for now.

Also note the universal-cli has been deprecated, there are some efforts to create some support within the angular-cli but it will be a bit different.

You can check out the upgrade guide from angular2-universal -> pl

[2017-04-25 14:33] #677 closed

[2017-04-25 14:34] MarkPieszak commented on #668
angular2-universal has since moved to @angular/platform-server within Angular Core, can you try upgrading your project and see if this issue has been fixed? Closing this out for now!

The new express-engine can be found here, and it passes `req` and `res` by default, so headers/cookies/etc can be grabbed from there:
https://github.com/angular/universal/tree/master/modules/ng-express-engine

[2017-04-25 14:34] #668 closed

[2017-04-25 14:58] mariohmol opened #701 "Rendering would return more HTML on request"
* **I'm submitting a ...**
- [x] bug report

* **What modules are related to this Issue?**
- [ x ] express-engine

* **What is the current behavior?**
The html showing in the browser request is empty ` <body><demo-app></demo-app></body> `

* **If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem** by creating a github repo.

http://s

[2017-04-25 15:13] MarkPieszak commented on #674
@mariohmol Use the official `@nguniversal/express-engine`, I'm not sure where the other one came from but it looks like someone took an older version of the engine (when it was a WIP) and published it themselves (?)

The namespace is now going to be `@nguniversal` though so give that one a shot and you should be fine!

[2017-04-25 15:23] FrozenPandaz commented on #701
What you posted looks fine. Please use the package published at [@nguniversal/express-engine](https://www.npmjs.com/package/@nguniversal/express-engine) and consider upgrading to @angular 4.0.3, there should be no breaking changes from 4.0.0-rc.5.

I see it working on https://github.com/FrozenPandaz/ng-universal-demo so I feel like its not the package?

[2017-04-25 16:08] mariohmol commented on #701
Thanks for answering! I was following this package json:

* https://github.com/FrozenPandaz/ng-universal-demo/blob/master/package.json#L23

Forced to be angular 4.0.3 and same thing..

This link shows `import { ngExpressEngine } from '@universal/ng-express-engine';`
* https://www.npmjs.com/package/@nguniversal/express-engine

But shows as cant resolve `@universal/ng-express-engine` ..

So i'm usin

[2017-04-25 16:52] mariohmol commented on #674
Hi!! Thanks for getting in touch!  I opened a issue for this case, if you can follow here please
https://github.com/angular/universal/issues/701#issuecomment-297080994

[2017-04-25 19:30] mariohmol commented on #701
I did a new fork in this repo and i'm trying to reproduce what i have in mine project there.

I cant remember what i did to make these items to work:

* angular-material: getting document is not define
* mongoose: get an error module not found when create a new mongoose.Schema
* translate: remembered that this i had issues to make it work..

The thing is.. would be nice to have a full project usin

[2017-04-25 20:07] vforv commented on #674
I solved this, problem was with intercepotor on node side... But now I don't have authentication on server side, how to solve it?

[2017-04-25 20:28] mariohmol commented on #674
I have this working but not with SSR working fully.. my problem is that i'm using angular-material.. so i think will wait for the next universal release that will support that to make more changes.. what i have so far https://github.com/mariohmol/ng-universal-demo

[2017-04-26 20:36] yazeedb opened #703 "RESPONSE is not easily accessible in @nguniversal/express-engine"
* **I'm submitting a ...**
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support request here, see note at the top of this template.

* **What modules are related to this Issue?**
- [x] express-engine
- [ ] aspnetcore-engine

* **Do you want to request a *feature* or report a *bug*?**

* **What is the current behavior?**
RESPONSE must be included into a proje

[2017-04-26 20:44] yazeedb opened #704 "Importing RESPONSE client-side breaks PhantomJS unit tests"
* **I'm submitting a ...**
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support request here, see note at the top of this template.

* **What modules are related to this Issue?**
- [x] express-engine
- [ ] aspnetcore-engine

* **What is the current behavior?**
Importing  RESPONSE token from @nguniversal/express-engine breaks PhantomJS unit tests, with the er

[2017-04-27 09:36] frasen commented on #673
@MarkPieszak For us who want to implement universal from scratch that is a bit hard to follow :) Any details on what "soon" means; e.g. do you think it is days, weeks or months?

[2017-04-27 11:27] MarkPieszak commented on #673
@wardbell @vikerman might be able to answer that better.
I know docs have been in the works for a bit, so you definitely won't have to wait months!

[2017-04-27 11:56] frasen commented on #673
That's good. I would love something simple like https://universal.angular.io/quickstart/ for Angular 4! Let me know if I can help in any way.

[2017-04-27 11:58] albandaft commented on #673
I spent days to make it work on Angular 4. Finally I wrote an article step by step how to make it work https://medium.com/@albanx/angular-server-side-rendering-5788d7b3c59c

[2017-04-27 12:10] fulls1z3 commented on #673
Also forgot to mention the article I've written a month ago about use of Angular Universal:
https://medium.com/burak-tasci/angular-4-with-server-side-rendering-aka-angular-universal-f6c228ded8b0

[2017-04-27 14:18] frasen commented on #673
Loved the effort @albandaft but I got stuck since there seems to be quite a few implicit dependencies. Most likely because not very experienced in webpack.

[2017-04-28 16:33] FrozenPandaz commented on #704
This is true @yazeedb can you make a PR?

[2017-04-28 19:43] yazeedb commented on #704
No problem @FrozenPandaz
 I can just target ES5, if that's acceptable.

[2017-04-30 22:54] joaogarin opened #707 "Error when importing REQUEST token"
**Note: for support questions, please use one of these channels:** https://github.com/angular/universal/blob/master/CONTRIBUTING.md#question. This repository's issues are reserved for feature requests and bug reports. Also, **Preboot has moved** to https://github.com/angular/preboot - please make preboot-related issues there.

* **I'm submitting a ...**
- [X ] bug report
- [ ] feature request
- [

[2017-05-01 16:28] #703 closed

[2017-05-01 16:28] #704 closed

[2017-05-01 16:28] #707 closed

[2017-05-01 16:29] MarkPieszak commented on #707
Can you try now with the latest changes in https://github.com/angular/universal/commit/0741b6ddb099fb002e8d6a396b3c4e72a1a07c5d

[2017-05-01 16:29] MarkPieszak commented on #704
Can you try now with the latest changes in https://github.com/angular/universal/commit/0741b6ddb099fb002e8d6a396b3c4e72a1a07c5d and your PR? Hopefully it's all set now!

[2017-05-01 16:29] MarkPieszak commented on #703
https://github.com/angular/universal/commit/0741b6ddb099fb002e8d6a396b3c4e72a1a07c5d

[2017-05-02 10:00] joaogarin commented on #707
Yes that seems to fix it. I just downloaded it since there is still no release on npm with this fix but it looks oK :+1:

[2017-05-02 19:00] petercn commented on #280
@swaechter Any updates on your progress? Don't mean to be annoying but I'm anxiously awaiting any kind of Java-based Angular server-side rendering solution

[2017-05-02 19:20] petercn commented on #280
Adding @alexeagle and @jeffwhelpley to see if they have any updates as well, thanks guys

[2017-05-02 22:07] alexeagle commented on #280
I haven't been working on this lately, will sync with @vikerman who is the current owner.

[2017-05-03 14:31] playground opened #708 "Can you explain and provide working examples?"

[2017-05-03 15:48] MarkPieszak commented on #708
Working example here: https://github.com/FrozenPandaz/ng-universal-demo
Documentation should be coming soon as well.

[2017-05-03 16:01] playground commented on #708
@MarkPieszak Thanks, can't wait.  Meanwhile, I was hoping to find some guidance on integrating our existing widgets/apps with universal and using @nguniversal/express-engine.  I'm having a hard time in seeing how to piece them together.

For example, we have this widget that can be consumed by any sites/apps such as
[code]
By passing in certain configurations, the child component will get initiali

[2017-05-03 21:00] mariohmol commented on #701
Could make this work porting my project to this example (https://github.com/clbond/angular-ssr/tree/master/examples/demand-express) .. with translate, server with mongoose and frontend with material.. so far so good =)

[2017-05-03 21:00] #701 closed

[2017-05-03 22:03] vikerman commented on #280
hi - I am current owner. The plan is to have a solution for this by end of June but haven't started on this yet. Expect the initial solution to land somewhere in github by end of May.

[2017-05-03 22:09] petercn commented on #280
@vikerman Thank you, much appreciated :-)

[2017-05-03 22:47] mraible commented on #280
@vikerman Let me know if I can help!

[2017-05-04 07:22] swaechter commented on #280
@niconavent @petercn Sorry for not answering to your comments, there was just too much study/work things going on + I was ill and was unable to find time to polish my example.

But now I am able to provide a runnable version that is based on Angular 4, uses AOT and @angular/platform-server for rendering (Due the configuration I had to drop Angular CLI and use Webpack). You can find the project her

[2017-05-04 14:24] samvloeberghs opened #709 "Can't use/inject REQUEST and RESPONSE in the browser"
* **I'm submitting a ...**
- [x] bug report

* **What modules are related to this Issue?**
- [x] express-engine

* **Do you want to request a *feature* or report a *bug*?**
I think it's a bug

* **What is the current behavior?**
It's not working as expected. The documentation states the following:
[code]
So I checked the source code of the express engine. The REQUEST and RESPONSE are provided for

[2017-05-04 14:43] samvloeberghs commented on #709
Example project:
https://github.com/samvloeberghs/ng-universal-demo

Injection of the REQUEST:
https://github.com/samvloeberghs/ng-universal-demo/blob/master/src/app/home/home-view.component.ts#L14

(Trying to) Stub the REQUEST and RESPONSE:
https://github.com/samvloeberghs/ng-universal-demo/blob/master/src/main.browser.ts#L11

[2017-05-04 14:43] samvloeberghs commented on #709
@FrozenPandaz I think you are the best one to talk a lot at ( also according to my chat with @manekinekko ) Thanks a lot in advance!

[2017-05-04 15:26] MarkPieszak commented on #709
Move those into your browser-app.module (the REQUEST/RESPONSE providers) and you should be all set. Also for REQUEST you could just pass back `cookie: document.cookie` since the browser has access to those, instead of an empty `{}`. https://github.com/MarkPieszak/aspnetcore-angular2-universal/blob/master/Client/app/browser-app.module.ts#L56-L57

Hope that helps!

[2017-05-04 16:37] samvloeberghs commented on #709
@MarkPieszak your solution doesn't work in my case.
I've updated the example repo I created and more specifically here: https://github.com/samvloeberghs/ng-universal-demo/blob/master/src/app/browser-app.module.ts

[2017-05-08 06:52] samvloeberghs commented on #709
hi guys, sorry about the push, but this is completely blocking my development..
As you said before it should be possible, but the example repo that I made ( which is a fresh clone + import of the request ) doesn't work out..

[2017-05-09 00:42] tomlobato opened #710 "doc??"

[2017-05-10 06:16] vikerman commented on #280
@swaechter - Will take a look at your project. I was going to run Node.JS as a separate process. Will check out the J2V8 bridge solution as well. Using a binary installation of J2V8 might be problematic in certain situations. I think we should be able abstract out the communication channel between Java and Node.JS and people can choose what works for them - In-process with J2V8 or out of process I

[2017-05-10 09:52] dherges commented on #280
@vikerman there is just one considerations:

if I go for IPC with node, I also could start a web server running on node, running Angular Universal on the node server and then go for a http proxy solution.

Either way, I think it's a good idea to offer both J2V8 (or Nashorn) and IPC

[2017-05-10 12:00] julienR2 commented on #709
@samvloeberghs and @MarkPieszak, I have the same problem.. In my case I'm trying to access the cookies on the server side (on client side I use ng2-cookies).
I was using this way on angular 2:
server.ts
```res.render('../dist/index',` {
    req: req,
    res: res,
    cookies: req.cookies
  });
[code]
function getCookies() {
  return Zone.current.get('req').cookies;
}
...
{ provide: 'Cookies', use

[2017-05-10 13:45] MarkPieszak commented on #709
I haven't used the express engine in a little while but that's strange since they're definitely being passed in here : https://github.com/angular/universal/blob/master/modules/ng-express-engine/src/main.ts#L129

@frozenpanda have you ran into this?

[2017-05-10 22:09] MapleYe opened #712 "@nguniversal/aspnetcore-engine returned a promise that did not resolve or reject"
Run the repository MarkPieszak/aspnetcore-angular2-universal by replacing its temporary aspnetcore-engine with aspnetcore-engine. Unfortunately, an exception pop up:
An unhandled exception occurred while processing the request.
Exception: Call to Node module failed with error: Prerendering timed out after 30000ms because the boot function in 'C:\Zest\aspnetcore-angular2-universal-master/Client/dis

[2017-05-11 00:24] MarkPieszak commented on #712
Thanks for logging this, let me take a look!

[2017-05-11 09:32] julienR2 commented on #709
I read again the initial issues description by @samvloeberghs and I realize now that I have the oposite problem.. Providing REQUEST in the `browser.module.ts` as you suggest @MarkPieszak DO work. However on the server-side I still got the `No provider for InjectionToken REQUEST!` error...

Indeed it's strange since it is well provided by the ng-express-engine... Still investigating..

[2017-05-11 10:08] julienR2 commented on #709
@FrozenPandaz on a fresh clone of your repo ng-universal-demo, I reproduce the same behavior. I get the Server Side error `No provider for InjectionToken REQUEST!`, but get the provided `REQUEST` on client side.

[2017-05-12 23:03] yazeedb opened #713 "Injecting REQUEST/RESPONSE tokens throws errors in AoT"
* **I'm submitting a ...**
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support request here, see note at the top of this template.

* **What modules are related to this Issue?**
- [x] express-engine
- [ ] aspnetcore-engine

* **What is the current behavior?**
Injecting `REQUEST` or `RESPONSE` throws the following error during an AoT build:
```Error encounte

[2017-05-13 13:15] KrGyan opened #714 "Server not rendering page source"
**Note: for support questions, please use one of these channels:** https://github.com/angular/universal/blob/master/CONTRIBUTING.md#question. This repository's issues are reserved for feature requests and bug reports. Also, **Preboot has moved** to https://github.com/angular/preboot - please make preboot-related issues there.

* **I'm submitting a ...**
- [ ] bug report
- [ ] feature request
- [ ]

[2017-05-14 15:26] samvloeberghs commented on #713
related to https://github.com/angular/universal/issues/709

[2017-05-15 01:44] FrozenPandaz commented on #713
There must be a prettier solution but i can't seem to find out what it is.

[2017-05-15 03:01] FrozenPandaz commented on #714
Hi could you please fill out the form and make a repro please?

Thank you

[2017-05-15 03:27] FrozenPandaz commented on #709
While there seems to be many issues regarding the request and response tokens, i do not think this is one of them. I'm able to use them without AoT here

https://github.com/FrozenPandaz/ng-universal-demo/tree/request

Adding another implementation as a provider in your browser.app.module should do the trick..

(Build is acting up right now because of something related to AoT)

[2017-05-15 06:06] samvloeberghs commented on #709
I'm gonna try out your solution tonight.. But if it's not working with AoT it's pretty useless..

[2017-05-15 10:25] Shyam-Chen opened #715 "Can I integrate with Service Workers?"

[2017-05-16 07:53] joaogarin commented on #707
I dont know why but this was working with Angular 4.0 and now its breaking with 4.1. I also tried the new version beta.1 from npm and get the same error as here https://github.com/angular/universal/issues/713

[2017-05-17 11:34] julienR2 commented on #709
Ouf I finally got it ! Thanks to your last update of the readme of the `ngExpressEngine` @FrozenPandaz !

So far I was creating a file `request.ts` with..
[code]
.. then adding the `REQUEST` provider to browser modules, and injecting the `REQUEST` wherever I needed.

However with this I had a `No provider for InjectionToken REQUEST` on the server side, even if the `ngExpressEngine` should set the

[2017-05-17 14:36] samvloeberghs commented on #709
still doesn't work with AOT on my side.. Can't do more than provide the example repo.. run it and see it failing :)

[2017-05-18 05:14] fxck commented on #281
Any updates on this?

[2017-05-18 08:24] viktorstaikov commented on #550
Hi,
Same problem here.
I'm using angular2-universal 2.1.0-rc.1 as you've mentioned.
Through debugging I've found that the error is thrown at NodePlatform.serialize -> asyncPromiseSeries -> destroyAppAndSerializeDocument -> destroyApp(). The error was inside ngOnDestroy() hook.
In fact, there is _reject_ there, but somehow it is lost and not propagated properly to the promise chain.

[2017-05-18 11:13] julienR2 opened #716 "Initial animation state on sever side rendering"
**Note: for support questions, please use one of these channels:** https://github.com/angular/universal/blob/master/CONTRIBUTING.md#question. This repository's issues are reserved for feature requests and bug reports. Also, **Preboot has moved** to https://github.com/angular/preboot - please make preboot-related issues there.

* **I'm submitting a ...**
- [ ] bug report
- [x] feature request
- [ ]

[2017-05-18 13:18] julienR2 commented on #709
Yep not working in AOT.. and this solution doesnt work for me either https://github.com/angular/universal/issues/713
Still `No provider for REQUEST`

[2017-05-18 13:27] samvloeberghs commented on #709
it seems so strange tough, as using different providers for server and browser seems to be working fine, if imports don't come from a library. So my gut feeling says that the problems reside in the express engine module. If I would have the time to play around with it I would to see what it requires to get it to work, but have too much commitments at the moment..

[2017-05-18 16:40] tami-k opened #717 "Angular universal with HashLocationStrategy"
I am wondering if angular universal actually supports HashLocationStrategy. And if it does, I am curious how the server knows which route is being requested?