[2016-04-07 14:35] MarkPieszak commented on #350
Thanks to Mega in slack it looks like this is a **Zone** issue itself not on us.
Reverting down to `0.6.8` fixes this issue.

Zone issue here : https://github.com/angular/zone.js/issues/310

[2016-04-07 14:39] MarkPieszak commented on #343
Thanks to Mega in slack it looks like this is a Zone issue itself not on us.
Reverting down to 0.6.8 fixes this issue.

Zone issue here : angular/zone.js#310

[2016-04-07 15:09] MarkPieszak commented on #349
Created PR in Universal-starter branch.

@jeffwhelpley Do you know if I should be creating a PR for this too?
It was a `typings` install issue (needed to point to the registry)

[2016-04-07 17:38] christopherthielen commented on #184
circling back around on this:

UI-Router [Version 1.0.0-alpha.3](https://github.com/angular-ui/ui-router/releases/tag/1.0.0-alpha.3) has initial ng2 support.

[2016-04-08 01:29] jeffwhelpley commented on #184
@christopherthielen does it support pushstate? I think you mentioned that at first it was only going to do hash urls. We sort of need pushstate in order to integrate with universal.

[2016-04-08 05:01] Bhushan001 commented on #294
@gdi2290 @jeffwhelpley any inputs?

[2016-04-08 06:19] gdi2290 opened #352 "update beta.14"

[2016-04-08 10:34] jeffwhelpley commented on #294
@gdi2290 my head is swiss cheese at this point, but didn't we have a change to BASE_URL recently that may have affected this?

[2016-04-08 14:52] MarkPieszak commented on #349
Fixed with PR https://github.com/angular/universal-starter/pull/75

[2016-04-08 14:52] #349 closed

[2016-04-08 22:32] gdi2290 commented on #352
done via https://github.com/angular/universal/commit/b6fa931c3820de9db6d01a5c99de32fbf2a2e3dc

[2016-04-08 22:32] #352 closed

[2016-04-09 00:56] gdi2290 opened #353 "limit turns, in node, to 2000 before giving a warning"
this is to prevent devs from using setInterval

[2016-04-09 14:31] justindujardin commented on #294
I posted a workaround for this issue in #346 which is published with >=0.86.0. I'm not sure if it will work in all cases, but it worked for my project.

You can set a custom URL resolver to change your template/style urls to be `file://` based, then the `NodeXHRImpl` will load them from disk using `fs.readFile` instead of making a network request.

My resolver looks like this:

[code]

and I provi

[2016-04-09 17:02] christopherthielen commented on #184
UI-Router ng2 doesn't support pushstate yet. Can you explain what we need to do to be compatible with universal?  At what level do we need to tie into push state?

I see that component router uses multiple levels of abstraction:

First is the url writing strategy `LocationStrategy`... for instance: `HashLocationStrategy`.
The strategy delegates to a `PlatformLocation`, i.e. the `BrowserPlatformLoc

[2016-04-09 20:09] jeffwhelpley commented on #184
Well, the problem is that browsers don't send hash URLs to the server. So, there would be no way to know on the server what route is being requested. Do you have plan to support pushstate in the future?

[2016-04-09 20:15] christopherthielen commented on #184
Oh yes, definitely.

I'm just hoping to understand if I need to hook into (and/or provide) any specific abstractions for ui-router to work with universal.  For instance, if I simply used window.location and window.history, would that be a problem?

[2016-04-09 20:31] jeffwhelpley commented on #184
Well, we encourage devs and 3rd party libs to use the Angular 2 core DOM abstractions, but I believe you wanted to create UI router without any dependency on Angular 2, right? Assuming that is the case, it will still work, but we just need to include a patch for Universal which essentially mocks out certain window/browser/DOM objects like location and history on the server side. Outside that, the

[2016-04-09 20:36] christopherthielen commented on #184
The UI-Router core, yes, but the ng2 adapter for ui-router-ng2 ties directly to angular 2 code.

By core DOM abstractions, are we talking about the `DOM` object?
[code]

[2016-04-10 09:46] ocombe commented on #342
Yup that's a real problem because the web page has no style until the client side code is executed, which means that it's unusable.
In the meantime, if you use webpack, you can require your style files outside of the `@component` (at the beginning of your file for example).

[2016-04-10 21:46] ocombe commented on #321
I wonder why we don't get this error client side but we have it server side...

[2016-04-11 16:53] MarkPieszak commented on #350
Closed due to `0.6.10` being added to project.

[2016-04-11 16:53] #350 closed

[2016-04-13 02:45] christopherthielen commented on #184
I think push state is ready.  I've got the code in this branch at the moment: https://github.com/angular-ui/ui-router/tree/ocombe-html5mode

[2016-04-13 04:50] gdi2290 commented on #353
20 isn't enough. changing the limit to 2000

[2016-04-13 06:19] Bhushan001 commented on #294
@jeffwhelpley @gdi2290 has any fix released yet?

[2016-04-13 17:40] gdi2290 commented on #294
@Bhushan001 can you update to `angular2-universal` `0.91.0`

[2016-04-14 18:44] jeffbcross opened #356 "feat: BroccoliJS prerender plugin"
**Note: for support questions, please use one of these channels:** https://github.com/angular/universal/blob/master/CONTRIBUTING.md#question. This repository's issues are reserved for feature requests and bug reports.

* **I'm submitting a ...**
- [ ] bug report
- [x] feature request
- [ ] support request => Please do not submit support request here, see note at the top of this template.

* **What

[2016-04-14 19:10] gdi2290 commented on #356
here's the code that's needed
[code]

[2016-04-15 01:19] jeffwhelpley commented on #338
@jhades you mention in angular/universal-starter#62 that there was a flicker. were you using preboot with buffering turned on? @gdi2290 have you seen this as well.

In short for whoever checks out this thread, there most definitely will not be a flicker or jank when this library is released. I did have this working at one point, but an issue may have come up over the past couple weeks as I have be

[2016-04-15 01:29] jeffwhelpley commented on #331
@lngr does `[src]` work for you on the client side?

[2016-04-15 01:41] jeffwhelpley commented on #290
Closing this for now. May bring back up in the future, but lower priority

[2016-04-15 01:41] #290 closed

[2016-04-15 01:45] jeffwhelpley opened #357 "Dev workflow for universal repo"
**Note: for support questions, please use one of these channels:** https://github.com/angular/universal/blob/master/CONTRIBUTING.md#question. This repository's issues are reserved for feature requests and bug reports.

* **I'm submitting a ...**
- [ ] bug report
- [X ] feature request
- [ ] support request => Please do not submit support request here, see note at the top of this template.

* **Wha

[2016-04-15 01:57] jeffwhelpley opened #358 "upgrade to beta 15"
**Note: for support questions, please use one of these channels:** https://github.com/angular/universal/blob/master/CONTRIBUTING.md#question. This repository's issues are reserved for feature requests and bug reports.

* **I'm submitting a ...**
- [ ] bug report
- [x] feature request
- [ ] support request => Please do not submit support request here, see note at the top of this template.

* **What

[2016-04-15 07:14] jhades commented on #338
@jeffwhelpley Im using the same config as in the starter which is currently preboot:false,  I've just reproduced it now by cloning the starter repo ( at time of writing with  "angular2": "2.0.0-beta.15",
  "angular2-universal": "0.92.1"), and starting it.

We can see the ajax request being processed twice when we hit [http://localhost:3000/](http://localhost:3000/): one time on the server do do th

[2016-04-15 09:04] gdi2290 commented on #308
a directive hosting the styles are needed `<ng-style-host></ng-style-host>`

[2016-04-15 10:35] jeffwhelpley commented on #338
@jhades let's separate two thing. First as far as not calling the API twice, that is a feature which has not been implemented yet. That is the focus of this GitHub issue and Patrick has already started work on this.

The second issue is screen flicker and poor UX. Even if there are two API calls it should not affect UX at all. The reason is that Preboot was set up to smoothly transition your clien

[2016-04-15 11:05] jhades commented on #338
@jeffwhelpley what i called flickering is that the page coming from the server gets rendered once, then a Ajax requests are made and the whole page is re-rendered again.

You can see the page being rebuilt from top to bottom.

Initially I thought this yank effect of seeing a page being streched from top to bottom was being caused by the duplicate HTTP request. now im not sure if thats the case.

A

[2016-04-15 13:35] jeffwhelpley commented on #338
@jhades so if you visually see the page being built then preboot buffering is either not on or not working correctly. Would it be possible to take a screen capture video of what you are seeing?

Again, though, don't worry about the app re-running. That part shouldn't matter if preboot is working correctly because the user should never notice anything.

[2016-04-15 13:45] jeffbcross commented on #358
@jeffwhelpley offline template support didn't actually land in beta.15, there was a mis-fire on Twitter.

[2016-04-15 14:00] jhades commented on #338
@jeffwhelpley this is in slow motion what i see on Chrome on a Mac - [demo](https://s3-us-west-1.amazonaws.com/blog-jhades/yank-ng2-universal.mp4).

On closer inspection, it looks like the yank is caused by the ajax request after all?

We can see the server side ajax data get rendered, and then disappear (but the res of the page is still there), and the data gets back from the server and it gets d

[2016-04-15 14:08] jeffwhelpley opened #359 "eliminate jank"
**Note: for support questions, please use one of these channels:** https://github.com/angular/universal/blob/master/CONTRIBUTING.md#question. This repository's issues are reserved for feature requests and bug reports.

* **I'm submitting a ...**
- [X] bug report
- [ ] feature request
- [ ] support request => Please do not submit support request here, see note at the top of this template.

* **What

[2016-04-15 14:27] jeffwhelpley commented on #358
word

[2016-04-15 14:58] jeffwhelpley commented on #338
@jhades OK, I opened a separate issue #359 for this and I will be looking into it over the weekend. You can check back there for updates on the jank and then in this issue for updates on the consolidation of API calls.

[2016-04-15 15:34] jhades commented on #338
@jeffwhelpley OK great, thxs

[2016-04-15 17:39] gdi2290 commented on #358
`angular2-universal` works with beta.15

[2016-04-15 17:40] gdi2290 commented on #308
done via https://github.com/angular/universal/commit/e8befd4d0843ffb51dc2b987fe56a37cd38c9d3e as NodeStyleHost where the directive `<ng-style-host></ng-style-host>` is needed for html components

[2016-04-15 17:40] #308 closed

[2016-04-15 18:09] gdi2290 commented on #342
added via https://github.com/angular/universal/commit/e8befd4d0843ffb51dc2b987fe56a37cd38c9d3e
renamed via https://github.com/angular/universal/commit/d804d7a15d7deb2d937e41b869cc656a0aa0856c

in the `<head>` of your `html` component include the `<universal-styles></universal-styles>` directive

[code]

[2016-04-15 18:09] #342 closed

[2016-04-15 18:18] gdi2290 commented on #309
`<universal-styles>` was added

[2016-04-15 18:28] MarkPieszak commented on #342
@gdi2290 So this is now a *required* component for someone who wants to Universal right? Just trying to keep track of everything needed to help with documentation!

[2016-04-15 18:36] ocombe commented on #342
Yes, I think it should eventually be added automatically

Le ven. 15 avr. 2016 20:28, Mark Pieszak <notifications@github.com> a
écrit :

[2016-04-15 19:01] gdi2290 commented on #342
@MarkPieszak it's required only if you use an html component

[2016-04-17 20:33] MarkPieszak opened #360 "Error: Cannot find module './examples/server.ts'"
Just creating an issue for this just so it's on record. It's the issue Wassim mentioned on Friday.

* **What modules are related to this pull-request**
- [X] universal

*Bug*

[code]

    Error: Cannot find module './examples/server.ts'

[2016-04-17 23:28] gdi2290 opened #362 "track `fs` with zone.js"
we need to patch `fs`

[2016-04-18 00:01] #360 closed

[2016-04-18 05:42] #358 closed

[2016-04-18 06:19] gdi2290 commented on #353
done via https://github.com/angular/universal/commit/8329191977c1e4278d80da65bd8c1921375e6984

[2016-04-18 06:19] #353 closed

[2016-04-18 06:25] gdi2290 commented on #348
I added `ORIGIN_URL` back but it needs to be provided as a platformProvider
[code]

[2016-04-18 06:26] gdi2290 commented on #348
BASE_URL is referencing APP_BASE_HREF so they're the same token

[2016-04-18 06:27] gdi2290 commented on #348
done via https://github.com/angular/universal/commit/20debdbc42afed2c6312601bc031c518f5139a59

[2016-04-18 06:27] #348 closed

[2016-04-18 08:25] lngr commented on #331
@jeffwhelpley yes

[2016-04-18 12:06] MarkPieszak commented on #348
Nice one man 👍

[2016-04-18 12:20] MarkPieszak commented on #357
Most of this is all set with #361 & #364 that have been merged.

Currently a dev can pull down the Universal repo fresh, run `npm run install:all` & this will do everything needed to get them going. (Takes ~10min to install/build/compile all the modules) It also waits and then installs/compiles the examples folder.

Might be able to close this one out now. I'll add some documentation to the Contri

[2016-04-18 19:03] #331 closed

[2016-04-19 09:42] Bhushan001 commented on #294
@gdi2290 i installed the `angular2-universal` module and changed all imports from `angular2-universal-preview` to `angular2-universal`, now my app is broken

[2016-04-19 15:15] MarkPieszak opened #369 "Fix Repo build issues on Windows 7"
* **I'm submitting a ...**
 bug report

**Modules fixed so far**
[ ] express-engine
[ ] grunt-prerender
[X] gulp-prerender
[X] hapi-engine
[X] preboot
[x] universal
[ ] webpack-prerender

- OS:  [ **Windows** ]

-----

####  Working on the fix for this now.

** ^ Fixed so far **

[2016-04-19 15:30] gdi2290 commented on #369
can you make a pull-request?

[2016-04-19 16:15] gdi2290 commented on #294
@Bhushan001 I created a PR for your repo https://github.com/Bhushan001/universal-starter-master/pull/1

[2016-04-19 17:16] MarkPieszak commented on #369
Will do, working on it.  Got the rm -rf and pipe issue figured out, blowing up on `tsc` for some unknown reason

[2016-04-20 07:16] gdi2290 commented on #309
I'm adding NgPreboot

[2016-04-20 07:23] tamascsaba opened #370 "npm install angular2-universal@0.98.1 fail"
npm ERR! peerinvalid Peer angular2@2.0.0-beta.15 wants zone.js@^0.6.10
npm ERR! peerinvalid Peer angular2-universal-polyfills@0.4.1 wants zone.js@0.6.11 - 0.6.100
npm ERR! peerinvalid Peer angular2-universal@0.98.1 wants zone.js@0.6.11 - 0.6.100

[2016-04-20 07:27] gdi2290 commented on #370
can you run `npm prune` and `npm install`

[2016-04-20 07:28] gdi2290 commented on #370
or update zone.js if you included it

[2016-04-20 09:25] joaogarin opened #371 "[innerHTML] rendering"
**Note: for support questions, please use one of these channels:** https://github.com/angular/universal/blob/master/CONTRIBUTING.md#question. This repository's issues are reserved for feature requests and bug reports.

* **I'm submitting a ...**
- [X] bug report

* **What is the current behavior?**

When using innerHTML the HTML Outputed in the server version of the page contains some incorrectly

[2016-04-20 10:06] tamascsaba commented on #370
thx, the quick answer :+1:

[2016-04-20 10:06] #370 closed

[2016-04-20 15:21] wesleycho commented on #371
This might be a duplicate of #304

[2016-04-20 18:58] barbatus opened #372 "Checkbox rendering issue"
**Note: for support questions, please use one of these channels:** https://github.com/angular/universal/blob/master/CONTRIBUTING.md#question. This repository's issues are reserved for feature requests and bug reports.

* **I'm submitting a ...**
bug report

* **What modules are related to this pull-request**
universal

* **Do you want to request a *feature* or report a *bug*?**
bug

* **What is th

[2016-04-21 11:58] MarkPieszak commented on #372
@jeffwhelpley Any idea? Looks like it could be Preboot related?
Seems like during the playback it's unselecting all the checkboxes so the model must be coming back empty.

[2016-04-21 12:56] jeffwhelpley commented on #372
Thanks, @MarkPieszak. Yes, this is actually one of those things where the underlying issue may be a bit more complex than it seems. Let me do a little investigation and I will post an update by tomorrow.

[2016-04-21 13:51] MarkPieszak commented on #372
Oh great, I figured! Just wanted to get it on your radar just incase.

[2016-04-22 11:01] Bhushan001 commented on #294
@gdi2290 any ideas on when this feature will be available ?

[2016-04-22 19:07] gdi2290 commented on #294
I ned to update zone.js for it to track `fs` and `http/https`

[2016-04-22 22:53] gdi2290 commented on #251
done via https://github.com/angular/universal/commit/4873b6c4a4af585e54ffdd11d0c3d416e340eba1

[2016-04-22 22:53] #251 closed

[2016-04-23 13:30] MarkPieszak commented on #369
Partially waiting on results from typescript and npm people https://github.com/npm/npm/issues/12412

[2016-04-26 15:41] barbatus opened #377 "Rendering issue when routing is used"
**Note: for support questions, please use one of these channels:** https://github.com/angular/universal/blob/master/CONTRIBUTING.md#question. This repository's issues are reserved for feature requests and bug reports.

* **I'm submitting a ...**
- bug report

* **What modules are related to this pull-request**
- universal

* **Do you want to request a *feature* or report a *bug*?**
report a bug

*

[2016-04-26 16:26] gdi2290 commented on #377
the problem might be Meteor Promise not being tracked by zone.js
https://github.com/barbatus/angular2-meteor-universal/blob/master/modules/server_renderer.ts#L7...L14

[2016-04-26 18:29] gdi2290 opened #378 "update beta 16"

[2016-04-26 22:47] MarkPieszak commented on #378
Do you need all Modules / etc need the upgrade? Trying it now to see if it all still works

[2016-04-27 11:24] JoshAntBrown commented on #378
Seems as though DirectiveResolver that's used by `./modules/universal/src/node/helper.ts` has moved from `angular2/core` to `angular2/compiler`. Just something I noticed when I was running code on a colleagues machine which was using beta 16.

Out of curiosity, what is the general approach to universal when angular2 introduces breaking changes like this?

[2016-04-27 11:30] MarkPieszak commented on #378
@JoshAntBrown Do you mean when updating Universal?

[2016-04-27 19:20] gdi2290 commented on #378
there's also a change with the Location type that was moved into angular2/platform/common

[2016-04-27 20:36] barbatus commented on #377
@gdi2290 thanks for the suggestion. Ok, I played around with it more.
Even I remove MeteorPromise, which means the one from `zone-node.js` is set globally, issue with the routing is still there.
And for this todo [sample](https://github.com/barbatus/angular2-meteor-universal/tree/master/examples/app/imports/todo), which is quite simple, I start getting "your application is taking longer than 2000

[2016-04-27 21:07] gdi2290 commented on #377
the application is taking longer than 2000 to render

[2016-04-27 21:07] gdi2290 commented on #377
you can set maxZoneTurns to 10000 if you like or higher

[2016-04-27 22:13] barbatus commented on #377
As I understand zone-aware promise references to the global zone (`Zone.current`) internally,
at the same time Angular2 has its own fork of the zone, it sets microtasks with the help of it.
So you are sure that checking of `ngZone.hasPendingMicrotasks` is enough in the fixStable?

[2016-04-28 10:07] JoshAntBrown commented on #378
@MarkPieszak Yeah, so I was tempted to give this a go and put in a pull request to give beta.16 support but obviously just changing the places it referenced things from would break all support for pre 16 versions.

So what's the general approach to updating universal when angular2 introduces breaking changes?

[2016-04-28 11:30] Lavan commented on #377
I've got an issue that I believe is related. This [Plunk](http://plnkr.co/edit/8fYZGj3vfl00B0bvKNYK?p=preview) shows a form that works nicely in Plunker, but when it is prerendered using angular-universal the submit event won't fire.

As it's a bit difficult to prerender using plunker you'll have to do some copy/paste to test it.

If I wrap the form in `ngIf ` and a timeout the bindings will be re

[2016-04-28 17:06] gdi2290 commented on #377
it's not enough. it all depends on how many async calls are made that aren't tracked by node.js (which may be a lot)

[2016-04-28 17:08] gdi2290 commented on #377
@Lavan can you fork the repo and reproduce it then drop a link?

[2016-04-28 18:52] barbatus commented on #377
@gdi2290 In my case it's only 3-4 calls to read template files, everything else is synchronous.
Anyways, what would you recommend to fix that routing issue?
BTW, I have `then(waitRouter)` uncommented and use `setTimeout(f, 200)` in `waitRouter`, it works perfectly.

[2016-04-28 19:08] Lavan commented on #377
@gdi2290 Here, try this one. [https://github.com/Lavan/universal-starter/tree/issue377](https://github.com/Lavan/universal-starter/tree/issue377).

3 versions of the same code on the same page:

1. Not working with prerender. Structured as in the [Angular 2 NgForm documentation](https://angular.io/docs/ts/latest/api/common/NgForm-directive.html).
2. Working with prerender. Replaced NgSubmit with c

[2016-04-29 10:53] Vloz opened #379 "express always render the same view"
* **I'm submitting a ...**
- [x] bug report (or support request, how can i know?)

* **What modules are related to this pull-request**
- [x] express-engine

* **Do you want to request a *feature* or report a *bug*?**
bug (i guess)

* **What is the current behavior?**
I cant make express to serve another view, it always serve the first called view. I may have miss something in the params... :disapp

[2016-04-29 16:11] GreenToast commented on #294
It works in my project with the external html being rendered server-side. It works always fine for directives outside the router-outletm, but inside the router-outlet it works only on the first serve. After a reload, even a hard reload or a load in another browser the prerendered-html of the router-outlet is missing.

The example lies [here](https://github.com/GreenToast/Angular2Starter/tree/angul

[2016-05-02 05:53] Bhushan001 commented on #294
@gdi2290  any success yet?

[2016-05-03 05:05] gdi2290 commented on #379
multiple apps aren't supported with the express-engine so you would have to manually manage it.

[code]

[2016-05-03 15:30] mickael-kerjean opened #382 "ReferenceError: location is not defined on Renderer"
Hello,

While trying to find a way to make use of an external library in Angular (Swiperjs), I found that making use of invokeElementMethod was breaking universal:
[code]
Here is the full stack trace:
[code]

As I couldn't find any test that would showcase any working code snippet of invokeElementMethod, I dug into the code and arrived here: https://github.com/angular/universal/blob/master/modules

[2016-05-03 22:32] gdi2290 commented on #378
I updated the repo to beta.17 will publish soon

[2016-05-03 22:32] #378 closed

[2016-05-06 15:53] ryancampbell commented on #280
Hey there, I'm very interested in this as well (using the latest Grails with Angular Universal). Has anyone made further progress with this?

[2016-05-06 18:45] jeffwhelpley commented on #280
There are people working on this, but I have been out of it for a couple weeks getting ready for ng-conf. I will sync up with everyone next week and post a status here.

[2016-05-06 19:01] jeffwhelpley commented on #382
I am talking to Patrick about this, but two things:

First, we should at the very least implement `invokeElementMethod` if nothing else just to throw an error "don't use this one the server side, instead use blah blah blah".

But more to the point is whether the server side should have an implementation of querySelector. My initial impression is no because there is no existing virtual DOM state to

[2016-05-06 19:17] #379 closed

[2016-05-06 20:01] ryancampbell commented on #280
Awesome thanks @jeffwhelpley
I would be interested in helping as well just don't want to duplicate work if it's already being tackled

[2016-05-06 20:04] jeffwhelpley commented on #372
@MarkPieszak @barbatus We fixed this issue with a flurry of other changes this week. Please get the latest which uses Angular RC 1 and let me know if you still see any issue.

[2016-05-06 20:04] #372 closed

[2016-05-06 20:21] jeffwhelpley commented on #371
After a flurry of updates to RC 1 this week, I re-tested this and it seems to be all good. Please re-try yourself and post here if you still have an issue.

[2016-05-06 20:23] jeffwhelpley commented on #369
@MarkPieszak please test with the latest code and let me know what the current status is here.

[2016-05-06 20:25] jeffwhelpley commented on #359
We should be good on this now.

[2016-05-06 20:25] #359 closed

[2016-05-06 20:26] #357 closed

[2016-05-06 20:28] jeffwhelpley commented on #356
@jeffbcross you created this for your presentation, right? If so, can you submit a PR to get it into the universal repo?

[2016-05-06 20:31] jeffwhelpley commented on #280
@ryancampbell I will take you up on this! Let me get back in sync with Brad on this and will reach out to you within a week or so.

[2016-05-06 20:39] jeffwhelpley commented on #347
@gdi2290 We should have this as a high priority. What is involved in this change?

[2016-05-06 20:53] joaogarin commented on #371
Sure will do that! busy week yes!! congrats on the talk was awesome;)

[2016-05-06 20:56] jeffwhelpley commented on #343
OK, I found the root cause here, but just thinking about the fix to make. This comes from the RxJS package.

[2016-05-06 21:03] MarkPieszak commented on #369
Will do. I got some things fixed with `rimraf` but the others could be `npm` lifecycle issues with Windows 7, been trying to talk with the npm team more to figure it all out. @jeffwhelpley

I'll try and resolve this in the next few days.

[2016-05-06 21:20] jeffwhelpley commented on #343
@gdi2290 hey, Mr. Webpack Master Jedi...these annoying warnings in the browser console are due to the fact that the rxjs code all has references pointing to an associated source map. We need to either strip out the source map references in the JavaScript files or make sure we pull the source maps from node_modules/rxjs to the local app/client dir. I would think we want to do the former (i.e. strip

[2016-05-06 21:32] jeffwhelpley opened #388 "cache data between node and browser"
**Note: for support questions, please use one of these channels:** https://github.com/angular/universal/blob/master/CONTRIBUTING.md#question. This repository's issues are reserved for feature requests and bug reports.

* **I'm submitting a ...**
- [ ] bug report
- [X] feature request
- [ ] support request => Please do not submit support request here, see note at the top of this template.

* **What

[2016-05-06 21:33] jeffwhelpley commented on #338
This issue is super confusing. We just made updates to preboot that should fix the flickering. I created a separate issue #388 to track data caching between server and client.

[2016-05-06 21:33] #338 closed

[2016-05-06 21:41] jeffwhelpley commented on #330
@jeffbcross is there any way to know when the PR for this in core will be merged? I know there are a lot of PRs backed up so it likely won't be for a little bit, but how can we track it?

[2016-05-06 21:46] jeffwhelpley commented on #316
So, it seems like there are 3 or 4 different issues here. #330 has a PR pending in core so we are just waiting for that. #331 is fixed. Some of the preboot issues mentioned are fixed. It seems like this issue is resolved, but please comment here if any of you on this issue think differently after getting the latest and re-testing.

[2016-05-06 21:46] #316 closed

[2016-05-06 22:00] jeffwhelpley commented on #313
Submitted PR:

https://github.com/angular/universal/pull/389

Will re-open this issue if there are any issues.

[2016-05-06 22:00] #313 closed

[2016-05-06 22:05] jeffwhelpley commented on #309
@gdi2290 What is the status here? Does it make sense to have so many different things in one issue? As we discussed, we should create a new module under Universal with all the common services people will need. I am modifying the title for this issue to reflect that.

[2016-05-06 22:08] jeffwhelpley commented on #305
@gdi2290 I need more info here. Can you give me an example of what you are talking about?

[2016-05-06 22:09] jeffwhelpley commented on #304
@gdi2290 can you test this issue again? I can't reproduce either and this may have been fixed with one of the recent changes to core.

[2016-05-06 22:55] jeffwhelpley commented on #293
Closing this as issue being tracked on JSPM repo.

[2016-05-06 22:55] #293 closed

[2016-05-06 22:57] #284 closed

[2016-05-06 22:59] #258 closed

[2016-05-07 03:48] jeffwhelpley commented on #388
Just noticed that we already have #271 open for this.

[2016-05-07 03:48] #388 closed

[2016-05-07 03:49] jeffwhelpley commented on #260
I talked to @Brocco at ng-conf about this and we should start this up again. @wesleycho did you still want to take this one on?

[2016-05-07 03:52] jeffwhelpley commented on #249
Closing for now. I think we will end up doing this along with some other future refactoring. Not enough pain to warrant doing something for right now.

[2016-05-07 03:52] #249 closed

[2016-05-07 03:57] jeffwhelpley commented on #190
Closing this since really the goal is #257. The solution may not include rollup but some other solution such as webpack 2.

[2016-05-07 03:57] #190 closed

[2016-05-07 03:58] jeffwhelpley commented on #184
OK, I am adding this back to the active list and we will talk about it at the next community meeting.

[2016-05-07 04:00] jeffwhelpley commented on #170
I just changed the title for this. The key is adding benchmarking such that we can run it and record the results for each check in. This may or may not include benchpress or other tools.

[2016-05-07 04:02] jeffwhelpley commented on #170
Actually, I am going to close this in favor of #135.

[2016-05-07 04:02] #170 closed

[2016-05-07 04:03] jeffwhelpley commented on #46
@gdi2290 have you put thought into how this would work?

[2016-05-07 04:11] jeffwhelpley commented on #30
Closing this one until it becomes a bigger issue.

[2016-05-07 04:11] #30 closed

[2016-05-07 04:20] jeffwhelpley opened #390 "preboot focus fixes"
**Note: for support questions, please use one of these channels:** https://github.com/angular/universal/blob/master/CONTRIBUTING.md#question. This repository's issues are reserved for feature requests and bug reports.

* **I'm submitting a ...**
- [X] bug report
- [ ] feature request
- [ ] support request => Please do not submit support request here, see note at the top of this template.

* **What

[2016-05-07 04:21] jeffwhelpley opened #391 "Enable Angular Universal with a Go backend"
**Note: for support questions, please use one of these channels:** https://github.com/angular/universal/blob/master/CONTRIBUTING.md#question. This repository's issues are reserved for feature requests and bug reports.
- **I'm submitting a ...**
- [ ] bug report
- [X] feature request
- [ ] support request => Please do not submit support request here, see note at the top of this template.
- **What m

[2016-05-07 04:25] jeffwhelpley opened #392 "prototype hydration as alternative to server/client buffering"
**Note: for support questions, please use one of these channels:** https://github.com/angular/universal/blob/master/CONTRIBUTING.md#question. This repository's issues are reserved for feature requests and bug reports.
- **I'm submitting a ...**
- [ ] bug report
- [X] feature request
- [ ] support request => Please do not submit support request here, see note at the top of this template.
- **What m

[2016-05-07 04:26] jeffwhelpley commented on #392
@jeffbcross @tbosch we would like to have a quick discussion about this. It came up at ng-conf. We discussed hydration early on in this project and decided it wasn't a good idea at that time. However, we may want to revisit.

[2016-05-07 04:28] jeffwhelpley opened #393 "move universal under @angular in npm and with package name"
**Note: for support questions, please use one of these channels:** https://github.com/angular/universal/blob/master/CONTRIBUTING.md#question. This repository's issues are reserved for feature requests and bug reports.

* **I'm submitting a ...**
- [ ] bug report
- [ ] feature request
- [ ] support request => Please do not submit support request here, see note at the top of this template.

* **What

[2016-05-07 04:30] jeffwhelpley opened #394 "Angular Universal CLI docs generator"
Need to finish putting up the microsite and then create separate issues for each specific section needed so other people can jump on. Also have information about the process for how other people contribute to the docs.

[2016-05-07 05:45] wesleycho commented on #260
Oof, another big task...sure, why not! I'll do some research over the next week, figure out an approach, and document it

[2016-05-07 22:40] MarkPieszak opened #395 "Browser errors in latest rc1 build"
* **I'm submitting a ...**
- bug report

![screen shot 2016-05-07 at 6 55 37 pm](https://cloud.githubusercontent.com/assets/2574412/15095069/5363a96e-1485-11e6-9f22-a0daf9d29d7a.png)

Got latest this morning since the rc1 updates/etc, looking into it now just wanted to get it on the radar.

[2016-05-08 11:11] zoechi commented on #395
Your code probably needs to be updated to rc.1 but hard to tell without a repo case. Please create a Plunker that demonstrates the issue.

[2016-05-08 11:13] zoechi commented on #395
Sorry, thought this issue was from another GitHub repo

[2016-05-08 18:49] gdi2290 commented on #305
we can close this

[2016-05-08 18:49] #305 closed

[2016-05-08 18:50] gdi2290 commented on #356
this is done already

[2016-05-08 18:50] #356 closed

[2016-05-09 09:52] sdeleuze commented on #280
I would be very interested by an update as well since we are close to begin active work on Spring Framework 5 where we would like to experiment and potentially provide support for [Angular 2 running on Nashorn](https://jira.spring.io/browse/SPR-13508).

[2016-05-09 12:28] jeffwhelpley commented on #395
@gdi2290 I am slammed today, but this is an important one. Can you look at this when you get a chance?

[2016-05-09 12:44] jeffwhelpley commented on #257
Last night as my brain was catching up all the craziness from ng-conf I realized how we are going to drastically reduce the size of preboot. It basically comes down to two things. I always thought we would gain a lot by implementing webpack 2 with tree shaking so that only the code for the options that are chosen are included. That will help, but not nearly as much as simply chopping off all the r

[2016-05-09 15:12] cheungtitus commented on #280
@sdeleuze that'd be good.  @jeffwhelpley sorry I started experimenting with Spring 4's Script Based Templating a couple of months ago but haven't gotten it to work yet, and then have been occupied with multiple family events.  It'd be good to indeed have us all get synced up somehow.

[2016-05-09 15:31] manekinekko commented on #280
@sdeleuze check this my [repo](https://github.com/manekinekko/angular2-springboot-engine). We are having issues with the module loader, [see more details here](https://github.com/manekinekko/angular2-springboot-engine/issues/1).

[2016-05-09 15:54] sdeleuze commented on #280
@manekinekko Interesting, I guess we need to find the right polyfill to make it work ...

[2016-05-09 16:12] sullivanpt commented on #283
This issue description is vague, but I can say I had universal running against systemjs (without jspm) in the past https://github.com/sullivanpt/ng2-universal-seed/tree/systemjs.  (I abandoned the branch because webpack/browserify gave a more consistent dependency experience on express.)

[2016-05-09 16:18] jeffwhelpley commented on #280
I am in the process of pulling together all interested parties in the Java-Universal integration. There are a couple internal folks at Google in addition to all of you in the community that have posted here (and many more I talked to at ng-conf last week). This effort has been moving along somewhat slowly up to now, but it is time to make it legit. I think the first step will be a quick meeting of

[2016-05-09 16:20] jeffwhelpley commented on #281
Alright, so the PHP integration to Universal has been a back burner item for a little while but let's work on making this legit. If you just want status updates on this effort, watch this issue. If you can be more heavily involved, email me at jeff at gethuman dot com. I am in the process of organizing a quick meeting among all interested parties.

[2016-05-09 16:23] jeffwhelpley commented on #391
If you are interested in helping out in this effort email me at jeff at gethuman dot com. We are organizing a meeting between all interested parties to kick off this effort.

[2016-05-09 16:30] MarkPieszak commented on #395
It looks like errors triggering inside Angular itself, I can't seem to pin-point when it's occurring though. It seems to be on the browser-side though, once things load up.

[2016-05-09 17:15] jeffwhelpley commented on #283
Thanks for the feedback @sullivanpt. Hey, @gdi2290 and @manekinekko what were the issues you guys ran into with this?

[2016-05-09 19:19] TheLarkInn commented on #280
Also interested in doing this in house, so +1

[2016-05-09 20:15] gdi2290 opened #397 "create `isNode` (or `isServer`) and `isBrowser`"
* **I'm submitting a ...**
- [ ] bug report
- [x] feature request
- [ ] support request => Please do not submit support request here, see note at the top of this template.

* **What modules are related to this pull-request**
- [ ] express-engine
- [ ] grunt-prerender
- [ ] gulp-prerender
- [ ] hapi-engine
- [ ] preboot
- [x] universal
- [ ] webpack-prerender

return `true` or `false` per code spli

[2016-05-10 01:52] jeffwhelpley commented on #397
Nooooooooooooooooooooo.

OK, so at the very least can we not expose this feature unless users set a config flag? I understand that we need this for certain low level libraries when we don't have control over the user bootstrap, but we should discourage the use of this in most cases.

[2016-05-10 05:41] Bhushan001 commented on #294
@gdi2290 @jeffwhelpley we are working on a project in which this feature is required.I was wondering If u could provide any inputs on when this feature will be available?

[2016-05-10 10:34] jeffwhelpley commented on #294
Sorry for the delay in response @Bhushan001. Last week was crazy with ng-conf and we are just starting to get back into things. So, the status here is that we know what needs to change (modifications to the zones patch) and I have it right near the top of our overall priority list.

@gdi2290 can you provide an update once you get the fix in for this?

[2016-05-10 14:41] MarkPieszak commented on #347
@SteveSandersonMS Hey Steve, the initial html page that you are pointing to for Universal, has no `<html></html>` `<body></body>` tags, etc correct?

I have a fix for this in the works, trying to look into it more to make sure I cover everything.

I'm also wondering how we can get `<universal-styles />` to work (and inject CSS) if we have no supplied tags in the `<head>`

[2016-05-10 17:21] gdi2290 commented on #397
we should discourage use of it but we do need escape hatches. It's easier for demos and starting off with Universal and we can recommend how to refactor services/etc into the correct universal patterns

[2016-05-10 18:50] bennylut commented on #280
j2v8 (https://github.com/eclipsesource/J2V8) just added support for linking (using jni) node.js into java applications - this may help reducing the amount of effort required for the port (instead of adapting nashorn)
didn't test it myself yet though..

[2016-05-10 20:57] irbull commented on #280
As the author of J2V8 I'll mention a few things. J2V8 is a set of Java bindings for V8. It exposes the V8 API to Java via JNI. Yesterday I finalized the support for node.js with J2V8. This means you start node itself (not just V8), execute scripts on node, and access the node message loop. You can also register Java methods to invoke when a JS Function is called, and you can call JS functions from

[2016-05-10 21:00] TheLarkInn commented on #280
@irbull could you paste a link to the repository? Excellent work!

[2016-05-10 21:00] TheLarkInn commented on #280
Nvm I see it above.

[2016-05-11 00:56] jffry opened #400 "universal.angular.io: Quickstart page's text gets cut off on narrow screens"
**Note: for support questions, please use one of these channels:** https://github.com/angular/universal/blob/master/CONTRIBUTING.md#question. This repository's issues are reserved for feature requests and bug reports.

### **I'm submitting a ...**
- [X] bug report
- [ ] feature request
- [ ] support request => Please do not submit support request here, see note at the top of this template.

### **

[2016-05-11 03:53] ryancampbell commented on #280
Nice work!

[2016-05-11 03:57] TheLarkInn commented on #280
Only because I don't know Java, would you be willing to boilerplate this?

[2016-05-11 07:20] laskoviymishka opened #402 "Failed to build on Windows. 'rm' is not recognized as an internal or external command"
This is pretty easy to fix:
`rm -rf -> rimraf` in all `package.json`, i'll create PR for these.

* **I'm submitting a ...**
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support request here, see note at the top of this template.

* **What modules are related to this pull-request**
- [x] express-engine
- [x] grunt-prerender
- [x] gulp-prerender
- [x] hapi-eng

[2016-05-11 10:15] bennylut commented on #280
I will try to make a small "hello angular-universal/j2v8" prototype and post here how it goes

[2016-05-11 10:32] jeffwhelpley commented on #280
@bennylut that would be awesome. I am trying to get everyone together interested in this topic, but it looks like a lot of the Googlers won't be available until after Google I/O which is next week. So, I will get something on the calendar for the following week and in the meantime try to document the integration spec.

[2016-05-11 15:47] cheungtitus commented on #280
@bennylut @irbull The J2V8 is amazing.  This looks really similar to handlebars.java in that we can run the JS inside Java.  Also nice is the callback.  Wow.  I wrote a Angular2 based front end served by a Spring 4 back end with mock data a few months ago.  Will try out J2V8 to see how it goes by having it rendered on the back end instead.  BTW I happen to notice the POM artifacts doesn't have the

[2016-05-11 16:05] salmar commented on #280
@bennylut sounds great. We'll have the [Spring I/O](http://www.springio.net) conference next week in Barcelona, would be nice to show some initial work on that direction.

[2016-05-11 16:38] jeffbcross opened #406 "fix(broccoli-prerender): causes build error on subsequent builds"
**Note: for support questions, please use one of these channels:** https://github.com/angular/universal/blob/master/CONTRIBUTING.md#question. This repository's issues are reserved for feature requests and bug reports.

* **I'm submitting a ...**
- [x] bug report

* **What modules are related to this pull-request**
- [x] broccoli-prerender

* **What is the current behavior?**

The plugin works corr

[2016-05-12 11:59] sdeleuze commented on #280
@bennylut Currently I guess the answer is yes, but ideally what I would prefer is using J2V8 through JSR 223 that we support natively. As you can see in [ScriptTemplateView](https://github.com/spring-projects/spring-framework/blob/master/spring-webmvc/src/main/java/org/springframework/web/servlet/view/script/ScriptTemplateView.java), we use [`ScriptEngine#eval()`](https://docs.oracle.com/javase/7/

[2016-05-12 12:57] bennylut commented on #280
@sdeleuze I don't see why one will have a problem writing JSR223 compatibility layer for J2V8.

Here are my two cents about Nashorn:

Nashorn is a great project, it is much faster than rhino - still not close to v8 though. But even if you don't mind the performance differences on your server side - using it can cause major headache since for each change in angular-universal or one of its dependenc

[2016-05-12 18:15] #402 closed

[2016-05-12 19:34] bennylut commented on #280
Hi all, The following is a very preliminary but a working prototype - please tell me what you think (only works on linux 64bit, tested on ubuntu 16.04)

https://github.com/bennylut/hello-angular2-universal-j2v8

[2016-05-13 03:01] christopherthielen commented on #184
Just released alpha.5 with pushstate support using `LocationProvider`

[2016-05-13 09:58] jeffwhelpley commented on #184
wu-hu! I am meeting with the Universal team today and will see if I can get someone to help trying out an integration between the latest UI Router and Angular Universal. I will let you know if I have any questions.

[2016-05-13 10:03] jeffwhelpley commented on #280
@bennylut awesome! I am going to look at it in more depth this weekend, but one quick thing. It looks like you used the Universal express engine. That is just a wrapper around Universal that helps with integration to Express. I actually don't think that is needed in this case. We should be able to ditch Express and just have the Java server talk directly to the Universal lib. I need to work on a s

[2016-05-13 10:41] mickael-kerjean commented on #382
I initially open this issue as throwing an error with such a weird message wasn't really expected.

I was trying trying to use a well known slider library called swiperjs ([here a demo](http://idangero.us/swiper/demos/#.VzReIhVcRBc)) that like many other you instantiate doing something like this:
[code]

The approach in Angular1 if you don't want to reinvent the wheel, is to wrap it up in a direct

[2016-05-13 10:41] bennylut commented on #280
@jeffwhelpley, you are looking at an old version - please checkout the latest one - I remove the expressEngine dependency and wrote a JavaEngine instead. I still use internally code from the expressEngine implementation though.

This repository is still under work, for example I recently added multi-node support, i.e., using multiple nodejs executions each in its own thread in order to improve ren

[2016-05-13 11:57] jeffwhelpley commented on #382
@mickael-kerjean thanks for providing more details. So, if I understand you correctly, the main thing you are trying to do on the server side is to have the initial state of the slider rendered and displayed in the server view. I can totally understand why you would want to do this, but the issue is that jQuery is tightly coupled to the DOM. If you look within the Swiper plugin you will see that i

[2016-05-13 12:17] jeffwhelpley opened #407 "Include preboot 4 for engine wrappers and universal"
**Note: for support questions, please use one of these channels:** https://github.com/angular/universal/blob/master/CONTRIBUTING.md#question. This repository's issues are reserved for feature requests and bug reports.

* **I'm submitting a ...**
- [X] bug report
- [ ] feature request
- [ ] support request => Please do not submit support request here, see note at the top of this template.

* **What

[2016-05-13 12:20] jeffwhelpley commented on #400
Oh, yeah, that is ugly. Thanks for posting this @jffry. I am going a major revamp of the docs this weekend so will fix this then and post something here once they are good.

[2016-05-13 17:18] MarkPieszak commented on #382
@jeffwhelpley @gdi2290  Just throwing a wild idea out there... But is there some kind of crazy way we can almost *ignore* DOM manipulation on the server-side somehow?

Just render whatever we can, and then let the client-side version handle all of those things?

I'm picturing some sort of (server-side) jQuery override that basically returns a blank jQuery selector `$()` does nothing, but keeps jQu

[2016-05-13 17:42] gdi2290 commented on #280
@bennylut great work! it looks good to me. We can probably merge JavaEngine into the repo

[2016-05-13 20:12] gdi2290 opened #408 "remove preboot dependencies"
**Note: for support questions, please use one of these channels:** https://github.com/angular/universal/blob/master/CONTRIBUTING.md#question. This repository's issues are reserved for feature requests and bug reports.

* **I'm submitting a ...**
- [ ] bug report
- [x] feature request
- [ ] support request => Please do not submit support request here, see note at the top of this template.

* **What

[2016-05-13 21:18] bennylut commented on #280
@gdi2290, thanks - I actually wanted to try and see if I can remove the need for the "server.js" glue code - If I will succeed this may change the `JavaEngine.render` method a little. So please tell me before merging the JavaEngine code so I can freeze the API.

[2016-05-13 21:59] jeffbcross opened #409 "feat(Jsonp): add support for JSONP"
Create a binding for JSONP. Should behave similarly to the browser version, without the convenience of placing a `<script>` tag in the page.

[2016-05-13 22:22] gdi2290 commented on #409
for the jsonp we probably can use `new Function` wrapping `Http#request`
[code]
or
[code]

[2016-05-13 22:47] jeffwhelpley commented on #382
Yeah Mark has a decent option number 4 that would essentially be a variation of option number 3. Basically instead of using DI swapping to provide a server implementation, you could do some mocking of the jQuery objects so they are essentially no ops. That is not something we would put in the Universal repo, though because how you want to handle this is highly dependent on your specific use case.

[2016-05-14 02:16] gdi2290 commented on #280
@bennylut  I agree that we should keep `server.ts`. I like the idea of having `server.ts` and isolating the Java exposed methods within JavaEngine. There might be a better way of setting the template and other configuration from Java. Overall thanks! This is really exciting 👍

[2016-05-14 20:01] Codenator81 commented on #283
@jeffwhelpley  First when I use systemjs-builder and in systemjs.config.js
[code]
and import bootstrap
[code]
have error
[code]

[2016-05-15 13:11] guybedford commented on #283
The above sounds like a standard Node compatibility problem - trying to load `../common` as a directory require in Node through SystemJS when what is expected by SystemJS is `../common/index.js`.

Alternatively this project could rewrite the `require('../common')` in `dist/browser/browser.js` to `require('../common/index.js')` and not explicitly rely on the directory require resolution.

[2016-05-16 06:18] mickael-kerjean commented on #382
Thank you for your feedback.

I understand why it can be tricky to integrate a jquery library from a server perspective. However If universal could provide a hook to inject code directly in the page, there will be no need to generate a shell or simulating the DOM.

In our example, we simply need a way to inject this code somewhere in the view:
[code]
Considering that universal in its core is gener

[2016-05-16 09:32] jeffwhelpley commented on #382
@mickael-kerjean you can add any arbitrary JavaScript to be inlined with the server rendered view using Preboot, but I don't think that will actually solve your problem in this case. Even if you use Preboot to do exactly as you are suggesting, unless I am missing something, I don't think anything would happen since jQuery isn't loaded on the page yet. You would need to inline jQuery and the Swiper

[2016-05-16 10:50] mickael-kerjean commented on #382
Thank you for the tip, I'll look preboot.

Sure, and what's wrong with that?
[code]

A few kb more, nothing too bad. If you're lucky, the library could even be already on the client's browser using a CDN, and it will come without any extra cost.
What's wrong with that?
As I can se it, it will even become super handy if the user has a old IE that will not have support for Angular2.

[2016-05-16 14:08] vangheem opened #410 "Does not work with new router"
**Note: for support questions, please use one of these channels:** https://github.com/angular/universal/blob/master/CONTRIBUTING.md#question. This repository's issues are reserved for feature requests and bug reports.

* **I'm submitting a ...**
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support request here, see note at the top of this template.

* **What

[2016-05-16 14:43] jeffwhelpley commented on #382
Ah, so, I think we are talking about two different things. What you are describing in your last message is simply a way of getting the Swiper control working with the client rendered version of your code. That would be no different whether or not you use Angular Universal. The thing I was thinking about in this thread is how to get something displayed in the server rendered view. The difference is

[2016-05-17 15:15] SteveSandersonMS commented on #347
The ASP.NET templates don't point to any initial HTML page in the sense that I think you mean. We're not using the angular2-universal view engine or any equivalent. We are using angular-universal just to render-as-string individual Angular 2 components that get injected into a page being generated by ASP.NET.

You can find an example of the server-side boot code we're using here: https://github.co

[2016-05-17 18:09] gdi2290 commented on #347
I'm working on this today after Jsonp support

[2016-05-18 16:03] MarkPieszak commented on #347
@gdi2290 I'm not sure if you saw my message on the Slack a while back, but to me, it looked like using `parseFragment` helped not create the entire `<html>` tree. Not sure if that would help you at all!

[2016-05-18 17:44] rifmj opened #412 "Using host properties throws EXCEPTION: Not implemented"
* **I'm submitting a ...**
- [x] bug report

* **What modules are related to this pull-request**
- [x] express-engine
- [x] universal

* **What is the current behavior?**
When using host properties on components or directives server throws "EXCEPTION: Not implemented"

* **If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem** by cre

[2016-05-18 21:01] jhades commented on #135
Hi all, I'm testing an universal app  (angular 2 RC1 and universal 0.100.1) and i'm getting time to first byte TTFB from one to two seconds. The REST calls made for that view amount to 600ms.

I was trying to profile it (no conclusions so far) and noticed that the debug info shows up a lot even in an application running in production mode:

![screen shot 2016-05-18 at 10 34 53 pm](https://cloud.gi

[2016-05-19 00:17] jeffwhelpley commented on #135
Good find. I suspect, though, that this won't be a huge change. The much bigger win should be with the offline template compilation. Also, note that we have not done any performance optimization yet since we were waiting for OLTP to land first. My goal is to get TTFB down well under a second before we declare Angular Universal is production ready.

[2016-05-19 12:49] JohnGorter commented on #407
would it be preferrable to inline the js aswell as the css for preboot in the express engine? My guess is that they both need to be inlined....

[2016-05-19 12:52] jeffwhelpley commented on #407
Yep. Both. This will add some page weight but we will deal with that issue in the next preboot refactoring.

[2016-05-19 17:51] Bhushan001 commented on #393
@jeffwhelpley will there be major changes in universal as angular2 has moved to rc-state now?

[2016-05-19 18:25] jeffwhelpley commented on #393
@Bhushan001 we are lagging behind core in terms of maturity. While core is at release candidate, you should still consider Universal right this second at Beta stage. We hope to make a bigger push in the coming weeks, though and hopefully will be able to announce Universal is production ready close to the core Angular 2 full release, but we'll see.

[2016-05-19 21:26] gdi2290 opened #413 "recreate Parse5Adapter with parse5 2.0"
update and replace Parse5Adapter

[2016-05-20 17:21] jeffbcross commented on #406
Fixed by https://github.com/angular/universal/commit/92cf60b2e24f0facaa2f8753b5006b516d650ad9

[2016-05-20 17:21] #406 closed

[2016-05-21 02:49] mrjmd commented on #281
@jeffwhelpley I have been doing a little bit of work on this already and it was discussed a fair amount at ngconf a couple of weeks ago. Dropping you an email.

[2016-05-22 19:24] MarkPieszak commented on #412
Are you manipulating the DOM directly from these `host` functions? I'll try and test using `Host`, haven't tried this yet!

[2016-05-22 19:26] rifmj commented on #412
@MarkPieszak, I found origin of this problem. It's not working only with 'ng-animate' class added as host attribute.

[2016-05-22 19:39] MarkPieszak commented on #412
Ahh well that would make more sense I guess! Either way good to know, something to look into either way.

[2016-05-23 15:49] liongoncalves opened #418 "Unable to configure Angular Universal with Angular Cli project."
The documentation is kinda out of date. And is not working on an Angular-cli generated project.

[2016-05-23 18:22] MarkPieszak commented on #418
A lot of things are still in the works.
Check out https://universal.angular.io/ for a little more info on how to get it started.

Also, you can use the [universal starter repo](https://github.com/angular/universal-starter) as a good example on how to get started with it.

Universal isn't set up for the new Router just yet, that would probably be why it's not integrating with a `cli` project just y

[2016-05-24 19:06] TheLarkInn commented on #281
@mrjmd is that angular2-drupal repo implementing universal? I have a few devs on my team that are interested in contributing.

[2016-05-26 12:49] #418 closed

[2016-05-27 06:06] laco0416 commented on #184
any updates on this?

[2016-05-27 08:54] jeffwhelpley commented on #184
Hi @laco0416. This is on our list, but is a lower priority. The critical path now is getting to production-ready status. That said, we would love if someone from the community had time to take this one. If you or anyone else is interested let me know. Patrick and I as well as Chris from the UI Router project can help provide guidance.

[2016-05-27 09:39] ianbelcher opened #421 "express-engine renders only first visited route if template doesn't change"
* **I'm submitting a ...**
- [x] bug report

* **What modules are related to this pull-request**

- [x] express-engine

* **Do you want to request a *feature* or report a *bug*?**

Bug in commit 73ea470c380c5a82baebd37975edd4c36847ebbe

* **What is the current behavior?**

The above commit has introduced a bug where a new template must be passed to express-engine for the providers to be reloaded.

[2016-05-27 11:10] lngr commented on #184
Shall the new router the only working router, or must there additional support for the deprecated router?

[2016-05-27 12:10] jeffwhelpley commented on #184
@Ingr getting the new router working with Universal is a separate effort than this issue, but to answer your question, are moving in the direction of trying to support the new router and the UI router. The deprecated router, is...well, deprecated.

[2016-05-27 15:32] gdi2290 commented on #135
I think there was an issue in core saying thatprod mode isn't working

[2016-05-27 16:17] visikov commented on #421
@ianbelcher I was able to get routing to work by adding

`!!_options.reuseProviders === false ||`

to: https://github.com/angular/universal/blob/master/modules/express-engine/src/engine.ts#L74

then passing `reuseProviders: false` into the config param.

Should I make a PR for this or do you have a better solution in mind?

[2016-05-27 19:51] ianbelcher commented on #421
@visikov That fix will definitely work, but I'm unsure as to how performant it will be to continually dispose of and rebuild the bootloader for every request when we should only be overwriting the providers based on the `reuseProviders` option. It's likely better to seperate the building of the `EXPRESS_PLATFORM` and the `EXPRESS_ANGULAR_APP` objects into different sections based on the options wh

[2016-05-27 20:16] visikov commented on #421
@ianbelcher You're probably right about re-instantiating the bootloader on every request.

I've amended my PR based on your suggestion. Although I'm still a little iffy about it. Shouldn't the rendered page always reflect the state of the page? Having to pass in `reuseProviders: true` defeats the purpose imo.

I'll leave the PR open for now, hopefully someone who has a more intimate knowledge of t

[2016-05-27 20:41] ianbelcher commented on #421
Your right about the iffiness of it, this section feels like its still in quite a bit of flux as is the whole ng2 ecosystem. Things are moving very quickly!

That was my thoughts as well regarding the fix. I feel PatrickJS will have a much better idea for where things are going in this case. It appears that we want to change only certain providers per request while caching the others?

[2016-05-27 21:08] manekinekko commented on #412
@rifmj can you use a node debugger (node-inspector for instance) and provide us the a trace call so we call locate which method is throwing this exception?

[2016-05-27 21:14] manekinekko commented on #394
@jeffwhelpley I'm taking over this issue. Tell me all what you know sir :)

[2016-05-27 21:16] manekinekko commented on #362
@gdi2290 do we still need this ?

[2016-05-27 23:12] MarkPieszak commented on #413
Assign to me I'll take a look this weekend 👍

[2016-05-27 23:14] MarkPieszak commented on #395
I think this issue has gone away, I'll close this one out.

[2016-05-27 23:14] #395 closed

[2016-05-28 00:03] MarkPieszak commented on #343
I can take care of this one if you point me in the right direction mr jedi :P @gdi2290
Stripping it out sounds like something that would need to be done on the RxJs level though isn't it.

The toSubscribe map issue is gone I now see `trycatch.js.map` failed to parse (in universal-starter for example) which is in rxjs/utils

[2016-05-28 07:57] gdi2290 commented on #421
providers and directives should be moved outside of the if statement.
https://github.com/angular/universal/blob/master/modules/express-engine/src/engine.ts#L87...L#88

`reuseProviders` should really be renamed to `reuseAppProviders` but really should be removed now with the recent changes in `rc.1`.

In angular 2 we have 3 main injectors.
1. platform injector -> `platformProviders`
2. application

[2016-05-28 08:02] gdi2290 commented on #413
I can assign the issue to you after we get you in the org. If you run into problems just ping me

[2016-05-28 08:08] gdi2290 commented on #343
yeah the problem is rxjs sourcemaps we need to instal source-map-loader and ignore rxjs
see
https://github.com/AngularClass/angular2-webpack-starter/blob/8fbfd28ea677317fe4825fadfae54cc93808ef28/config/webpack.common.js#L115...L125

[2016-05-28 08:10] gdi2290 commented on #362
ya. Although it's something needed in zone.js usually I prototype it in polyfill before opening a PR in zone.js

[2016-05-28 08:11] gdi2290 commented on #395
this was a problem with our build script thing we created that injects the systemjs scripts. I updated it recently to get the examples working

[2016-05-28 14:46] MarkPieszak commented on #343
`exclude`, of course ... what was I thinking 🐓  thanks!

[2016-05-29 21:48] gdi2290 commented on #421
this is fixed in version `0.101.5` just released

[2016-05-29 21:49] #421 closed

[2016-05-30 10:42] JohnGorter commented on #397
Patrick,

Talked about taking on this feature, tell me (here or slack) what needs to be done :-)

[2016-05-30 15:20] timruffles commented on #393
@jeffwhelpley would you recommend steering clear of detailed discussion of universal's APIs in talks/teaching materials till then, given the beta status?

[2016-05-31 00:56] jeffwhelpley commented on #393
Well, @timruffles,  first we are definitely changing the namespace at some point in the coming weeks to the standard. However, that should be a simple search and replace for the import namespace without any changes to the actual API. However, just be aware that before we declare Universal production ready, we likely will make some more serious changes to the API. It is something we have only start

[2016-05-31 01:45] jeffwhelpley commented on #397
Actually, to this point, I think during our last call, @gdi2290, you seemed to have an idea of how you wanted to implement this, but we never said it explicitly. There are really two approaches here:

1. Have user pass in some value to Universal at build time that specifies the environment.
2. Have Universal infer the environment based on some global known factor (ex. if (!window))

It would seem

[2016-05-31 18:42] gdi2290 commented on #409
done via https://github.com/angular/universal/commit/4575cb0236749a1f2ee9a17f7291e8b539136a30

[2016-05-31 18:42] #409 closed

[2016-05-31 18:46] gdi2290 commented on #397
I ended up doing it via https://github.com/angular/universal/commit/2bdeb3294af329721c5253bab4c7390b8c4e8da0

[2016-05-31 18:46] #397 closed

[2016-05-31 23:26] btrigueiro opened #425 "App crashes on multiple concurrent requests"
**Note: for support questions, please use one of these channels:** https://github.com/angular/universal/blob/master/CONTRIBUTING.md#question. This repository's issues are reserved for feature requests and bug reports.

* **I'm submitting a ...**
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support request here, see note at the top of this template.

* **What

[2016-06-01 01:37] MarkPieszak commented on #425
Nice catch, ya even hitting F5 really fast for a few seconds can cause this.
It seems `this` inside of bootloader.ts loses it self / the closure.

     if ('ngOnStable' in this._config) { // <-- "this" undefined

[2016-06-01 09:04] MarkPieszak commented on #413
done via https://github.com/angular/universal/pull/424 - all demos working

[2016-06-01 21:57] Vloz commented on #379
Seem to work now (as intended in my first post), probably fixed by ianbelcher's thread.

[2016-06-02 05:54] btrigueiro commented on #425
I'm still running some tests but I'm quite sure I have a patch for this issue... Ideally though, we should isolate the cause. At least I'm positive I've managed to prevent the memory leak.
If everything is fine I'll submit a PR tomorrow.
Cheers!

[2016-06-02 16:50] btrigueiro commented on #425
Looks like the issue is caused because `Bootloader.dispose()` gets called before the promise chain is done, nullifying `this._config`. Apparently it leaked memory when the chain would go through the `catch` methods.
This patch just prevents `then` handlers to `throw` in this situation so the chain properly finishes and cleans up afterwards.

[2016-06-03 11:33] vinodbhargava commented on #294
Hi @gdi2290 , did you get a chance to look into this?

[2016-06-03 11:57] jeffwhelpley commented on #294
@vinodbhargava Patrick is working on this right now. This is one of out two top priorities right now as it is roadblocking several other things. You can expect to hear an update on this within the next week.

[2016-06-03 12:02] dehian opened #427 "UNMET PEER DEPENDENCY angular2-universal@^0.101.4"
I'm submitting a ...
[x ] bug report
 feature request
 support request => Please do not submit support request here, see note at the top of this template.
Current behavior
I'm using angular2 with the universal component, i had my project working few weeks ago but now i wanted to install the app on another machine and i have a dependency issue
my package.json refers to
"angular2": "2.0.0-beta.15",

[2016-06-03 12:28] MarkPieszak commented on #427
I think you need to update your Universal package in general you're using an older one with an older version of angular2@beta as well.

Universal is @ `0.101.8` now
Which works with `@angular 2.0.0-rc.1`
Just make sure you're still using `@angular/router-deprecated`

That might solve a few problems if you just upgrade everything.

[2016-06-03 12:42] dehian commented on #427
ok i could upgrade to rc but is there any other workaround that could allow me to just change the packagng an not touch the code?

[2016-06-03 12:48] MarkPieszak commented on #427
You might not have to change anything when trying to upgrade those packages?

Does the project not run because of that UNMET DEPENDENCY? Sometimes those come up during `npm i`'s but things can still work anyway.

[2016-06-03 12:51] dehian commented on #427
yes it doesn't work because of that...i changed the packages to the ones of previous installation and then it works...so definitely a package issue

[2016-06-03 13:33] MarkPieszak commented on #427
What happens error-wise when you try to install the latest versions of @angular (rc1) & angular2-universal?

[2016-06-03 13:55] dehian commented on #427
"@angular/common":  "2.0.0-rc.1",
    "@angular/compiler":  "2.0.0-rc.1",
    "@angular/core":  "2.0.0-rc.1",
    "@angular/http":  "2.0.0-rc.1",
    "@angular/platform-browser":  "2.0.0-rc.1",
    "@angular/platform-browser-dynamic":  "2.0.0-rc.1",
    "@angular/router":  "2.0.0-rc.1",
    "@angular/router-deprecated":  "2.0.0-rc.1",
    "@angular/upgrade":  "2.0.0-rc.1",
    "systemjs": "0.19.27

[2016-06-03 14:27] MarkPieszak commented on #427
You need to update your zone.js to `5.0.0-beta.6` as well (for @angular rc1)

[2016-06-03 14:31] dehian commented on #427
yep saw it after...sorry...updated package.json...updated code...npm start gives no issue but still i get a "localhost refused to connect."
any clue on how to debug this?

[2016-06-03 14:37] MarkPieszak commented on #427
Is the port being used by something else? That's usually when that happens

[2016-06-03 14:54] dehian commented on #427
nope
i can access static files like templates from that project through the same url and port

[2016-06-03 21:01] dehian commented on #427
ok i finally got it working
removed
"@angular/router": "2.0.0-rc.1",
and
"@angular/upgrade": "2.0.0-rc.1",
from my package.json

but still dont get why in case of error npm didn't complain and i couldn't access the page...in that case it's really hard to debug things

[2016-06-03 22:07] MarkPieszak commented on #427
Oh great! It might of been `upgrade` I've never included that one, or the combination of both. Glad you got it working though, cheers. 👍

[2016-06-04 03:12] durbonas commented on #294
This worked for me:

My component that holds contains my app in the index page looks like this:
`@Component({
  moduleId: module.id,
  selector: 'my-app',
  templateUrl: 'app.component.html',
  styleUrls: ['app.css','font-awesome.min.css'],
  directives: [ROUTER_DIRECTIVES]
})`

Every other component within that I navigate to looks like this:
`@Component({
  selector: 'login',
  templateUrl: 'app/

[2016-06-04 03:15] durbonas commented on #294
@gdi2290 @jeffwhelpley try "app/" not "/app/" - look at my comment above.

[2016-06-04 16:57] sap9433 opened #428 "npm install takes more than 20 minutes"
I'm here in New Delhi , the Capital of India and just a simple npm install takes 20 minutes with a connection of 16.2 mbps. And that kills all the enthusiasm to use this repo :). And I aborted the npm install , after 20 long taxing minutes , I see total npm modules are >850 ... Wow .

 **Please make this repo usable**

[2016-06-05 22:10] MarkPieszak commented on #428
Are you just trying to start using Universal? Using one of the starters if you just want to get going, and will be much faster.
[NodeJS Starter](https://github.com/angular/universal-starter)
[.NET Starter](https://github.com/aspnet/JavaScriptServices/tree/master/templates/Angular2Spa)

This repo itself is more for developing & working on Universal/Preboot itself. Although there will be some clean-

[2016-06-06 11:14] katalonne opened #430 "Can not build on Windows."
I do an `npm install` in the root folder and can't get the dependencies installed.

These are the errors : http://pastebin.com/BYx55Cyw

Any help please?

[2016-06-06 11:25] MarkPieszak commented on #430
Duplicate of #369

Kat, are you trying to get started with Universal? [Here you can find NodeJS & .NET Core example repos](https://github.com/angular/universal#getting-started). Those should work on Windows without a problem!

[2016-06-06 11:26] MarkPieszak commented on #427
Can you close this issue out when you get a chance @dehian ?

[2016-06-06 11:30] katalonne commented on #430
@MarkPieszak So, How do I install the dependencies? I must do an `npm install` as always but I get undesirable errors...
I followed this simple guide.
https://github.com/angular/universal-starter#installation

[2016-06-06 11:31] MarkPieszak commented on #430
The errors happened on the Starter repo? I'll take a look this morning on my other machine & get back to you!

[2016-06-06 11:35] katalonne commented on #430
@MarkPieszak No, the errors happen on this repo `https://github.com/angular/universal/` !!!

[2016-06-06 13:17] sap9433 commented on #428
my speed is 16.2 mbps..

[2016-06-06 13:35] MarkPieszak commented on #428
I wonder if it's getting hung up somewhere for you, I output things into the console from time to time like:

`Installing Preboot ...` etc
`Done installing Preboot...`
`Building polyfills...` etc

Can you try it again and just let it run all the way through and time how long it takes?

Also, how does Universal-starter work for you?

[2016-06-06 13:44] MarkPieszak commented on #430
Oh okay, you can close the issue out it's a duplicate of #369.
I'll try and spend some time today to see if I can fix it! Thanks Kat

[2016-06-06 20:34] dehian commented on #427
i can but i still don't get why i got a connection refused and no error message but ok i close it

[2016-06-06 20:34] #427 closed

[2016-06-07 20:03] Megalepozy commented on #309
I'm not sure if it's the right place to ask for it but is there something like NgLink for setting canonical links? it's badly needed for SEO

[2016-06-08 01:32] jeffwhelpley commented on #309
@Megalepozy I agree with this. We should have one of the universal services that automatically sets the canonical link in the head. Also, related is i18n href lang tags.

[2016-06-08 08:41] scarlz commented on #54
@gdi2290 We also require this feature for a large-scale project, and wondered how successful you were in implementing this for your client? I realise this feature is tagged with P2 and there is no milestone set, but in terms of viability, is there any expectation on when this might land?

[2016-06-08 13:07] briananderson1222 commented on #260
:+1: would love to have this for updating existing angular CLI projects.

[2016-06-08 13:18] MarkPieszak commented on #260
It might have to be a separate plugin for the CLI I'm guessing right, since it's more of a server-side thing. I imagine we'd really only be able to cater to NodeJS as well (since it's just a bunch of package.json dependencies & a server.ts file)

[2016-06-08 13:43] wesleycho commented on #260
There are people working on this I believe currently, it's currently being prototyped in another repository.

[2016-06-08 14:06] jeffwhelpley commented on #260
Yes, Wesley is right. @devCrossNet is working on this with me now. It is going to take some time, but we the CLI should make it much easier to use Universal.

[2016-06-09 05:28] justme1 commented on #238
any news regarding the head service?

[2016-06-09 10:04] xe4me opened #431 "Universal handle ajax calls in a erratic way"
I've been using Angula2 + Universal from the day one they launched it, but today I'm getting confused around how it actually works.

In your example , in the server.ts file you will find :

[code]
If you run the app , right click and view page source , you'll find 'This fake data came from the server' in the source code , meaning that the page got rendered in the server ? ( Is this correct ? )

So

[2016-06-09 12:47] jeffwhelpley commented on #238
@justme1 it is on our ToDo list, but right behind two other high priority items that we need to get done first. If you or anyone else from the community wants to help out on this, let me know.

[2016-06-09 15:41] gdi2290 commented on #431
In production you would cache the http calls. I'm also setting a limit of 2000 milliseconds on the server before it renders. You can increase the limit with `maxZoneTurns` in the config

see refactored repo that demonstrates this https://github.com/angular/universal-starter/blob/master/src/backend/api.ts

[2016-06-09 17:19] gdi2290 opened #432 "track runtime styleUrls"
track runtime styleUrls. for webpack use `angular2-template-loader`

[2016-06-09 18:25] gajdot commented on #428
I'm trying this on a Linux VM, it took less then 10 minutes, but tons of errors are thrown, without killing the build process. In the end it finishes, but the examples won't run if you try to access localhost:3000, you'll get this error:

[code]
If you try to access any other link you get the proper not found message:
[code]

[2016-06-09 23:28] gdi2290 commented on #425
I updated universal to account for more concurrent requests. can you update to `0.102.1`

please open another issue if you run into more problems

[2016-06-09 23:28] #425 closed

[2016-06-10 07:56] gajdot opened #433 "Build Fail under Linux"
I'm submitting a bug report. I just updated to the latest source code to test if I can finally build this repo, but it fails even more then before. I get error's when I try to run `npm start` command no matter what.

Ways to reproduce:
`git clone git@github.com:gajdot/universal.git universal` this repo is the exact copy of master branch on angular/universal
`cd universal`
`npm install`
`npm start`

[2016-06-10 14:50] MarkPieszak commented on #433
Thanks for posting this. I've fixed these errors actually and just need to check everything in. These are the same issues causing Windows to completely fail as well. Linked #402 #430 #369

[2016-06-11 19:46] #430 closed

[2016-06-12 02:50] xe4me opened #436 "Universal appends styles twice at the head"
- [x] bug report

Angular universal loads styles twice at the top of the page , which is head tag.
This beahviour can easily be reproduced via the rep itself , just pull and npm start and you'll see the bug.

http://stackoverflow.com/questions/37375003/angular2webpack-loads-styles-twice-at-the-head

[2016-06-13 02:36] xe4me commented on #431
@gdi2290 Please read the bug again, it's not about caching , it's about how universal is behaving different with the same scenario.

[2016-06-13 02:58] gdi2290 commented on #431
@xe4me right now we're not canceling setTimeouts but for http requests we are ignoring them if they're looking than 2000 milliseconds which is why you see the server waiting for the setTimeout in the app and not via http calls

[2016-06-13 05:13] Splaktar commented on #410
Another new router has emerged: http://angularjs.blogspot.com/2016/06/improvements-coming-for-routing-in.html

[2016-06-13 08:39] gdi2290 commented on #410
we were waiting for the latest router just released

[2016-06-13 12:56] vapits opened #437 "Can't install typings"
**Note: for support questions, please use one of these channels:** https://github.com/angular/universal/blob/master/CONTRIBUTING.md#question. This repository's issues are reserved for feature requests and bug reports.

* **I'm submitting a ...**
- [x] bug report

* **What is the current behavior?**

I'm following Get Started procedure and when'm trying to install typings by:
`typings install node

[2016-06-13 15:28] MarkPieszak commented on #437
#434 I'm in the process of updating the project to use `typings 1.*` naming conventions, I'll let you know when it's merged in so you can try again! Also are you using `angular rc1` or `beta1`? (beta1 is very old, I believe we only really work on rc1 at the moment.

[2016-06-13 17:54] gdi2290 commented on #294
for `templateUrl` you need to `__filename` for `moduleId` here's an example
https://github.com/angular/universal-starter/blob/master/src/app/home/home.component.ts#L4

styleUrls doesn't work though so I need to look into that

[2016-06-13 18:40] laskoviymishka commented on #273
According to _https://github.com/angular/angular/pull/8898_  current implementation should be replaced in favor to new DOM_Adapror.
@gdi2290 Should i refactor my PR?

[2016-06-14 06:56] vapits commented on #437
@MarkPieszak sorry my bad, about the angular version, I use rc1. I'll edit my issue, and thanks for your infos.

[2016-06-15 02:32] lightningtgc commented on #49
@gdi2290 Any plan about koa 2 (async)?

[2016-06-15 02:39] gdi2290 commented on #49
ya, we can support koa 2

[2016-06-15 02:46] lightningtgc commented on #49
@gdi2290 I can't find any code for this. Have you done it?
Anything I can do to help？

[2016-06-15 06:06] gdi2290 commented on #49
you can look at how we;re handling express and convert it to koa (although the express engine needs to be refactored)

[2016-06-15 09:21] jeffwhelpley commented on #49
@lightningtgc check out

https://github.com/angular/universal-starter/blob/master/src/server.ts#L35

and

https://github.com/angular/universal-starter/blob/master/src/main.node.ts

You should be able to translate these into Koa pretty easily (it's just setting the route handler and engine basically) and for the most part this is all you need to know for how to integrate to Universal. Let us know i

[2016-06-15 14:15] lightningtgc commented on #49
@jeffwhelpley @gdi2290 Thanks!I will make a koa 2 version.
Actually when we run this project in webstorm(on macbook pro and mac mini ), it will occupy a lot of memory,and then the IDE crashed.
I think something wrong here?

[2016-06-15 14:51] jeffwhelpley commented on #49
@lightningtgc you say when you run this in webstorm. How are you running it? Is your code public and available that we can check out?

[2016-06-15 15:09] MarkPieszak commented on #49
@lightningtgc When you do an `npm start` from the top level? (This runs the examples on port 3000)

[2016-06-15 15:10] MarkPieszak commented on #437
#434 Should fix this, can probably be closed out. Can you double check @vapits ?

[2016-06-15 15:11] MarkPieszak commented on #433
This should be all set now w/ #434, everything finishes installing & `npm start` works in Windows, can you get latest and check if it finishes `npm install && npm start` @gajdot

[2016-06-15 15:12] MarkPieszak commented on #369
Fixed via #434

[2016-06-15 15:12] #369 closed

[2016-06-15 15:16] lightningtgc commented on #49
@jeffwhelpley I meant that WebStorm（V10.0.2) will scan files to index automatically when I open this project(just git clone current project) （after I run 'npm install'）, after it finished scan, the IDE will crash.
It looks like  has a lot of files to scan, the progress is very slow.So I need to use Vim or Sublime to develop on my mac mini.

@MarkPieszak Yep,I can start the example.

[2016-06-15 16:06] jeffwhelpley commented on #49
oh. @lightningtgc do this:

1. from the command line while webstorm closed, run `npm install`
1. open up webstorm
1. right click on node_modules and exclude the folder

[2016-06-15 23:08] manekinekko commented on #400
@jeffwhelpley I sent the fix here (https://github.com/ericjim/universal.angular.io/commit/e914909543ab891b8d0ed53f81e5e07ca2b2a008) It needs to be merged and deployed to firebase.

[2016-06-16 06:53] gajdot commented on #433
On Windows it seems to run fine. I was able to install it and run the application and the examples show up.

On Linux I'm still waiting for it to install. One strange thing in Linux is that if I just run `npm install` it won't install by far everything. If I run `npm run install:all` then it takes just as long ( at least when it won't hang ) as on Windows, but for some reason time to time, don't k

[2016-06-16 06:53] gajdot commented on #433
On Windows it seems to run fine. I was able to install it and run the application and the examples show up.

On Linux I'm still waiting for it to install. One strange thing in Linux is that if I just run `npm install` it won't install by far everything. If I run `npm run install:all` then it takes just as long ( at least when it won't hang ) as on Windows, but for some reason time to time, don't k

[2016-06-16 07:14] gajdot commented on #433
Another 20 minutes passed and it's still hanged on a new `fetchMetadata - network`... Any idea why it's hanging so much time on fetching metadata?

[2016-06-16 07:51] gajdot commented on #433
@MarkPieszak  the first time I get a really big hangup is after this line:

[code]
Doesn't really seem to tell me much, maybe you have better idea?

[2016-06-16 08:07] vapits commented on #437
Yes @MarkPieszak
It works for me now.

I'll close it for you.

[2016-06-16 08:07] #437 closed

[2016-06-16 11:11] MarkPieszak commented on #433
I don't have a Linux machine otherwise I'd give a go, I wonder if it's because it's a VM maybe?

Those lines should be quick, it's just getting Angular core stuff from your npm cache (304 code). Bizarre...

[2016-06-16 11:36] laskoviymishka opened #440 "Animation fails when try to prerender"
**Note: for support questions, please use one of these channels:** https://github.com/angular/universal/blob/master/CONTRIBUTING.md#question. This repository's issues are reserved for feature requests and bug reports.

* **I'm submitting a ...**
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support request here, see note at the top of this template.

* **What

[2016-06-16 12:45] gajdot commented on #433
Well somebody with a full-blown real Linux system should test it, on windows it's working :) Unfortunately besides VM-s I don't have any Linux installed system at my disposal, only my raspberry 3, but I wouldn't like to test the build time for such a big package xD

[2016-06-17 00:56] casfnq opened #441 "@angular/platform-browser/src/animate/animation_builder not found in node/platform/dom/node_dom_renderer.ts"
Bug - Universal

dependencies:
    "@angular/common": "^2.0.0-rc.2",
    "@angular/compiler": "^2.0.0-rc.2",
    "@angular/core": "^2.0.0-rc.2",
    "@angular/http": "^2.0.0-rc.2",
    "@angular/platform-browser": "^2.0.0-rc.2",
    "@angular/platform-browser-dynamic": "^2.0.0-rc.2",
    "@angular/platform-server": "2.0.0-rc.2",
    "@angular/router": "^2.0.0-rc.2",
    "@angular/router-deprecated

[2016-06-17 11:41] MarkPieszak commented on #441
At the moment Universal only works with rc1 and router-deprecated unfortunately. Router-rc2 is actually the new new new (totally different router from even rc1, it's more like NgRx router). Also i think you might need Typescript nightly (1.9) to use the new Router. More info on it here: http://victorsavkin.com/post/145672529346/angular-router

It's definitely something we'll be adding support for

[2016-06-17 18:06] jeffbcross opened #443 "chore: identify and fix all private @angular imports"
There are some private Angular APIs that have been necessary to use to make Universal work. However, anything in Angular that's not exported from the root of a package (i.e. `@angular/core` or `@angular/platform-server) is considered a private API, and subject to breaking without notice. We should do an analysis of what private Angular APIs are being used throughout Universal modules, and determin

[2016-06-17 21:30] jeffbcross opened #444 "chore: publish modules as @angular/<module>"
Now that Angular has moved away from `angular2-` prefixes for packages, and is now using npm scoped packages, `@angular/`, universal modules should do the same.
- preboot: leave as-is, not angular-specific
- angular2-universal -> `@angular/univeral`
- angular2-broccoli-prerender -> `@angular/broccoli-prerender`
- angular2-express-engine -> `@angular/express-engine`
- angular2-grunt-prerender -> `@

[2016-06-18 18:51] Splaktar opened #445 "Versions after v0.100.5 break mobile-toolkit apps built from angular-cli - dist/index.html output is undefined"
* **I'm submitting a ...**
- [X ] bug report

* **What modules are related to this pull-request**
- [X] express-engine
- [ ] grunt-prerender
- [ ] gulp-prerender
- [ ] hapi-engine
- [X] preboot
- [ ] universal-preview
- [X] universal
- [ ] webpack-prerender

* **What is the current behavior?**

Unfortunately there is no error output at all from `ng build` on the angular-cli beta.6. This works fine

[2016-06-19 08:32] Urigo commented on #49
Annndddd  @kamilkisiela has created SSR with Universal for the [Apollo stack](http://www.apollostack.com/)!  https://github.com/apollostack/angular2-apollo/issues/20#issuecomment-226844324

[2016-06-19 15:48] MarkPieszak commented on #445
Hey Michael, I'll take a look and see what I can find. Are you using router-deprecated? It's all that's supported at the moment at least.

[2016-06-19 21:39] Splaktar commented on #445
@MarkPieszak yes.

[2016-06-19 23:28] Cedriking opened #446 "Cant install angular2-universal on Windows 10"
* **I'm submitting a ...**
- [ x ] bug report

* **What is the current behavior?**
I'm unable to install angular2-universal on windows.

* **If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem** by creating a github repo.

1 - I do "npm install --save angular2-universal
2 - I get the message:
[code]

* **What is the expected behavio

[2016-06-20 00:03] MarkPieszak commented on #446
What version of Node are you using?

[2016-06-20 00:06] Cedriking commented on #446
Hello there Mark, I'm using node v4.2.6 with npm 2.14.12

Thank you ^_^

[2016-06-20 00:20] gdi2290 commented on #444
for the `webpack-prerender` integration we need to rename it to `@angular/prerender-webpack-plugin` as it's a convention of webpack for something like [`webpack-load-plugins`](https://github.com/samvloeberghs/webpack-load-plugins)

related
https://github.com/jackfranklin/gulp-load-plugins
https://github.com/sindresorhus/load-grunt-tasks
https://github.com/samvloeberghs/webpack-load-plugins

[2016-06-20 00:36] gdi2290 commented on #446
can you update to npm 3?

[2016-06-20 01:06] Cedriking commented on #446
Thanks a lot, now it's working! :+1:

[2016-06-20 01:06] #446 closed

[2016-06-20 11:25] veliancreate opened #447 "angular2-universal0.102.0 is an unmet dependency of v0.103.0"
**Note: for support questions, please use one of these channels:** https://github.com/angular/universal/blob/master/CONTRIBUTING.md#question. This repository's issues are reserved for feature requests and bug reports.

* **I'm submitting a ...**
- [x ] bug report
- [ ] feature request
- [ ] support request => Please do not submit support request here, see note at the top of this template.

* **Wha

[2016-06-22 05:28] Splaktar commented on #445
This is also being tracked here: https://github.com/angular/angular-cli/issues/958

[2016-06-22 06:57] kenhahn85 commented on #410
@gdi2290, do you have a ballpark estimate on when router 3.0 support will ship?

[2016-06-22 11:15] vinodbhargava opened #450 "Charts are not rendering in console when Integrating angular2 universal with interactive charts - primeng"
**Note: for support questions, please use one of these channels:** https://github.com/angular/universal/blob/master/CONTRIBUTING.md#question. This repository's issues are reserved for feature requests and bug reports.

* **I'm submitting a ...**
- [X ] bug report
- [ ] feature request
- [ ] support request => Please do not submit support request here, see note at the top of this template.

* **Wha

[2016-06-22 16:05] MarkPieszak commented on #450
I think the problem here will be that Chart manipulates the DOM directly & also attaches itself to the window. I'm not sure how this could be implemented to be used w/ Universal, but it does seem pretty important that it does.

    window.Chart = module.exports = Chart;

[2016-06-23 00:37] #447 closed

[2016-06-23 05:48] vinodbhargava commented on #450
@MarkPieszak so does this means we cannot render charts using angular?

[2016-06-23 18:35] TheLarkInn commented on #281
Ive found that with V8js you have to define your own module loading system in PHP. I reached out to them and was directed to this gist (if this helps anyone).

https://gist.github.com/stesie/c9143b98355295420470#file-example-php-L12

[2016-06-24 01:05] gdi2290 commented on #445
@Splaktar universal has been updated to rc.3 via `0.103.2` can you check it out to see if it fixes the problem. Also set `async: true` in the universal config

[2016-06-24 01:32] gdi2290 opened #453 "new new router support"

[2016-06-24 01:43] gdi2290 commented on #453
it already works without any changes so long as `NODE_LOCATION_PROVIDERS` is included

[2016-06-24 01:43] #453 closed

[2016-06-24 16:59] Splaktar commented on #445
@gdi2290 I will give it a shot after my talk tonight. Thank you!

[2016-06-24 21:26] ivanmayes commented on #410
+1 need the new router support

[2016-06-24 21:30] gdi2290 commented on #410
Alright, I updated universal to rc2 rc3 the other day with the new router is support. Here's the updated starter with it
https://github.com/angular/universal-starter

[2016-06-24 21:30] #410 closed

[2016-06-25 13:27] kaaboeld opened #454 "Solution problem: adding SEO meta tags to <head>"
**Note: for support questions, please use one of these channels:** https://github.com/angular/universal/blob/master/CONTRIBUTING.md#question. This repository's issues are reserved for feature requests and bug reports.

* **I'm submitting a ...**
- [ ] bug report
- [x] feature request
- [ ] support request => Please do not submit support request here, see note at the top of this template.

We have

[2016-06-26 16:20] Splaktar commented on #445
This will take a bit more time to get to.

For my actual app, I'm blocked by:
https://github.com/vaadin/angular2-polymer/issues/26

For a new app via `ng new testApp --mobile`, I'm blocked by:
https://github.com/angular/angular-cli/issues/1174

I might be able to disable angular2-polymer temporarily in order to test this in my app. Will try that when I get some more time.

[2016-06-26 16:45] MarkPieszak commented on #445
Is the CLI using Universal 103.2? That one includes the new alpha router and those peerDep fixes.

[2016-06-26 19:12] Splaktar commented on #445
@MarkPieszak angular-cli `beta.8` is still using angular-universal `0.100.5`.

I manually upgraded a new CLI project to `0.103.2` but then that threw errors because something apparently still depended on `@angular/router-deprecated`. So I added that, then it threw exceptions due to `The selector "app-root" did not match any elements`.

[2016-06-26 19:39] Splaktar commented on #445
@gdi2290 Thank you for making a PR for the `async: true` setting: https://github.com/angular/angular-cli/pull/1163

[2016-06-27 14:06] maissani commented on #453
node_modules\angular2-universal\package.json:
   74      "@angular/platform-browser-dynamic": "2.0.0-rc.1",
   75      "@angular/platform-server": "2.0.0-rc.1",
   76:     "@angular/router-deprecated": "2.0.0-rc.1",
   77      "angular2-express-engine": "file:../express-engine",
   78      "angular2-hapi-engine": "file:../hapi-engine",

node_modules\angular2-universal\src\browser\router.ts:
    1:

[2016-06-27 14:06] maissani commented on #453
Cleanup NG2 universal please.

[2016-06-27 14:15] MarkPieszak commented on #453
What needs to be cleaned up @maissani, I can take a look.
Do you mean the examples? I do think you're right those need a little cleanup now.

Also yes, of course `@RouteConfig` has to be changed to `@Route`, imports have to be changed, you need to npm install the latest v3-alpha router etc.

I believe Patrick meant that Universal *itself* didn't require any under the hood changes, it just requires

[2016-06-27 14:18] maissani commented on #453
I mean the modules are not fully updated and it still remains some delcarations that in some case break the Angular2 Universal with the new router.
### In my opinion : NG2 Universal is put to Instable State for the moment.

[2016-06-27 14:44] gdi2290 commented on #453
The breaking change is that I removed `BROWSER_ROUTER_PROVIDERS` which was depending on the old router. Where you found the old router in hapi-engine and express-engine was not meant for anyone to use outside of this repo. The package.json deps in the root of this repo doesn't matter or affect any of the modules and really should be removed. The biggest mistake was BROWSER_ROUTER_PROVIDERS where I

[2016-06-27 14:56] maissani commented on #453
Can you explain me why did it exist an npm repo of those modules that pointing on universal package if they are not intended for being used outside of this repo ?
Example : https://www.npmjs.com/package/angular2-hapi-engine

[2016-06-27 15:07] MarkPieszak commented on #453
What version of Universal are you including in your project? @maissani

[2016-06-27 15:16] maissani commented on #453
"angular2-universal": "^0.104.1"

[2016-06-27 15:18] gdi2290 commented on #453
the systemjs helpers you're referring to that live inside of express-engine and hapi-engine are not meant to be used outside of this repo

[2016-06-27 15:19] gdi2290 commented on #453
for the new router support you must include `NODE_LOCATION_PROVIDERS` after the new router

[code]

[2016-06-27 16:11] maissani commented on #453
Already done.
Wait , i am diving with the errors and try to fix them

[2016-06-27 16:31] Splaktar commented on #445
I was able to verify this is working again with `0.103.3`: https://github.com/angular/angular-cli/issues/1174#issuecomment-228626726

[2016-06-28 05:06] vinodbhargava opened #457 "Animation effects not available in plain HTML rendered on console using universal."
**Note: for support questions, please use one of these channels:** https://github.com/angular/universal/blob/master/CONTRIBUTING.md#question. This repository's issues are reserved for feature requests and bug reports.

* **I'm submitting a ...**
- [ X ] bug report
- [ ] feature request
- [ ] support request => Please do not submit support request here, see note at the top of this template.

* **Wh

[2016-06-28 08:43] sittingbool opened #458 "Preboot with buffer true causes crash"
**Note: for support questions, please use one of these channels:** https://github.com/angular/universal/blob/master/CONTRIBUTING.md#question. This repository's issues are reserved for feature requests and bug reports.

* **I'm submitting a ...**
- [x ] bug report
- [ ] feature request
- [ ] support request => Please do not submit support request here, see note at the top of this template.

* **Wha

[2016-06-28 13:27] MarkPieszak commented on #457
What type of animations, css ones? Do you have some code (or github repo link) we could try?

[2016-06-28 13:43] MarkPieszak commented on #458
@sittingbool The starter has undergone some big changes in the past few days, can you give it a shot with the Latest one? Just pulled a fresh one down (angular rc3, universal 104.1, etc).

In the server.ts I changed: `preboot: { appRoot: 'app', buffer: true }`

It seemed to work fine, it might be that you're on a slightly older one? Let me know when you give it a try!

[2016-06-28 15:58] vinodbhargava commented on #457
I am trying angular 2 animation package. Please let me know if ineed to provide the repo.

[2016-06-28 16:43] gdi2290 commented on #457
can you provide a repo?

[2016-06-29 03:46] rjokelai commented on #371
With `2.0.0-rc.3` and universal `0.104.0` the issue seems to pop again. Running the latest [universal-starter](https://github.com/angular/universal-starter) and adding a simple `[innerHTML]` there will reproduce the issue:

      <strong>Async data call return value:</strong>
      <pre>{{ data | json }}</pre>

      <div>
        <strong>InnerHTML</strong>
        <div [innerHTML]="innerHtml"></d

[2016-06-29 08:01] vinodbhargava commented on #457
Please refer to this repo - https://github.com/vinodbhargava/universal-animation-screenshots.git

[2016-06-29 09:02] jeffwhelpley commented on #371
@rjokelai maybe it is too early in the morning or something but I can't see where in your output the HTML is not correctly parsed. It looks like the innerHTML string you specify is put into the tag. What am I missing?

[2016-06-29 09:29] rjokelai commented on #371
Actually, my bad. It seems that the `innerHTML` is working fine if there are no attribute quotes. If I put e.g. `this.innerHtml = 'Hello <span lang="jp">世界</span>!';` then Chrome renders it server-side like this:

![4d8b7c2b-7f36-4502-9d91-9fdf6544c292](https://cloud.githubusercontent.com/assets/1803028/16447253/4b390b74-3df4-11e6-8c9d-903b2faf4560.jpg)

This is what the dev tools show
![abbc6895-

[2016-06-29 11:13] rjokelai commented on #454
We solved this by creating the elements with the `Renderer` and injecting the `Document` too:

    import { Component, AfterViewInit, Renderer, Inject } from '@angular/core';
    import { DOCUMENT } from '@angular/platform-browser';

    @Component({ ... })
    class AppComponent implements AfterViewInit {
      constructor(@Inject(DOCUMENT) private document: any, private renderer: Renderer) {}

[2016-06-29 12:22] jeffwhelpley commented on #371
Interesting. I will post this to the slack channel and see if someone can help debug this. Thanks for posting this info.

[2016-06-29 13:43] davidthor commented on #294
I've been following this thread closely, and was just checking in to see if there's an update. Haven't gotten any of the proposed work-arounds to work as of yet, and would love to know more about the proposed patches coming down the pipeline.

Thanks in advance.

[2016-06-29 17:42] gdi2290 commented on #294
for webpack use angular2-template-loader. it's setup in the universal-starter

[2016-06-29 19:05] davidthor commented on #294
Thanks for the response @gdi2290. I'm realizing now that I might be looking at the problem wrong if the resolution is as simple as that. I started from the universal-starter and thus have angular2-template-loader in place, but didn't want to be stuck leveraging the router-deprecated, so I updated to the latest and made the relevant modifications to the route configuration. I thought I had read els

[2016-06-30 17:17] joaogarin commented on #371
Yeah I have this also on my site if you open https://www.joaogarin.com/ you can see that the server rendered view has some weird places where content gets cut. I think the double quotes are the issue here.

![screen shot 2016-06-30 at 19 17 30](https://cloud.githubusercontent.com/assets/2866604/16497445/510f15da-3ef7-11e6-9e4d-6288409d978f.png)

[2016-06-30 18:19] gdi2290 commented on #257
this is done with preboot 4

[2016-06-30 18:19] #257 closed

[2016-06-30 18:20] gdi2290 commented on #294
track https://github.com/angular/universal/issues/432 for runtime styleUrls. for runtime templateUrl provide __filename for moduleId

[2016-06-30 18:20] #294 closed

[2016-06-30 18:24] gdi2290 commented on #408
done with preboot 4

[2016-06-30 18:24] #408 closed

[2016-06-30 18:26] gdi2290 commented on #390
@jeffwhelpley is this fixed with preboot 4?

[2016-06-30 18:29] gdi2290 commented on #377
obsolete

[2016-06-30 18:29] #377 closed

[2016-06-30 18:30] gdi2290 commented on #330
obsolete with new router but may still be a problem with NodePlatformLocation

[2016-06-30 18:30] #330 closed

[2016-06-30 18:32] gdi2290 commented on #303
done with preboot 4 presumably

[2016-06-30 18:32] #303 closed

[2016-06-30 18:34] gdi2290 commented on #260
obsolete, waiting for cli

[2016-06-30 18:34] #260 closed

[2016-06-30 18:36] gdi2290 commented on #343
closing as no one is fixing their source maps

[2016-06-30 18:36] #343 closed

[2016-06-30 18:39] gdi2290 commented on #431
closing as I removed the force render on the server since we are still waiting for setTimeout and can't guarantee correct cancellation of all async calls.

[2016-06-30 18:39] #431 closed

[2016-06-30 18:47] vinodbhargava commented on #457
Hi Patrick @gdi2290 did you get a chance to look at this?

[2016-06-30 19:17] gdi2290 commented on #457
not yet but we did turn animations off for the server which would explain why it's not working. we probably should create a phantomjs dom renderer so your screenshots would work correctly

[2016-07-01 05:43] vinodbhargava commented on #457
Thanks @gdi2290. Do you have reference/code snippet for phantomjs dom renderer to which i can refer too.

[2016-07-01 09:55] ClickSimply opened #459 "universal.angular.io does not appear on iOS devices"
When I go to universal.angular.io on my iPhone and iPad the screen is completely white, nothing shows up.

I have an iPhone SE with iOS 9.3.2 and an iPad 2 with iOS 9.3.1.

I hooked up the phone to my MacBook and opened the inspector in Safari (This is inspecting the mobile safari page through the USB cable). The issue seems to be the container element just under the body of class ".mdl-layout", i

[2016-07-01 10:10] vinodbhargava commented on #457
@gdi2290 also, are the animations turned off purposely? Is there a way we can turn them on in universal?

[2016-07-01 13:35] manekinekko commented on #371
this seems to be related to angular core?! as you can see from my plunker (rc1) which doesnt use universal at all: http://plnkr.co/edit/cbXWpHtnbGHJQ0uCEPvC?p=preview

[2016-07-01 17:02] gdi2290 commented on #441
the repo has been updated to rc.2 and rc.3

[2016-07-01 17:02] #441 closed

[2016-07-01 17:04] gdi2290 commented on #440
this should be fixed with the latest release that supports rc.2 and rc.3

[2016-07-01 17:04] #440 closed

[2016-07-01 17:05] #445 closed

[2016-07-01 17:09] gdi2290 commented on #407
I updated the issue to reflects changes for preboot 4.0 that is inline by default

[2016-07-01 19:05] gdi2290 opened #460 "update to rc.4"

[2016-07-02 16:42] gdi2290 opened #463 "simplify build/modules/repo/dev/testing"
Rather than having each module independent provide a publishing step that keeps package.json in a separate folder location for distribution. Doing so would simplify the examples and build system by using typescript paths and webpack alias. This would also make it a lot easier for contributors to jump into the repo

[2016-07-02 17:07] gdi2290 commented on #428
this will be fixed via https://github.com/angular/universal/issues/463 you can track that issue. I'll be closing this one

[2016-07-02 17:07] #428 closed

[2016-07-02 17:08] gdi2290 commented on #371
can you try again with version `0.104.4` also the universal-starter has been updated with that version

[2016-07-02 17:11] gdi2290 commented on #304
I can't reproduce this error anymore. I updated the repo to set it back to true as `0.104.4` see commit https://github.com/angular/universal/commit/1a0f1f39518b72fd13bade51e39bc5c82320a2dc

[2016-07-02 17:11] #304 closed

[2016-07-02 17:12] gdi2290 commented on #184
the new ui router should work so long as zone.js is able to catch it as that's how we're handling all of the other routers

[2016-07-02 17:12] #184 closed

[2016-07-02 18:35] joaogarin commented on #371
Will give a shot at it as soon as possible.probably in the next days and will give some feedback here!

[2016-07-02 22:15] gdi2290 commented on #371
thanks

[2016-07-02 22:20] MarkPieszak commented on #304
I believe encodeHtmlEntities is gone with parse 2.* as well

[2016-07-02 23:17] gdi2290 commented on #304
@MarkPieszak we can switch to Parse 2.0 now

[2016-07-04 08:13] gjuchault commented on #460
Might be related to RC4 update with Universal, I have an error thrown `Uncaught Invalid provider - only instances of Provider and Type are allowed`.

When `console.log`ing in `@angular/core/src/di/reflective_provider.js` (function `_normalizeProviders`, inside the `forEach`); I had one undefined provider. I don't really know if this is relevant or not, but this is while doing the update to RC-4 an

[2016-07-04 12:08] manekinekko commented on #371
`0.104.4` seems to work.

[2016-07-04 12:28] joaogarin commented on #371
Yep. Fixed in 104.4! cool =)

[2016-07-04 13:58] GreenToast commented on #460
Do have exactly the same issue happened after migration from rc3 to rc4 and is only happening at server-side providers.

[2016-07-04 14:16] ericjim commented on #459
I'll look into it, `.mdl-layout` behaves differently across browsers. We were bumping into the same issues with the other angular microsites.

[2016-07-04 18:47] gdi2290 commented on #460
I didn't add rc.4 support yet but I will tonight

[2016-07-04 18:48] #371 closed

[2016-07-05 05:59] hdngr commented on #444
Hey there - I'm working on this.

Updated all of the names to use the scoped convention, but now I am having problems with the different packages because npm isn't finding the peer depdencies registered (I am using npm 3.10).

I am guessing there is a simple solution :-)

[2016-07-06 23:55] goldibex commented on #460
Same issue here.

[2016-07-07 14:43] maissani opened #467 "feat(universal/express): BUG - BuildClientScript generating wrong path ( Also named TrailsJS Isomorphic Example With Angular2)"
**Note: for support questions, please use one of these channels:** https://github.com/angular/universal/blob/master/CONTRIBUTING.md#question. This repository's issues are reserved for feature requests and bug reports.

* **I'm submitting a ...**
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support request here, see note at the top of this template.

* **What

[2016-07-07 14:53] jaumard commented on #467
I reproduce same behaviour with the repo examples  https://github.com/angular/universal/tree/master/examples and `npm i && npm start`

[2016-07-07 16:40] scott-wyatt commented on #467
I can also reproduce this
<https://github.com/angular/universal/tree/master/examples> and `npm i && npm start`

[2016-07-07 18:38] gdi2290 commented on #467
don't use BuildClientScript it's going to be removed

[2016-07-07 18:38] manekinekko commented on #467
@jaumard @scott-wyatt could you guys try again the example repo?

[2016-07-07 18:39] gdi2290 commented on #460
done via https://github.com/angular/universal/pull/468 as `0.104.5`

[2016-07-07 18:39] #460 closed

[2016-07-07 18:42] gdi2290 commented on #467
I updated express-engine to `0.15.1` that fixes this but BuildClientScript will be removed so don't use it

[2016-07-07 18:49] jaumard commented on #467
`npm i` fail to find module `@angular/router` when install it ask the same for `common`....

[2016-07-07 18:51] jaumard commented on #467
[code]

[2016-07-07 18:59] jaumard commented on #467
Ok after fixing all dependencies problem examples are working great ! Thanks !

Step I do to make it work :
[code]

[2016-07-07 21:19] jaumard commented on #467
@gdi2290 examples still using `buildClientScripts` what should we use instead ?

[2016-07-08 04:48] scott-wyatt commented on #467
This is super now.  Also wondering the same thing that @jaumard mentioned,  the alt to `buildClientScripts`

[2016-07-08 04:55] gdi2290 commented on #467
you would manually include the scripts in index.html or generate them yourself the same way. the script generation was not meant to be used outside of the repo

[2016-07-08 08:17] maissani commented on #467
@gdi2290 I ll update my repo and move it to FriendsOfTrails, I ll grant you access the repo if you wanted at anytime made some changes.
I ll remove buildClientScripts mention, and use something like grunt, gulp or webpack to build them every time we start the server.
Your help was welcome.

I made some test and then ask you to close it.
It should be cool to have with angular-cli a command that rev

[2016-07-09 00:41] bibbitybarb1983 opened #469 "Skeleton Key"
**Note: for support questions, please use one of these channels:** https://github.com/angular/universal/blob/master/CONTRIBUTING.md#question. This repository's issues are reserved for feature requests and bug reports.

* **I'm submitting a ...**
- [ ] bug report
- [ ] feature request
- [ ] support request => Please do not submit support request here, see note at the top of this template.

* **What

[2016-07-09 07:19] jaumard commented on #467
@gdi2290 even when I remove the `buildClientScripts: true` I have this message `DEPRECATION WARNING: `buildClientScripts` is no longer supported and will be removed in next release.`
Is this normal ?

[2016-07-09 14:27] andrewparadi opened #470 ""Cannot read property 'makeCurrent' of undefined" on ng serve clean CLI install"
**Note: for support questions, please use one of these channels:** https://github.com/angular/universal/blob/master/CONTRIBUTING.md#question. This repository's issues are reserved for feature requests and bug reports.

* **I'm submitting a ...**
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support request here, see note at the top of this template.

* **What

[2016-07-09 16:33] gdi2290 commented on #467
@jaumard that is fixed if you remove universal and install it again

[2016-07-09 16:33] #467 closed

[2016-07-09 23:12] MarkPieszak commented on #469
What is the issue? Don't see any details

[2016-07-12 01:08] gdi2290 commented on #470
can you install
[code]

[2016-07-12 03:09] andrewparadi commented on #470
I get these errors when I add those to the package.json and do `npm install`

[code]

[2016-07-12 15:41] MarkPieszak opened #472 "(feature) Implement automatic CHANGELOG"
* **I'm submitting a ...**
- [X] feature request

* **What is the motivation / use case for changing the behavior?**
This would help new & current users to see everything being changed in each revision of Universal / etc.

I can look into doing whatever the Core repo is doing to achieve this.

[2016-07-12 17:57] MarkPieszak commented on #472
Already setup with PR https://github.com/angular/universal/commit/4319b2a0425e1bdff1c80f614a50943bc712dd6c

[2016-07-12 17:57] #472 closed

[2016-07-12 18:24] gdi2290 commented on #469
please reopen or create a new issue with more details

[2016-07-12 18:24] #469 closed

[2016-07-12 19:09] jaumard opened #473 "No more examples ?"
Previously a `/examples` was present and very helpful to start with universal but it look like it's gone now :( did they move elsewhere ?

[2016-07-12 20:40] jeffbcross opened #474 "chore: copy license to published packages"
The `LICENSE` from the root of the project should be copied to each package before it gets published to npm.

[2016-07-12 21:20] andresdavid90 commented on #470
I'm getting the same error from a clean install.

`TypeError: Cannot read property 'makeCurrent' of undefined`

I just did [this](http://stackoverflow.com/questions/38195887/cannot-read-property-makecurrent-of-undefined-in-angular-mobile/3) and now it's working.

[2016-07-12 23:22] andrewparadi commented on #470
Tried that and still no dice but I have a new error...

[code]

[2016-07-12 23:42] andrewparadi commented on #470
So I can get past that by using sudo or changing the permissions on that config file but it now dies partway into ng serve

[code]

[2016-07-12 23:56] MarkPieszak commented on #470
What version of the CLI are you using? There are some general issues that need to be fixed up with CLI & Universal at the moment. @andrewparadi I (believe) using an older version, I forget which solves them at least for now.

[2016-07-12 23:56] andresdavid90 commented on #470
@andrewparadi Try `npm cache clean` and then `npm install`

[2016-07-13 00:46] filipesilva commented on #470
@andrewparadi it's likely enough that the next CLI beta has changed the build process to use webpack, and with that also changed the way mobile apps are built. So in that sense the next beta release should fix all these issues I think.

[2016-07-13 00:51] andrewparadi commented on #470
@andresdavid90 thanks, unfortunately didn't help.
@MarkPieszak
[code]

@filipesilva hopefully! this has been a really rough start to the supposedly simple angular-cli. then again it's still alpha so I was expecting some of this.

[2016-07-13 01:23] andresdavid90 commented on #470
@filipesilva Great to know that! Hope to see that update soon. ✌🏻

[2016-07-13 04:30] #474 closed

[2016-07-13 08:08] Tragetaschen opened #476 "How is Universal going to handle UTF-8 with a BOM?"
**Note: for support questions, please use one of these channels:** https://github.com/angular/universal/blob/master/CONTRIBUTING.md#question. This repository's issues are reserved for feature requests and bug reports.

* **I'm submitting a ...**
- [x ] bug report
- [ ] feature request
- [ ] support request => Please do not submit support request here, see note at the top of this template.

* **Wha

[2016-07-13 18:26] gdi2290 opened #477 "update to TypeScript 2.0-beta"
we should use the beta release rather than the nightly

[2016-07-13 18:28] gdi2290 commented on #463
done()

[2016-07-13 18:28] #463 closed

[2016-07-13 18:28] MarkPieszak opened #478 "Remove typings - use TS2 @types"
closes #477

[2016-07-14 11:41] jaumard opened #481 "Server rendering work once with new router"
* **I'm submitting a ...**
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support request here, see note at the top of this template.

* **What is the current behavior?**
Only hard coded component (header, footer) are rendered each time but router page is rendered only once.

* **If the current behavior is a bug, please provide the steps to reproduce and if po

[2016-07-14 11:49] jaumard opened #482 "Preboot buffer doesn't start angular2 app after rendering"
* **I'm submitting a ...**
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support request here, see note at the top of this template.

* **What is the current behavior?**
When we load a page, server rendering render the page correctly (the first time only because of this bu https://github.com/angular/universal/issues/481) But once rendering is done angular 2 a

[2016-07-14 20:27] jeffwhelpley commented on #482
Moving this issue to the new preboot repo. I will fix it over there.

https://github.com/angular/preboot/issues/2

[2016-07-14 20:27] #482 closed

[2016-07-14 20:34] jaumard commented on #482
Thanks @jeffwhelpley and sorry I didn't notice preboot was on it's own repo now :)

[2016-07-14 20:38] jeffwhelpley commented on #476
@gdi2290 is this just a matter of modifying the universal http?

[2016-07-14 20:52] jeffwhelpley commented on #458
Closing as this is being transferred to https://github.com/angular/preboot/issues/4

[2016-07-14 20:52] #458 closed

[2016-07-14 21:22] gdi2290 commented on #481
what's the url you're using for curl?

[2016-07-14 23:31] jaumard commented on #481
@gdi2290 juste `http://localhost:3000` :) or I just click `see source page` on chrome and then refresh and I see it was not rendered anymore after the first time.

[2016-07-15 09:38] gjuchault opened #483 "Rendering Document Error: TypeError: undefined is not a function or str.replace is not a function"
**Note: for support questions, please use one of these channels:** https://github.com/angular/universal/blob/master/CONTRIBUTING.md#question. This repository's issues are reserved for feature requests and bug reports.
- **I'm submitting a ...**
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support request here, see note at the top of this template.
- **What m

[2016-07-16 17:24] owenhaynes commented on #391
This will nice to have. Nodejs just does not fit into our current environment set up.

[2016-07-16 18:13] gdi2290 commented on #483
@gjuchault  can you change `[disabled]` to `[attr.disabled]`

[2016-07-16 18:20] gjuchault commented on #483
@gdi2290 Is this still considered as a bug ? Or should we move every attribute to `attr.` ?

[2016-07-16 21:06] thomasjosephgreco commented on #394
@manekinekko @jeffwhelpley it seems the quickstart on universal.angular.io is using the `ambient` flag however I think that has been depreciated for `global`. You can check out what I am talking about [here](https://universal.angular.io/quickstart/).

[2016-07-16 22:06] manekinekko commented on #394
thanks @thomasjosephgreco we'll update the doc.

[2016-07-17 10:22] dottodot commented on #382
@jeffwhelpley do you know of any examples of creating a "shell" on the server and then replacing when the client is loaded. I have a similar issue where I want to use masonry of the layout but struggling to get my head round it. Or even how to do things on the client only with 3rd party scripts so you don't get issues like `masonry is not defined`

[2016-07-17 16:03] gjuchault commented on #483
It works; but is it still a bug ?

[2016-07-17 17:42] gdi2290 commented on #483
it's a bug in our propToAttr abstraction that was meant to convert these elements to attributes and our service that converts our fake-json-html-elements on the server to a string (our serializer).

When rendering on the server we're converting an element to the string representation of that so for example. `<input id="myInput" value="hi'>` if I run `window.myInput.view` I'll get `"hi"` because th

[2016-07-18 06:02] b091 commented on #432
nice to have? So right now angular universal is only for angular using webpack?

[2016-07-18 23:52] #478 closed

[2016-07-18 23:53] MarkPieszak commented on #477
Done with #479

[2016-07-18 23:53] #477 closed

[2016-07-19 11:35] gjuchault opened #487 "Create Title provider"
**Note: for support questions, please use one of these channels:** https://github.com/angular/universal/blob/master/CONTRIBUTING.md#question. This repository's issues are reserved for feature requests and bug reports.

* **I'm submitting a ...**
- [ ] bug report
- [x] feature request
- [ ] support request => Please do not submit support request here, see note at the top of this template.

* **What

[2016-07-19 11:36] gjuchault commented on #487
Already in https://github.com/angular/universal/issues/309

[2016-07-19 11:36] #487 closed

[2016-07-19 11:51] beckmeindia opened #488 "Installation for angular-cli project"
Hey,
     I am using angular-cli project with Firebase. Presently the router takes time to initialize and angular universal is a great way to avoid that.

I tried searching through all docs available online for installing universal in an angular-cli project but could not find any.

Could you please help?

Cheers,
Rahul

[2016-07-19 13:53] MarkPieszak commented on #488
Are you trying to figure out how to set it up initially? That'd be `ng new MyProjectName --mobile` (but I think that may not be working 100% currently).

Take a look at the [Node Universal Starter here](url), to see what the setup needs. You can see ([here](https://github.com/angular/universal-starter/tree/master/src)) the separation of browser & server, and how the server renders the pages and pa

[2016-07-19 14:04] beckmeindia commented on #488
Hey Mark,
             Thanks a lot for the reply. I will make the changes required in the src folder in my angular-cli project looking at the link.
I was wondering if there are any other changes that I would need to make in System.config or tsconfig.json files or anywhere else for the server to run.

Thanks,
Rahul

[2016-07-19 14:32] MarkPieszak commented on #488
The Starter here is based off of webpack. The CLI project is also moving towards webpack (https://github.com/angular/angular-cli/tree/webpack) So very soon you might be able to just re-make your app with that, it'll be even easier for you. Just give it a little time :)

[2016-07-19 14:54] jamesbirrellgray commented on #54
@gdi2290 Is there a pull request or repo for this work you started? I work on a gov.uk project and we would like to contribute.

[2016-07-20 00:02] zakhenry opened #489 "Create a common abstract Store for future management of state transfer between client/server"
## Background

There is a need to be able to have a common `@Injectable` class for storing persistent data between "sessions" and handling the state transfer with universal of server to client when after the client has bootstrapped angular.

For now, a common interface needs to be agreed apon, and implementations created for in-memory and localstorage. Future implementations could include redis, e

[2016-07-20 00:08] zakhenry commented on #489
cc @gdi2290 @jeffwhelpley @FrozenPandaz

[2016-07-20 00:17] felipedrumond commented on #476
Tragetaschen, I'm facing this issue as well. Did you find a solution or workaround for the issue?

[2016-07-20 12:45] Tragetaschen commented on #476
I was able to just save my static assets without the BOM and didn't  need  to look any further.

[2016-07-20 13:23] felipedrumond commented on #476
Hi guys. In my case the issue was caused by a dependence not imported on server. I'm using lodash to merge data (json to their class models) but, on server lodash was not explicitly imported (import * as _ from 'lodash';) in every component I want to use it.

[2016-07-20 13:41] visikov commented on #473
@jaumard You can check out the [starter seed](https://github.com/angular/universal-starter). It's pretty function out of the box.

[2016-07-20 13:45] jaumard commented on #473
Thanks @visikov I already check it but it used webpack and I don't (and don't want because I don't like it) :) and my problem are now mainly configuration so the I use the starter when I can but when it touch the system.config.js or other stuff done by webpack I'm in the dark ^^

[2016-07-20 13:54] beckmeindia commented on #488
Sounds Great. Thanks!

[2016-07-20 13:54] #488 closed

[2016-07-20 14:29] MauroJr commented on #470
I managed to solve this problem updating the version of "angular2-broccoli-prerender" and "angular2-universal", make sure you are using the version of angular-cli 1.0.0-beta.9 and type the following and will work:

[code]

or simply change the versions on package.json and run npm install...
[code]

[2016-07-20 15:26] MarkPieszak commented on #473
I'm building up some examples now, apologies on the delay. I'll get a system one together for you. Webpack is better though, switch to the dark side :)  (I believe the CLI is switching to webpack as well)

[2016-07-20 16:18] jaumard commented on #473
no problem at all @MarkPieszak  :)
Webpack is far too complicated... I'm fine with gulp ^^ also I didn't like TS at all too lol but I don't have choice because angular 2 in JS has no community (and was in ES5) so for now I have my angular2 in TS and my server part in ES6 but mixing the 2 for making server rendering happy is a real challenge :)
Hope in near futur angular2 will have an ES6/7 version

[2016-07-20 16:21] MarkPieszak commented on #473
If you don't like TS very much I'd say just keep going at it, you'll realize you've been missing out! It's much much better than using regular ES6 with babel or anything. All of the tooling and intellisense is priceless.

[2016-07-20 17:59] visikov commented on #473
Gonna have to agree with @MarkPieszak on this one. TS is an absolutely tremendous tool for the dev. When used right, it keeps everything in check and really minimizes runtime errors.

As for webpack, I find it to be much less complex than gulp. If all you're afraid of is the learning curve then you have nothing to worry about. We have a junior dev on our team who picked it up within a couple days.

[2016-07-20 18:39] jaumard commented on #473
Thanks guys :) I suppose at some time I'll have to learn webpack ^^ but for now I have no time for this. Time will tell if I'll change my mind about TS :)

[2016-07-20 21:11] jaumard commented on #473
@MarkPieszak in your example do you plan to have a service with different client/server implementation ?? Because this will be really helpful to me right now lol (for handled websockets) :)

[2016-07-22 03:46] orange4glace opened #490 "universal has too many restrictions"
**Note: for support questions, please use one of these channels:** https://github.com/angular/universal/blob/master/CONTRIBUTING.md#question. This repository's issues are reserved for feature requests and bug reports.

* **I'm submitting a ...**
- [ ] bug report
- [ x ] feature request
- [ ] support request => Please do not submit support request here, see note at the top of this template.

* **Wh

[2016-07-22 11:46] mickael-kerjean opened #491 "animations makes universal crash"
**Note: for support questions, please use one of these channels:** https://github.com/angular/universal/blob/master/CONTRIBUTING.md#question. This repository's issues are reserved for feature requests and bug reports.

* **I'm submitting a ...**
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support request here, see note at the top of this template.

* **What

[2016-07-22 22:27] andrewparadi commented on #470
Thanks!! It works 😄

[2016-07-23 14:13] thomasmeadows commented on #54
I thought this was supposed to be one of the reasons for server side rendering in a2.  Many government entities need this and some companies are strict and allow very little or no XMLHTTP request.

[2016-07-23 14:48] MarkPieszak commented on #54
There is a large revamp / restructuring of Universal going on, but this is definitely a tough but important thing to have working (as you said for government etc agencies). We might have to wait for the restructuring before continuing on with this, but I'll try to help as well to get this going. @scarlz @jamesbirrellgray @thomasmeadows

[2016-07-23 14:49] MarkPieszak commented on #491
Is this something we're missing or a Core issue? @gdi2290

[2016-07-23 15:05] MarkPieszak commented on #490
The larger problem is that as you know jQuery manipulates the DOM, also window and document don't exist on the server-side. It's something we would surely love Universal to at least be able to ignore (since / if it can't handle it) but it's a big problem in all server side rendering solutions still. So it's definitely not an easy task unfortunately.

Just wondering, why are you using jQuery at the

[2016-07-23 18:34] Vayrex opened #492 "Cannot read property 'unsubscribe' of undefined"
**Note: for support questions, please use one of these channels:** https://github.com/angular/universal/blob/master/CONTRIBUTING.md#question. This repository's issues are reserved for feature requests and bug reports.

* **I'm submitting a ...**
- [v ] bug report
- [ ] feature request
- [ ] support request => Please do not submit support request here, see note at the top of this template.

* **Wha

[2016-07-24 00:06] gdi2290 commented on #490
In the future I can probably provide a better experience for this at a cost of performance by creating a proxy for these globals. I understand that jQuery is used by 30% of devs so it's important to provide something that works. I have a few ideas but it needs design and a prototype. We can probably provide a solution faster using jsdom rather than parse5 at a huge cost of performance but devs can

[2016-07-24 20:17] manifestarium commented on #490
(I'm a total noob so this is by no means to be taken as a viable clue on how to move forward)

I haven't quite figured out how universal renders components server-side (at least in .net core) so I'm not sure it is possible, but is there a way to like... build a string on the server-side containing any javascript you want executed on the client, and pass it to the client through a component attribu

[2016-07-25 00:35] mickael-kerjean commented on #491
I investidate a bit and here it is:
The error is happenning [here](https://github.com/angular/angular/blob/master/modules/%40angular/platform-browser/src/dom/dom_renderer.ts#L238) because the animationDriver attribute is undefined.
I checked if the depedency injection is doing it job [here](https://github.com/angular/angular/blob/master/modules/%40angular/platform-browser/src/dom/dom_renderer.ts#L

[2016-07-25 00:56] mickael-kerjean commented on #491
Ok I got something,
[here](https://github.com/angular/universal/blob/08f6f0f564f6e6fb9fea2b039561ab97465b7bd8/modules/universal/src/node/platform/node.ts#L124), i wasn't able to understand why we need to use useFactory instead of useClass.

It might be a missunderstanding from my part but [here I see a simple class](https://github.com/angular/angular/blob/2.0.0-rc.4/modules/%40angular/core/src/ani

[2016-07-25 01:37] MarkPieszak commented on #491
That must be something changed in one of the latest rc updates to Core. Nice find Mickael! Put in a PR for it and we can close out this issue. :+1:

[2016-07-25 06:55] IamKritika opened #493 "Unable to use jquery-ui"
* **I'm submitting a ...**
- [ ] bug report

I was trying to integrate jquery-ui datepicker widget in my project. So jquery-ui requires 'jQuery' as a global variable which I have exposed through webpack provide plugin but the code is breaking on server side.

It says it is unable to find 'jQuery' variable.

the code is as follows -

webpack.config.js

`  new webpack.ProvidePlugin({
      jQuery: '

[2016-07-25 07:26] gdi2290 commented on #491
@mickael-kerjean can you make a PR

[2016-07-25 11:16] gjuchault commented on #272
@gdi2290 Would this storage be shared with the client (same keys/values) ? Or would it be just a "polyfill" ?

[2016-07-25 13:25] MarkPieszak commented on #493
Same issue as #382 #490. jQuery on the server-side.

Can you follow issue #490 to see the progress on this one?

As alternatives, I would suggest using bootstrap for angular2 (it has a datepicker, and everything else)
https://valor-software.com/ng2-bootstrap/#/datepicker

Also (it's not there yet), but eventually Material2 for ng2 will have a datepicker as well (progress here: https://github.com/a

[2016-07-25 13:25] #493 closed

[2016-07-25 17:49] msegers commented on #470
Heya, I'm trying to mess around with universal and would like to take CLI with it as well. Am I missing some steps you mention here (Can't find any quick tutorials or quick start guides).

Is there any quickstart guide with both universal and cli or should I just mess around with the demo app?

[2016-07-25 19:25] MarkPieszak commented on #470
The CLI is actually moving to Webpack very shortly as well, so that'll make adding the necessary Universal (server-side) additions even easier for you (The Universal-Starter repo has the basic setup for Express). @msegers

[2016-07-26 01:34] mickael-kerjean commented on #491
Problem solved

[2016-07-26 01:34] #491 closed

[2016-07-26 06:14] lemind commented on #436
Well, if we could set param witch turn off compile styleSheets in Angular this would be right solution for this issue. Can we do it now?

[2016-07-26 09:42] dottodot commented on #473
A service example for server/client would be a a great help, in particular how to add a client only service for things such as 3rd party plugins that require access to window or document.

[2016-07-26 09:51] jaumard commented on #473
@dottodot it's quite easy when you have something to look :) I manage to do it quite easily with this video https://youtu.be/TCj_oC3m6_U?t=621 but example on this will be great ^^

[2016-07-26 11:14] dottodot commented on #473
@jaumard that's actually the example I've been trying to use as a base but can only get the server side to work.

[2016-07-26 16:10] jamesbirrellgray commented on #54
@MarkPieszak thank you, let me know if we can help in anyway :-)

[2016-07-27 13:38] SteveSandersonMS opened #495 "NodePlatformLocation interacts strangely with BASE_URL, causing surprising behaviour if you have a non-root base URL"
* **I'm submitting a ...**
- [x] bug report

* **What modules are related to this pull-request**
- [x] universal

* **What is the current behavior?**

If you have a non-root base URL (e.g., the `BASE_URL` token has the value `/MyApp/`), then `NodePlatformLocation` automatically adds it as a prefix to any `REQUEST_URL` passed into it. Therefore, unless the developer does further work to *remove* th

[2016-07-28 19:08] visikov opened #496 "setElementProperty can't accept `null`"
**Note: for support questions, please use one of these channels:** https://github.com/angular/universal/blob/master/CONTRIBUTING.md#question. This repository's issues are reserved for feature requests and bug reports.

* **I'm submitting a ...**
- [x] bug report

* **What modules are related to this pull-request**
- [x] universal

* **Do you want to request a *feature* or report a *bug*?**
bug

*

[2016-07-28 19:26] MarkPieszak commented on #496
What property of what element are you trying to set to Null?

https://github.com/angular/universal/blob/4319b2a0425e1bdff1c80f614a50943bc712dd6c/modules/universal/src/node/platform/dom/node_dom_renderer.ts#L224

There's a lot of scenarios, we can add it just me know what it is.

[2016-07-28 19:46] visikov commented on #496
@MarkPieszak I believe it's innerHTML. I believe it happens when the prop value hasn't loaded yet from an observable, haven't had a chance to test it out yet, have to run to the airport in 15 minutes.

[2016-07-28 20:29] Larisho commented on #280
What is the current status of this? I am very interested in using Universal with java

[2016-07-29 10:22] Zeetah commented on #483
@gdi2290 Is there any fix coming to this?

We have a similar issue with "numbers" inside string where we have for example element like this:
```<cms-authentication [contentId]="123456"></cms-authentication>```

It gives us stacktrace:

[code]

[2016-07-29 13:27] MarkPieszak commented on #433
Forgot about this one, the build will work now since it has been totally revamped.

    npm install
    gulp // creates all the dist folders for each module

Should be all set now.

[2016-07-29 13:27] #433 closed

[2016-07-29 13:29] MarkPieszak commented on #483
Does it also work if you do attr.contentId ? @Zeetah
I have some time today I can look into it, I didn't realize it was happening with completely custom input attributes in components / etc.

[2016-07-29 15:31] visikov commented on #496
@MarkPieszak I was able to get the issue fixed on my end by restructuring some of the data and making use of the question mark notation in the template `model.name` vs `model?.name`. This fixed the issue for me, however it'd probably be a good idea to test for null prop values and fail gracefully instead of crash and burning.

Feel free to close this issue if you want.

[2016-07-29 15:58] MarkPieszak commented on #496
The error being thrown was it

This might be related to #483 somewhat. I'm going to dive into the NodeRenderer today & this weekend to try and see what's missing there for these certain scenarios.

[2016-07-29 19:00] visikov commented on #496
There was a str.replace is not a function error being thrown yes. But there was one right before that coming from parse5:

`TypeError: Cannot read property 'length' of null
    at Preprocessor.write (/home/vitaliy/projects/inrhythm/cnd/app/node_modules/@angular/platform-server/node_modules/parse5/lib/tokenization/preprocessor.js:50:33)
    at new module.exports (/home/vitaliy/projects/inrhythm/cnd

[2016-07-29 19:34] MarkPieszak commented on #496
Yeah that means there are no Components it's getting (but that's most likely because it's because due to this property error). I'll figure it out and try and get a patch in there soon!

[2016-07-30 16:39] MarkPieszak opened #499 "typeof Number in Props breaking in NodeDomRenderer on Number passed into non-aliased Name of @Input()"
Splitting up a bug mentioned in a comment elsewhere.

Having your own `@Input('content') contentId` pass a type Number (ie: `someNumber = 12345`) breaks
`[something]="someNumber"`.

#### If referenced incorrectly in the template as [contentId] instead of by it's `alias` `[content]`, the error appears, but it's difficult to tell if it's a Core issue or not.

-----

* **What is the current behavior?

[2016-07-30 17:12] MarkPieszak commented on #499
@Zeetah It turns out it can handle numbers fine, but you have to reference the @Input correctly by it's name.

Are you doing some sort of `alias` for your @Input? If so you need to reference that different name there in your attributes.

For example:

     @Input('content') contentId : number;

Needs to be in the template as:

       <cms [content]="12345" />

When doing the non-alias'd name i was

[2016-07-31 23:36] FrozenPandaz commented on #489
Here is a draft implementation.

Universal Version
[code]

Node Version:
[code]

[2016-08-01 02:21] MarkPieszak commented on #489
I like it, so is the general idea to be able to not hit the server again but re-use the data the server side already retrieved?

Or, is this more of a platform specific Store only? There's an abstract Class in Common as well at the moment.

[2016-08-01 02:30] FrozenPandaz commented on #489
Yeah at least very least, it would be to optimize and to take a lot of the load off of your stack by not having to hit the API twice per hit of the Universal Server.. and also to provide some things that the server has which the browser just doesn't have access to.

[2016-08-01 20:34] MarkPieszak commented on #492
@Vayrex This is actually being caused by preboot's `buffer: true`.

You can track this issue in the preboot repo here: https://github.com/angular/preboot/issues/4

[2016-08-01 20:34] #492 closed

[2016-08-01 23:47] MarkPieszak commented on #496
#500 Should fix this one for you @visikov

[2016-08-01 23:47] #496 closed

[2016-08-02 09:42] sudhakarphule1 opened #502 "Data is not getting rendered properly on UI after applying ngApp().then(prebootComplete) in client.ts"
We have used this seed project for our website development.
due to "prebootComplete" in client.ts, it is showing data and after some time it will remove the css of it and data is getting hide.
after commenting the "ngApp().then(prebootComplete);" it will work fine but this will not generate any click event , keyup event in DOM object.

[2016-08-02 10:26] MarkPieszak commented on #502
What does your server.ts look like, is it all base settings for preboot / etc?
I'm not sure why things would get hidden after prebootComplete.

[2016-08-02 11:08] sudhakarphule1 commented on #502
Thanks Mark for your quick response .. I am using the seed project from https://github.com/angular/universal-starter

This issue comes only for rendering on Chrome..for Edge and FireFox it works fine

Here is my server.ts
// the polyfills must be the first thing imported in node.js
import 'angular2-universal/polyfills';

import * as path from 'path';
import * as express from 'express';
import * as

[2016-08-02 11:38] MarkPieszak commented on #502
I don't see anything unusual, so is there data from som of those APIs being delivered with the server-render but then it's wiped out after preboot?
@jeffwhelpley maybe this is something you know about?

[2016-08-02 11:51] sudhakarphule1 commented on #502
Yes..but data is there if we do view source/inspect element but it's not shown on UI. And when we change some CSS attribute during inspect element it start showing data...if I remove ngApp.ten(preboot) from client.ts then also it's able to render the data but that lead into other issue

[2016-08-02 20:24] paullryan opened #503 "feat: koa 2 engine"
**Note: for support questions, please use one of these channels:** https://github.com/angular/universal/blob/master/CONTRIBUTING.md#question. This repository's issues are reserved for feature requests and bug reports.
- **I'm submitting a ...**
- [ ] bug report
- [x] feature request
- [ ] support request => Please do not submit support request here, see note at the top of this template.
- **What m

[2016-08-03 00:37] mhazy commented on #502
This sounds like it might be related to change detection and the new router. Change detection wasn't being triggered when components were created for the router outlet. We've been working around it by triggering a tick after the route is changed.

https://github.com/angular/angular/issues/9818

[code]

[2016-08-03 01:34] lightningtgc commented on #503
I think you can implement koa engine by using `Babel`, since` typescript 2.0` doesn't support ES5/ES3 async/await and generators (just compile to ES6).

**But it is not a good way.**

`Typescript 2.1` will support it, and we may waiting for it announce.

[2016-08-03 01:54] paullryan commented on #503
True that it compiles to es6, however generators from es6 are now well supported in node.js (v4+) which is what angular universal is targeting. As long as we implement this engine in a way that can be removed (maybe another module) it shouldn't be a big issue. The main reason I'm asking for help here is that the differences between the prerenders and the engines are a little complicated. I will ha

[2016-08-03 01:54] paullryan commented on #503
Oh and If I get something working I'm happy to PR it.

[2016-08-03 02:15] lightningtgc commented on #503
@paullryan
Node V4 just support 52% ES6, if you choose typescript compile to ES6, you may care about it.
 Koa engine is  more like express engine which has implemented, so it's not too hard.
Actually, my project is base on koa 2,so I find these infomation.
Anyway, waiting for your pr.

[2016-08-03 19:32] zakhenry commented on #489
@FrozenPandaz hmm on looking at your impl I realise that the strong typing with generics isn't going to help much if the stored items are of unlike types, which is actually probably the most common case.

On your implementation, it's probably cleaner to have the local store of `data` and `subjects` as a `Map` instance rather than an `Object`.

One thought is that a stored object *must* be serializ

[2016-08-04 09:50] teemuandersen commented on #483
@MarkPieszak, @Zeetah:
This HTML comes from our CMS system and it's not something that we can change for a brief testing. I did some tests by mutating the provided HTML. Mapping [contentId]="12345" => [attr.contentId]="12345" broke the whole application for some reason and I didn't have time to figure out why. Mapping [contentId]="12345" to [contentId]="'12345'" does help.

[2016-08-04 14:24] MarkPieszak commented on #483
Very interesting, I tried reproducing it by making even similarly named Component, but couldn't reproduce it. Do you have some code somewhere I can look at so I can test with it? @teemuandersen

[2016-08-04 16:26] visikov opened #505 "bug(): Passing in properyValue as whole object into super.setElementAttribute causes parse5 to error out with str.replace is not a function."
* **I'm submitting a ...**
- [x] bug report

* **What modules are related to this pull-request**
- [x] universal

* **What is the current behavior?**

In the parent component:
`private article = { title: 'foo', author: 'bar' };`

Template:
`<article-component [articleData]='article'></article-component>`

This passes in the complete object into super.setElementAttribute in the setElementProperty m

[2016-08-04 19:42] gdi2290 opened #507 "prerender against other environments during build-time"
There is no reason why we should limit the only environment for pre-rendering to node.js. We can sign up a browser instance and bootstrap our app and wait for the app to become stable before converting it to a string
- chrome
- firefox
- safari
- edge?
- iframe

this will allow browser only services to work correctly during prerendering which is at build-time

[2016-08-05 07:34] teemuandersen commented on #483
@MarkPieszak: Unfortunately this is a private repo. But I've tested this some more. It seems to be related to dynamic (experimental) functionality. We use the `ComponentResolver` to create new `Components` at runtime with CMS provided HTML as a template. These dynamic `Components` then trigger our `Components` to render the dynamic content.

This problem with tags/inputs (e.g. contentId) is encoun

[2016-08-06 11:24] dotansimha opened #509 "expressEngine unable to render only in the server side?"
* **I'm submitting a ...**
- [x] bug report

* **What modules are related to this pull-request**
- [x] express-engine

* **Do you want to request a *feature* or report a *bug*?**
Possible bug, or confusing documentation.

* **What is the current behavior?**
`ExpressEngineExtraOptions` specifies two properties: `client` and `server`, which, I understand, should control the way of rendering the appl

[2016-08-06 22:52] MarkPieszak commented on #483
There is a PR that can fix this issue, so we'll be all set soon :)

[2016-08-07 03:10] ClickSimply commented on #459
The  issue seems to have been taken care of, everything is showing up on my iDevices now.

[2016-08-07 03:10] #459 closed

[2016-08-07 16:32] FrozenPandaz commented on #489
Refactored to use a Map.
[code]

[2016-08-08 01:41] slevp commented on #481
+1

[2016-08-08 20:20] gdi2290 opened #510 "rebuild examples"

[2016-08-08 20:21] gdi2290 opened #511 "update to rc5/rc6/rc7"
**rc6/rc7 update**
- [x] create NodeDomEventsPlugin from DomEventsPlugin
- [x] create NodeEventManager from NodeEventManager
- [x] recreate DomRenderer for NodeDomRenderer
- [x] recreate SharedStylesHost for NodeSharedStylesHost
- [x] recreate Parse5DomAdapter with parse5 2.x.x
- [x] fix the events that were coupled to Parse5DomAdapter and one document
- [x] making sure the pipeline is as fast as

[2016-08-08 20:24] #495 closed

[2016-08-08 20:49] gdi2290 commented on #490
I have a new design that would make it very easy to jump in and still support jQuery

[2016-08-08 20:50] gdi2290 opened #512 "support "jQuery""
make Universal easy enough to support any browser tech

update: I have a new Context design that will allow us to support this

[2016-08-08 20:51] gdi2290 commented on #490
closing for https://github.com/angular/universal/issues/512 please follow that issue

[2016-08-08 20:51] #490 closed

[2016-08-08 20:52] gdi2290 commented on #473
will be closed via https://github.com/angular/universal/issues/510 please follow that issue

[2016-08-08 20:52] #473 closed

[2016-08-08 20:55] gdi2290 commented on #400
I think this is done. closing

[2016-08-08 20:55] #400 closed

[2016-08-08 20:57] gdi2290 opened #513 "implement zone tracking for http/https"
we need to track `https` and `http` using the same method as `XMLHttpRequest` binding the context and determining  when the request is done

[2016-08-08 20:57] gdi2290 commented on #362
closing for https://github.com/angular/universal/issues/362

[2016-08-08 20:57] #362 closed

[2016-08-08 22:03] felipedrumond opened #514 "When performing the first hit on server, client re-runs everything"
**Note: for support questions, please use one of these channels:** https://github.com/angular/universal/blob/master/CONTRIBUTING.md#question. This repository's issues are reserved for feature requests and bug reports.
- **I'm submitting a ...**
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support request here, see note at the top of this template.
- **What m

[2016-08-08 23:03] MarkPieszak commented on #510
I have most setup if you want to take a look together sometime this week? The issue I was last stuck at was with the alias'ing, feel like you'd notice what's missing real quick.

[2016-08-09 02:51] iamdenny commented on #492
I have same issue.
I tried to change `buffer: true`, but same error.
so I checked node_modules/@angular/router/src/router.js:171
![image](https://cloud.githubusercontent.com/assets/1505166/17503018/5ea8e2ee-5e27-11e6-8c00-6365cfda2a0d.png)

When I click `F5`, this.locationSubscription is going to be undefined. that's why I can see the error `Rendering Document Error: [TypeError: Cannot read proper

[2016-08-09 03:01] iamdenny commented on #492
![image](https://cloud.githubusercontent.com/assets/1505166/17503151/8e909136-5e28-11e6-9731-719db99afef4.png)

When I visit the site first,  It's called `Router.prototype.setUpLocationChangeListener` and then called `Router.prototype.dispose` so no error.

When I click `F5`(refresh button), It's called `Router.prototype.dispose` first and then `Router.prototype.setUpLocationChangeListener`.
that'

[2016-08-09 05:59] amitgaikwad712 opened #516 "Safari showing error "Can't find variable: Intl" after rendering."
Only on the safari  after server data is rendered it is showing "ReferenceError: Can't find variable: Intl" Error. then all the data and images are not getting appeared on the screen...

[2016-08-09 07:33] iamdenny commented on #492
after upgrading `@angular/router` from `3.0.0-alpha.8` to `3.0.0-beta.2`, the error is disappeared.

[2016-08-09 13:04] jimmythesaint82 commented on #516
You need some polyfills.

import 'intl';
and what locals you need.
import 'intl/locale-data/jsonp/en';

or

<script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=Intl.~locale.en"></script>

[2016-08-09 14:18] MarkPieszak commented on #492
Glad to hear it! @iamdenny

[2016-08-09 14:21] MarkPieszak commented on #514
There is an open issue talking about how we can achieve a Store for exchange between server and client for at least storage / xhr calls here https://github.com/angular/universal/issues/489
Is that what you're referring to?

Besides that, everything else has to be rendered again, since the client has to bootstrap itself.

[2016-08-09 14:22] MarkPieszak commented on #511
Big changes coming?

[2016-08-10 00:37] gdi2290 opened #517 "separate and create node-platform module from universal"
separate platform logic out of universal

[2016-08-10 00:38] gdi2290 opened #518 "separate and create node-platform-dynamic module from universal"
separate dynamtic platform logic out of universal

[2016-08-10 10:44] jimmythesaint82 commented on #516
This error also occurs on mobile

[2016-08-11 08:51] amitgaikwad712 commented on #516
Thanks jimmythesaint82 for Replay....
       This Problem has been solved.. The problem was in the code. I am trying to apply date pipe on the "20 May 2016" string that could be result in the that "Intl" error.

[2016-08-11 10:40] dotansimha opened #519 "Angular 2 rc5 support"
* **I'm submitting a ...**
- [x] feature request

* **What modules are related to this Issue?**
- [x] universal

* **Do you want to request a *feature* or report a *bug*?**
Support Angular rc-5. At the moment, universal throws errors about missing files in `@angular/core`.

* **Please tell us about your environment:**

- Angular version: 2.0.0-rc.5
- Browser: [all  ]
- Language: [all |]
- OS:  [al

[2016-08-11 11:01] maciejsobala commented on #519
Duplicate of
#511

[2016-08-11 11:03] maciejsobala commented on #511
Any forecast when you are going to implement this?

[2016-08-11 11:08] lmantis commented on #511
Hi, I would like to know too. Thanks in advance.

[2016-08-11 14:07] MarkPieszak commented on #519
Thanks @dotansimha, closing as duplicate follow #511 to see the progress, as Maciej said.

[2016-08-11 14:07] #519 closed

[2016-08-11 15:04] gdi2290 commented on #511
here's a preview of what I have so far which is sticking to the angular API as much as possible
[code]

[2016-08-11 16:32] GrandSchtroumpf commented on #511
Is '@angular/universal' released yet ? I can't get my hand on it with npm.

[2016-08-11 18:56] gdi2290 commented on #511
rc.5 is not released yet

[2016-08-11 21:07] maciejsobala commented on #511
@gdi2290

So code which you provided is not compatible with angular rc5? Do I understand correctly?

[2016-08-11 22:20] gdi2290 commented on #511
the current API is compatible but will be depreciated since I was essentially doing what NgModule now allows me to do. The rc5 release of universal will recommend users to follow the Angular API conventions.

The old Bootloader API will still be supported until everyone switches to the new NgModule syntax using `UniversalModule`. The benefits of the new API allows me to provide server-only-compone

[2016-08-12 10:24] sdeleuze commented on #280
I added my latest thoughts about Spring support for Angular Universal [here](https://jira.spring.io/browse/SPR-13508?focusedCommentId=131232&page=com.atlassian.jira.plugin.system.issuetabpanels:comment-tabpanel#comment-131232). Any feedback welcome (here or in the JIRA issue).

[2016-08-12 14:03] Honn commented on #514
I think he is refering to the rerendering itself, it's visible. Just clone the current node project and run it, about half a second after it loads you can see a visible flicker and you can see some elements dissapere and reappear again.

I love the project so far, but I could never Angular Universal for a serious consumer facing product with this issue. Screen flicker is not a nice user experience

[2016-08-12 18:49] LGabAnnell commented on #489
Hi guys, does it really have to be that complicated?

Preboot does the state transfer fine. The flicker mentioned in #514 comes from the fact that preboot gets done doing the transfering *before* the http calls are done.

As for the "cache" to transfer the http calls from server to client I just took the `preload_cache_*` files that are already in the angular2-universal source and modified them a

[2016-08-17 10:12] GrandSchtroumpf commented on #511
@gdi2290 : Do you have any idea when the new version of Angular universal supporting rc5 would be released ?

[2016-08-18 02:29] gdi2290 commented on #511
I'm shooting for Friday

[2016-08-18 06:19] #499 closed

[2016-08-18 12:33] amitgaikwad712 opened #521 "No events trigger due to "compression-webpack-plugin""
We have used this seed project for our website development.
we have used "compression-webpack-plugin" for compress the index.js. It should result in "index.gz" I have been give that index.gz file path then it will don't triggers any DOM events like , click, Keyup and all other events related to "DOM"

[2016-08-18 12:45] #516 closed

[2016-08-18 15:43] MarkPieszak commented on #516
Is this error happening only during server side rendering, or is it an Angular Core issue itself?

[2016-08-19 01:31] gdi2290 opened #522 "remove all blocking parse code out of our version of parse5 2.x.x"
parseFragment is killing perf

[2016-08-19 03:27] MarkPieszak commented on #522
Really, wow how much was it slowing it down ? What alternative can we use, fragment was used for chunks wasn't it.

[2016-08-19 05:11] amitgaikwad712 commented on #516
it an Angular Core issue itself.

[2016-08-19 06:51] gdi2290 commented on #522
let's update parse5 and revisit this later if it's needed

[2016-08-19 06:51] #522 closed

[2016-08-19 11:46] jeffwhelpley commented on #512
I am assuming you mean only for pre-rendering, right? This wouldn't make sense for re-rendering.

[2016-08-19 11:54] jeffwhelpley commented on #514
@felipedrumond So, three important things to know here.

First, as @MarkPieszak pointed out, there is a separate issue for transferring state from server to client. This, however, will never solve every use case and you will need to re-pull data in various scenarios (ex. if you have client-only rendered components that need certain data).

Second is that even with the current setup and without the

[2016-08-19 11:56] jeffwhelpley commented on #510
Yes, I agree with Mark. I started to look into this as well and after RC5 is in, we should talk about fixing the dependency issues among submodules so we can easily add back in an example (and it will help with other development/testing as well).

[2016-08-19 12:03] jeffwhelpley commented on #502
Hey, sorry about the confusion here @sudhakarphule1. The problem you are running into is a result of a change to preboot. @gdi2290 is right in the middle of making changes to the preboot universal integration, BUT the basic issue you are running into is that the preboot API has changed slightly. You need to do something like this:

[code]

However, this would only work if you are using the latest

[2016-08-19 12:17] dottodot commented on #510
Would also be nice to see a Angluar Cli (webpack) example too as it's pretty confusing trying to get the 2 working together.

[2016-08-19 12:34] jeffwhelpley commented on #510
Yes, @dottodot that is something that Johannes Weber is working on now and should be ready in about a week.

[2016-08-19 12:39] Honn commented on #514
Nice! I've been considering using A2 and Universal for a project I will start working on soon and was worried that the flickering-issue would put a stop to those plans, so this fix is great news for me. Looking forward to try the new version.

[2016-08-19 14:09] MarkPieszak commented on #516
Ahh ok! If there isn't an issue about it, open one there so they know about it :)
Glad you got it working.

[2016-08-19 14:51] gdi2290 commented on #512
pre-render to re-render

[2016-08-19 16:03] jeffwhelpley commented on #512
foo man choo

[2016-08-19 16:17] jeffwhelpley commented on #512
Seriously, though, if you are ONLY pre-rendering then we can use your headless browser technique to allow for jQuery and other browser specific stuff, but it won't work with re-rendering.

[2016-08-19 16:37] LGabAnnell commented on #512
Why is this an issue? Angular2 has the capabilities of jQuery already, doesn't it? And from what I understand, jQuery is a fancy wrapper for `document` / `window`, which you don't want us to use. Also, since it's possible to manipulate the DOM with Angular2 without ever touching these objects, why bother?

I just can't see why you feel the need to support jquery

[2016-08-19 16:42] MarkPieszak commented on #512
In an ideal world we don't need it at all, but there's still some developers who use it (or plugins/libraries that use it), so unfortunately Universal could use some sort of patch available for them. It's not an easy implementation of course...

Eventually I want to try and tackle at least suppressing Polymer from rendering server-side (so it doesn't error out), since some people use ng2&polymer m

[2016-08-19 17:12] jeffwhelpley commented on #512
Yes, Mark is right. It comes down to the fact that the server doesn't have the full DOM. So, libraries that directly touch the DOM either have to be ignored (i.e. stubbed out to do nothing) or patched in some way. So, for example when you call `$('blah')` that calls `document.querySelector('blah')` under the scenes. There is no global `document` object on the server so you either need to create a

[2016-08-19 17:25] LGabAnnell commented on #512
That is exactly what I've been doing, `isBrowser` has helped a lot. Maybe suggest

[code]

for those who really need it.

Thing is, I've had to work around server rendering errors such as `<Component>.animate is not defined`, while animation is part of the Angular 2 framework, I've also had to do my own "in-page" cache and http implementation so my api server isn't hit twice at each page load.

"B

[2016-08-19 18:14] jeffwhelpley commented on #512
So, totally fine to do `if (isBrowser)`, however my opinion is that you should avoid the use of that if you can and instead use the Angular DI to abstract out client-only or server-only services. This does not work for components since they aren't loaded through DI, but with services you can have a common interface between client and server, but only the client side has an provider that is put in

[2016-08-19 20:55] geoffreak commented on #511
How's the Friday release looking?

[2016-08-19 21:34] gdi2290 commented on #511
it's updated in the example repo. The universal module has been rebuilt from the ground up. The only things left are rearranging the repo with it and publishing it
https://github.com/angular/universal/blob/master/examples/next-hello-world/src/main.node.ts
[code]

[2016-08-20 00:54] tinchou commented on #511
Where's `@angular/universal`?

[2016-08-20 06:52] GrandSchtroumpf commented on #511
According to the tsconfig.json : `@angular/universal": ["./src/universal_modules/universal"]`
When you look at the index.d.ts inside this directory you're linked to './src/node' where you can find `universalNode `. From here it imports all the other modules.
Here is where you can find the other modules if you want  :
- NodeModule : `./src/universal_modules/platform-node/node-platform.ts`
- NodeHtt

[2016-08-20 07:00] MarkPieszak commented on #511
Universal hasn't been publish to the `@angular/universal` npm namespace just yet. I believe Patrick's just showing things from universal-next which have his newer rc5 code at the moment.

[2016-08-20 20:25] tinchou commented on #511
I see, thanks!

[2016-08-22 08:57] atalw commented on #511
Any estimate on when `@angular/universal ` will be published?

[2016-08-22 15:41] felipedrumond commented on #514
Hi @jeffwhelpley, thank you for your extensive reply! We managed to solve the flicker just by configuring the preboot to use buffer and forcing our client to call prebootComplete event after a zero-seconds timeout.

@Honn, if you see the flicker, try configuring your application with the code below.

main.node.ts
`preboot: { appRoot: 'app', buffer: true }`

client.ts
`document.addEventListener('DO

[2016-08-23 06:26] amitgaikwad712 opened #523 "After changing the Title and meta data of site it shows page without css for few seconds."
After changing the title and meta description of page using the universal. Initially it is not applying the css and it is appearing the page as like without css and then after few seconds it is applying the css.

[2016-08-24 09:22] martinmcwhorter commented on #273
I have a question.

Should the Headers from the real client browser be passed by the NodeJS app to any HTTP services?

This seems non trivial as is would require either forcing all users a Http Wrapper -- though this could be mitigated with a Http provider in the main.node.js that provides the wrapped service for Node.

This would solve the problem of auth tokens in Headers (most, almost all?), bu

[2016-08-24 10:32] laskoviymishka commented on #273
@martinmcwhorter imho cookie should provided by some generic accessor, and each platform should have they own unique accessor implementation. For nodejs app you way is the right way.

If you talk about tokens with message body - than you should add more code :). This issue is only about cookies.

[2016-08-25 17:35] kuldeepkeshwar commented on #502
@jeffwhelpley i'm using preboot v4.5.1 with below code
[code]

but this give "bundle.js:74 Uncaught TypeError: preboot_1.prebootClient is not a function" error.

earlier i was using preboot v2.1.2 and prebootComplete from 'angular2-universal' but this was causing flickering effect

[2016-08-26 03:17] robwormald commented on #443
This needs to go up the priority list, as RC6 is going to *only* ship unbundled w/ ESM code, and a single UMD for all packages.

[2016-08-26 04:10] kuldeepkeshwar commented on #502
@jeffwhelpley thanks for the update,any idea on when will @gdi2290 release it ? we are using universal for our consumer site and we are almost in final phase to take it live so that we can plan accordingly

[2016-08-26 08:10] ardiadrianadri commented on #432
Hello:

 How is this issue? I don't know if it is related but, when I add a url style I get the next error in the browser:
[code]
This is the code of my component:
[code]

[2016-08-26 13:37] MarkPieszak commented on #443
@robwormald @jeffbcross If you take a look at the rc5 PR here (https://github.com/angular/universal/pull/524/files#diff-662075e86dfbda35f68811a6a2be580aR16) it's a merge of the previous Universal module with the new one Patricks made up) You can do a quick search for `// PRIVATE` to see the internal things that are still being accessed. You can see certain functions are copied from facade etc in p

[2016-08-26 16:19] jonathan-casarrubias commented on #511
Hey Patrick!!! Thanks for your work... I'm really looking forward for RC5-6 support w/ NgModule I'm integrating this with the [LoopBack](http://loopback.io) and The [LoopBack SDK Builder](http://npmjs.org/packages/@mean-expert/loopback-sdk-builder) and there is a lot of community interest for this so good job!!!

Jonathan Casarrubias

[2016-08-26 19:35] MarkPieszak commented on #523
Can you provide some code so I can take a look at what you're trying to do?

So you're saying `css` isn't being transferred from Universal? Are you using `styles` or `stylesUrl`.
I'd recommend using `style: require('./my-css.html')`. I'm not sure if stylesUrl is working fully just yet.

[2016-08-26 19:37] MarkPieszak commented on #521
Can you show some code, I'm not sure what you mean by this?
Do you have preboot on? What version, etc. @amitgaikwad712

[2016-08-26 19:47] MarkPieszak commented on #509
I can look into this, thanks for all the info @dotansimha

[2016-08-27 11:36] jeffwhelpley commented on #502
@kuldeepkeshwar we are trying to get it out this weekend. Will let you know.

[2016-08-28 18:13] MarkPieszak commented on #443
Some other ones:

**NoOpAnimationDriver**
Useage: `{provide: AnimationDriver, useFactory: NoOpAnimationDriver}`

[code]

[2016-08-28 20:03] kuldeepkeshwar opened #525 "context(headers or cookies) is getting lost for ajax call while rendering on server side"
* **I'm submitting a ...**
- [x] bug report

* **What modules are related to this Issue?**
- [x] universal

* **Do you want to request a *feature* or report a *bug*?**
-bug

* **What is the current behavior?**
-context(headers or cookies) is getting lost for ajax call while rendering on the server side.

* **If the current behavior is a bug, please provide the steps to reproduce and if possible a

[2016-08-29 07:04] gdi2290 commented on #509
This was not intended for public use. There is no way for use to determine how the developer code works without having full control over the `index.html`. The demos worked because we were generating the index.html which gave us full control over client/server booleans. They should be removed in the next release

[2016-08-29 07:04] #509 closed

[2016-08-29 13:58] edusoft commented on #454
Hi @rjokelai I'm searching a SEO Angular 2 example fully working for all internet! :)
Please, can you share the code using your recomended fix?

Thanks in advanced..

[2016-08-29 15:14] gjuchault commented on #454
@rjokelai I guess this is not the point of prerendering, as this will (correct me if I'm wrong) be added after rendering to the browser

[2016-08-30 04:46] rjokelai commented on #454
No, this the way we got it actually working in the universal app. The `meta` tags are already sent with the prerendered html response. The point here is to use the `DOCUMENT` token and `Renderer`, which the universal library is aware of.

They actually use this kind of approach in the universal starter:

https://github.com/angular/universal-starter/blob/master/src/app/app.component.ts#L20

Our spe

[2016-08-30 13:36] kuldeepkeshwar commented on #330
@jeffwhelpley @gdi2290 I'm facing the same issue and below are the packages I'm using
[code]

[2016-08-30 13:43] jeffwhelpley commented on #525
So, what you need to do is something along the lines of:

1. In your server side universal configuration, you should have access to the cookies (i.e. typically via request object in Express or some equivalent in other server side frameworks). Set that value in a universal provider.
2. Whenever you make your http/ajax call, you will need to make sure that token you set in the universal providers is

[2016-08-30 16:09] kuldeepkeshwar commented on #330
this happens if the response from the server is taking time. I have tested it by varying the response time.it works fine for response time below ~95 milliseconds.

[2016-09-02 18:37] gdi2290 commented on #511
The latest changes in master has rc6 changes. All that's left are integrations and docs

[2016-09-03 09:12] glebmachine commented on #511
Come one guys! Can't wait to play with hmr(

[2016-09-05 00:38] martinop opened #527 "Import Bootstrap and Jquery"
How I can import bootstrap?

Jquery was imported in the plugins in the webpack.config, but how i can import bootstrap js?

[2016-09-05 04:47] goriunov commented on #511
Hello every one  I am new to angular Universal so would like ti ask if you could explain my why we have 2 server files in examples ( express-server.ts and server.ts). I would appreciate your answer .

[2016-09-06 06:05] beckmeindia commented on #527
@martinop could you tell me how are you integrating this repo with webpack for rc5/rc6 (because the universal starter repo with webpack isn't updated to rc5/rc6 I believe)

[2016-09-06 14:26] MarkPieszak commented on #527
@martinop You can follow issue #512 if you've reported this to the correct Repo. Universal at the moment has no support for jQuery.

@beckmeindia rc5/6 is coming, it's still not completely finished up & published.

[2016-09-06 14:26] #527 closed

[2016-09-06 15:24] MarkPieszak commented on #511
@goriunov The examples at the moment are more for just testing if Universal works, and in that case run it in different scenarios, normally you wouldn't need/have those 2 (since they both fire up separate express applications)

[2016-09-06 16:43] #518 closed

[2016-09-06 16:43] gdi2290 commented on #518
done but keeping the dynamic logic or moving it to universal

[2016-09-06 16:43] gdi2290 commented on #517
done in master

[2016-09-06 16:43] #517 closed

[2016-09-06 17:10] gdi2290 commented on #511
Sorry for the delay again I'll try to be a bit more transparent. I decided to update rc6 which pushed back Universal. rc6 required Universal to recreate a lot of internal services that I was reused since the internal angular APIs kept changing. I also determined that there also needs to be a UniversalModule for the browser that now needs to be designed. UniversalModule is needed to seamlessly tran

[2016-09-06 18:33] jonathan-casarrubias commented on #511
@gdi2290 RC changes have been a nightmare for everybody, lots of feelings like frustration and pain have been around for a while, what is stable today is not tomorrow.

But our bet is that the final result will be an amazing new ecosystem and the renaissance of modern ~~web~~ universal development.

The awesomeness takes a lot of time and effort. Thanks in what respect to your part of the communit

[2016-09-06 19:07] #510 closed

[2016-09-08 13:41] felipedrumond commented on #483
@teemuandersen That's exactly the issue I'm facing. In the code bellow, the model property 'quantidade' is a number, and node throws  "Rendering Document Error: TypeError: str.replace is not a function at escapeString (C:\...\node_modules\parse5\lib\serialization\serializer.js:27:10)"

`<input [(ngModel)]="item.quantidade"  class="qtdProduto" maxlength="3" />`

Did you find any workaround for this

[2016-09-08 14:27] teemuandersen commented on #483
@felipedrumond, This isn't fixed yet (I'm on parental leave so I'm not that uptodate with this issue)? In our case we fetched HTML from CMS so our temp fix was simply to use regexp to escape unused numeric fields as strings. But I don't think that helps you.

[2016-09-08 20:49] MarkPieszak commented on #483
@felipedrumond @teemuandersen This should of been fixed in Master now but it might not of been published. When the latest and greatest comes out for rc5/6 then it will definitely be there!

[2016-09-10 08:13] kukjevov commented on #283
Is there any progress on this? Is there any plan when this will be ready for use? Do you think that SystemJs will be usable with asp.net core server side?

Thank you

[2016-09-10 19:08] jeffwhelpley commented on #283
Hi, @kukjevov, so this is still very high on our list, but it is currently not on the critical path for the full release. We have a couple high priority bugs and upgrades we are focused on now. Of course, if anyone from the community wants to help on this, please let @gdi2290 and I know and we can provide some guidance. Otherwise this will be a post-release item.

[2016-09-11 07:06] MarkPieszak commented on #283
@kukjevov There's a great webpack starter with .NET Core, any reaDon you want to use System?

[2016-09-11 17:32] kuldeepkeshwar commented on #283
@kukjevov
@MarkPieszak  is right , with webpack you can lots of other things too plus it is update to date

[2016-09-11 18:56] kukjevov commented on #283
Hi all :).

Thank you very much for answers. I know that there is Webpack already prepared for usage with .NET Core. My reason is simple, right now i`m using SystemJS and currently dont have time to study WebPack in the first, but don`t think this could be problem but don`t have time to update project for WebPack.

Still i`m missing a bit documentation for Universal, when i`m using something i nee

[2016-09-12 12:46] linusbrolin commented on #516
Sorry to post in a closed issue, but I thought it better than openaing a new one.
I'm having a similar issue with Intl on the server, but instead of getting an error message, I cant get the formatters to use any locale other than english on the server.
Formatting on the client is fine, so it's just a server issue.

If I install the Intl package and load the polyfills according to the guide:
https:

[2016-09-12 17:43] gdi2290 commented on #513
done via https://github.com/angular/zone.js/commit/100b82bbac4d720be0cb7ead11398e7fe95d1132

[2016-09-12 17:43] #513 closed

[2016-09-13 01:48] zcoon commented on #272
@gdi2290 as this has been taken off of the Beta.0 milestone, do you have a vision for when angular universal will offer localStorage support? Thank you in advance

[2016-09-13 04:19] gdi2290 commented on #272
I'm introducing a Universal Cache service that will be used in localStorage after the initial rc6 release

[2016-09-13 08:38] gdi2290 commented on #443
done in master. I moved all private APIs to https://github.com/angular/universal/blob/c8201bc1e24763f3c2ca4cf87fe5943d6c54e7a7/modules/platform-node/__private_imports__.ts

[2016-09-13 08:38] #443 closed

[2016-09-13 08:39] gdi2290 commented on #436
fixed in 1.0.4 with angular rc5/rc6/rc7 support

[2016-09-13 08:39] #436 closed

[2016-09-13 08:39] gdi2290 commented on #413
done in 1.0.4 with angular rc5/rc6/rc7 support

[2016-09-13 08:39] #413 closed

[2016-09-13 08:39] gdi2290 commented on #390
done in 1.0.4 with angular rc5/rc6/rc7 support

[2016-09-13 08:39] #390 closed

[2016-09-13 08:40] gdi2290 commented on #271
we have UNIVERSAL_CACHE for now in 1.0.4 with angular rc5/rc6/rc7 support

[2016-09-13 08:40] #271 closed

[2016-09-13 08:41] #247 closed

[2016-09-13 08:41] gdi2290 commented on #393
dup of https://github.com/angular/universal/issues/444

[2016-09-13 08:41] #393 closed

[2016-09-13 08:42] gdi2290 commented on #407
done in 1.0.4 with angular rc5/rc6/rc7 support

[2016-09-13 08:42] #407 closed

[2016-09-13 08:43] gdi2290 commented on #392
I think this might be easier with the new renderer

[2016-09-13 08:44] gdi2290 commented on #505
done in 1.0.4 with angular rc5/rc6/rc7 support
the propertyValue is only set as an Attribute if it's a string

[2016-09-13 08:44] #505 closed

[2016-09-13 08:46] gdi2290 commented on #46
parse5 allows for easier support. we need to determine which components won't be rendered again due to a cascading change. closing for now

[2016-09-13 08:46] #46 closed

[2016-09-13 08:47] gdi2290 commented on #521
can you try again with the latest changes github.com/angular/universal-starter
I'm going to close this to keep the issues lower

[2016-09-13 08:47] #521 closed

[2016-09-13 08:48] gdi2290 commented on #502
can you try again with latest updates github.com/angular/universal-starter with latest preboot version
I'm going to close this to keep the issues down

[2016-09-13 08:48] #502 closed

[2016-09-13 15:18] kuldeepkeshwar commented on #511
@gdi2290 @jeffwhelpley is support for rc7 out?

[2016-09-13 15:56] Hongbo-Miao commented on #511
@kuldeepkeshwar Check https://github.com/angular/universal-starter/commit/45f8fcd053c235f5a6ad7300d9a818ba885f4261

[2016-09-13 16:24] cyrilletuzi commented on #511
I think it's "normal" as AoT support is not yet checked, but I'm trying to use AoT compiler with Universal, and when I use ngc, I get this error : "Unexpected value 'UniversalModule' imported by the module 'AppModule'". AoT is working on the classic app without Universal. Unfortunately I don't know how to help you with this, but I just wanted to let you know.

[2016-09-14 05:36] gdi2290 opened #528 "use ZoneLocalStore for context"
allow better management for globals/config etc

[2016-09-14 20:12] thebarada opened #529 "References errors Element, MouseEvent... not defined"
it occurs when using third-party plugins (etc ng2-bootstrap, angular2-masonry, clipboard).
There are errors such "Element, MouseEvent... not defined" when application run on server

[2016-09-14 20:46] gdi2290 commented on #529
this is because those are browser only types that

[2016-09-14 20:57] Hongbo-Miao commented on #529
@thebarada please track this issue
https://github.com/valor-software/ng2-bootstrap/issues/964

[2016-09-14 23:18] gdi2290 commented on #511
AoT support will be in the next release which has a small breaking change (remove main function for ngModule reference) and will be released as 2.0.0

[2016-09-15 02:57] bryan commented on #511
angular2 is out of rc!

[2016-09-15 06:30] gdi2290 commented on #511
yup, the next release will use the 2.0.0 release

[2016-09-15 06:30] #511 closed

[2016-09-15 06:31] thebarada commented on #529
@gdi2290 @Hongbo-Miao
ok, thnx!

[2016-09-15 07:11] kuldeepkeshwar commented on #511
how soon can we expect support for 2.0.0 release ?

[2016-09-15 07:44] MarkPieszak commented on #511
Think Pat said he'll make another push to npm in a few hours?

[2016-09-15 07:52] gdi2290 commented on #511
ya sorry not tonight as I originally planned. I'm getting a weird typescript error that i need to dive into to figure out why it's giving me the error

[2016-09-16 00:34] gdi2290 commented on #528
done

[2016-09-16 00:34] #528 closed

[2016-09-16 15:14] cyrilletuzi commented on #316
Same issue with the very last version of Universal (2.0.4). Static contents are well rendered by Universal, but async content retrieved by HTML calls are not rendered. Http calls work and get the data, but as the operation is async, rendering has already been done (verified by checking ngAfterViewInit).

[2016-09-16 17:11] jeffwhelpley commented on #316
@cyrilletuzi if you are saying data retrieved from http calls are not displayed, then it must be due to issues with the zone patch. Can you post your code where the http calls are being made and your bootstrap code? cc @gdi2290

[2016-09-16 18:07] cyrilletuzi commented on #316
@jeffwhelpley Thanks for the tip. With Universal 2.0.3 I needed to go back to zone.js 0.6.21 as there was an error with the last 0.6.23 zone.js, but it works now with Universal 2.0.4. Universal package.json should be updated consequently (can do a PR but for such a small change I think it's quicker to be done by a member).

[2016-09-16 18:13] cyrilletuzi commented on #272
@gdi2290 For now localStorage is not accepted in my Universal app (everything else is working) and crashes the server, is there something special to import or is it not ready yet ?

[2016-09-16 18:46] acthomas06 commented on #511
I did notice that your main.node and main.browser files are completely identical.  Maybe start there @gdi2290 :)

[2016-09-16 18:50] gdi2290 commented on #511
Universal 2.0.x was released on npm. The rest of the items on the list will be released as patches

[2016-09-16 19:03] gdi2290 commented on #272
@cyrilletuzi to transfer state from the server to the client you can use a lifecycle hook in Node and the helper flags `isBrowser` and `isNode`
[code]

[2016-09-16 19:04] GrandSchtroumpf commented on #511
The starter for Node and the examples in the documentation are not exactly the same (especially for the main.node as mentioned acthomas06) is one way better than the other ?

[2016-09-16 19:07] gdi2290 commented on #511
the starter is the best example. the examples in this repo are mostly for stress testing different scenarios etc

[2016-09-16 20:05] cyrilletuzi commented on #272
@gdi2290 thanks!

[2016-09-16 20:33] gdi2290 opened #533 "<html> component"
document and write about maintaining an `html` component as the document

`html.module.ts`
[code]
`html.template.ts`

[code]
`index.html`
[code]

[2016-09-16 21:02] gdi2290 commented on #272
after I create universal lifecycle hooks for the client then this will be more seamless

[2016-09-16 21:17] gdi2290 commented on #512
Zone.js allows us to support anything now

[2016-09-16 21:27] gdi2290 opened #534 "List browser global that we need to support in Universal"
The next version of Universal can support/mock any browser global so please list out any of the that are the most important ones for me to make sure you can use it.

**Browser**
- \- [x] `document`
- \- [x] `document.querySelector`
- \- [x] `document.querySelectorAll`
- \- [ ]  `document.cookie`
- \- [ ]  `XMLHttpRequest`
- \- [ ]  `fetch`
- \- [ ] `localStorage`
- \- [ ] `navigator`
- \- [ ]  `hi

[2016-09-16 21:42] MarkPieszak commented on #512
Woah what, how's that? @gdi2290 :8ball:

[2016-09-16 21:55] gdi2290 commented on #512
it's a ton of magic but it makes the impossible possible ;)

[2016-09-16 21:56] gdi2290 commented on #512
I updated this issue to only focus on jQuery while browser globals are moved to this issue https://github.com/angular/universal/issues/534

[2016-09-16 22:23] MarkPieszak commented on #534
Polymer would be a nice addition if it's possible.

[2016-09-16 23:24] rogerpadilla commented on #534
Polymer++

[2016-09-16 23:24] rogerpadilla commented on #534
Also Angular 2 Material

[2016-09-17 01:09] josiah1888 commented on #534
Supporting `window` would change the game for me

[2016-09-17 01:15] gdi2290 commented on #534
which properties on `window` does everyone use?

[2016-09-17 01:18] gdi2290 opened #535 "refactor parse5 to use UniversalContext"
allow all parse5 methods to be used via UniversalContext proxy

[2016-09-17 03:02] buu700 commented on #534
[`self`](https://developer.mozilla.org/en-US/docs/Web/API/Window/self)

[2016-09-17 03:55] gdi2290 commented on #534
@rogerpadilla I have material support added to Universal 2.0.5
https://github.com/angular/universal-starter/commit/b34cfff1eeed79b66ff5c52f77b7175806e0884d

[2016-09-17 07:40] kuldeepkeshwar commented on #534
-localstorage
-location
-scroll
-onload

[2016-09-17 09:07] cyrilletuzi opened #536 "Parse5DomAdapter#getCookie error"
* **I'm submitting a ...**
- [X] bug report

* **What modules are related to this Issue?**
- [X] universal

* **What is the current behavior?**
My app works fine with Universal (2.0.5) without Material. But with Material (alpha.8-2), I get this error :
[code]

* **Please tell us about your environment:**

- Angular version: 2.0.0
- Universal 2.0.5
- Material alpha.8-2
- Browser: [all]
- Language:

[2016-09-17 09:10] cyrilletuzi commented on #534
+1 for localStorage

[2016-09-17 09:28] gdi2290 commented on #536
make sure in the node entry file that you don't include HttpModule

[2016-09-17 09:34] cyrilletuzi commented on #536
My Universal app module is not including HttpModule, just UniversalModule, as in Universal starter. But maybe Material modules do it.

[code]

[2016-09-17 09:35] gdi2290 commented on #536
ok the problem is with `MdIconModule`

[2016-09-17 09:39] gdi2290 commented on #536
it seems like the icon module uses http to fetch icons for the MdIconRegistry
[code]
[code]

[2016-09-17 09:43] cyrilletuzi commented on #536
@gdi2290 yep, I tried without MdIcon and it's working.

[2016-09-17 10:53] cyrilletuzi commented on #536
@gdi2290 Tried to only use local assets (CSS, font and SVG), but still the same error.

Also tried to remove MdIconRegistry from my app module providers, but it seems to be required.

[2016-09-17 12:15] jaumard commented on #260
Any news on this ? Having universal integrate with CLI will be awesome!

[2016-09-17 12:35] cyrilletuzi commented on #536
Works now by loading UniversalModule last (so it can override HttpModule import of MdIcon). I think it's an important point that should be mentioned and emphasized in docs and reflected in universal-starter.

[2016-09-17 12:44] #536 closed

[2016-09-17 13:06] devCrossNet commented on #260
Yes, we're working hard on it and hope to get it into the CLI RC :-)

[2016-09-17 16:37] bohacc commented on #525
Please, can you show me any example, how implement cookie in angular universal?
I do not know how to do that point 2.

[2016-09-17 20:23] gdi2290 opened #539 "create UniversalHttpModule"
create `UniversalHttpModule` and `UniversalJsonpModule` to decouple it from `UniversalModule`

[2016-09-18 01:11] qdouble opened #540 "Getting AoT working"
* **I'm submitting a ...**
- [x ] bug report

* **What modules are related to this Issue?**
- [x ] universal

* **What is the current behavior?**
When trying to use ngc on Universal project, I get the following error:

js:14126:37
    at Array.forEach (native)
    at CompileMetadataResolver.getNgModuleMetadata (/Users/qdouble/Sites/EXAMPLE_APPS/angular2webpack2-starter/node_mo
dules/@angular/compi

[2016-09-18 04:49] gdi2290 commented on #540
do you have the repo?

[2016-09-18 05:48] qdouble commented on #540
@gdi2290 I just added Universal to my starter repo here: https://github.com/qdouble/angular2webpack2-starter . You can use `npm run compile:universal` if you want to see the error I'm talking about or just use `./node_modules/.bin/ngc -p tsconfig.aot.universal.json`. If you need me to make a more stripped down repo to show the problem, let me know.

[2016-09-18 11:29] jimmythesaint82 commented on #534
XMLHttpRequest

[2016-09-18 19:57] FrozenPandaz commented on #533
Scripts aren't rendering again. That will be a blocker for this.

[2016-09-19 01:47] gdi2290 commented on #470
closing as there were a lot of changes for universal and the cli

[2016-09-19 01:47] #470 closed

[2016-09-19 01:54] Hongbo-Miao opened #542 "The selector "app" did not match any elements"
* **I'm submitting a ...**
bug report

* **What modules are related to this Issue?**
- [ ] express-engine
- [ ] grunt-prerender
- [ ] gulp-prerender
- [ ] hapi-engine
- [ ] universal-next
- [x] universal
- [ ] webpack-prerender

Just my guess

* **Do you want to request a *feature* or report a *bug*?**
report a bug

* **What is the current behavior?**
It shows `The selector "app" did not match any

[2016-09-19 02:22] gdi2290 commented on #542
the problem was including BrowserModule with UniversalModule where the it blows up on the server since it's not using the correct Node services

[2016-09-19 02:23] gdi2290 commented on #542
the solution to this error is either detecting that other platforms are included and provide docs

[2016-09-19 02:25] Hongbo-Miao commented on #542
thanks!

[2016-09-19 02:25] #542 closed

[2016-09-19 02:27] gdi2290 commented on #542
np, can you create an issue about providing better errors when including other platforms with the UniversalModule

[2016-09-19 02:27] Hongbo-Miao commented on #542
yeah sure!

[2016-09-19 02:35] Hongbo-Miao opened #543 "better error report when include other platform with UniversalModule"
- **I'm submitting a ...**
  feature request
- **What modules are related to this Issue?**
  universal
- **Do you want to request a _feature_ or report a _bug_?**
  feature
- **What is the current behavior?**

The error information is not very helpful.
When use

[code]

in **main.node.ts**, it gives the error

which is not helpful.
- **What is the expected behavior?**
  Better report.
- **What is

[2016-09-19 08:14] crebuh opened #544 "Include examples for testing envorinment"
- **I'm submitting a ...**
- [ ] bug report
- [x] feature request
- [ ] support request => Please do not submit support request here, see note at the top of this template.
- **What modules are related to this Issue?**
- [x] universal
- **Do you want to request a _feature_ or report a _bug_?**

As discussed in the universal-starter-repo (https://github.com/angular/universal-starter/issues/165) it w

[2016-09-19 10:31] amitport commented on #503
how about using just adding a renderer to https://github.com/tj/consolidate.js?

should work fine for express3/4 and koa1/2

[2016-09-19 16:51] FahadMullaji opened #547 "Angular 2 Universal - Store Global Variables"
I am trying to convert my AngularJS application to Angular 2 Universal application (because of server-side rendering).

https://github.com/angular/universal-starter

Now I need to store global variables which could be achieved easily in normal Angular 2 applications(per below links).

Angular 2 global variable -
http://stackoverflow.com/questions/37698437/angular-2-global-variable

Angular 2 - Wha

[2016-09-19 20:27] pxwise commented on #534
window.history - navigation
window.navigator - 3rd party scripts using userAgent detection
window.localStorage - browser storage
window.sessionStorage - session data
window.onresize - custom lazyload functions
window.onorientationchange - custom lazyload functions
window.innerWidth - custom lazyload functions
window.innerHeight - custom lazyload functions

document.documentElement.clientWidth - cu

[2016-09-19 23:31] Hongbo-Miao commented on #529
@thebarada no problem, you can create an issue on angular2-masonry if need

[2016-09-20 10:16] RephoneYin opened #549 "Hard for newbee to set up starter environment according to README.md"
Hi all, I'm new to angular-universal, I meet lots of questions when I tried to set up ng-universal starter environment according to README.md. I spent a lot of time but I still did not set up the sever, and I don't why.
I think the README.md  is too old to follow. Could you please update the README.md or give more detail info about starter environment, so that I can show my boss how awesome angula

[2016-09-20 15:16] bogomips commented on #549
You right, it is not easy.
The universal-starter is not documented as well and uses webpack while the official angular2 documentation is based on systemjs.
It produces a very big bundle (soon it will be fixed by using ngc), but I'd like to leverage http2 and use separate modules and lazy loading.
The "best practice" section is not enough and so many questions still linger on my mind.
For istance,

[2016-09-20 19:14] MarkPieszak commented on #549
Hey guys documentation and things like that are definitely top of the priority list! There will be more definitive information out there hopefully very soon to fill in some of the gaps people might be experiencing.

If you check out the newly updated [Documentation](https://github.com/angular/universal/blob/master/DOCUMENTATION.md), it'll help understand some of the core concepts that come with wr

[2016-09-20 23:31] orangesoup commented on #534
- window:wheel (event)
- window:scroll (event)

3rd party:
- angularfire2
- firebase

[2016-09-21 09:51] SteveSandersonMS opened #550 "NodePlatform's serializeModule returns a promise that resolves even if there was an error"
* **I'm submitting a ...**
It's either a bug report or a feature request, depending on what the intended design is.

* **What modules are related to this Issue?**
- [x] universal

* **What is the current behavior?**

Given the following:

[code]

... the `prerenderPromise` always resolves successfully, even if there was an error in the Angular app while serializing the module (e.g., a component's

[2016-09-21 11:40] bogomips commented on #549
I noticed that angular-cli totally switched to webpack, at this point I think it would be useful and consistent to use webpack even in the official angular2 documentation.
Is webpack really superior? I've read in the past about the fact that systemjs would have been the future but maybe not so ripe yet.
I am about to convert a big project from angular1 to 2 even becouse universal, the current serv

[2016-09-21 12:18] MarkPieszak commented on #549
Yeah I've talked to a few of the guys who work on the documentation, and maybe someone else here knows more, but it seems like for now they're sticking with System in the website documentation mainly because of that whole Plunkr situation, but I'm hoping that changes in the near future!

Some of the advantage webpack2 (upcoming) features like tree-shaking and advanced code-splitting make it unbeli

[2016-09-21 13:59] MarkPieszak commented on #550
(1) I don't believe so, there is an errorHandler inside of the `serialize` internal method within node-platform, but I think at the moment, it's important to pass in a `cancelHandler` within your platformConfig. @gdi2290 could explain this further. (I believe these might be more temporary things for now)

[code]

[If you notice here](https://github.com/MarkPieszak/JavaScriptServices/blob/62dd13b3b

[2016-09-21 16:54] SteveSandersonMS commented on #550
Re (1) and (3) - some aspects of how that was implemented didn't seem to make sense to me (why use `Object.assign` to extend an object literal you've just created - why not just put the properties in the original object? What is the point of the `cancel` variable given that it's always going to remain `false` because nothing can write to it? Why chain a `catch` onto the final promise that returns

[2016-09-21 17:50] MarkPieszak commented on #550
Apologies that was my fault, in our case the original object was coming in through parameters. Much of that code came from relating it to how it's done within the express-engine integration at the moment. So that's my fault I should of cleaned it up a bit :(
The cancel variable is also moot, used within the way we're integrating it there as well.

Let me do some more testing to see if I can figure

[2016-09-21 19:00] MarkPieszak commented on #550
@gdi2290 So I think what we're simply missing here is a `catch` on serializeModule that *further* throws a catch to whatever originally called it (be it express-engine, or in this case, .NET with the Zone.run())

@SteveSandersonMS So with this setup, you could do that `catch` that we were talking about, but instead of receiving **html** it'll be an error stacktrace, which you could pass onto the b

[2016-09-21 19:32] kuldeepkeshwar commented on #525
@bohacc
have a look at

https://github.com/kuldeepkeshwar/universal-starter/blob/master/src/main.node.ts
https://github.com/kuldeepkeshwar/universal-starter/blob/master/src/main.browser.ts
https://github.com/kuldeepkeshwar/universal-starter/tree/master/src/common/utils

for second point , you need to write a wrapper of http service which can pull cookies/headers and set them in http request

@jeff

[2016-09-22 09:37] bogomips commented on #549
Thank you for all those clarifications!
While I keep focusing on my app logic, I will keep an eye on universal, hoping the day I will put it in production, I don't have to change too much code(and struggle) to implement universal, ngc, tree-shake and so on :)

[2016-09-22 12:32] jeffwhelpley commented on #525
@kuldeepkeshwar so are you saying what you have here works or does not work? The looks correct to me, but if it doesn't work it must be something with the zone setup. In any case, please keep in mind that we will have a change in a future version of Universal that provides a cleaner way to get a handle on the request object so you don't have to use the zone. This is only temporary.

[2016-09-22 13:13] kuldeepkeshwar commented on #525
@jeffwhelpley yes, it works and definitely this is a temporary solution.
As per my knowledge, @gdi2290 is working on `window` APIs

[2016-09-22 15:00] tinchou commented on #273
Hey, now that we're on the final release we could spend some time on our P0s, right? :)

My app saves a JWT in cookie storage and I'd like the server to use that to prerender the authorize-only sections of my website.

Thanks!

[2016-09-22 15:27] jeffwhelpley commented on #273
@tinchou check out this as a short term workaround:

https://github.com/angular/universal/blob/master/DOCUMENTATION.md#servercontext

[2016-09-22 15:49] tinchou commented on #273
Looks good! I'll use this for now and wait for Universal to implement it.

Question: if it's so simple why is it not implemented yet?

On Thu, Sep 22, 2016, 12:27 Jeff Whelpley <notifications@github.com> wrote: